Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add test with attribute Count
  testsuite/gnatprove/tests/1222__attribute_count/example.adb
  testsuite/gnatprove/tests/1222__attribute_count/example.ads
  testsuite/gnatprove/tests/1222__attribute_count/test.adc
  testsuite/gnatprove/tests/1222__attribute_count/test.gpr
  testsuite/gnatprove/tests/1222__attribute_count/test.out
Due: none

Use correct transformation parameters to translate call
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/1218__traversal/test.adb
  testsuite/gnatprove/tests/1218__traversal/test.out
Due: check-gnatformat-gnat2why

Use tag for errors in marking
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-violations.adb
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

disable some slow tests on windows
  testsuite/gnatprove/tests/247__container_aggregate_checks/test.opt
  testsuite/gnatprove/tests/N731-010__aggregate/test.opt
  testsuite/gnatprove/tests/cartesian_trees/test.opt
Due: check-opt-syntax

Replace Builder pkg by Compiler pkg in project files
  testsuite/gnatprove/tests/583__spark_webinar_part2/test.gpr
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.gpr
  testsuite/gnatprove/tests/V818-010__functional_multiset_test/test.gpr
Due: none

Allow At_End_Borrow with no body or a body Off
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/1214__at_end_borrow/test.adb
Due: check-gnatformat-gnat2why

Document GNATprove behavior with complex projects
  docs/ug/en/source/how_to_run_gnatprove.rst
Due: none

Document handling of operations on UU in non-executable ghost code
  docs/lrm/source/the-standard-library.rst
Due: none

Remove check for UU restrictions in non-executable ghost code
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1228__unchecked_union_no_exec/ex.adb
  testsuite/gnatprove/tests/1228__unchecked_union_no_exec/test.adb
  testsuite/gnatprove/tests/1228__unchecked_union_no_exec/test.out
Due: check-gnatformat-gnat2why

Ensure test timeouts are properly handled on Windows
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/RA29-011__cvc4/test.py
  testsuite/gnatprove/tests/RA29-011__why3/test.py
Due: none

Ghost equality on non-ghost record type is now rejected in the frontend
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/359__ghost_equality/illegal.ads
  testsuite/gnatprove/tests/359__ghost_equality/test.out
  testsuite/gnatprove/tests/359__illegal_procedural_functions/illegal.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

RAC queries for values only refer to objects
  src/counterexamples/ce_rac.adb
Due: check-gnatformat-gnat2why

Reject 'Constrained on UU prefixes
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.adb
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.out
  testsuite/gnatprove/tests/Q531-032__uncheck_union/test.out
  testsuite/gnatprove/tests/Q531-032__uncheck_union/use_unchecked_union.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Avoid explicit copies in manipulating CE values
  src/counterexamples/ce_values.adb
Due: check-gnatformat-gnat2why

Reuse String_Lists from String_Utils in CE code
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_parsing.adb
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_pretty_printing.ads
  src/counterexamples/ce_utils.adb
  src/counterexamples/ce_utils.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Simplify routine for making counterexample strings
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_pretty_printing.ads
Due: check-gnatformat-gnat2why

Simplify manipulation of string values in CE
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_parsing.adb
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_utils.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Remove explicit initializations in CE code
  src/common/vc_kinds.ads
Due: check-gnatformat-gnatprove

Reuse utility to convert attribute name to Mixed_Case
  src/counterexamples/ce_values.adb
  src/counterexamples/ce_values.ads
Due: check-gnatformat-gnat2why

File tests for UU and inlining
  testsuite/gnatprove/tests/1231__conv_uu_inlining/test.adb
  testsuite/gnatprove/tests/1231__conv_uu_inlining/test.opt
  testsuite/gnatprove/tests/1231__conv_uu_inlining/test.out
  testsuite/gnatprove/tests/1231__uu_inlining/test.out
  testsuite/gnatprove/tests/1231__uu_inlining/test_2.adb
Due: check-opt-syntax

Fix computation of testname in bench
  Makefile
  testsuite/gnatprove/bench/create_benchmarks.py
Due: none

Extend coverage to Assertion True Coverage
  gnat2why/Makefile
Due: none

Use precise globals for imported subprograms
  src/flow/flow_generated_globals-partial.adb
  testsuite/gnatprove/tests/1217__flow_import/test.out
Due: check-gnatformat-gnat2why

Add test with dereference in contract of an imported subprogram
  testsuite/gnatprove/tests/1217__flow_import/strange_flow.adb
  testsuite/gnatprove/tests/1217__flow_import/test.out
Due: none

Add test for coverage of new handling of imported subprograms
  testsuite/gnatprove/tests/1217__flow_import/good.adb
  testsuite/gnatprove/tests/1217__flow_import/test.out
Due: none

Accept 'Constrained on UU in non-executable context
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/Q531-032__uncheck_union/test.out
  testsuite/gnatprove/tests/Q531-032__uncheck_union/use_unchecked_union.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Support recursive types with relaxed initialization
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1236__relaxed_init_deferred/test.adb
  testsuite/gnatprove/tests/1236__relaxed_init_deferred/test.out
Due: check-gnatformat-gnat2why

Fix typo in comment
  src/flow/flow_utility.adb
Due: check-gnatformat-gnat2why

Insert check for UU restrictions on copy-back of parameters
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1234__uu_copy_back/main.adb
  testsuite/gnatprove/tests/1234__uu_copy_back/test.out
Due: check-gnatformat-gnat2why

Extend crash message on failure to spawn multiple gnatwhy3 processes
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Add binary search tree test for Unbounded_Trees
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.adb
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.gpr
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.out
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.py
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.yaml
Due: none

Fix benchmark scripts
  Makefile
  testsuite/gnatprove/bench/create_benchmarks.py
  testsuite/gnatprove/bench/prover_stats.py
Due: none

Fix regression in creating temporary files for gnatwhy3 results
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Apply 1 suggestion(s) to 1 file(s)
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Pass semaphore value to gnat2why to limit subprocess spawning
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnatprove.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Merge branch 'topic/kanig-1454-kill' into 'master'
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
