Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

remove reference to old branch for ci-fragments
  .gitlab-ci.yml
Due: none

more permissive path for xunit files
  .gitlab-ci.yml
Due: none

Restructure code to avoid dead code, and remove dead code after identifying valid reasons for absence of coverage.
  src/spark/spark_definition.adb
Due: none

Remove dead code from gnat2why-expr.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
Due: none

Move code of Is_Statically_Disabled to GNAT frontend
  src/flow/flow-control_flow_graph.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
Due: none

Improve --checks-as-errors switch
  docs/ug/en/source/how_to_run_gnatprove.rst
  share/spark/help.txt
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
  testsuite/gnatprove/tests/QB03-022__exit_status/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Do not traverse removed discriminant dependent components
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/T113-004__memory_leak/test.opt
Due: check-empty-testoutopt

Update tests outputs
  testsuite/gnatprove/tests/KB27-003__color/test.out
  testsuite/gnatprove/tests/M426-006__flow_bug_nested_subprogram_pragmas/test.out
  testsuite/gnatprove/tests/MC12-008__non_spark_generic_body/test.out
  testsuite/gnatprove/tests/N513-017__slice/test.out
  testsuite/gnatprove/tests/N523-032__hello/test.out
  testsuite/gnatprove/tests/O130-018__proof/test.out
  testsuite/gnatprove/tests/O210-007__gnatprove_crash1/test.out
  testsuite/gnatprove/tests/O210-007__use_generic/test.out
  testsuite/gnatprove/tests/R312-016__steps/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W210-019__recursive_feasibility/test.out
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/spark_book/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Refactor queries for relaxed initialization
  src/spark/spark_util-types.adb
Due: none

Change placement of false negative annotation
  testsuite/gnatprove/tests/V328-020__counterex_case_expr/case_expr.adb
  testsuite/gnatprove/tests/V328-020__counterex_case_expr/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove test from CI by moving it to large
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/test.yaml
Due: none

Disable assertion that randomly fails
  src/gnatprove/gnatprove.adb
Due: none

Do not traverse subprogram profiles in Traverse_Subcomponents
  src/spark/spark_util-types.adb
Due: none

Reconsider default for Exceptional_Cases of procedures with No_Return
  docs/lrm/source/subprograms.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  src/flow/flow_error_messages.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/318__annotations/effects.adb
  testsuite/gnatprove/tests/318__annotations/test.out
  testsuite/gnatprove/tests/M611-010__no_return/test.out
  testsuite/gnatprove/tests/M611-010__no_return_illegal/test.out
  testsuite/gnatprove/tests/P602-007__protected_no_return/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/P929-043__flow_pkg_elaboration_in_direct_calls/test.out
  testsuite/gnatprove/tests/PA27-015__nested_no_return/test.out
  testsuite/gnatprove/tests/PA27-015__nested_no_return2/test.out
  testsuite/gnatprove/tests/S504-004__no_optim/test.out
  testsuite/gnatprove/tests/S608-002__flow_proof_in_noreturn/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/S920-003__flow_implicit_noret/test.out
  testsuite/gnatprove/tests/S920-003__flow_noret/test.out
  testsuite/gnatprove/tests/SC26-001__might_not_return/test.out
  testsuite/gnatprove/tests/T618-021__explanations/test.out
  testsuite/gnatprove/tests/TU__nonreturning_procedures/nr.ads
  testsuite/gnatprove/tests/TU__nonreturning_procedures/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_annot/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Take into account the init wrapper flag in allocators
  src/why/gnat2why-expr.adb
  src/why/why-gen-pointers.adb
  testsuite/gnatprove/tests/327__relaxed_init_allocators/main.adb
  testsuite/gnatprove/tests/327__relaxed_init_allocators/test.out
Due: check-empty-testoutopt, check-testsuite-markers

remove commented old doc
  docs/ug/en/appendix/project_attributes.rst
Due: none

W203-028 add documentation to the UG
  docs/ug/en/appendix/project_attributes.rst
Due: none

Fix order of CI commands
  .gitlab-ci.yml
Due: none

Script to check presence of issues in MR descriptions
  .gitlab-ci.yml
  ci/check_issue.py
Due: none

Correct Traverse_Subcomponents on recursive access types
  src/spark/spark_util-types.adb
Due: none

Correct traversal of inherited subcomponents on tagged types
  src/spark/spark_util-types.adb
Due: none

Allow components with Relaxed_Initialization in tagged roots
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/332__tagged_relaxed_init/main.adb
  testsuite/gnatprove/tests/332__tagged_relaxed_init/test.out
  testsuite/gnatprove/tests/T630-007__violations_in_marking/bad_relaxed_init.ads
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Raise Program_Error on unmarked types in Retysp
  src/spark/spark_util-types.adb
Due: none

Access types can designate parts with Relaxed_Initialization
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/328__access_to_relaxed/test.adb
Due: none

Fix build plan to install libgpr2 explicitly
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Use hashconsing for representative modules of access types
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-pointers.adb
Due: none

Do not force initialization on record conversions with predicates
  src/why/why-gen-expr.adb
  testsuite/gnatprove/tests/337__predicate_on_relaxed/test.adb
  testsuite/gnatprove/tests/337__predicate_on_relaxed/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File new test
  testsuite/gnatprove/tests/38__proof_cycle_predicates/assertion.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/assignment_statement.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/case_statement.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/conversion.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/exit_statement.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/extended_return.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/for_loop.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_actual.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_contract_case_lhs.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_contract_case_lhs_imp.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_contract_case_rhs.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_contract_case_rhs_imp.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_formal.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_post.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_post_imp.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_pre.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_pre_imp.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/func_return.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/handled_seq_statements.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/if_statement.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/imported.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/imported_2.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/imported_ret.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/loop_statement.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/membership_test.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/membership_test_2.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/normal_return.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/object_decl.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/pkg_body.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/pkg_decl.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/proc_formal.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/qualified_expression.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/raise_stmt.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/recursive_predicates.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/subcomponent_parent.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/test.out
  testsuite/gnatprove/tests/38__proof_cycle_predicates/traverse_access.adb
  testsuite/gnatprove/tests/38__proof_cycle_predicates/unch_conversion.adb
Due: check-empty-testoutopt, check-testsuite-markers

Detect proof dependencies through predicates
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/298__inlining_predicate/test.out
  testsuite/gnatprove/tests/38__proof_cycle_predicates/test.out
  testsuite/gnatprove/tests/KB30-013__ml_bits/test.out
  testsuite/gnatprove/tests/M919-035__floating_point/test.out
  testsuite/gnatprove/tests/N127-006__volatile_composites/test.out
  testsuite/gnatprove/tests/O220-024__floats/test.out
  testsuite/gnatprove/tests/O430-013__return_unchecked_conversion/test.out
  testsuite/gnatprove/tests/P713-053__warning/test.out
  testsuite/gnatprove/tests/Q612-010__unchecked_conversion/test.out
  testsuite/gnatprove/tests/S521-011__Unchecked_Conversion/test.out
  testsuite/gnatprove/tests/S521-016__unchecked_conv/test.out
  testsuite/gnatprove/tests/T213-023__flow_unchecked/test.out
  testsuite/gnatprove/tests/T701-024__unchecked_conv/test.out
  testsuite/gnatprove/tests/T723-011__unchecked_conversion/test.out
  testsuite/gnatprove/tests/U618-036__flow_aliased_conversions/test.out
  testsuite/gnatprove/tests/UA28-038__continuations_on_inherited_preds/test.out
  testsuite/gnatprove/tests/UB12-055__uc_pack/test.out
  testsuite/gnatprove/tests/V927-049__rectyp/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Reject representation attributes on classwide values
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/309__classwide_repr/class.adb
  testsuite/gnatprove/tests/309__classwide_repr/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Improve flow handling of attribute Size
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/306__flow_size/full.adb
  testsuite/gnatprove/tests/306__flow_size/init.adb
  testsuite/gnatprove/tests/306__flow_size/main.adb
  testsuite/gnatprove/tests/306__flow_size/test.out
  testsuite/gnatprove/tests/R827-001__unknown_size/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Sync code for attribute Alignment in marking and proof
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
Due: none

Fix style in proof code for attributes
  src/why/why-gen-expr.adb
Due: none

Deconstruct dead code related to attribute Alignment
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
Due: none

Handle attribute Alignment like attribute Size in flow
  testsuite/gnatprove/tests/306__flow_alignment/class.adb
  testsuite/gnatprove/tests/306__flow_alignment/full.adb
  testsuite/gnatprove/tests/306__flow_alignment/main.adb
  testsuite/gnatprove/tests/306__flow_alignment/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use GNAT.OS_Lib instead of GNAT.Expect to spawn why3server
  src/gnatprove/gnatprove.adb
Due: none

Do not pull access-to-subprograms in proof dependencies
  src/flow/flow_generated_globals-partial.adb
Due: none

Fix error on classwide representation attributes
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/309__classwide_repr/class.adb
  testsuite/gnatprove/tests/309__classwide_repr/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
