Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Add new ug tests to gnatprove_by_example.gpr
  docs/ug/gnatprove_by_example.gpr
Due: none

Document the use of Hide_Info to hide private parts
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  testsuite/gnatprove/tests/ug__hide_private_abstraction/geometry.ads
  testsuite/gnatprove/tests/ug__hide_private_abstraction/hide_private.gpr
  testsuite/gnatprove/tests/ug__hide_private_abstraction/test.out
  testsuite/gnatprove/tests/ug__hide_private_abstraction/use_geometry.adb
  testsuite/gnatprove/tests/ug__hide_private_annot/geometry.ads
  testsuite/gnatprove/tests/ug__hide_private_annot/hide_private.gpr
  testsuite/gnatprove/tests/ug__hide_private_annot/test.out
  testsuite/gnatprove/tests/ug__hide_private_annot/use_geometry.adb
  testsuite/gnatprove/tests/ug__hide_private_no_annot/geometry.ads
  testsuite/gnatprove/tests/ug__hide_private_no_annot/hide_private.gpr
  testsuite/gnatprove/tests/ug__hide_private_no_annot/test.out
  testsuite/gnatprove/tests/ug__hide_private_no_annot/use_geometry.adb
Due: check-empty-testoutopt, check-testsuite-markers

Inline subprograms with multiple return statements #2
  testsuite/gnatprove/tests/33__control_flow/test.out
  testsuite/gnatprove/tests/M809-005__float_basics/test.out
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.out
  testsuite/gnatprove/tests/Q719-013__loop_unroll_dyn/test.out
  testsuite/gnatprove/tests/Q912-021__codepeer_by_example/test.out
  testsuite/gnatprove/tests/spark_book/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Avoid conversions from Boolean to integer type when easily avoidable
  share/spark/theories/_gnatprove_standard.mlw
  share/spark/theories/_gnatprove_standard_th.why
  src/why/gnat2why-expr.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-expr.ads
  src/why/why-gen-records.adb
Due: none

Add aggregate project to test GNATprove
  testsuite/gnatprove/tests/564__complex_projects_aggregates/a.gpr
  testsuite/gnatprove/tests/564__complex_projects_aggregates/agg.gpr
  testsuite/gnatprove/tests/564__complex_projects_aggregates/b.gpr
  testsuite/gnatprove/tests/564__complex_projects_aggregates/spark.adc
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srca/main.adb
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srca/my_string.ads
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srca/pkg-sub.adb
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srca/pkg.adb
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srca/pkg.ads
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srcb/main.adb
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srcb/my_string.ads
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srcb/pkg.adb
  testsuite/gnatprove/tests/564__complex_projects_aggregates/srcb/pkg.ads
Due: none

Add tests to exercize GNATprove on complex projects
  testsuite/gnatprove/tests/564__complex_projects_agg/test.yaml
  testsuite/gnatprove/tests/564__complex_projects_agg2/test.yaml
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.yaml
Due: none

Add tests to exercize GNATprove on complex projects
  testsuite/gnatprove/tests/564__complex_projects_separates/test.yaml
Due: none

Add test with EXIT within a loop over contrainer
  testsuite/gnatprove/tests/602__flow_exit_loop/test.out
  testsuite/gnatprove/tests/602__flow_exit_loop/test.yaml
  testsuite/gnatprove/tests/602__flow_exit_loop/translate.adb
  testsuite/gnatprove/tests/602__flow_exit_loop/translate.ads
Due: check-empty-testoutopt, check-testsuite-markers

Fix handling of EXIT within iterator loops
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/602__flow_exit_loop/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix recently broken output and update session
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__to_chars_ptr__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__4/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value_def/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__free/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_nul_terminated_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__lemma_is_find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_char_array/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__4/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix path to remote_artifacts package
  testsuite/gnatprove/update-expected-outputs
Due: none

update test output
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix useless parentheses
  src/why/why-gen-progs.adb
Due: none

Update testsuite
  testsuite/gnatprove/tests/OA20-032__refinement/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Disable CE due to timeouts in CB
  testsuite/gnatprove/tests/264__deep_delta_checks/test.out
  testsuite/gnatprove/tests/264__deep_delta_checks/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

File tests for executing functional containers in light
  testsuite/gnatprove/tests/598__sparklib_light_exec/main.adb
  testsuite/gnatprove/tests/598__sparklib_light_exec/sparklib_light.gpr
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.gpr
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.out
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Fix handling of record overlays
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/578__flow_overlay_record/main1.adb
  testsuite/gnatprove/tests/578__flow_overlay_record/main2.adb
  testsuite/gnatprove/tests/578__flow_overlay_record/main3.adb
  testsuite/gnatprove/tests/578__flow_overlay_record/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Support downloading of sessions from replay mailservers
  Makefile
  plans/replay.plan
  testsuite/gnatprove/update-expected-outputs
Due: none

Fix crash with unknown memcached hostname
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/604__memcache_hostname/test.opt
  testsuite/gnatprove/tests/604__memcache_hostname/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with unknown memcached hostname
  testsuite/gnatprove/tests/604__memcache_hostname/main.adb
  testsuite/gnatprove/tests/604__memcache_hostname/test.opt
  testsuite/gnatprove/tests/604__memcache_hostname/test.yaml
Due: check-empty-testoutopt

Fix crash with unknown memcached port number
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/604__memcache_port/test.opt
  testsuite/gnatprove/tests/604__memcache_port/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with unknown memcached port
  testsuite/gnatprove/tests/604__memcache_port/main.adb
  testsuite/gnatprove/tests/604__memcache_port/test.opt
  testsuite/gnatprove/tests/604__memcache_port/test.yaml
Due: check-empty-testoutopt

fix bench plan, improve readme
  plans/README.txt
  plans/bench.plan
Due: none

Add comment to runtime test
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.out
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Add explain code for error on uninitialized allocators
  share/spark/explain_codes/E0019.md
  share/spark/explain_codes/README.md
  src/flow/flow_error_messages.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/K222-004__package/test.out
  testsuite/gnatprove/tests/K222-004__package_spec/test.out
  testsuite/gnatprove/tests/K222-004__subprogram/test.out
  testsuite/gnatprove/tests/P831-045__pointers/test.out
  testsuite/gnatprove/tests/RB14-019__pointer_uninit_alloc/test.out
  testsuite/gnatprove/tests/S201-029__pointer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Combine flow analysis of deep and shallow record delta aggregates
  src/flow/flow_utility.adb
Due: none

Flow support for deep delta aggregates
  src/flow/flow-analysis.adb
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/264__deep_delta_checks/test.out
  testsuite/gnatprove/tests/264__deep_delta_preds/test.out
  testsuite/gnatprove/tests/403__flow_deep_delta/err.adb
  testsuite/gnatprove/tests/403__flow_deep_delta/mix.adb
  testsuite/gnatprove/tests/403__flow_deep_delta/test.gpr
  testsuite/gnatprove/tests/403__flow_deep_delta/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove explicit opam install from release CI plan
  plans/ci.plan
Due: none

Tune test with unknown memcached hostname
  testsuite/gnatprove/tests/604__memcache_hostname/test.out
  testsuite/gnatprove/tests/604__memcache_hostname/test.py
  testsuite/gnatprove/tests/604__memcache_hostname/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Fix incorrect computation of last attribute on string literals
  src/why/why-gen-arrays.adb
Due: none

No inlining of subprogram with constant with address clause
  testsuite/gnatprove/tests/607__no_inlining_address/foo.adb
  testsuite/gnatprove/tests/607__no_inlining_address/test.out
  testsuite/gnatprove/tests/T630-007__uc_and_overlays/test.out
  testsuite/gnatprove/tests/U302-016__size_packed/test.out
Due: check-empty-testoutopt, check-testsuite-markers

baseline updates
  testsuite/gnatprove/tests/238__saved_prophecy_bad/test.out
  testsuite/gnatprove/tests/239__at_end_borrow/test.out
  testsuite/gnatprove/tests/264__deep_delta_borrow_checker/test.out
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/test.out
  testsuite/gnatprove/tests/N409-033__inline_illegal/test.out
  testsuite/gnatprove/tests/O429-033__synchronized/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_volatile/test.out
  testsuite/gnatprove/tests/P831-045__pointers/test.out
  testsuite/gnatprove/tests/QA23-042__error_pointers/test.out
  testsuite/gnatprove/tests/RA12-026__split_pointers/test.out
  testsuite/gnatprove/tests/RA12-032__pointer_free/test.out
  testsuite/gnatprove/tests/RB05-016__pointer/test.out
  testsuite/gnatprove/tests/S116-005__pointer/test.out
  testsuite/gnatprove/tests/S703-042__pointer_tree/test.out
  testsuite/gnatprove/tests/S813-013__pointers_in_elab/test.out
  testsuite/gnatprove/tests/S820-002__deep_global_bad/test.out
  testsuite/gnatprove/tests/S820-002__deep_global_checks/test.out
  testsuite/gnatprove/tests/T129-043__move_pointer/test.out
  testsuite/gnatprove/tests/T402-036__illegal_free_pointer/test.out
  testsuite/gnatprove/tests/T630-007__borrow/test.out
  testsuite/gnatprove/tests/T723-036__flow_more_acc_param_warning/test.out
  testsuite/gnatprove/tests/TA15-006__array_bounds/test.out
  testsuite/gnatprove/tests/TA15-006__equal_null/test.out
  testsuite/gnatprove/tests/TB16-044__move_global_on_return/test.out
  testsuite/gnatprove/tests/TB19-013__access_attr/test.out
  testsuite/gnatprove/tests/TC07-046__cuda_global/test.out
  testsuite/gnatprove/tests/TC23-002__export_field_name/test.out
  testsuite/gnatprove/tests/TU__tasks_illegal/test.out
  testsuite/gnatprove/tests/U426-011__general_access_attribute/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_bc/test.out
  testsuite/gnatprove/tests/UC02-037__handlers_bc/test.out
  testsuite/gnatprove/tests/UC02-037__reraise_bc/test.out
  testsuite/gnatprove/tests/V223-061__bad_borrow_return/test.out
  testsuite/gnatprove/tests/V421-038__borrow_checking_gotos/test.out
  testsuite/gnatprove/tests/V516-041__borrow_checker/test.out
  testsuite/gnatprove/tests/V531-016__borrow/test.out
  testsuite/gnatprove/tests/V531-049__borrow/test.out
  testsuite/gnatprove/tests/V613-017__reborrow/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Refactoring of error messages
  src/common/errout_wrapper.adb
  src/common/errout_wrapper.ads
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_utility.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/utils/common_containers.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-driver.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-inter.adb
Due: none

Piotr review suggestions
  src/common/errout_wrapper.adb
  src/common/vc_kinds.adb
  src/spark/spark_definition-violations.adb
  src/spark/spark_util.adb
Due: none

Use Explain_Code_Kind type everywhere
  src/common/errout_wrapper.adb
  src/common/errout_wrapper.ads
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow-analysis-sanity.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  src/why/gnat2why-borrow_checker.adb
Due: none

More comments for Wrapper package
  src/common/errout_wrapper.adb
  src/common/errout_wrapper.ads
Due: none

double check this output
  testsuite/gnatprove/tests/TC23-002__export_field_name/test.out
Due: check-empty-testoutopt, check-testsuite-markers
