Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

Avoid havocking a borrowed object when its borrowers are not updated
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
Due: none

New test
  testsuite/gnatprove/tests/244_borrower_not_havocked/main.adb
  testsuite/gnatprove/tests/244_borrower_not_havocked/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Rename deprecated Has_Terminate to Always_Terminates
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_generated_globals-phase_1.adb
  src/flow/flow_generated_globals-phase_1.ads
  src/flow/flow_generated_globals-phase_2.adb
  src/flow/flow_generated_globals.ads
Due: none

Deconstruct references and wrappers to Might_Not_Return
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_generated_globals-phase_2.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
Due: none

Refine contracts on terminating-related phase-2 queries
  src/flow/flow_generated_globals-phase_2.ads
Due: none

Continue transition to Always_Terminates in flow
  src/flow/flow-analysis.adb
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_generated_globals-phase_2.adb
  src/flow/flow_generated_globals-phase_2.ads
  src/flow/flow_generated_globals.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/P929-043__flow_pkg_elaboration_in_direct_calls/test.out
  testsuite/gnatprove/tests/PC05-011__flow_nested_nonterminating_pkgs/test.out
  testsuite/gnatprove/tests/T618-021__explanations/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Refactor message string related to aspect Always_Terminates
  src/flow/flow-analysis.adb
Due: none

Remove termination-related wrapper that uses Entity_Name
  src/flow/flow_generated_globals-phase_2.adb
Due: none

Rename Check_Terminating_Annotation to Check_Always_Terminates
  src/flow/flow-analysis.adb
  src/flow/flow-analysis.ads
  src/flow/flow.adb
Due: none

Replace references to Terminating annotation
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow-analysis.adb
  src/flow/flow_generated_globals-phase_2.ads
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Cleanup in analysis of terminating entities
  src/flow/flow-analysis.adb
Due: none

Change suggested fix from Always_Return to Always_Terminates
  src/flow/flow-analysis.adb
Due: none

Rename Has_Implicit_Always_Return_Annotation to refer to aspect
  src/flow/flow-analysis.adb
  src/flow/flow_error_messages.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
Due: none

Rename warning kind from Always_Return to Always_Terminates
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow-analysis.ads
  src/spark/spark_definition.adb
Due: none

Change "with Always_Return" into "with aspect Always_Terminates"
  testsuite/gnatprove/tests/26__conditional_termination/test.out
  testsuite/gnatprove/tests/66__flow_term_loop_iterable_constants/test.out
  testsuite/gnatprove/tests/79__flow_termination_explanations_and_fixes/test.out
  testsuite/gnatprove/tests/MB11-008__side_effects_in_debug/test.out
  testsuite/gnatprove/tests/P615-019__stone_level/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/P729-010__justify_init/test.out
  testsuite/gnatprove/tests/P929-043__flow_pkg_elaboration_in_direct_calls/test.out
  testsuite/gnatprove/tests/PB25-025__flow_termination/test.out
  testsuite/gnatprove/tests/PC08-006__flow_terminating_message/test.out
  testsuite/gnatprove/tests/R312-016__steps/test.out
  testsuite/gnatprove/tests/T716-040__flow_support_subprogram_variants/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/W223-005__ill_placed_pragma_annotate/test.out
  testsuite/gnatprove/tests/W301-011__flow_term_callee_dispatching_call/test.out
  testsuite/gnatprove/tests/text_io_get_line/test.out
  testsuite/gnatprove/tests/ug__possibly_nonterminating/test.out
  testsuite/gnatprove/tests/ug__terminating_annotations/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Convert line endings with dos2unix
  testsuite/gnatprove/tests/MC19-006__uppercase/test.out
  testsuite/gnatprove/tests/S703-042__pointer_tree/binary_search_trees.adb
  testsuite/gnatprove/tests/S703-042__pointer_tree/binary_search_trees.ads
  testsuite/gnatprove/tests/S708-039__pointer_search/binary_search_trees.adb
  testsuite/gnatprove/tests/S708-039__pointer_search/binary_search_trees.ads
  testsuite/gnatprove/tests/S918-060__binary_search/binary_search_trees.adb
  testsuite/gnatprove/tests/S918-060__binary_search/binary_search_trees.ads
  testsuite/gnatprove/tests/T529-035__relaxed_init_param/a.adb
  testsuite/gnatprove/tests/T529-035__relaxed_init_param/a.ads
Due: check-empty-testoutopt, check-testsuite-markers

Update test about check categories with Always_Terminates
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adapt test with explicit justification of termination checks
  testsuite/gnatprove/tests/O902-020__private_types/use_simple_private_type.adb
Due: none

Detect proof dependencies on reclamation functions
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
  src/flow/flow-control_flow_graph.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File new test
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/local_variable_pkg.adb
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/local_variable_pkg.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/local_variable_subp.adb
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/local_variable_subp.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/other_tests.adb
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/other_tests.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/p1.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/p2.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/p3.ads
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/38__proof_cycle_reclamation_functions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Sort messages about termination in large tests
  testsuite/gnatprove/tests/N622-004__bitwise_ops/test.out
  testsuite/gnatprove/tests/N705-004__flow_crash/test.out
  testsuite/gnatprove/tests/NA11-009__very_long/test.out
  testsuite/gnatprove/tests/NA11-009__very_long_subunit/test.out
  testsuite/gnatprove/tests/O116-027__very_long/test.out
  testsuite/gnatprove/tests/OA20-032__refinement/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/Q404-006__exponentiation/test.out
  testsuite/gnatprove/tests/Q912-021__codepeer_by_example/test.out
  testsuite/gnatprove/tests/R509-011__higher_order/test.out
  testsuite/gnatprove/tests/S731-018__traversal_func/test.out
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/test.out
  testsuite/gnatprove/tests/T928-002__at_end_borrow/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.out
  testsuite/gnatprove/tests/UA15-028__discriminant_in_borrow/test.out
  testsuite/gnatprove/tests/V520-005__borrow_examples/test.out
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/V718-026__dic_and_predicate/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
  testsuite/gnatprove/tests/ghc_sort/test.out
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/pointer_based_maps/test.out
  testsuite/gnatprove/tests/spark_book/test.out
  testsuite/gnatprove/tests/thumper/test.out
  testsuite/gnatprove/tests/trajectory_computation/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adapt large test to implicit termination of packages
  testsuite/gnatprove/tests/prime_numbers/prime_and_coprime_numbers.adb
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2598714a0e9fefdf80bb-mbers__p__initialize_coprime_list/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2a85f63e85d6a20aa57b-p__eratosthenes__smallest_divisor/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/43b23d99b52ac4743aee-__initialize_coprime_list__euclid/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/a2c32a48d2ccdd3dfb70-_numbers__p__nearest_prime_number/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__are_coprime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__eratosthenes/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__has_prime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__has_true/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__nearest_number/why3session.xml
Due: none

Update help nessage
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File examples used in the blog post
  testsuite/gnatprove/tests/26__exceptions_and_termination/parsing.adb
  testsuite/gnatprove/tests/26__exceptions_and_termination/test.out
  testsuite/gnatprove/tests/26__exceptions_and_termination/test.yaml
  testsuite/gnatprove/tests/26__exceptions_and_termination/test_sockets.adb
Due: check-empty-testoutopt, check-testsuite-markers

Sort termination messages in large tests
  testsuite/gnatprove/tests/prime_numbers/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Handle non-terminating calls to ghost subprograms in flow
  src/flow/flow-analysis.adb
  src/flow/flow-analysis.ads
  src/flow/flow.adb
  testsuite/gnatprove/tests/177__ghost_termination/test.out
  testsuite/gnatprove/tests/N624-020__perm_occ/perm.adb
  testsuite/gnatprove/tests/N624-020__perm_occ/perm.ads
  testsuite/gnatprove/tests/N624-020__perm_occ/sort.adb
  testsuite/gnatprove/tests/N624-020__perm_occ/test.out
  testsuite/gnatprove/tests/R906-030__recursion/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization_lemmas/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Avoid duplicated checks on nonterminating ghost calls
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/177__flow_ghost_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with duplicated checks on nonterminating ghost call
  testsuite/gnatprove/tests/177__flow_ghost_termination/p.adb
  testsuite/gnatprove/tests/177__flow_ghost_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add explicit build of opam to plan
  plans/ci.plan
Due: none

Enable caching for spark2014 testing
  .gitlab-ci.yml
  plans/ci.plan
  testsuite/gnatprove/lib/python/test_support.py
Due: none

New meta remove_unused:remove_constant
  share/spark/theories/ada__model.mlw
Due: none

XFAIL: Colibri unsoundness
  testsuite/gnatprove/tests/VB15-029__logical_eq/test.opt
Due: check-empty-testoutopt

Getting more proofs and counterexamples
  testsuite/gnatprove/tests/130__flow_exception/test.out
  testsuite/gnatprove/tests/KB04-013__expr_action/test.out
  testsuite/gnatprove/tests/L402-004__exp/test.out
  testsuite/gnatprove/tests/L611-003__exist/test.out
  testsuite/gnatprove/tests/L719-025__ordered_maps_equal/test.out
  testsuite/gnatprove/tests/NC03-013__float_division/test.out
  testsuite/gnatprove/tests/NC05-005__float_division/test.out
  testsuite/gnatprove/tests/O403-015__record_equality/test.out
  testsuite/gnatprove/tests/O512-022__invert_injection/test.out
  testsuite/gnatprove/tests/P909-014__numerics/test.out
  testsuite/gnatprove/tests/PA21-002__floatdiv/test.out
  testsuite/gnatprove/tests/QA25-058__z3_riposte_arrays/test.out
  testsuite/gnatprove/tests/QB30-008__session/test.out
  testsuite/gnatprove/tests/QB30-008__session/test.py
  testsuite/gnatprove/tests/R511-031__counterexample/test.out
  testsuite/gnatprove/tests/RC17-022__private_pointer/test.out
  testsuite/gnatprove/tests/S415-012__ex_pledge/test.out
  testsuite/gnatprove/tests/S516-028__not_null_pointer/test.out
  testsuite/gnatprove/tests/S820-002__deep_global_ok/test.out
  testsuite/gnatprove/tests/S822-032__constant_access/test.out
  testsuite/gnatprove/tests/S918-060__free_pointer/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init_function_result/test.out
  testsuite/gnatprove/tests/T527-057__flow_aliased_access_constant/test.out
  testsuite/gnatprove/tests/TB02-041__null_exclusion/test.out
  testsuite/gnatprove/tests/U228-009__flow_dead_condition/test.out
  testsuite/gnatprove/tests/U402-026__allocators/test.out
  testsuite/gnatprove/tests/U426-011__general_access/test.out
  testsuite/gnatprove/tests/U510-013__relaxed_init/test.out
  testsuite/gnatprove/tests/U706-017__memory_leaks/test.out
  testsuite/gnatprove/tests/U715-021__predicate/test.out
  testsuite/gnatprove/tests/V516-041__move_expr/test.out
  testsuite/gnatprove/tests/V609-053__access_attribute/test.out
  testsuite/gnatprove/tests/V726-014__counterex_membership_predicate/test.out
  testsuite/gnatprove/tests/VA25-025__string_map/test.out
  testsuite/gnatprove/tests/VB15-029__logical_eq/test.opt
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W210-019__infeasible_abstract/test.out
  testsuite/gnatprove/tests/riposte__complex_arrays/test.out
  testsuite/gnatprove/tests/sparksmt__lexer/test.out
  testsuite/gnatprove/tests/ug__volatile_example_a/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Deconstruct Proof_Dependencies in vertex attributes
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.adb
  src/flow/flow_types.ads
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
Due: none

Adapt large tests to termination checks on calls to ghost subprograms
  testsuite/gnatprove/tests/V520-005__red_black_trees/red_black_trees.adb
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/pair_insertion_sort/pair_insertion_sort.adb
  testsuite/gnatprove/tests/pair_insertion_sort/perm.adb
  testsuite/gnatprove/tests/pair_insertion_sort/perm.ads
  testsuite/gnatprove/tests/pair_insertion_sort/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
