Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Update calls to Parse_Aspect_Aggregate (related to eng/toolchain/gnat#1909)
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
Due: check-gnatformat-gnat2why

Reject structural instances as not in SPARK
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1314__structural_instance/gen.ads
  testsuite/gnatprove/tests/1314__structural_instance/main.adb
  testsuite/gnatprove/tests/1314__structural_instance/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Use Null_Handle in the pointers tests
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list/doubly_linked_list.adb
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list_separate_mem/doubly_linked_list_separate_mem.adb
  testsuite/gnatprove/tests/1448__pointers_persistent_tree/persistent_tree.adb
  testsuite/gnatprove/tests/1448__pointers_persistent_tree/test.out
  testsuite/gnatprove/tests/1448__pointers_union_find/test.out
  testsuite/gnatprove/tests/1448__pointers_union_find/union_find_global.adb
  testsuite/gnatprove/tests/1448__pointers_union_find/union_find_separate.adb
Due: none

Count_Discriminant in Aggregate aspect is not supported
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_register.adb
  testsuite/gnatprove/tests/1909__count_discriminant/main.adb
  testsuite/gnatprove/tests/1909__count_discriminant/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Update to changes in GPR2 API
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Update tests to default for formals of Pointers
  testsuite/gnatprove/tests/1448__pointers_auto_reclaimed_mutable/test.out
  testsuite/gnatprove/tests/1448__pointers_auto_reclaimed_mutable/test_auto_reclaimed_mutable.adb
  testsuite/gnatprove/tests/1448__pointers_copy_on_write/copy_on_write.adb
  testsuite/gnatprove/tests/1448__pointers_copy_on_write/test.out
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list/doubly_linked_list.adb
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list/test.out
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list_separate_mem/doubly_linked_list_separate_mem.adb
  testsuite/gnatprove/tests/1448__pointers_doubly_linked_list_separate_mem/test.out
  testsuite/gnatprove/tests/1448__pointers_parameter_checks/bad_params.ads
  testsuite/gnatprove/tests/1448__pointers_parameter_checks/test.out
  testsuite/gnatprove/tests/1448__pointers_parameter_checks_globals/test.out
  testsuite/gnatprove/tests/1448__pointers_persistent_tree/test.out
  testsuite/gnatprove/tests/1448__pointers_poisoned/test.out
  testsuite/gnatprove/tests/1448__pointers_poisoned/test_poisoned.adb
  testsuite/gnatprove/tests/1448__pointers_poisoned_vector/poisoned_vector.adb
  testsuite/gnatprove/tests/1448__pointers_poisoned_vector/test.out
  testsuite/gnatprove/tests/1448__pointers_soundness/explicit_soundness.adb
  testsuite/gnatprove/tests/1448__pointers_soundness/pointers_soundness.adb
  testsuite/gnatprove/tests/1448__pointers_soundness/poisoned_soundness.adb
  testsuite/gnatprove/tests/1448__pointers_soundness/test.out
  testsuite/gnatprove/tests/1448__pointers_union_find/test.out
  testsuite/gnatprove/tests/1448__pointers_union_find/union_find_global.adb
  testsuite/gnatprove/tests/1448__pointers_union_find/union_find_separate.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers/example_recursive.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers/example_tagged_obj.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers/example_untagged_obj.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/example_recursive.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.out
Due: none

Remove dead code from why-inter
  src/why/why-inter.adb
  src/why/why-inter.ads
Due: check-gnatformat-gnat2why

Remove spurious precondition on computation of default value
  src/why/gnat2why-expr.ads
  testsuite/gnatprove/tests/1486__limited_default/nested_limited.adb
  testsuite/gnatprove/tests/1486__limited_default/nested_limited.ads
  testsuite/gnatprove/tests/1486__limited_default/test.out
Due: check-gnatformat-gnat2why

Update the test outputs after change in the pointers library
  testsuite/gnatprove/tests/1448__pointers_poisoned/test.out
  testsuite/gnatprove/tests/1448__pointers_poisoned/test_poisoned.adb
  testsuite/gnatprove/tests/1448__pointers_poisoned_vector/poisoned_vector.adb
  testsuite/gnatprove/tests/1448__pointers_poisoned_vector/test.out
  testsuite/gnatprove/tests/1448__pointers_soundness/poisoned_soundness.adb
  testsuite/gnatprove/tests/1448__pointers_soundness/test.out
Due: none
