Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add regression for issue 1237 non-root invocation switch
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/main.adb
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/sub/p.ads
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/sub/sub.gpr
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/test.gpr
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/test.out
Due: none

Do not strip conversions from RTE checking of object renamings
  src/why/gnat2why-expr.adb
  src/why/spark_atree.adb
  src/why/spark_atree.ads
  testsuite/gnatprove/tests/1290__predicate_check_object_renaming/main.adb
  testsuite/gnatprove/tests/1290__predicate_check_object_renaming/test.out
Due: check-gnatformat-gnat2why

Update outputs for tests with inlined actual parameters
  testsuite/gnatprove/tests/360__constraints_check_on_conv_in_LHS/test.out
  testsuite/gnatprove/tests/PC08-035__missing_range_check_on_out_param/test.out
  testsuite/gnatprove/tests/SA30-017__flow_uninitialized/test.out
Due: none

gnatprove.gpr: exclude sarif-ada from GNAT SAS analysis
  gnatprove.gpr
Due: none

Adjust help text for -v/-q
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: none

Configure/enable some tests that were disabled on Windows
  testsuite/gnatprove/tests/K406-013__formal_lists/test.opt
  testsuite/gnatprove/tests/N624-020__perm_rem/test.opt
  testsuite/gnatprove/tests/P201-069__simulink/test.opt
  testsuite/gnatprove/tests/S219-014__nested_update/test.opt
  testsuite/gnatprove/tests/V520-005__borrow_examples/test.opt
  testsuite/gnatprove/tests/patience/test.opt
  testsuite/gnatprove/tests/railway_signaling/test.opt
  testsuite/gnatprove/tests/riposte__arithmetic/test.opt
Due: check-opt-syntax

Remove incorrectly updated baseline
  testsuite/gnatprove/tests/54__proof_cycle_iterable_for_proof/test.out
Due: none

Reject instrinsic on operators with unexpected profile
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-hardcoded.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/bad_intrinsic.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add documentation and explain code for restriction on Intrinsic
  docs/lrm/source/subprograms.rst
  share/spark/explain_codes/E0033.md
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  testsuite/gnatprove/tests/1344__bad_intrinsic/test.out
Due: check-gnatformat-gnatprove

Update outputs after changes to renamings in inlined calls
  testsuite/gnatprove/tests/531__fixed_lower_bound/test.out
  testsuite/gnatprove/tests/spark_book/test.out
Due: none

Update large output with unrolling failure message
  testsuite/gnatprove/tests/tokeneer/test.out
Due: none

Various testsuite updates
  testsuite/gnatprove/tests/P628-028__test_0/test.out
  testsuite/gnatprove/tests/P628-028__test_1/test.out
  testsuite/gnatprove/tests/P628-028__test_2/test.out
  testsuite/gnatprove/tests/S310-005__camera_motion/test.out
  testsuite/gnatprove/tests/V516-041__private_ownership/test.out
  testsuite/gnatprove/tests/spark_book/test.out
  testsuite/gnatprove/tests/thumper/test.out
Due: none

Fix no-cache CI
  .gitlab-ci.yml
Due: none

Fix failing assertion with Allow_Integer_Address
  src/spark/spark_util.adb
Due: check-gnatformat-gnat2why

Remove coverage in CI
  .gitlab-ci.yml
Due: none

Fix handling of unary operators
  src/spark/spark_definition.adb
Due: check-gnatformat-gnat2why

Reject operators defintion instead of use
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/test.out
  testsuite/gnatprove/tests/N128-041__intrinsic_imports/prags.ads
Due: check-gnatformat-gnat2why

Reject instrinsic on operators with unexpected profile
  src/spark/spark_definition.adb
  src/spark/spark_util-hardcoded.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/bad_intrinsic.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/test.out
  testsuite/gnatprove/tests/N128-041__intrinsic_imports/prags.ads
Due: check-gnatformat-gnat2why

Adapt test with bad intrinsic specified by an aspect
  testsuite/gnatprove/tests/1344__bad_intrinsic/bad_intrinsic.adb
  testsuite/gnatprove/tests/1344__bad_intrinsic/test.out
  testsuite/gnatprove/tests/1344__bad_intrinsic/very_bad_intrinsic.adb
Due: none

Update Codex hook configuration syntax
  .codex/config.toml
Due: none

Update code following the simplification of Add_Input
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Adapt to new gprbuild2 output
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Support for aggregate projects
  src/common/assumptions-search.adb
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  src/gnatprove/spark_report.adb
  testsuite/gnatprove/tests/402__aggr_proj/test.opt
  testsuite/gnatprove/tests/564__complex_projects_agg/test.opt
  testsuite/gnatprove/tests/564__complex_projects_agg2/test.opt
  testsuite/gnatprove/tests/564__complex_projects_agg2/test.out
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.opt
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.out
Due: check-opt-syntax, check-gnatformat-gnatprove

Update tests after merging fix for eng/spark/spark2014#1255
  testsuite/gnatprove/tests/276__concat/test.out
  testsuite/gnatprove/tests/UA15-028__discriminant_in_borrow/test.out
Due: none

Force the base type for operators of Storage_Elements
  src/why/gnat2why-expr.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-gen-hardcoded.ads
  testsuite/gnatprove/tests/1332__modular_system_address/test.out
  testsuite/gnatprove/tests/1348__storage_elements/minimal.adb
  testsuite/gnatprove/tests/1348__storage_elements/test.out
  testsuite/gnatprove/tests/Q714-010__address/test.out
Due: check-gnatformat-gnat2why

Fix formatting issues
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
Due: check-gnatformat-gnatprove

Refactor New_Binary_Op_Expr to take base why types as parameters
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-expr.ads
  src/why/why-gen-hardcoded.adb
Due: check-gnatformat-gnat2why

Add test with type conversions in inlined actual parameters
  testsuite/gnatprove/tests/1233__inline_conversion/test.out
  testsuite/gnatprove/tests/1233__inline_conversion/test_1.adb
  testsuite/gnatprove/tests/1233__inline_conversion/test_2.adb
Due: none

Update baseline output
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
Due: none

Revert "Merge branch 'topic/kanig-nocov' into 'master'"
  .gitlab-ci.yml
Due: none

Add commit-msg hook and CI job for files referenced in the docs
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

Remove useless condition
  src/spark/spark_util-types.adb
Due: check-gnatformat-gnat2why

Force the base type for operators of Storage_Elements
  src/why/gnat2why-expr.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-gen-hardcoded.ads
  testsuite/gnatprove/tests/1348__storage_elements/minimal.adb
  testsuite/gnatprove/tests/1348__storage_elements/test.out
  testsuite/gnatprove/tests/Q714-010__address/test.out
Due: check-gnatformat-gnat2why

Force the base type for operators of Storage_Elements
  src/spark/spark_util-hardcoded.adb
  src/why/gnat2why-expr.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-gen-hardcoded.ads
  testsuite/gnatprove/tests/1348__storage_elements/minimal.adb
  testsuite/gnatprove/tests/1348__storage_elements/test.out
  testsuite/gnatprove/tests/Q714-010__address/test.out
Due: check-gnatformat-gnat2why

Force the base type for operators of Storage_Elements
  src/spark/spark_util-hardcoded.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-gen-hardcoded.ads
  testsuite/gnatprove/tests/1348__storage_elements/minimal.adb
  testsuite/gnatprove/tests/1348__storage_elements/test.out
Due: check-gnatformat-gnat2why

Agents.md: Refine testing instructions
  AGENTS.md
Due: none

Xfail 276__concat on ARM architecture
  testsuite/gnatprove/mass_xfail.yaml
Due: none

Fix unit lookup via namespace roots
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

File test baseline for 26.2
  testsuite/gnatprove/mass_xfail.yaml
  testsuite/gnatprove/tests/276__concat/test.out
Due: none

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
