Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Introduce pow2 symbol for power of 2
  share/spark/theories/_gnatprove_standard.mlw
  src/why/gnat2why-expr.adb
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  testsuite/gnatprove/tests/785__nwa_pow2_non_bv/pow2_no_wrap_non_bv.adb
  testsuite/gnatprove/tests/785__nwa_pow2_non_bv/test.out
  testsuite/gnatprove/tests/785__signed_int_exp/test.out
  testsuite/gnatprove/tests/785__signed_int_exp/test.yaml
  testsuite/gnatprove/tests/O512-022__fibonacci/test.out
  testsuite/gnatprove/tests/S327-020__loop_inv/test.out
  testsuite/gnatprove/tests/S329-030__bound_exponentiation/test.out
  testsuite/gnatprove/tests/S428-005__exp/test.out
  testsuite/gnatprove/tests/SA07-047__power/test.out
  testsuite/gnatprove/tests/T609-022__big_integer_exp/test.out
  testsuite/gnatprove/tests/proofinuse__nonlinear/test.out
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit_ok/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit_ok/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/test.out
Due: check-gnatformat-gnat2why

Fix syntax errors in code examples
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/source/package_contracts.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/en/source/type_contracts.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Improve typing for replay param of prove_all
  testsuite/gnatprove/README.md
  testsuite/gnatprove/lib/python/replay.py
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1041__hashed_sets/test.yaml
  testsuite/gnatprove/tests/264__deep_delta_base/test.yaml
  testsuite/gnatprove/tests/67__unbounded_strings/test.yaml
  testsuite/gnatprove/tests/K406-013__formal_lists/test.yaml
  testsuite/gnatprove/tests/M809-005__float_basics/test.yaml
  testsuite/gnatprove/tests/O512-022__prefix_sum/test.yaml
  testsuite/gnatprove/tests/P720-007__replay/test.py
  testsuite/gnatprove/tests/PB18-021__tools_replay_with_custom_prover/test.yaml
  testsuite/gnatprove/tests/PC14-014__functional/test.yaml
  testsuite/gnatprove/tests/QA11-003__itp_sumrange/test.yaml
  testsuite/gnatprove/tests/R206-018__itp_mix/test.py
  testsuite/gnatprove/tests/S327-015__itp_desired_tasks/test.yaml
  testsuite/gnatprove/tests/S513-002__replay/test.py
  testsuite/gnatprove/tests/SB18-020__route_shift/test.yaml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/test.yaml
  testsuite/gnatprove/tests/T727-043__mergesort/test.yaml
  testsuite/gnatprove/tests/U730-017__IPV4_parsing/test.yaml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.yaml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.yaml
  testsuite/gnatprove/tests/V520-005__borrow_examples/test.yaml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.py
  testsuite/gnatprove/tests/allocators/test.yaml
  testsuite/gnatprove/tests/bitwalker/test.yaml
  testsuite/gnatprove/tests/float_error_bounds/test.yaml
  testsuite/gnatprove/tests/pointer_based_maps/test.yaml
  testsuite/gnatprove/tests/prime_numbers/test.yaml
  testsuite/gnatprove/tests/railway_signaling/test.yaml
  testsuite/gnatprove/tests/riposte__array_applications/test.yaml
  testsuite/gnatprove/tests/sparkskein/test.yaml
  testsuite/gnatprove/tests/tokeneer/test.py
  testsuite/gnatprove/update-all-session-tests
Due: none

Join lines with concatenated string literals
  src/flow/flow_error_messages.adb
Due: check-gnatformat-gnat2why

Compute proof dependencies at the end of phase 1
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.ads
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_utility-proof_dependencies.adb
  src/flow/flow_utility-proof_dependencies.ads
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
Due: check-gnatformat-gnat2why

Optimize computation of type contracts in flow analysis
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.ads
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_utility-proof_dependencies.adb
  src/flow/flow_utility-proof_dependencies.ads
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
Due: check-gnatformat-gnat2why

Add minimal reproducer for quantified expression in predicate
  testsuite/gnatprove/tests/1359__quantified_predicate/basic.adb
  testsuite/gnatprove/tests/1359__quantified_predicate/test.yaml
Due: none

Update baselines
  testsuite/gnatprove/tests/343__init_attr_on_discr/test.out
  testsuite/gnatprove/tests/904__relaxed_init/test.out
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
  testsuite/gnatprove/tests/U511-027__initialized_attributes/test.out
Due: none

Resolve review feedback
  share/spark/explain_codes/E0041.md
  share/spark/explain_codes/E0042.md
  share/spark/explain_codes/E0043.md
  share/spark/explain_codes/E0044.md
Due: none

Explain Codes for Relaxed_Initialization
  share/spark/explain_codes/E0041.md
  share/spark/explain_codes/E0042.md
  share/spark/explain_codes/E0043.md
  share/spark/explain_codes/E0044.md
  share/spark/explain_codes/E0045.md
  share/spark/explain_codes/E0046.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
Due: check-gnatformat-gnatprove

Add RM wording for At attribute
  docs/lrm/source/language-defined-aspects-and-attributes.rst
  docs/lrm/source/names-and-expressions.rst
Due: none

Extend message for wrong context for prophecies
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add support for attribute Loop_Index in proof
  src/spark/spark_definition.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/754__loop_index/test.adb
  testsuite/gnatprove/tests/754__loop_index/test.out
  testsuite/gnatprove/tests/754__loop_index/test.yaml
Due: check-gnatformat-gnat2why

Register id for loop index when transforming loops
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Add explain codes for violations for At attribute
  share/spark/explain_codes/E0047.md
  share/spark/explain_codes/E0048.md
  share/spark/explain_codes/E0049.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  testsuite/gnatprove/tests/830__at_label_marking/test.out
Due: check-gnatformat-gnatprove

Add SRM references for violations for At attribute
  src/common/vc_kinds.adb
  testsuite/gnatprove/tests/830__at_label_marking/test.out
Due: check-gnatformat-gnatprove

Revert commit for support of Loop_Index in proof
  src/spark/spark_definition.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  testsuite/gnatprove/tests/754__loop_index/test.adb
  testsuite/gnatprove/tests/754__loop_index/test.out
  testsuite/gnatprove/tests/754__loop_index/test.yaml
Due: check-gnatformat-gnat2why

File test based on user query
  testsuite/gnatprove/tests/785__libmlkem/pow2.adb
  testsuite/gnatprove/tests/785__libmlkem/pow2.ads
  testsuite/gnatprove/tests/785__libmlkem/test.out
  testsuite/gnatprove/tests/785__libmlkem/test.yaml
Due: none

UG fixes
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/appendix/env_vars.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
  docs/ug/en/appendix/semantics_of_floating_point_operations.rst
  docs/ug/en/source/assertion_pragmas.rst
  docs/ug/en/source/basic.rst
  docs/ug/en/source/concurrency.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/how_to_write_loop_invariants.rst
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/type_contracts.rst
  docs/ug/en/tutorial.rst
Due: none

various UG fixes
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/concurrency.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/silver_level.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/en/tutorial.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Use Compilation_Unit type over strings
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  src/gnatprove/manifest_generator.adb
  src/gnatprove/spark_artifacts.adb
  src/gnatprove/spark_artifacts.ads
  src/gnatprove/spark_report.adb
  src/gnatprove/spark_report.ads
Due: check-gnatformat-gnatprove

Refactor use of map as set
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
Due: check-gnatformat-gnatprove

Disable infer on gnat2why, limit infer jobs
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

UG typos and grammar
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/gnatprove_limitations.rst
  docs/ug/en/appendix/portability_issues.rst
  docs/ug/en/appendix/project_attributes.rst
  docs/ug/en/appendix/quality_assurance.rst
  docs/ug/en/install.rst
  docs/ug/en/introduction.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/assertion_pragmas.rst
  docs/ug/en/source/basic.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/how_to_write_loop_invariants.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/source/object_oriented_programming.rst
  docs/ug/en/source/package_contracts.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/en/source/type_contracts.rst
  docs/ug/en/spark_mode.rst
  docs/ug/en/tutorial.rst
  docs/ug/en/usage_scenarios.rst
Due: none

UG correct use of double backticks
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
  docs/ug/en/install.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/overflow_modes.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Issue number checks
  .gitlab-ci.yml
  .pre-commit-config.yaml
  scripts/check_issue_trailer.py
Due: none

Fix various UG issues
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/appendix/quality_assurance.rst
  docs/ug/en/install.rst
  docs/ug/en/source/concurrency.rst
  docs/ug/en/source/gnatprove_by_example.rst
  docs/ug/en/source/gold_level.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/stone_level.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/en/spark_2014.rst
  docs/ug/en/spark_mode.rst
  docs/ug/index.rst
Due: none

More UG fixes
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/appendix/quality_assurance.rst
  docs/ug/en/install.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/how_to_write_loop_invariants.rst
  docs/ug/en/tutorial.rst
  docs/ug/en/usage_scenarios.rst
  docs/ug/static/search_10s_timeout.png
Due: none

Prover staggering enabled by default
  docs/develguide/gnatwhy3.rst
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/1134__why3_stagger/foo.adb
  testsuite/gnatprove/tests/1134__why3_stagger/foo.ads
  testsuite/gnatprove/tests/1134__why3_stagger/test.out
  testsuite/gnatprove/tests/1134__why3_stagger/test.py
Due: check-gnatformat-gnatprove

Add missing check on inlined call with unchecked union
  testsuite/gnatprove/tests/1231__conv_uu_inlining/test.opt
  testsuite/gnatprove/tests/1231__conv_uu_inlining/test.out
  testsuite/gnatprove/tests/P113-023__alias_issue/test.out
Due: check-opt-syntax

Simplify printing of CEs now that we have an attribute
  src/counterexamples/ce_display.adb
  testsuite/gnatprove/tests/754__loop_index_ce/test.adb
  testsuite/gnatprove/tests/754__loop_index_ce/test.out
  testsuite/gnatprove/tests/754__loop_index_ce/test.yaml
  testsuite/gnatprove/tests/754__loop_index_ce/test_access.adb
  testsuite/gnatprove/tests/V112-002__counterexamples/main.adb
  testsuite/gnatprove/tests/V112-002__counterexamples/test.out
Due: check-gnatformat-gnat2why

Document new attribute Loop_Index in the SPARK RM
  docs/lrm/source/language-defined-aspects-and-attributes.rst
  docs/lrm/source/statements.rst
Due: none

Fix Coq realization test for pow2
  testsuite/gnatprove/tests/O702-009__coq_realizations/realize/Int_Power.v
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.out
Due: none

Improve Manifest file doc
  docs/ug/en/source/how_to_run_gnatprove.rst
Due: none

Testsuite updates for cvc5 driver change
  testsuite/gnatprove/tests/1059__precise_overlays/test.out
  testsuite/gnatprove/tests/1320__allocators/test.out
  testsuite/gnatprove/tests/138__unchecked_conversion/test.out
  testsuite/gnatprove/tests/N705-004__flow_crash/test.out
  testsuite/gnatprove/tests/P523-004__loopinv/test.out
  testsuite/gnatprove/tests/Q404-006__exponentiation/test.out
  testsuite/gnatprove/tests/Q525-025__controlling_result/test.out
  testsuite/gnatprove/tests/S415-012__pledge_for_traversal/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_test/test.out
Due: none

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
