Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

(no-tn-check) one-line command instead of two lines
  testsuite/gnatprove/update-expected-outputs
Due: none

(no-tn-check) fix upload of testsuite results
  .gitlab-ci.yml
Due: none

W322-033 Add test
  testsuite/gnatprove/tests/W322-033__access_to_subp/test.opt
  testsuite/gnatprove/tests/W322-033__access_to_subp/user.ads
Due: check-empty-testoutopt

W323-007 elements are copied when inserted inside containers
  include/spark-containers-formal-doubly_linked_lists.ads
  include/spark-containers-formal-hashed_maps.ads
  include/spark-containers-formal-hashed_sets.ads
  include/spark-containers-formal-ordered_maps.ads
  include/spark-containers-formal-ordered_sets.ads
  include/spark-containers-formal-unbounded_doubly_linked_lists.ads
  include/spark-containers-formal-unbounded_hashed_maps.ads
  include/spark-containers-formal-unbounded_hashed_sets.ads
  include/spark-containers-formal-unbounded_ordered_maps.ads
  include/spark-containers-formal-unbounded_ordered_sets.ads
  include/spark-containers-formal-unbounded_vectors.ads
  include/spark-containers-formal-vectors.ads
  include/spark-containers-functional-infinite_sequences.ads
  include/spark-containers-functional-infinite_sequences__light.ads
  include/spark-containers-functional-maps.ads
  include/spark-containers-functional-maps__light.ads
  include/spark-containers-functional-vectors.ads
  include/spark-containers-functional-vectors__light.ads
Due: none

W323-007 update large test outputs
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
Due: check-empty-testoutopt, check-testsuite-markers

UC02-037 support reraise statements
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.ads
  testsuite/gnatprove/tests/U827-015__structural_loop_variant/test.out
  testsuite/gnatprove/tests/UC02-037__reraise_bc/test.out
  testsuite/gnatprove/tests/UC02-037__reraise_bc/test_reraise.adb
  testsuite/gnatprove/tests/UC02-037__test_reraise/main.adb
  testsuite/gnatprove/tests/UC02-037__test_reraise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

V518-012 Update tests to remove TAG checks in testsuite
  testsuite/gnatprove/tests/Q926-040__recursion/recursion.ads
  testsuite/gnatprove/tests/Q926-040__recursion/test.out
  testsuite/gnatprove/tests/V714-005__auto_inst_recursive/test.out
  testsuite/gnatprove/tests/V714-005__auto_inst_recursive/test_bad.adb
Due: check-empty-testoutopt, check-testsuite-markers

V518-012 Update discovery tests
  testsuite/gnatprove/tests/L905-027__discovery_prover/test.out
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/test.out
Due: check-empty-testoutopt, check-testsuite-markers

VA14-045 Remove assumption on SPARK library and document new constraint
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/spark_libraries.rst
Due: none

Adapt and fix for CodePeer runs on gnat2why/gnatprove
  gnat2why/gnat2why.gpr
  gnatprove.gpr
  src/spark/spark_definition-annotate.adb
  src/why/spark_atree.adb
Due: none

W329-007 add assumption about not executing 'Initialized
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

W329-007 rephrase SPARK_INITIALIZED_ATTRIBUTE assumption
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

V518-012 Remove deprecated rules
  docs/lrm/source/declarations-and-types.rst
  docs/lrm/source/packages.rst
  docs/lrm/source/subprograms.rst
  src/flow/flow-analysis-sanity.adb
  testsuite/gnatprove/tests/T514-020__callback/test.out
  testsuite/gnatprove/tests/T630-007__expressions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

VA14-045 Update test since operator - is not in SPARK anymore
  testsuite/gnatprove/tests/P920-019__fxp_division/delay_cal1.adb
  testsuite/gnatprove/tests/P920-019__fxp_division/test.out
Due: check-empty-testoutopt, check-testsuite-markers

VA14-045 Update test after change in stdlib
  testsuite/gnatprove/tests/V503-001__c_strings_contracts/main.adb
  testsuite/gnatprove/tests/V503-001__c_strings_contracts/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-019 Update documentation for Assert_And_Cut
  docs/lrm/source/statements.rst
Due: none

W331-004 file test and fix check msg
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/T630-007__uc_and_overlays/test.out
  testsuite/gnatprove/tests/W331-004__overlay_mut/firstbyte.adb
  testsuite/gnatprove/tests/W331-004__overlay_mut/firstbyte_err.adb
  testsuite/gnatprove/tests/W331-004__overlay_mut/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W322-033 update warning about contract cases
  testsuite/gnatprove/tests/TU__contract_cases_illegal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

UC02-037 reject 'Access on procedures with exceptional contracts
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/illegal_uses_of_exc_cases.ads
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W327-005 adapt gnat2why JSON parsing to Why3 merge
  src/common/vc_kinds.adb
Due: none

UC02-037 add test with a call with a SELF parameter
  testsuite/gnatprove/tests/UC02-037__protected_types/exc_prot.adb
  testsuite/gnatprove/tests/UC02-037__protected_types/exc_prot.ads
  testsuite/gnatprove/tests/UC02-037__protected_types/test.out
  testsuite/gnatprove/tests/UC02-037__protected_types/use_exc_prot.adb
Due: check-empty-testoutopt, check-testsuite-markers

W403-005 use Copy in the post of Pointers libraries
  include/spark-pointers-abstract_sets.ads
  include/spark-pointers-pointers_with_aliasing.ads
  include/spark-pointers-pointers_with_aliasing_separate_memory.ads
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W327-005 add Coq library
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.py
Due: none

W404-001 Update assumption ADA_PRIVATE_TYPES
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

W403-008 introduce temporary for relaxed parameters in calls
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/W403-008__relaxed_init_call/test.out
  testsuite/gnatprove/tests/W403-008__relaxed_init_call/test_call.adb
Due: check-empty-testoutopt, check-testsuite-markers

UC02-037 fix handling of init flag on exceptional paths
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/UC02-037__relaxed_init/main.adb
  testsuite/gnatprove/tests/UC02-037__relaxed_init/test.out
Due: check-empty-testoutopt, check-testsuite-markers

UC02-037 add contracts to the Exception_Sets package
  src/spark/spark_util.ads
Due: none

UC02-037 file test with mutable discriminants
  testsuite/gnatprove/tests/UC02-037__mutable_discrs/main.adb
  testsuite/gnatprove/tests/UC02-037__mutable_discrs/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W301-011 Consider dispatching calls in callees for subp termination
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.adb
  src/flow/flow.ads
  src/flow/flow_generated_globals-partial.adb
  testsuite/gnatprove/tests/W301-011__flow_term_callee_dispatching_call/main.adb
  testsuite/gnatprove/tests/W301-011__flow_term_callee_dispatching_call/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W301-011 Add new test
  testsuite/gnatprove/tests/W301-011__flow_term_callee_dispatching_call/main.adb
  testsuite/gnatprove/tests/W301-011__flow_term_callee_dispatching_call/test.out
Due: check-empty-testoutopt, check-testsuite-markers

S830-020 enable tampering checks in coverage builds of gnat2why
  gnat2why/coverage.adc
  gnat2why/gnat2why_gnat.gpr
Due: none

W404-001 Update doc
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

W404-015 clarify ADA_SUBPROGRAMS assumption
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
