Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

W207-008 Support assert/assume in declare expressions
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/V202-003__assert_in_declare/test.out
  testsuite/gnatprove/tests/W207-008__assert_assume_in_declare/assert_assume_in_declare.adb
  testsuite/gnatprove/tests/W207-008__assert_assume_in_declare/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-007 accept empty strings in nested aggregates
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/W316-007__string_multidim/empty_string.adb
  testsuite/gnatprove/tests/W316-007__string_multidim/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W315-018 pass the set of fields with missing values for aggregates
  src/why/gnat2why-expr.adb
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/W315-018__aggregates/test.out
  testsuite/gnatprove/tests/W315-018__aggregates/test_aggr.adb
Due: check-empty-testoutopt, check-testsuite-markers

W316-008 remove check failure when assuming False
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/W316-008__assuming_false/assuming_false.adb
  testsuite/gnatprove/tests/W316-008__assuming_false/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-013 accept N_Raise_xxx_Error nodes in declaration lists
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/W316-013__raise/raise_xxx_in_decl.adb
  testsuite/gnatprove/tests/W316-013__raise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

(no-tn-check) cleanup obsolete code in CE
  .gitlab-ci.yml
Due: none

W316-020 use axioms for conversions of access-to-incomplete types
  src/why/why-atree-modules.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-pointers.adb
  testsuite/gnatprove/tests/V106-025__discr_dependent_incompl_type/test.out
  testsuite/gnatprove/tests/W316-020_recursive_access/rec_ptr_discr.adb
  testsuite/gnatprove/tests/W316-020_recursive_access/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-006 better documentation on how to get FSF version
  README.md
  docs/ug/en/install.rst
Due: none

W316-006 document where to find GS
  README.md
  docs/ug/en/install.rst
Due: none

W316-009 Reject misplaced Assert_And_Cut
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/misplaced.adb
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/misplaced_around.adb
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W215-001 Mark range constraints of subtype indications
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/V209-030__cut_operation_context/test.out
  testsuite/gnatprove/tests/V216-004__slices/test.out
  testsuite/gnatprove/tests/W215-001__subtype_range_marking/d.adb
  testsuite/gnatprove/tests/W215-001__subtype_range_marking/randpack.ads
  testsuite/gnatprove/tests/W215-001__subtype_range_marking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

(no-tn-check) SKIP test on Widnows
  testsuite/gnatprove/tests/riposte__simple_arrays/test.opt
Due: check-empty-testoutopt

W203-031 Update Windows output
  testsuite/gnatprove/tests/MC19-006__uppercase/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W317-017 fix range check info for aggregates
  src/why/spark_atree.adb
  testsuite/gnatprove/tests/W317-017__aggregate/range_check_aggr.adb
  testsuite/gnatprove/tests/W317-017__aggregate/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use procedural variants of Next_Index where possible
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
Due: none

Explicitly traverse aggregates within attribute Update
  src/flow/flow_utility.adb
Due: none

[PATCH] Makefile: use `$(INSTALLDIR)` rather than `install/`
  Makefile
Due: none

(no-tn-check) install e3-for-testing with query-range in CI
  plans/ci.plan
Due: none

(no-tn-check) add colibri2 configuration
  share/spark/config/gnatprove.conf
Due: none

TB10-015 explicitly traverse choices in array attribute update
  src/flow/flow_utility.adb
Due: none

TB10-015 explicitly traverse choices in array attribute update #2
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/T423-038__delta/test_delta_checks.adb
Due: none

W206-009 refine detection of dispatching calls for termination
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/V623-015__flow_dispatching_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W206-009 add test with dispatching calls in protected subprogram
  testsuite/gnatprove/tests/W206-009__flow_dispatching_blocking/p.adb
  testsuite/gnatprove/tests/W206-009__flow_dispatching_blocking/p.ads
  testsuite/gnatprove/tests/W206-009__flow_dispatching_blocking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W206-009 store subprogram calls in flow graphs
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
  src/flow/flow-control_flow_graph.adb
  src/flow/flow-data_dependence_graph.adb
  src/flow/flow-slice.adb
  src/flow/flow.adb
  src/flow/flow_types.adb
  src/flow/flow_types.ads
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
  testsuite/gnatprove/tests/W206-009__flow_membership_calls/main.adb
  testsuite/gnatprove/tests/W206-009__flow_membership_calls/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W206-009 emit checks on dispatching calls in protected subprograms
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_classwide.ads
  testsuite/gnatprove/tests/W206-009__flow_dispatching_blocking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W203-031 remove section about tool limitations impacting soundness
  docs/ug/en/appendix/gnatprove_limitations.rst
Due: none

W203-031 remove SPARK_TOOL_LIMITATIONS assumption
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

UC02-037 refactor handling of block statements
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr-loops.ads
  src/why/gnat2why-subprograms.adb
Due: none

W322-009 remove references to Is_Potentially_Nonreturning
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
Due: none

Revert incorrect update of tagged_stacks
  testsuite/gnatprove/tests/tagged_stacks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W323-007 update the tag on function return
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/R215-018__flow_untangle_attribute_result/test.out
  testsuite/gnatprove/tests/W323-007__tagged_return/main.adb
  testsuite/gnatprove/tests/W323-007__tagged_return/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W323-007 also do a tag update on inline_for_proof annotations
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/W323-007__tagged_return/main.adb
  testsuite/gnatprove/tests/W323-007__tagged_return/test.out
Due: check-empty-testoutopt, check-testsuite-markers

V413-048 fix iteration over record extension components with pragmas
  src/why/gnat2why-tables.adb
  testsuite/gnatprove/tests/V413-048__case_pragma_list/p.ads
Due: none

UC02-037 support exception handlers in proof and borrow checker
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr-loops-exits.ads
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/spark_atree.ads
  testsuite/gnatprove/tests/P615-019__stone_level/test.out
  testsuite/gnatprove/tests/S729-003__pointer_abstract_state/test.out
  testsuite/gnatprove/tests/TU__exceptions/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_small/test.out
  testsuite/gnatprove/tests/UC02-037__frame_condition/test.out
  testsuite/gnatprove/tests/UC02-037__frame_condition/test_frame_condition.adb
  testsuite/gnatprove/tests/UC02-037__handlers_bc/test.out
  testsuite/gnatprove/tests/UC02-037__handlers_bc/test_move.adb
  testsuite/gnatprove/tests/UC02-037__handlers_leaks/test.out
  testsuite/gnatprove/tests/UC02-037__handlers_leaks/test_leaks.adb
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/test.out
  testsuite/gnatprove/tests/UC02-037__inv_placement/illegal_inv_placement.adb
  testsuite/gnatprove/tests/UC02-037__inv_placement/test.out
  testsuite/gnatprove/tests/UC02-037__test_handlers/test.out
  testsuite/gnatprove/tests/UC02-037__test_handlers/test_handlers.adb
  testsuite/gnatprove/tests/UC02-037__unreachable_code/test.out
  testsuite/gnatprove/tests/UC02-037__unreachable_code/test.yaml
  testsuite/gnatprove/tests/UC02-037__unreachable_code/test_unreachable.adb
Due: check-empty-testoutopt, check-testsuite-markers

W323-007 minor fix unrelated bug found on uxas after previous fixes
  src/why/gnat2why-expr.adb
Due: none

(no-tn-check) use shared GAIA update code
  testsuite/gnatprove/update-expected-outputs
Due: none

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
