Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Hardcode gnatformat version
  .gitlab-ci.yml
Due: none

Fix e3-testsuite version for testsuite_reports script
  .gitlab-ci.yml
Due: none

Use pretty printing in more places
  src/flow/flow_error_messages.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_util.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
Due: check-gnatformat-gnat2why

Avoid internal names in Source_Name
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_utils.adb
  src/flow/flow_error_messages.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/utils/errout_wrapper.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/1139__overlays/main.adb
  testsuite/gnatprove/tests/1139__overlays/test.out
Due: check-gnatformat-gnat2why

Fix formatting
  src/spark/spark_util-types.adb
Due: check-gnatformat-gnat2why

Remaining large test updates
  testsuite/gnatprove/tests/OA05-076__dynamic_inv_assert_and_cut/test.out
  testsuite/gnatprove/tests/P201-069__simulink/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.out
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
  testsuite/gnatprove/tests/tokeneer/test.out
Due: none

Fix incorrect fix suggestion for unknown alignment
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/583__spark_webinar_part1/test.out
  testsuite/gnatprove/tests/895__suitable_for_uc/test.out
  testsuite/gnatprove/tests/909__uc_hole/test.out
  testsuite/gnatprove/tests/SA25-001__safe_uc/test.out
  testsuite/gnatprove/tests/UB12-055__uc_pack/test.out
Due: check-gnatformat-gnat2why

more testsuite updates
  testsuite/gnatprove/tests/1074__align/test.out
  testsuite/gnatprove/tests/1081__size_source_overlay/test.out
  testsuite/gnatprove/tests/1083__overlaid_components/test.out
  testsuite/gnatprove/tests/1092__pointer_overlay/test.out
  testsuite/gnatprove/tests/1133__tagged_overlays/test.out
  testsuite/gnatprove/tests/1133__unconstrained_overlay/test.out
  testsuite/gnatprove/tests/1139__overlays/test.out
  testsuite/gnatprove/tests/1144__mutable_discr_overlays/test.out
  testsuite/gnatprove/tests/1145__uc_align/test.out
  testsuite/gnatprove/tests/12__alignment_check/test.out
  testsuite/gnatprove/tests/267__imprecise_address/test.out
  testsuite/gnatprove/tests/60__imported_variable/test.out
  testsuite/gnatprove/tests/895__validity/test.out
  testsuite/gnatprove/tests/968__overlay_reccomp/test.out
  testsuite/gnatprove/tests/M318-007__flow_representation_clauses/test.out
  testsuite/gnatprove/tests/N108-024__volatile/test.out
  testsuite/gnatprove/tests/N310-021__flow_constant_in_computed_global/test.out
  testsuite/gnatprove/tests/N514-043__flow_uninitialized_volatiles/test.out
  testsuite/gnatprove/tests/N821-009__suppressed_warning_stops_analysis/test.out
  testsuite/gnatprove/tests/O429-046__flow_tasking_contracts/test.out
  testsuite/gnatprove/tests/P728-024__flow_annotate/test.out
  testsuite/gnatprove/tests/P915-007__flow_better_po_volatility/test.out
  testsuite/gnatprove/tests/PA24-008__flow_address_clause/test.out
  testsuite/gnatprove/tests/Q714-010__address/test.out
  testsuite/gnatprove/tests/QA11-012__addr/test.out
  testsuite/gnatprove/tests/T630-007__uc_and_overlays/test.out
  testsuite/gnatprove/tests/TB19-012__flow_overlay/test.out
  testsuite/gnatprove/tests/TU__volatiles_legal/test.out
  testsuite/gnatprove/tests/V412-051__addr_const/test.out
  testsuite/gnatprove/tests/V428-020__address_clauses_warnings/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
  testsuite/gnatprove/tests/ug__volatile_example_a/test.out
Due: none

Extract sparkformat version from anod spec
  .gitlab-ci.yml
Due: none

use coverage qualifier on sparklib testing to avoid forcing another build
  plans/ci.plan
Due: none

Fix explanation for size of unconstrained arrays
  src/spark/spark_util-types.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1133__size/test.out
  testsuite/gnatprove/tests/1133__unconstrained_overlay/test.out
  testsuite/gnatprove/tests/306__flow_size/test.out
  testsuite/gnatprove/tests/Q929-022__flow_illegal_varinput/test.out
Due: check-gnatformat-gnat2why

Suppress xrefs when generating data representation info
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Keep local array objects on the heap in graph algorithms
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Change DFS for dominator tree from recursive to iterative
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Replace explicit deallocation in graph routines with a storage pool
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Fix untangling with overlays and constants with no variable inputs
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/id.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/id_alias.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/p.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/test.out
  testsuite/gnatprove/tests/578__flow_overlay_record/test.out
  testsuite/gnatprove/tests/T409-016__flow_delta_on_records/test.out
Due: check-gnatformat-gnat2why

Testsuite updates for why3 merge
  testsuite/gnatprove/tests/441__fsf/test.out
  testsuite/gnatprove/tests/R103-025__version/test.out
Due: none

Accept assertion level in the grammar of Abstract_State
  docs/lrm/source/packages.rst
Due: none

Introduce dereference on array attribute with simple prefix
  src/why/gnat2why-expr.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
  testsuite/gnatprove/tests/1151__array_attr/bug_iterator.adb
  testsuite/gnatprove/tests/1151__array_attr/test.out
  testsuite/gnatprove/tests/1151__array_attr/test.yaml
Due: check-gnatformat-gnat2why

Remove xfail and update baseline with the prover's result
  testsuite/gnatprove/tests/868__mut_discr_param_int/test.opt
  testsuite/gnatprove/tests/868__mut_discr_param_int/test.out
Due: check-opt-syntax

Identify test origin in test data
  testsuite/gnatprove/run-tests
Due: none

Extend Python settings in the code workspace files
  .vscode/gnat2why.code-workspace
  .vscode/gnatprove.code-workspace
  .vscode/tests.code-workspace
Due: none

Update test outputs
  testsuite/gnatprove/tests/465__container_aggr_deep/test.out
  testsuite/gnatprove/tests/R419-026__swap_ranges/test.out
Due: none

Support for Unsigned_Base_Range aspect in GNATprove
  share/spark/theories/_gnatprove_standard.mlw
  src/counterexamples/ce_rac.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/spark/spark_rewrite.adb
  src/spark/spark_util-types.ads
  src/why/gnat2why-driver.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-types.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-arrays.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-scalars.adb
  src/why/why-gen-scalars.ads
  src/why/why-inter.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_eliminated_mode/main.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_eliminated_mode/test.gpr
  testsuite/gnatprove/tests/1003__unsigned_base_range_eliminated_mode/test.out
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/main.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.gpr
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.out
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.yaml
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/normal.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/test.gpr
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/test.out
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/test.yaml
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/to_base.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/with_derived.adb
  testsuite/gnatprove/tests/1003__unsigned_base_range_overflows/with_subtype.adb
Due: check-gnatformat-gnat2why

Remove obsolete __init.py__ from testsuite/lib
  testsuite/gnatprove/lib/__init__.py
Due: none

Remove obsolete check for test.cmd
  testsuite/gnatprove/run-tests
Due: none

Run basic tests in the same Python process by default
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.py
Due: none

Merge branch 'topic/1151-dross-array-attr' into 'master'
  src/why/gnat2why-expr.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
  testsuite/gnatprove/tests/1151__array_attr/bug_iterator.adb
  testsuite/gnatprove/tests/1151__array_attr/test.out
  testsuite/gnatprove/tests/1151__array_attr/test.yaml
Due: check-gnatformat-gnat2why

xfail spark_book test
  testsuite/gnatprove/tests/spark_book/test.opt
Due: check-opt-syntax

further testsuite updates
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.out
  testsuite/gnatprove/tests/P427-032__inline_for_proof/test.out
  testsuite/gnatprove/tests/T504-011__declare_example/test.out
Due: none

Remove failed markers from tests for pre-commit checks
  testsuite/gnatprove/tests/942__ce_array_comparison/test.opt
  testsuite/gnatprove/tests/942__ce_array_comparison/test.out
  testsuite/gnatprove/tests/PB28-028__float_bounds/test.out
  testsuite/gnatprove/tests/PB28-028__float_bounds/test.yaml
  testsuite/gnatprove/tests/T727-043__mergesort/test.out
  testsuite/gnatprove/tests/T727-043__mergesort/test.yaml
Due: check-opt-syntax

Further baseline updates
  testsuite/gnatprove/tests/799__finally_proof/test.out
  testsuite/gnatprove/tests/SB22-003__no_wrap_around/test.out
  testsuite/gnatprove/tests/T609-022__big_integer_exp/test.out
  testsuite/gnatprove/tests/T609-022__no_wrap_around/test.out
  testsuite/gnatprove/tests/T727-043__mergesort/test.out
  testsuite/gnatprove/tests/openETCS/test.out
Due: none

Monitor disk usage on most CI jobs
  .gitlab-ci.yml
Due: none

Reject destructors as unsupported
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1167__destructors/test.adb
  testsuite/gnatprove/tests/1167__destructors/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why
