Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Remove dead subprogram
  src/why/why-gen-binders.adb
  src/why/why-gen-binders.ads
Due: check-gnatformat-gnat2why

Minor provability diffs in outputs of large tests
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.out
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
Due: none

Allow At_End_Borrow (X'Loop_Entry) on local borrowers
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1276__loop_entry_at_end_borrow/test.adb
  testsuite/gnatprove/tests/1276__loop_entry_at_end_borrow/test.out
  testsuite/gnatprove/tests/1276__loop_entry_at_end_borrow/test.yaml
Due: check-gnatformat-gnat2why

Document use of 'Old and 'Loop_Entry for prophecies in the UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

file test
  testsuite/gnatprove/tests/1223__sarif_base_uri/src/sarif_test.adb
  testsuite/gnatprove/tests/1223__sarif_base_uri/test.gpr
  testsuite/gnatprove/tests/1223__sarif_base_uri/test.out
  testsuite/gnatprove/tests/1223__sarif_base_uri/test.py
Due: none

SARIF full paths
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  share/spark/help.txt
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: check-gnatformat-gnatprove

Generate JUnit XML report file
  testsuite/gnatprove/update-session-test
Due: none

Collapse gitlab job sections by default for session updates
  testsuite/gnatprove/update-session-test
Due: none

Simplify Warning_Is_Suppressed
  src/flow/flow_error_messages.adb
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
Due: check-gnatformat-gnat2why

Mark expression of pragmas Precondition and Postcondition
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1274__pre_post/main.adb
  testsuite/gnatprove/tests/1274__pre_post/test.out
Due: check-gnatformat-gnat2why

Add section on induction for best practices
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Recognize and handle prophecies in Old attribute
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.adb
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.out
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.yaml
Due: check-gnatformat-gnat2why

rule for GNAT front-end, called GNAT
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/utils/errout_wrapper.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

short description for Misc_Warning_Kind
  src/gnatprove/spark_report-generate_sarif_report.adb
Due: check-gnatformat-gnatprove

Add schema for SARIF
  src/gnatprove/spark_report-generate_sarif_report.adb
Due: check-gnatformat-gnatprove

test baselines
  testsuite/gnatprove/tests/1215__limitsubp/test.out
  testsuite/gnatprove/tests/288__limit_name/test.out
  testsuite/gnatprove/tests/402__aggr_proj/test.opt
  testsuite/gnatprove/tests/MA22-019__spark_mode/test.out
  testsuite/gnatprove/tests/MB13-068__no_analysis/test.out
  testsuite/gnatprove/tests/N326-019__rebuild/test.out
  testsuite/gnatprove/tests/O429-045__tasking_restrictions/test.out
  testsuite/gnatprove/tests/P907-015__elab/test.out
  testsuite/gnatprove/tests/PA20-065__gnatprove_output/test.out
  testsuite/gnatprove/tests/RC11-011__standalone_library/test.py
  testsuite/gnatprove/tests/T725-004__aggregate_file/test.out
  testsuite/gnatprove/tests/V504-041__default/test.out
  testsuite/gnatprove/tests/V504-041__no_project/test.out
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
Due: check-opt-syntax

Data representation phase using libgpr2
  gnatprove.gpr
  src/common/vc_kinds.ads
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-compile-ada-data_rep.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/spark_data_rep_wrapper.adb
  src/why/gnat2why-data_decomposition.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Use CPU time instead of wall-clock time for timing info
  gnat2why/gnat2why_c.gpr
  src/utils/debug-timing.adb
  src/utils/debug-timing.ads
  src/utils/process_cpu_time.c
Due: check-gnatformat-gnat2why

Remove testgen.py and test2prove.py
  scripts/test2prove.py
  scripts/testgen.py
Due: none

Claude instructions for simple spaces after period
  CLAUDE.md
Due: none

Test updates
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__Ole/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__Ole__2/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__append/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__filter/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__insert/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__insertsort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__aggr_include/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__default_count/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__eq_elements_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__iterable_multiset/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__multiset/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__remove/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__is_sorted/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__length/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__merge/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__mergesort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__occurrences/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__quicksort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__split/why3session.xml
  testsuite/gnatprove/tests/O512-022__discovery_nosegear/test.out
  testsuite/gnatprove/tests/S715-026__dic_loop/test.out
  testsuite/gnatprove/tests/V209-030__cut_operations/test.out
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization/test.out
  testsuite/gnatprove/tests/proofinuse__lat_long/test.out
Due: none

Update baseline for installed files
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.out
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.win.out
Due: none

Add help text for --flow-show-gg
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: none

Fix data rep wrapper crash on windows
  src/gnatprove/spark_data_rep_wrapper.adb
Due: check-gnatformat-gnatprove

Add best practices for OOP
  docs/ug/en/usage_scenarios.rst
Due: none

Add tests for --debug-exec-rac
  testsuite/gnatprove/tests/1261__debug_exec_rac_no_param/p.adb
  testsuite/gnatprove/tests/1261__debug_exec_rac_no_param/test.out
  testsuite/gnatprove/tests/1261__debug_exec_rac_no_param/test.py
  testsuite/gnatprove/tests/1261__debug_exec_rac_w_param/p.adb
  testsuite/gnatprove/tests/1261__debug_exec_rac_w_param/test.out
  testsuite/gnatprove/tests/1261__debug_exec_rac_w_param/test.py
Due: none

Fix --gnatest-values handling in the small-step RAC
  src/counterexamples/ce_rac.adb
  testsuite/gnatprove/tests/1261__debug_exec_rac_w_param/test.out
Due: check-gnatformat-gnat2why

Revise the error policy and handling for --gnattest-values
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_rac.ads
  src/counterexamples/ce_utils.adb
  src/why/gnat2why-driver.adb
  src/why/gnat2why-error_messages.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1004__CE_from_gnattest_JSON_no_JSON/test.out
  testsuite/gnatprove/tests/1004__CE_from_gnattest_JSON_no_JSON/test.py
  testsuite/gnatprove/tests/1004__CE_from_gnattest_JSON_trash/test.out
  testsuite/gnatprove/tests/1004__CE_from_gnattest_JSON_trash/test.py
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/JSONs/Foo.json
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/simple.gpr
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/src/simple.adb
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/src/simple.ads
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/test.out
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_missing_param/test.py
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/JSONs/Foo.json
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/simple.gpr
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/src/simple.adb
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/src/simple.ads
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/test.out
  testsuite/gnatprove/tests/1261__CE_from_gnattest_JSON_wrong_param/test.py
Due: check-gnatformat-gnat2why

Do not exclude units that are not part of gnat2why anyway
  gnat2why/gnat2why.gpr
Due: none

Documentation for reasons for failure
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
Due: none

Turn borrow checker pragmas into aspects for gnatcov
  src/why/gnat2why-borrow_checker.adb
Due: check-gnatformat-gnat2why

Don't force build of why3
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Update the description of loop examples in the UG to match the changes
  docs/ug/en/source/loop.rst
Due: none

Better error message in case of non-existing test
  testsuite/gnatprove/update-session-test
Due: none

Pass all wrapper args via env vars
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-compile-ada-data_rep.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/spark_data_rep_wrapper.adb
  testsuite/gnatprove/tests/288__limit_name/test.out
Due: check-gnatformat-gnatprove

Apply 1 suggestion(s) to 1 file(s)
  src/gnatprove/spark_data_rep_wrapper.adb
Due: check-gnatformat-gnatprove

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
