Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Separate doc on pragmas/aspects from annotations
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/spark_libraries.rst
Due: none

Minor, file test for equal of update in the term domain
  testsuite/gnatprove/tests/297__eq_of_update/main.adb
  testsuite/gnatprove/tests/297__eq_of_update/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Improve wranings on deprecated terminating annotations
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/305__deprecated_termination/main.adb
  testsuite/gnatprove/tests/305__deprecated_termination/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/ipstack/src/core/aip-nif.ads
  testsuite/gnatprove/tests/ipstack/src/core/aip-pcbs.ads
  testsuite/gnatprove/tests/ipstack/src/core/aip-support.ads
  testsuite/gnatprove/tests/ipstack/src/core/aip-tcp.ads
  testsuite/gnatprove/tests/ipstack/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix handling of size attributes
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/307__size_attributes/p.adb
  testsuite/gnatprove/tests/307__size_attributes/test.out
  testsuite/gnatprove/tests/MA01-040__flow_attributes_pedantic_warning/test.out
  testsuite/gnatprove/tests/R827-001__unknown_size/test.out
  testsuite/gnatprove/tests/S521-011__Unchecked_Conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor, add test for incorrect uses of Higher_Order_Specialization
  testsuite/gnatprove/tests/W105-004__HO_specialization_illegal/illegal.adb
  testsuite/gnatprove/tests/W105-004__HO_specialization_illegal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Skip data representation generation in check/flow modes
  src/gnatprove/gnatprove.adb
Due: none

Compress checks for uninitialized records
  src/flow/flow-analysis.adb
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
  testsuite/gnatprove/tests/130__flow_exception/test.out
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/ext_part_classwide.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/ext_part_extensions_visible.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/normal_components.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/p.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/p.ads
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/private_part.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/relax_init.adb
  testsuite/gnatprove/tests/78__uninitialized_records_messages_compression/test.out
  testsuite/gnatprove/tests/K719-020__flight/test.out
  testsuite/gnatprove/tests/M318-021__flow_volatiles/test.out
  testsuite/gnatprove/tests/N915-008__flow_acats_oo/test.out
  testsuite/gnatprove/tests/O915-017__inlined/test.out
  testsuite/gnatprove/tests/OB02-023__limited_type_equality/test.out
  testsuite/gnatprove/tests/P325-014__dispatch/test.out
  testsuite/gnatprove/tests/P630-037__keccak/test.out
  testsuite/gnatprove/tests/P824-011__flow_toplevel_private_crash/test.out
  testsuite/gnatprove/tests/PC16-030__predicate_checks/test.out
  testsuite/gnatprove/tests/Q328-033__controlling_result/test.out
  testsuite/gnatprove/tests/Q531-031__flow_out_param_init/test.out
  testsuite/gnatprove/tests/R827-001__unknown_size/test.out
  testsuite/gnatprove/tests/TA21-030__listing_suppressed_checks/test.out
  testsuite/gnatprove/tests/U302-016__size_packed/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_small/test.out
  testsuite/gnatprove/tests/UC02-037__mutable_discrs/test.out
  testsuite/gnatprove/tests/V809-008__relaxed_predicates/test.out
  testsuite/gnatprove/tests/riposte__records/test.out
  testsuite/gnatprove/tests/thumper/test.out
  testsuite/gnatprove/tests/ug__data_initialization/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test
  testsuite/gnatprove/tests/308__counterexample/bad_pack.adb
  testsuite/gnatprove/tests/308__counterexample/bad_pack.ads
  testsuite/gnatprove/tests/308__counterexample/blip.adb
  testsuite/gnatprove/tests/308__counterexample/blip.ads
  testsuite/gnatprove/tests/308__counterexample/good_pack.adb
  testsuite/gnatprove/tests/308__counterexample/good_pack.ads
  testsuite/gnatprove/tests/308__counterexample/main.adb
  testsuite/gnatprove/tests/308__counterexample/test.out
  testsuite/gnatprove/tests/308__counterexample/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Update tests
  testsuite/gnatprove/tests/308__counterexample/test.out
  testsuite/gnatprove/tests/V112-002__counterexamples/test.out
  testsuite/gnatprove/tests/VA06-022__modular_array_comparison/test.out
  testsuite/gnatprove/tests/ug__long__invariants/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add user message to output on unproved assertions
  src/flow/flow_error_messages.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/why-gen-progs.adb
  src/why/why-gen-progs.ads
  testsuite/gnatprove/tests/5__assert_messages/p.adb
  testsuite/gnatprove/tests/5__assert_messages/test.out
  testsuite/gnatprove/tests/5__assert_messages_pretty/p.adb
  testsuite/gnatprove/tests/5__assert_messages_pretty/test.out
  testsuite/gnatprove/tests/5__assert_messages_pretty/test.yaml
  testsuite/gnatprove/tests/O831-003__do333_mode_logic_qgen/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/QB09-010__check_all/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Restore wording on termination conditional to memory availability
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Document effect of --check-counterexamples in SPARK UG
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/manual_proof.rst
Due: none

Tests: include unchecked cex
  testsuite/gnatprove/tests/Q930-002__itp/test.out
  testsuite/gnatprove/tests/U129-014__sqrt_error_bounds/test.out
  testsuite/gnatprove/tests/U730-017__integer32_parsing/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Issue a better error when using older buggy GNAT with SPARK
  src/why/gnat2why-data_decomposition.adb
Due: none

Update test output
  testsuite/gnatprove/tests/P201-069__simulink/test.out
Due: check-empty-testoutopt, check-testsuite-markers

XFAIL test
  testsuite/gnatprove/tests/T113-004__memory_leak/test.opt
Due: check-empty-testoutopt

Update test output and SKIP test on testsuite w assertions
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.opt
Due: check-empty-testoutopt

Cover more code for marking of pragmas Annotate GNATprove
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/ho_specialization.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/inline_and_logical_equal.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/iterable_for_proof_marking.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/ownership_marking.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/pragma_placement.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/pragma_placement.ads
  testsuite/gnatprove/tests/312__cover_annotate_marking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix title of appendix
  docs/ug/index.rst
Due: none

Recognize loop invariants in declaration segment in proof
  src/why/gnat2why-expr-loops.adb
  testsuite/gnatprove/tests/315__loop_invariant_in_declare/main.adb
  testsuite/gnatprove/tests/315__loop_invariant_in_declare/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Check loop invariant placement in declarations in marking as well
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/315__loop_invariant_in_declare_marking/main.adb
  testsuite/gnatprove/tests/315__loop_invariant_in_declare_marking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix typo in error message
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix various typos in documentation
  docs/develguide/translation_why3.rst
  docs/lrm/source/declarations-and-types.rst
  docs/lrm/source/introduction.rst
  docs/lrm/source/mapping-spec.rst
  docs/lrm/source/packages.rst
  docs/lrm/source/representation-issues.rst
  docs/lrm/source/statements.rst
  docs/lrm/source/subprograms.rst
  docs/lrm/source/tasks-and-synchronization.rst
  docs/ug/en/install.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/how_to_write_object_oriented_contracts.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Remove useless change of flow id variant
  src/flow/flow-analysis-sanity.adb
Due: none

Remove redundant message on read global output
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
  testsuite/gnatprove/tests/M314-012__flow_abstract_state/test.out
  testsuite/gnatprove/tests/M314-016__flow_bug_nonunique_tags/test.out
  testsuite/gnatprove/tests/M318-028__flow_initializes/test.out
  testsuite/gnatprove/tests/M325-008__flow_contract_pragmas/test.out
  testsuite/gnatprove/tests/M412-008__flow_functions_with_depends/test.out
  testsuite/gnatprove/tests/M801-016__flow_contract_cases/test.out
  testsuite/gnatprove/tests/M906-011__flow_detect_conditional_initialization/test.out
  testsuite/gnatprove/tests/M930-005__flow_update/test.out
  testsuite/gnatprove/tests/MA11-028__flow_compute_refined_global_depends/test.out
  testsuite/gnatprove/tests/O219-034__flow_global_checks/test.out
  testsuite/gnatprove/tests/O429-046__flow_tasking_contracts/test.out
  testsuite/gnatprove/tests/P907-030__flow_error_message/test.out
  testsuite/gnatprove/tests/ug__data_initialization/test.out
  testsuite/gnatprove/tests/ug__gen_ada_global/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Emit checks on both incorrect and incomplete data dependencies
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis-sanity.ads
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/T915-035__flow_variant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix package name
  .gitlab-ci.yml
Due: none

Remove unnecessary conversion to normal variant
  src/flow/flow-analysis-sanity.adb
Due: none

Add test with inconsistent checks for semantically identical code
  testsuite/gnatprove/tests/77__flow_package/main.adb
  testsuite/gnatprove/tests/77__flow_package/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Check on variable read and written during package elaboration
  src/flow/flow-analysis-sanity.adb
  testsuite/gnatprove/tests/77__flow_package/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Restore previous whitespace
  src/flow/flow-analysis-sanity.adb
Due: none

Add minimal reproducer with 2-level indirect dispatching call
  testsuite/gnatprove/tests/319__flow_blocking_dispatching/s.adb
  testsuite/gnatprove/tests/319__flow_blocking_dispatching/s.ads
  testsuite/gnatprove/tests/319__flow_blocking_dispatching/test.opt
Due: check-empty-testoutopt

Fix crash on 2-level indirect dispatching calls in protected subps
  src/flow/flow_generated_globals-phase_2.adb
  testsuite/gnatprove/tests/319__flow_blocking_dispatching/test.opt
  testsuite/gnatprove/tests/319__flow_blocking_dispatching/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix acats reporting
  .gitlab-ci.yml
Due: none

tmp
  .gitlab-ci.yml
Due: none

{gnatprove,gnat2why}.gpr: replace codepeer --level with --legacy-level
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

Update tests outputs
  testsuite/gnatprove/tests/N603-053__annotate/suppr.adb
  testsuite/gnatprove/tests/N603-053__annotate/suppr.ads
  testsuite/gnatprove/tests/N603-053__annotate/test.out
  testsuite/gnatprove/tests/O708-018__root_conversion/fxp_true_check_4.adb
  testsuite/gnatprove/tests/O708-018__root_conversion/integer_false_check.adb
  testsuite/gnatprove/tests/O708-018__root_conversion/test.out
  testsuite/gnatprove/tests/O722-010__pred_var_inp/test.out
  testsuite/gnatprove/tests/O722-010__pred_var_inp/var.ads
  testsuite/gnatprove/tests/P222-029__assert_inline_sloc/main2.adb
  testsuite/gnatprove/tests/P222-029__assert_inline_sloc/test.out
  testsuite/gnatprove/tests/P728-013__volatile/atom3.ads
  testsuite/gnatprove/tests/P915-007__flow_better_po_volatility/test.out
  testsuite/gnatprove/tests/P915-007__flow_better_po_volatility/test_04.adb
  testsuite/gnatprove/tests/P918-003__tasking_delay_until_expr/main2.adb
  testsuite/gnatprove/tests/P918-003__tasking_delay_until_expr/test.out
  testsuite/gnatprove/tests/Q530-015__flow_box_notation/priv_not_in_spark.ads
  testsuite/gnatprove/tests/Q530-015__flow_box_notation/test.out
  testsuite/gnatprove/tests/QA02-024__dimensioned/test.out
  testsuite/gnatprove/tests/QA02-024__dimensioned/use_float_dims.adb
  testsuite/gnatprove/tests/QA02-024__dimensioned/use_long_dims.adb
  testsuite/gnatprove/tests/R417-042__flow_type_aspects/p.adb
  testsuite/gnatprove/tests/R417-042__flow_type_aspects/test.out
  testsuite/gnatprove/tests/S406-003__flow-show-gg/foo.ads
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.out
  testsuite/gnatprove/tests/T505-002__predicate/repro-c.ads
  testsuite/gnatprove/tests/T505-002__predicate/test.out
  testsuite/gnatprove/tests/T922-001__copy_sign/conv2.adb
  testsuite/gnatprove/tests/T922-001__copy_sign/test.out
  testsuite/gnatprove/tests/ironsides/socket_timeout_linux.adb
  testsuite/gnatprove/tests/ironsides/socket_timeout_linux.ads
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/spark_book/Chapter-02/average_with_use.adb
  testsuite/gnatprove/tests/spark_book/test.out
Due: check-empty-testoutopt, check-testsuite-markers
