Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Update legality rules for Iterable
  docs/lrm/source/statements.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Support reverse on container iteration with Iterable
  src/spark/spark_util.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1207__reverse_iteration/test.adb
  testsuite/gnatprove/tests/1207__reverse_iteration/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_checks/quant_checks.adb
  testsuite/gnatprove/tests/W117-015__user_quant_checks/test.out
Due: check-gnatformat-gnat2why

Adapt test to make it accepted after recent changes to freezing
  testsuite/gnatprove/tests/O309-037__LSP_dynamic_type/lsp_checks.adb
  testsuite/gnatprove/tests/O309-037__LSP_dynamic_type/test.opt
  testsuite/gnatprove/tests/O309-037__LSP_dynamic_type/test.out
Due: check-opt-syntax

Adapt test to make it accepted after recent changes to freezing
  testsuite/gnatprove/tests/U908-033__hidden_pointers/example_tagged_obj.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers/p1.ads
  testsuite/gnatprove/tests/U908-033__hidden_pointers/p2.ads
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/0387a223a94eec4693b1-odel__address_to_object_maps__map/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/286049ccedcb1fe600d0-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/3fc56bd0a0020054acd9-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/5767f6bbb11c84d51a63-odel__address_to_object_maps__map/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/6a9e337429a9bb7f8285-odel__address_to_object_maps__map/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/b19411c3d211b68a9e5c-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/bb2019b5ea428c3208e6-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/e30636b44e8154720052-odel__address_to_object_maps__map/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__append/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__create_list/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__disjoint/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_append_reach/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_append_valid/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_list_unique_length/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_reach_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_reach_transitive/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_valid_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable_locations/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable_locations__2/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__test/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__p1__Oeq/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__p2__Oeq/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__p2__witness/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__swap/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__swap_val/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__update_in_place/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__swap/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__swap_val/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__update_in_place/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/f2800f07ff9ae83ef215-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.opt
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.out
Due: check-opt-syntax

Revert "Merge branch 'topic/kanig-1062-core' into 'master'"
  .gitlab-ci.yml
Due: none

Refactor handling of root cause for limitations
  src/common/vc_kinds.ads
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/TA01-026__attribute_width/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Avoid calling GNAT.OS_Lib.Kill_Process_Tree
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Add more LRM references for violations
  src/spark/spark_definition-violations.adb
  testsuite/gnatprove/tests/1088__protected_overlays/test.out
  testsuite/gnatprove/tests/531__storage_model/test.out
  testsuite/gnatprove/tests/O210-001__attribute_deref/test.out
  testsuite/gnatprove/tests/O708-001__address/test.out
  testsuite/gnatprove/tests/P229-020__attribute_address/test.out
  testsuite/gnatprove/tests/P820-002__protected_out/test.out
  testsuite/gnatprove/tests/S703-033__subprogram_address/test.out
  testsuite/gnatprove/tests/TB19-012__address_clauses/test.out
  testsuite/gnatprove/tests/U316-010__loop/test.out
  testsuite/gnatprove/tests/U316-010__protected/test.out
  testsuite/gnatprove/tests/U319-015__overlay_init/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
Due: check-gnatformat-gnat2why

Use kinds for incorrect uses of annotations
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/247__container_aggr_illegal/test.out
  testsuite/gnatprove/tests/289__illegal_handlers/test.out
  testsuite/gnatprove/tests/312__cover_annotate_marking/test.out
  testsuite/gnatprove/tests/380__illegal_hide_unhide/test.out
  testsuite/gnatprove/tests/465__container_aggr_acc/test.out
  testsuite/gnatprove/tests/471__no_bitwise_operations_illegal/test.out
  testsuite/gnatprove/tests/487__illegal_mutable_in_params/test.out
  testsuite/gnatprove/tests/521__illegal_hide_pointers/test.out
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/522__illegal_unhide_package_body/test.out
  testsuite/gnatprove/tests/569__predefined_eq_illegal/test.out
  testsuite/gnatprove/tests/943__misplaced_aspect_annotate/test.out
  testsuite/gnatprove/tests/946__private_wrap_around/test.out
  testsuite/gnatprove/tests/N603-053__annotate/test.out
  testsuite/gnatprove/tests/S415-012__bad_pledges/test.out
  testsuite/gnatprove/tests/T630-007__annotate/test.out
  testsuite/gnatprove/tests/V209-031__bad_logical_equality/test.out
  testsuite/gnatprove/tests/V516-041__ownership_annotations_illegal/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization_illegal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
  testsuite/gnatprove/tests/W223-005__pragma_annotate_tasks/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Reclaim why3server resources after killing it
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Missing large test updates
  testsuite/gnatprove/tests/U426-011__general_access/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
Due: none

Apply 1 suggestion(s) to 1 file(s)
  scripts/check_test_times.py
Due: none

Improve job status based on large test violation
  .gitlab-ci.yml
  scripts/check_test_times.py
Due: none

Add test with missing counterexample on string concatenation
  testsuite/gnatprove/tests/1119__concat_ce/con2.adb
  testsuite/gnatprove/tests/1119__concat_ce/test.out
Due: none

Use existing renaming in RAC code for concatenation
  src/counterexamples/ce_rac.adb
Due: check-gnatformat-gnat2why

Add range check to concatenation operator in RAC
  src/counterexamples/ce_rac.adb
  testsuite/gnatprove/tests/1119__concat_ce/con2.adb
  testsuite/gnatprove/tests/1119__concat_ce/test.out
  testsuite/gnatprove/tests/O709-030__concat_string/test.out
Due: check-gnatformat-gnat2why

Let provers fail because of step limit
  testsuite/gnatprove/tests/N731-010__aggregate/test.out
  testsuite/gnatprove/tests/N731-010__aggregate/test.yaml
Due: none

Allow At_End_Borrow with no body or a body Off
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/1214__at_end_borrow/test.adb
Due: check-gnatformat-gnat2why

Removal of spark2014-core
  .gitlab-ci.yml
Due: none

Set Ok to True for At_End_Borrow with no bodies
  src/spark/spark_definition-annotate.adb
Due: check-gnatformat-gnat2why

Use correct transformation parameters to translate call
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/1218__traversal/test.adb
  testsuite/gnatprove/tests/1218__traversal/test.out
Due: check-gnatformat-gnat2why

Add test with illegal deep delta array aggregate with others
  testsuite/gnatprove/tests/336__deep_delta_others/p.adb
  testsuite/gnatprove/tests/336__deep_delta_others/test.out
Due: none

Add test with new handling of constant overlays in flow
  testsuite/gnatprove/tests/1130__flow_constant_overlay/main.adb
  testsuite/gnatprove/tests/1130__flow_constant_overlay/test.out
Due: none

New handling of constant overlays in flow
  src/flow/flow-analysis-antialiasing.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_utility.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1059__precise_overlays/test.out
  testsuite/gnatprove/tests/1109__flow_constant_overlay/test.out
  testsuite/gnatprove/tests/1130__flow_constant_overlay/test.out
  testsuite/gnatprove/tests/1133__unconstrained_overlay/test.out
  testsuite/gnatprove/tests/1139__overlays/test.out
  testsuite/gnatprove/tests/606__representation_attribute/test.out
  testsuite/gnatprove/tests/607__no_inlining_address/test.out
  testsuite/gnatprove/tests/U419-013__overlay/test.out
Due: check-gnatformat-gnat2why

Precise handling of 'Address attribute references
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/1130__flow_constant_overlay/call_prefix.adb
  testsuite/gnatprove/tests/1130__flow_constant_overlay/indexed_prefix.adb
  testsuite/gnatprove/tests/1130__flow_constant_overlay/sliced_prefix.adb
  testsuite/gnatprove/tests/1130__flow_constant_overlay/test.out
Due: check-gnatformat-gnat2why

Initialize all parts of an overlying object in a single vertex
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_types.ads
Due: check-gnatformat-gnat2why

Move marking of Aggregate aspect to spark_definition
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/247__container_aggr_illegal/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Minor change in warning message for recursive functions
  testsuite/gnatprove/tests/N624-020__perm_rem/test.out
  testsuite/gnatprove/tests/O512-022__prefix_sum/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.out
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
Due: none

Fix string truncation when expanding "others" in counterexamples
  src/counterexamples/ce_pretty_printing.adb
  testsuite/gnatprove/tests/949__ce_array_printing/test.out
  testsuite/gnatprove/tests/O709-030__concat_string/test.out
  testsuite/gnatprove/tests/QA25-058__z3_riposte_arrays/test.out
  testsuite/gnatprove/tests/SA16-067__length/test.out
  testsuite/gnatprove/tests/riposte__arrays/test.out
Due: check-gnatformat-gnat2why

Refine test with strings in counterexamples
  testsuite/gnatprove/tests/949__ce_array_printing/array_comparison_str.adb
  testsuite/gnatprove/tests/949__ce_array_printing/test.out
Due: none

Rename test to match the ticket number
  testsuite/gnatprove/tests/1199__concat_ce/con2.adb
  testsuite/gnatprove/tests/1199__concat_ce/test.out
Due: none

Minor formatting of annotation in error message
  src/common/vc_kinds.adb
  testsuite/gnatprove/tests/247__container_aggr_illegal/test.out
Due: check-gnatformat-gnatprove

Update baseline
  testsuite/gnatprove/tests/Q912-021__codepeer_by_example/test.out
Due: none

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
