Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Fix line endings on windows
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Use frontend routine for precisely supported address clauses
  src/flow/flow_error_messages.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
Due: check-gnatformat-gnat2why

Reenable disabled tests
  testsuite/gnatprove/tests/1080__overlaid_dynamic_arrays/test.opt
  testsuite/gnatprove/tests/1080__overlaid_dynamic_arrays/test.out
  testsuite/gnatprove/tests/1083__overlaid_components/test.opt
  testsuite/gnatprove/tests/1083__overlaid_components/test.out
  testsuite/gnatprove/tests/RA26-007__overlay/arrays.ads
  testsuite/gnatprove/tests/RA26-007__overlay/test.opt
  testsuite/gnatprove/tests/RA26-007__overlay/test.out
Due: check-opt-syntax

update windows output for test
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.win.out
  testsuite/gnatprove/tests/Q306-008__output_header/test.opt
  testsuite/gnatprove/tests/Q306-008__output_header/test.win.out
  testsuite/gnatprove/tests/R703-035__bad_switches/test.opt
  testsuite/gnatprove/tests/R703-035__bad_switches/test.win.out
Due: check-opt-syntax

Refine overlay for file reading
  src/common/call.adb
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Fix caching for tests with session files
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Introduce a separate module for UC functions
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-unchecked_conversion.ads
  src/why/why-atree-modules.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  testsuite/gnatprove/tests/1059__invalid_inversion_axioms/test.adb
  testsuite/gnatprove/tests/1059__invalid_inversion_axioms/test.out
  testsuite/gnatprove/tests/1059__uc_inversion_axiom/test.adb
  testsuite/gnatprove/tests/1059__uc_inversion_axiom/test.out
  testsuite/gnatprove/tests/138__unchecked_conversion/test.out
Due: check-gnatformat-gnat2why

Baselines for prover failures
  testsuite/gnatprove/tests/LC17-035__update_big_test/test.out
  testsuite/gnatprove/tests/Q313-019__elementary_ce_float/test.out
  testsuite/gnatprove/tests/R123-048__tasks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/openETCS/test.out
  testsuite/gnatprove/tests/tokeneer/test.out
Due: none

baselines for inlining change
  testsuite/gnatprove/tests/U129-014__sqrt_error_bounds/test.out
  testsuite/gnatprove/tests/float_error_bounds/test.out
Due: none

Fix cross-device move error in sparklib preprocessing
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Fix documentation for pragma Compile_Time_Error
  docs/lrm/source/language-defined-pragmas.rst
Due: none

File test for incorrect handling of overlays in the frontend
  testsuite/gnatprove/tests/1089__ultimate_overlay/main.adb
  testsuite/gnatprove/tests/1089__ultimate_overlay/test.out
Due: none

Merge branch 'topic/1089-dross-ultimate-overlaid-entity' into 'master'
  testsuite/gnatprove/tests/1089__ultimate_overlay/main.adb
  testsuite/gnatprove/tests/1089__ultimate_overlay/test.out
Due: none

Remove redundant guards for Ultimate_Overlaid_Entity
  src/flow/flow_utility.adb
  src/why/gnat2why-borrow_checker.adb
Due: check-gnatformat-gnat2why

File test using functional trees
  testsuite/gnatprove/tests/1070__functional_red_black_trees/red_black_trees.adb
  testsuite/gnatprove/tests/1070__functional_red_black_trees/red_black_trees.ads
  testsuite/gnatprove/tests/1070__functional_red_black_trees/test.out
  testsuite/gnatprove/tests/1070__functional_red_black_trees/test.yaml
Due: none

Update test output for 25 sustained
  testsuite/gnatprove/tests/1089__ultimate_overlay/test.out
Due: none

Baselines for coq tests
  testsuite/gnatprove/tests/N919-012__coq_split/test.out
  testsuite/gnatprove/tests/O424-016__coq_gcd/test.out
  testsuite/gnatprove/tests/O424-016__coq_valid/test.out
  testsuite/gnatprove/tests/O706-003__coq_steps/test.out
  testsuite/gnatprove/tests/P429-031__coq_change/test.out
  testsuite/gnatprove/tests/P429-031__coq_change_generic/test.out
  testsuite/gnatprove/tests/P429-031__coq_change_multi/test.out
  testsuite/gnatprove/tests/P513-003__coq_change/test.out
  testsuite/gnatprove/tests/Q912-036__coq_nonlinear/test.out
Due: none

Baseline update
  testsuite/gnatprove/tests/K627-010__stable_marriage/test.out
Due: none

Support qualified expressions in untangling record expressions
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/T409-016__flow_delta_on_records/test.out
Due: check-gnatformat-gnat2why

Move code to separate file
  testsuite/gnatprove/tests/O713-018__constrained_classwide/test.out
  testsuite/gnatprove/tests/O713-018__constrained_classwide/test.py
  testsuite/gnatprove/tests/O713-018__constrained_classwide/unsupported_classwides.ads
  testsuite/gnatprove/tests/O713-018__constrained_classwide/unsupported_classwides2.ads
Due: none

Objects with Async_Writers must be explicitly initialized
  docs/lrm/source/packages.rst
  src/flow/flow-control_flow_graph-utility.adb
  testsuite/gnatprove/tests/932__flow_async_import/test.out
Due: check-gnatformat-gnat2why

Add test with uninitialized volatile variable
  testsuite/gnatprove/tests/932__flow_async_import/test.out
  testsuite/gnatprove/tests/932__flow_async_import/volatile_package.ads
  testsuite/gnatprove/tests/932__flow_async_import/volatile_uninit.adb
Due: none

Adapt large tests and outputs with uninitialized Async_Writers
  testsuite/gnatprove/tests/P628-028__test_0/test.out
  testsuite/gnatprove/tests/P628-028__test_1/test.out
  testsuite/gnatprove/tests/P628-028__test_2/test.out
  testsuite/gnatprove/tests/adacore_u/Systems_Programming/bundling_abstract_state.adb
  testsuite/gnatprove/tests/adacore_u/Systems_Programming/external_abstract_state.adb
  testsuite/gnatprove/tests/spark_book/Chapter-07/density_altitude-humidity_unit.adb
  testsuite/gnatprove/tests/spark_book/Chapter-07/density_altitude-pressure_unit.adb
  testsuite/gnatprove/tests/spark_book/Chapter-07/density_altitude-temperature_unit.adb
  testsuite/gnatprove/tests/thumper/test.out
  testsuite/gnatprove/tests/thumper/thumper/src/network-socket-reader.ads
  testsuite/gnatprove/tests/tokeneer/bio-interfac.ads
  testsuite/gnatprove/tests/tokeneer/clock-interfac.ads
  testsuite/gnatprove/tests/tokeneer/door-interfac.ads
  testsuite/gnatprove/tests/tokeneer/keyboard-interfac.ads
  testsuite/gnatprove/tests/tokeneer/test.out
  testsuite/gnatprove/tests/tokeneer/tokenreader-interfac.ads
Due: none

fixes after automatic formatting
  src/flow/flow-analysis.adb
  src/flow/flow_refinement.adb
Due: check-gnatformat-gnat2why

More ignored revs for git blame
  .git-blame-ignore-revs
Due: none

Document functional trees in the UG
  docs/ug/en/source/spark_libraries.rst
Due: none

Fix formatting to match recent changes in gnatformat
  src/why/gnat2why-decls.adb
Due: check-gnatformat-gnat2why

Larger threshold for slow test detection
  .gitlab-ci.yml
Due: none

Modify test to increase coverage
  testsuite/gnatprove/tests/U518-026__volatile/bad_uc.ads
  testsuite/gnatprove/tests/U518-026__volatile/test.out
Due: none

Comment and test to cover alignment 0
  src/spark/spark_util.adb
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1110__uc0/test.out
  testsuite/gnatprove/tests/1110__uc0/uc_align.ads
Due: check-gnatformat-gnat2why
