Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

File gnatsas reviews
  analyzer/gnatprove.sar
  gnat2why/analyzer/gnat2why.sar
Due: none

XFAIL crashing tests
  testsuite/gnatprove/tests/SC04-005__LSP/test.opt
  testsuite/gnatprove/tests/tagged_stacks/test.opt
Due: check-opt-syntax

Use phase enum for gnat2why option files
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Factor option file name helper
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Refactor proof level presets
  src/common/proof_options.adb
  src/common/proof_options.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
Due: check-gnatformat-gnatprove

File test
  testsuite/gnatprove/tests/572__private_discr_pred/inner_pkg.ads
  testsuite/gnatprove/tests/572__private_discr_pred/probe.ads
  testsuite/gnatprove/tests/572__private_discr_pred/test.opt
Due: check-opt-syntax

Add explain codes for violations for Modifies
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  testsuite/gnatprove/tests/867__modifies_bad_global/test.out
  testsuite/gnatprove/tests/867__modifies_bad_illegal/test.out
  testsuite/gnatprove/tests/867__modifies_volatile/test.out
Due: check-gnatformat-gnatprove

Always add acats testsuite artifacts, even in case of failure
  .gitlab-ci.yml
Due: none

Force non-negative timing
  src/utils/debug-timing.adb
  src/utils/debug-timing.ads
  src/why/gnat2why-error_messages.adb
Due: check-gnatformat-gnat2why

Update baselines
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.out
  testsuite/gnatprove/tests/867__modifies_volatile/test.out
  testsuite/gnatprove/tests/T514-020__access_to_subprogram_bad/test.out
  testsuite/gnatprove/tests/T608-016__flow_access_global/test.out
  testsuite/gnatprove/tests/TA01-023__goto_subp_access/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization_params/test.out
  testsuite/gnatprove/tests/W105-004__iterated_comp_assoc/test.out
  testsuite/gnatprove/tests/W131-011__HO_inlining/test.out
Due: none

Explain codes for access-to-subprogram restrictions
  share/spark/explain_codes/E0034.md
  share/spark/explain_codes/E0035.md
  share/spark/explain_codes/E0036.md
  share/spark/explain_codes/E0037.md
  share/spark/explain_codes/E0038.md
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
Due: check-gnatformat-gnatprove

Require grounding for explain-code rationale
  share/spark/explain_codes/E0034.md
  share/spark/explain_codes/E0036.md
  share/spark/explain_codes/E0038.md
  skills/explain-code/SKILL.md
Due: none

Remove rationale from explain codes.
  share/spark/explain_codes/E0034.md
  share/spark/explain_codes/E0035.md
  share/spark/explain_codes/E0036.md
  share/spark/explain_codes/E0037.md
  share/spark/explain_codes/E0038.md
Due: none

Fix formatting after explain code change
  src/common/vc_kinds.adb
Due: check-gnatformat-gnatprove

Add forgotten explain codes
  share/spark/explain_codes/E0039.md
  share/spark/explain_codes/E0040.md
Due: none

Initial gnatprove manifest parsing
  .gitlab-ci.yml
  docs/develguide/tool_structure.rst
  gnatprove.gpr
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  testsuite/gnatprove/tests/985__manifest_duplicate/duplicate_unit_manifest/Main.toml
  testsuite/gnatprove/tests/985__manifest_duplicate/duplicate_unit_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_duplicate/main.adb
  testsuite/gnatprove/tests/985__manifest_duplicate/test.opt
  testsuite/gnatprove/tests/985__manifest_duplicate/test.out
  testsuite/gnatprove/tests/985__manifest_duplicate/test.py
  testsuite/gnatprove/tests/985__manifest_parser/bad_kind_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_level_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_path_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_provers_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/duplicate_entry_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/duplicate_prover_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/main.adb
  testsuite/gnatprove/tests/985__manifest_parser/manifest_in_project.gpr
  testsuite/gnatprove/tests/985__manifest_parser/missing_path_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/missing_version_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/no_options_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/package_profile_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/profile_without_kind_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/test.out
  testsuite/gnatprove/tests/985__manifest_parser/test.py
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_nested_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_profile_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unknown_field_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unsupported_version_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/valid_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/wrong_unit_manifest/other.toml
Due: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

sarif: add explain codes to a subset of results and rules
  docs/develguide/tool_structure.rst
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/utils/errout_wrapper.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1325__sarif_rule_explain_code_violation/test.adb
  testsuite/gnatprove/tests/1325__sarif_rule_explain_code_violation/test.out
  testsuite/gnatprove/tests/1325__sarif_rule_explain_code_violation/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add prover feedback output coverage
  testsuite/gnatprove/tests/272__prover_feedback/badconcat.adb
  testsuite/gnatprove/tests/272__prover_feedback/test.out
  testsuite/gnatprove/tests/272__prover_feedback/test.py
Due: none

Disable prover feedback in gnatprove tests by default
  src/common/gnat2why_opts.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  testsuite/gnatprove/lib/python/test_support.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

improve tests for prover feedback message
  testsuite/gnatprove/tests/272__feedback_inject/fake.drv
  testsuite/gnatprove/tests/272__feedback_inject/fake_prover.py
  testsuite/gnatprove/tests/272__feedback_inject/inject.adb
  testsuite/gnatprove/tests/272__feedback_inject/test.out
  testsuite/gnatprove/tests/272__feedback_inject/test.py
  testsuite/gnatprove/tests/272__prover_feedback/test.out
  testsuite/gnatprove/tests/272__prover_feedback/test.py
  testsuite/gnatprove/tests/5__assert_messages_pretty/test.yaml
Due: none

Simplify/rewrite gitlab result download script
  testsuite/gnatprove/lib/python/gitlab_util.py
  testsuite/gnatprove/trigger-session-update
  testsuite/gnatprove/update-expected-outputs
Due: none

Filter verbose cvc5 output in memcached wrapper
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

File test
  testsuite/gnatprove/tests/592__cvc5_cache_stats/test.adb
  testsuite/gnatprove/tests/592__cvc5_cache_stats/test.out
  testsuite/gnatprove/tests/592__cvc5_cache_stats/test.py
Due: none

Remove CE from 3 tests that don't test CE
  testsuite/gnatprove/tests/LB27-011__overflow_config/test.out
  testsuite/gnatprove/tests/LB27-011__overflow_config/test.yaml
  testsuite/gnatprove/tests/LB27-011__overflow_pragma/test.out
  testsuite/gnatprove/tests/LB27-011__overflow_pragma/test.yaml
  testsuite/gnatprove/tests/LB27-011__overflow_switch/test.out
  testsuite/gnatprove/tests/LB27-011__overflow_switch/test.yaml
Due: none

Generate problematic files instead of checking them in
  testsuite/gnatprove/tests/985__manifest_duplicate/duplicate_unit_manifest/Main.toml
  testsuite/gnatprove/tests/985__manifest_duplicate/duplicate_unit_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_duplicate/test.py
Due: none

Remove flaky part of prover feedback test
  testsuite/gnatprove/tests/272__prover_feedback/test.out
  testsuite/gnatprove/tests/272__prover_feedback/test.py
Due: none

Share the axiom for the dynamic property of result of UC function
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-unchecked_conversion.ads
  src/why/why-atree-modules.ads
  testsuite/gnatprove/tests/1059__invalid_inversion_axioms/test.out
  testsuite/gnatprove/tests/1365__uc_dynamic_property/main.adb
  testsuite/gnatprove/tests/1365__uc_dynamic_property/test.out
Due: check-gnatformat-gnat2why

Cleanup Inspector switches and disable Infer temporarily
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

Improve handling of array conversion
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-arrays.adb
  testsuite/gnatprove/tests/1366__array_conv_bounds/main.adb
  testsuite/gnatprove/tests/1366__array_conv_bounds/test.out
  testsuite/gnatprove/tests/L126-018__image_value/test.yaml
Due: check-gnatformat-gnat2why

Generate inversion axiom for wrapper conversion over arrays
  src/why/why-gen-arrays.adb
  testsuite/gnatprove/tests/1368__relaxed_arrays/main.adb
  testsuite/gnatprove/tests/1368__relaxed_arrays/test.out
  testsuite/gnatprove/tests/264__deep_delta_relaxed/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init_loops/test.out
  testsuite/gnatprove/tests/T630-007__relaxed_init/test.out
Due: check-gnatformat-gnat2why

Support computing size of array component with non-static bounds
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1370__component_size/test.out
  testsuite/gnatprove/tests/1370__component_size/uc_crash.ads
Due: check-gnatformat-gnat2why

Add test with functional total maps
  docs/ug/en/source/spark_libraries.rst
  testsuite/gnatprove/tests/1293__functional_total_maps/inst.ads
  testsuite/gnatprove/tests/1293__functional_total_maps/test.adb
  testsuite/gnatprove/tests/1293__functional_total_maps/test.out
  testsuite/gnatprove/tests/1293__functional_total_maps/test.yaml
Due: none

Enable tests with class-wide unevaluated use of 'Old
  testsuite/gnatprove/tests/SC04-005__LSP/test.opt
  testsuite/gnatprove/tests/tagged_stacks/test.opt
Due: check-opt-syntax

Update test output with GNAT error codes
  testsuite/gnatprove/tests/ug__check_param_aliasing/test.out
Due: none

Handle malformed gnatwhy3 OOM output
  src/why/gnat2why-driver.adb
  src/why/gnat2why-error_messages.adb
  src/why/gnat2why-error_messages.ads
Due: check-gnatformat-gnat2why

File test for allocators
  testsuite/gnatprove/tests/1320__allocators/allocator-base-ownership_wrapper.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-base-ownership_wrapper.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-base.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-base.ads
  testsuite/gnatprove/tests/1320__allocators/allocator.ads
  testsuite/gnatprove/tests/1320__allocators/allocator_with_promotion.adb
  testsuite/gnatprove/tests/1320__allocators/allocator_with_promotion.ads
  testsuite/gnatprove/tests/1320__allocators/test.out
  testsuite/gnatprove/tests/1320__allocators/test.yaml
  testsuite/gnatprove/tests/1320__allocators/typed_allocator.adb
  testsuite/gnatprove/tests/1320__allocators/typed_allocator.ads
  testsuite/gnatprove/tests/1320__allocators/types.ads
Due: none

Replace typed allocators and allocators with promotion with pools
  testsuite/gnatprove/tests/1320__allocators/allocator-base.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-base.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-ownership_wrapper.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-ownership_wrapper.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_16.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_16.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_32.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_32.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_4.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_4.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_64.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_64.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_8.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_8.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools.ads
  testsuite/gnatprove/tests/1320__allocators/allocator_with_promotion.adb
  testsuite/gnatprove/tests/1320__allocators/allocator_with_promotion.ads
  testsuite/gnatprove/tests/1320__allocators/allocators.gpr
  testsuite/gnatprove/tests/1320__allocators/test.out
  testsuite/gnatprove/tests/1320__allocators/test_base.ads
  testsuite/gnatprove/tests/1320__allocators/test_pools.ads
  testsuite/gnatprove/tests/1320__allocators/typed_allocator.adb
  testsuite/gnatprove/tests/1320__allocators/typed_allocator.ads
Due: none
