Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Baseline updates for large tests
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.out
  testsuite/gnatprove/tests/63__spark_c_strings/test.out
  testsuite/gnatprove/tests/MA29-020__proof_nested_subprograms/test.out
  testsuite/gnatprove/tests/OA21-028__failsafe/test.out
  testsuite/gnatprove/tests/P530-022__loopinv/test.out
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
  testsuite/gnatprove/tests/T210-005__conts/test.out
  testsuite/gnatprove/tests/TA14-006__strings_fixed/test.out
  testsuite/gnatprove/tests/U413-014__container_references/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
  testsuite/gnatprove/tests/thumper/test.out
Due: none

Deactivate local check for issues, keep in CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

Fix manifest file naming with naming scheme
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  src/gnatprove/manifest_generator.adb
  src/gnatprove/manifest_generator.ads
  testsuite/gnatprove/tests/985__manifest_child_unit/child_impl.ada
  testsuite/gnatprove/tests/985__manifest_child_unit/child_spec.ada
  testsuite/gnatprove/tests/985__manifest_child_unit/parent_spec.ada
  testsuite/gnatprove/tests/985__manifest_child_unit/test.gpr
  testsuite/gnatprove/tests/985__manifest_child_unit/test.out
  testsuite/gnatprove/tests/985__manifest_child_unit/test.py
  testsuite/gnatprove/tests/985__manifest_naming_scheme/test.gpr
  testsuite/gnatprove/tests/985__manifest_naming_scheme/test.out
  testsuite/gnatprove/tests/985__manifest_naming_scheme/test.py
  testsuite/gnatprove/tests/985__manifest_naming_scheme/unit_body.ada
  testsuite/gnatprove/tests/985__manifest_naming_scheme/unit_spec.ada
Due: check-gnatformat-gnatprove

Rename various variables
  src/flow/flow.adb
  src/flow/flow_error_messages.adb
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/manifest_generator.ads
  src/spark/spark_util.ads
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Change CWE codes for CWE 4.x
  src/common/vc_kinds.adb
  testsuite/gnatprove/tests/Q912-021__codepeer_by_example/test.out
Due: check-gnatformat-gnatprove

Document new supported cases of calls to function with side effects
  docs/lrm/source/names-and-expressions.rst
  docs/lrm/source/subprograms.rst
  docs/ug/en/source/language_restrictions.rst
Due: none

Get to full view when computing update trees for modifies
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test.out
  testsuite/gnatprove/tests/867__modifies_expansion/test_private.adb
Due: check-gnatformat-gnat2why

Pass correct object dir to coqtop for replay
  AGENTS.md
  share/spark/config/gnatprove.conf
  src/gnatprove/gnatprove_build.adb
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/lemmas.gpr
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/lemmas_src/lemmas.adb
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/lemmas_src/lemmas.ads
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/proof/Coq/Lemmas__mult_mono__pragargs__cmp.v
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/proof/sessions/lemmas__mult_mono/why3session.xml
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/test.gpr
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/test.opt
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/test.out
  testsuite/gnatprove/tests/1420__coq_replay_object_dir/test.py
Due: check-opt-syntax, check-gnatformat-gnatprove

Apply per-overload proof manifest entries to their own overload
  docs/develguide/tool_structure.rst
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_overload/pkg.adb
  testsuite/gnatprove/tests/985__manifest_overload/pkg.ads
  testsuite/gnatprove/tests/985__manifest_overload/test.out
  testsuite/gnatprove/tests/985__manifest_overload/test.py
Due: check-gnatformat-gnat2why

Support operator subprograms in proof manifests
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/manifest_generator.adb
  testsuite/gnatprove/tests/985__manifest_operator/pkg.adb
  testsuite/gnatprove/tests/985__manifest_operator/pkg.ads
  testsuite/gnatprove/tests/985__manifest_operator/test.out
  testsuite/gnatprove/tests/985__manifest_operator/test.py
Due: check-gnatformat-gnatprove

Update location after change in the sparklib
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Add test dutchflag
  testsuite/gnatprove/tests/1390__dutchflag/dutch_flag_lib.adb
  testsuite/gnatprove/tests/1390__dutchflag/dutch_flag_lib.ads
  testsuite/gnatprove/tests/1390__dutchflag/test.out
Due: none

Update the Internal_Report API after the introduction of the Binary parameter
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Revert "Install workaround for eng/gpr/gpr-issues#806"
  testsuite/gnatprove/run-tests
Due: none

Remove support for %o
  docs/develguide/tool_structure.rst
  docs/ug/en/appendix/alternative_provers.rst
  testsuite/gnatprove/tests/R420-029__parsing_mlw/why3.conf
Due: none

Fix manifest parsing and matching for types
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/1402__manifest_type/pkg.adb
  testsuite/gnatprove/tests/1402__manifest_type/pkg.ads
  testsuite/gnatprove/tests/1402__manifest_type/test.gpr
  testsuite/gnatprove/tests/1402__manifest_type/test.py
Due: check-gnatformat-gnat2why

Delete sessions for manifest tests
  testsuite/gnatprove/lib/python/replay.py
Due: none

Warn on limit switches that override previous ones
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/p.adb
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/p.ads
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/repeat_in_attribute.gpr
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/single_in_attribute.gpr
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/test.out
  testsuite/gnatprove/tests/1410__limit_switch_override_warn/test.py
Due: check-gnatformat-gnatprove

Various fixes for windows
  testsuite/gnatprove/tests/1237__non_root_invocation_switch/test.py
  testsuite/gnatprove/tests/272__feedback_inject/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_naming_scheme/test.py
  testsuite/gnatprove/tests/985__manifest_operator/test.py
  testsuite/gnatprove/tests/985__manifest_overload/test.py
Due: none

Adapt to changes in the Reachability library
  docs/ug/en/source/spark_libraries.rst
  testsuite/gnatprove/tests/1041__hashed_sets/data_structure-basic_operations.adb
  testsuite/gnatprove/tests/1245__reachability/test.out
Due: none

Document the At attribute in the user guide
  docs/ug/en/source/specification_features.rst
Due: none

Document attribute Loop_Index in the UG
  docs/ug/en/source/specification_features.rst
Due: none

More windows fixes
  src/gnatprove/gnatprove_build.adb
  testsuite/gnatprove/tests/P820-002__protected_out/test.py
  testsuite/gnatprove/tests/P820-002__protected_out/test.yaml
Due: check-gnatformat-gnatprove

Reject deep delta aggregates mixed with array range updates
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1427__mixed_deep_delta_array_range_update/main.adb
  testsuite/gnatprove/tests/1427__mixed_deep_delta_array_range_update/test.gpr
  testsuite/gnatprove/tests/1427__mixed_deep_delta_array_range_update/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Follow libgpr changes
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.ads
Due: check-gnatformat-gnatprove

Fix Declared_In_Unit for wrapper packages
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1428__gen_unsound/lib_inst.ads
  testsuite/gnatprove/tests/1428__gen_unsound/more.adb
  testsuite/gnatprove/tests/1428__gen_unsound/more.ads
  testsuite/gnatprove/tests/1428__gen_unsound/orig.adb
  testsuite/gnatprove/tests/1428__gen_unsound/orig.ads
  testsuite/gnatprove/tests/1428__gen_unsound/test.out
Due: check-gnatformat-gnat2why

Provide changes following libgpr2 modification of API
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.ads
Due: check-gnatformat-gnatprove

Improve proof for power of 2 on big_int
  src/why/why-gen-hardcoded.adb
  testsuite/gnatprove/tests/1278__pow2/p.ads
  testsuite/gnatprove/tests/1278__pow2/test.out
  testsuite/gnatprove/tests/1278__pow2/test.yaml
  testsuite/gnatprove/tests/SB22-010__big_integers_support/test.out
Due: check-gnatformat-gnat2why

Update baseline for PC14-014__functional
  testsuite/gnatprove/tests/PC14-014__functional/test.out
Due: none

Simple line number change in test output
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
Due: none

Simple proof changes in test
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.out
Due: none

Fix quoting bug when generating why3.conf file in test
  testsuite/gnatprove/tests/272__feedback_inject/test.py
Due: none

Take Builder.Global_Compilation_Switches into account
  docs/develguide/tool_structure.rst
  docs/ug/en/appendix/project_attributes.rst
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  testsuite/gnatprove/tests/1430__global_compilation_switches/main.adb
  testsuite/gnatprove/tests/1430__global_compilation_switches/test.gpr
  testsuite/gnatprove/tests/1430__global_compilation_switches/test.out
  testsuite/gnatprove/tests/KC15-034__target_config/test.out
  testsuite/gnatprove/tests/KC15-034__target_config/testtarg.adb
Due: check-gnatformat-gnatprove

Update baseline after libgpr change
  testsuite/gnatprove/tests/402__aggr_proj/test.out
Due: none

Fix whitespace bug in memcache wrapper
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/1431__memcache_line_endings/fake/cvc5.adb
  testsuite/gnatprove/tests/1431__memcache_line_endings/fake/fake.gpr
  testsuite/gnatprove/tests/1431__memcache_line_endings/test.out
  testsuite/gnatprove/tests/1431__memcache_line_endings/test.py
Due: check-gnatformat-gnatprove

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
