Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add custom JSON parser for data decomposition files
  src/why/gnat2why-data_decomposition.adb
Due: check-gnatformat-gnat2why

Revert "XFAIL for large integers in data rep"
  testsuite/gnatprove/mass_xfail.yaml
Due: none

Tune test with wrong data representation file
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: none

Emit location for ill-formed data representation
  src/why/gnat2why-data_decomposition.adb
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
Due: check-gnatformat-gnat2why

Fix level and kind to comply with SARIF constraints
  src/gnatprove/spark_report-generate_sarif_report.adb
  testsuite/gnatprove/lib/python/test_support.py
Due: check-gnatformat-gnatprove

Various testsuite updates
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test_4.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test_5.adb
  testsuite/gnatprove/tests/O512-022__robot_navigation_snd/test.out
  testsuite/gnatprove/tests/R312-016__steps/test.out
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/ironsides/test.out
Due: none

Add parentheses to single guarded Modifies clauses
  testsuite/gnatprove/tests/867__modifies_expansion/test.out
  testsuite/gnatprove/tests/867__modifies_expansion/test_array_component.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test_invalid.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test_relaxed.adb
Due: none

Recognize both Exit_Cases and Exceptional_Cases in flow
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/1379__flow_init_vars/test.out
  testsuite/gnatprove/tests/1380__flow_exception_exit/test.out
  testsuite/gnatprove/tests/1381__invariant_check_exception/test.out
  testsuite/gnatprove/tests/779__legal_exit_cases/test.out
Due: check-gnatformat-gnat2why

Add test with Exit_Cases but no Exceptional_Cases
  testsuite/gnatprove/tests/1380__flow_exception_exit/main.adb
  testsuite/gnatprove/tests/1380__flow_exception_exit/test.out
Due: none

Add minimal reproducer for getting a fix with generic subprogram
  testsuite/gnatprove/tests/1386__getfix_generic/foo.adb
  testsuite/gnatprove/tests/1386__getfix_generic/test.opt
Due: check-opt-syntax

Ignore generic subprograms when looking for a fix
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/1386__getfix_generic/test.opt
  testsuite/gnatprove/tests/1386__getfix_generic/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Do not expect conditional raise nodes in the AST
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/M923-035__discr/test.opt
Due: check-opt-syntax, check-gnatformat-gnat2why

Introduce conversions on assumptions for borrows
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1387__traversal/test.adb
  testsuite/gnatprove/tests/1387__traversal/test.out
Due: check-gnatformat-gnat2why

Properly unescape strings in data decomposition file
  src/why/gnat2why-data_decomposition.adb
  testsuite/gnatprove/tests/1337__data_representation/main.adb
  testsuite/gnatprove/tests/1337__data_representation/test.out
Due: check-gnatformat-gnat2why

Accept conditional raise with discriminant checks on derived types
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/M923-035__discr/test.opt
Due: check-opt-syntax, check-gnatformat-gnat2why

rename function that now doesn't parse JSON
  src/common/assumption_types.adb
Due: check-gnatformat-gnatprove

Share .spark entity table parsing
  src/common/assumption_types.adb
  src/common/spark_json_entities.adb
  src/common/spark_json_entities.ads
Due: check-gnatformat-gnatprove

Fix handling of entries in manifest
  src/gnatprove/configuration.adb
  src/spark/spark_util.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_entry/pkg.adb
  testsuite/gnatprove/tests/985__manifest_entry/pkg.ads
  testsuite/gnatprove/tests/985__manifest_entry/test.adc
  testsuite/gnatprove/tests/985__manifest_entry/test.gpr
  testsuite/gnatprove/tests/985__manifest_entry/test.py
  testsuite/gnatprove/tests/985__manifest_parser/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add Manifest_Profile to Subp_Type
  src/common/assumption_types.adb
  src/common/assumption_types.ads
  src/spark/spark_util.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

obe xfail script
  testsuite/gnatprove/lib/python/gitlab_util.py
  testsuite/gnatprove/tools/obe_xfail.py
Due: none

File test
  testsuite/gnatprove/tests/1107__backend_switches/backend_switches.adb
  testsuite/gnatprove/tests/1107__backend_switches/test.opt
  testsuite/gnatprove/tests/1107__backend_switches/test.out
  testsuite/gnatprove/tests/1107__backend_switches/test.yaml
Due: check-opt-syntax

Update line numbers for the formal vectors package
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Documentation for manifest files
  docs/ug/en/source/how_to_run_gnatprove.rst
Due: none

Regenerate manifest for proof
  testsuite/gnatprove/tests/1320__hashtable/proof/manifest/hashtbl.toml
Due: none

Allow calls to functions with side effects in more locations.
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1058__function_side_effects/frame_condition.adb
  testsuite/gnatprove/tests/1058__function_side_effects/structural_variant.adb
  testsuite/gnatprove/tests/1058__function_side_effects/test.gpr
  testsuite/gnatprove/tests/1058__function_side_effects/test.out
  testsuite/gnatprove/tests/1058__function_side_effects/test_proof.adb
  testsuite/gnatprove/tests/1058__function_side_effects/updated_borrower.adb
  testsuite/gnatprove/tests/359__illegal_procedural_functions/bad_call.adb
  testsuite/gnatprove/tests/359__illegal_procedural_functions/p.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Update testsuite
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
  testsuite/gnatprove/tests/359__procedural_functions/test.out
  testsuite/gnatprove/tests/645__side_effects_decl_illegal/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: none

Doc for generation option
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Private part should not be visible for proof in vector tests
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.py
  testsuite/gnatprove/tests/V906-009__formal_vectors/test_vectors.adb
Due: none

Exempt prophecies from some ownership restrictions
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/P513-017__explicit_dereference/test.out
  testsuite/gnatprove/tests/T408-027__declare/test.out
  testsuite/gnatprove/tests/TB14-001__access_in/test.out
  testsuite/gnatprove/tests/U202-019__at_end_in_lemma/test.out
  testsuite/gnatprove/tests/U202-019__at_end_in_lemma/test_at_end_in_lemma.adb
Due: check-gnatformat-gnat2why

Remove workaround for formatting issue
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Fix updating session tests that use bodymode
  testsuite/gnatprove/lib/python/replay.py
  testsuite/gnatprove/update-session-test
Due: none

Expand proof levels before switch merging
  docs/develguide/tool_structure.rst
  src/common/gnat2why_opts.ads
  src/common/proof_options.adb
  src/common/proof_options.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/S305-002__level/project_level.gpr
  testsuite/gnatprove/tests/S305-002__level/project_steps.gpr
  testsuite/gnatprove/tests/S305-002__level/test.out
  testsuite/gnatprove/tests/S305-002__level/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

file new test
  testsuite/gnatprove/tests/785__signed_int_exp/exponent_natural_check.adb
  testsuite/gnatprove/tests/785__signed_int_exp/exponent_natural_check.ads
  testsuite/gnatprove/tests/785__signed_int_exp/fast_exponentiation.adb
  testsuite/gnatprove/tests/785__signed_int_exp/fast_exponentiation.ads
  testsuite/gnatprove/tests/785__signed_int_exp/fixed_exponent.adb
  testsuite/gnatprove/tests/785__signed_int_exp/fixed_exponent.ads
  testsuite/gnatprove/tests/785__signed_int_exp/monotonicity.adb
  testsuite/gnatprove/tests/785__signed_int_exp/monotonicity.ads
  testsuite/gnatprove/tests/785__signed_int_exp/negative_base.adb
  testsuite/gnatprove/tests/785__signed_int_exp/negative_base.ads
  testsuite/gnatprove/tests/785__signed_int_exp/power_of_two.adb
  testsuite/gnatprove/tests/785__signed_int_exp/power_of_two.ads
  testsuite/gnatprove/tests/785__signed_int_exp/test.out
  testsuite/gnatprove/tests/785__signed_int_exp/test.py
  testsuite/gnatprove/tests/785__signed_int_exp/variable_exponent.adb
  testsuite/gnatprove/tests/785__signed_int_exp/variable_exponent.ads
  testsuite/gnatprove/tests/785__signed_int_exp/zero_and_edge_cases.adb
  testsuite/gnatprove/tests/785__signed_int_exp/zero_and_edge_cases.ads
Due: none

Allow extended return in traversal functions
  docs/lrm/source/declarations-and-types.rst
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  src/spark/spark_rewrite.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1398__illegal_traversals_extended_return/illegal_extended_returns.adb
  testsuite/gnatprove/tests/1398__illegal_traversals_extended_return/illegal_extended_returns_2.adb
  testsuite/gnatprove/tests/1398__illegal_traversals_extended_return/test.out
  testsuite/gnatprove/tests/1398__traversals_extended_return/test.adb
  testsuite/gnatprove/tests/1398__traversals_extended_return/test.out
  testsuite/gnatprove/tests/K222-004__package_spec/test.out
  testsuite/gnatprove/tests/K222-004__ug/test.out
  testsuite/gnatprove/tests/K302-029__ug/test.out
  testsuite/gnatprove/tests/O924-001__ext_axiom_private_violation/test.out
  testsuite/gnatprove/tests/P208-042__interrupt_id_not_in_spark/test.out
  testsuite/gnatprove/tests/P615-019__stone_level/test.out
  testsuite/gnatprove/tests/QA23-042__error_pointers/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/S717-039__anonymous_access_comp/test.out
  testsuite/gnatprove/tests/S719-015__local_borrow_pkg/test.out
  testsuite/gnatprove/tests/T915-023__access_conversion/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Clarify rule about exemption of assertion level checks for instances
  docs/lrm/source/subprograms.rst
Due: none

xfail test
  testsuite/gnatprove/tests/V718-026__dic_and_predicate/test.opt
Due: check-opt-syntax
