Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Set PATH correctly for this test
  testsuite/gnatprove/tests/1431__memcache_line_endings/test.py
Due: none

Typos, grammar and other simple errors in the UG
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
  docs/ug/en/appendix/project_attributes.rst
  docs/ug/en/appendix/quality_assurance.rst
  docs/ug/en/getting_started.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/assertion_pragmas.rst
  docs/ug/en/source/basic.rst
  docs/ug/en/source/bronze_level.rst
  docs/ug/en/source/concurrency.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/how_to_write_loop_invariants.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/source/package_contracts.rst
  docs/ug/en/source/silver_level.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/en/source/type_contracts.rst
  docs/ug/en/spark_mode.rst
  docs/ug/en/tutorial.rst
  docs/ug/en/usage_scenarios.rst
  docs/ug/index.rst
Due: none

Apply gnatformat to Ada code for UG table generation
  .pre-commit-config.yaml
  Makefile
  docs/ug/table_generator/table_generator.adb
Due: none

Fix typos in error messages and tag names
  docs/ug/table_generator/table_generator.adb
  share/spark/explain_codes/E0018.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  testsuite/gnatprove/tests/830__at_label_marking/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove

Adjust for front end API change
  src/why/spark_atree-entities.adb
Due: check-gnatformat-gnat2why

Rewrite overview section about access types
  docs/ug/en/source/language_restrictions.rst
Due: none

Limit Claude formatting to actual code, not tests
  .claude/settings.json
Due: none

Fix backslash output in test
  testsuite/gnatprove/tests/402__aggr_proj/test.py
  testsuite/gnatprove/tests/402__aggr_proj/test.yaml
Due: none

Small correction to access types intro section
  docs/ug/en/source/language_restrictions.rst
Due: none

Move slow test to large
  testsuite/gnatprove/tests/1320__allocators/test.yaml
Due: none

Update slocs in outputs after removing pragma Warnings from sparklib
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.out
  testsuite/gnatprove/tests/651__containers/test.out
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
  testsuite/gnatprove/tests/ug__container_wrapper/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Update session files
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/2909ccd70f12265d0fdb-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/33dd1981349e0b78ebd6-odel__m__eq_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/aef7af29d02eedf0661d-_elements_checks__eq_reflexive__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/bc3d539ea1fd96991ff7-_eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/df26b08d1dd3e29c5c3a-_eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__delete__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__add__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__eq_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__eq_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__sequence/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__next/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__next__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__previous/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__previous__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__reverse_find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__splice/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__splice__3/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__large_run/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__formal_model__p__map/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__listPredicate/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__reverse_find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__run/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__eq_reflexive__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__lt_asymmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__lt_irreflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__lt_order/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__formal_model__lt_checks__lt_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__s__merge/why3session.xml
Due: none

File minimal reproducer
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/child.ads
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/named_lists.ads
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/root.ads
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/test.gpr
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/test.opt
Due: check-opt-syntax

Update slocs in large test output
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
Due: none

Add minimal reproducer for a non-existing toolchain
  testsuite/gnatprove/tests/1440__missing_toolchain/add.adb
  testsuite/gnatprove/tests/1440__missing_toolchain/test.gpr
  testsuite/gnatprove/tests/1440__missing_toolchain/test.opt
Due: check-opt-syntax

Bump rlimit for slow test
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.opt
Due: check-opt-syntax

Fix crash with non-existing target or runtime clauses
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/1440__missing_toolchain/test.opt
  testsuite/gnatprove/tests/1440__missing_toolchain/test.out
  testsuite/gnatprove/tests/278__runtime/test.gpr
  testsuite/gnatprove/tests/278__runtime/test.out
  testsuite/gnatprove/tests/O219-021__target/test.out
Due: check-opt-syntax, check-gnatformat-gnatprove

Align UG tutorial with actual tool behavior
  docs/ug/en/source/stone_level.rst
  docs/ug/en/tutorial.rst
  docs/ug/static/search_check_semantic.png
Due: none

Increase manifest generation budget
  src/gnatprove/manifest_generator.adb
  testsuite/gnatprove/tests/ghc_sort/proof/manifest/ghc_sort.toml
Due: check-gnatformat-gnatprove

Remove conversion between string and Int
  src/gnatprove/manifest_generator.adb
Due: check-gnatformat-gnatprove

Add tests for generic parameters with in mode
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/gen.adb
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/gen.ads
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/inst.ads
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/main.adb
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/test.out
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/gen.adb
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/gen.ads
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/inst.ads
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/main.adb
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/test.out
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/test.py
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/root.adb
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/test.out
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/test.py
Due: check-opt-syntax

Disable CE and prover output on some tests
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.out
  testsuite/gnatprove/tests/1003__unsigned_base_range_minimized_mode/test.yaml
  testsuite/gnatprove/tests/531__default_generic_expression_function/test.out
  testsuite/gnatprove/tests/531__default_generic_expression_function/test.yaml
  testsuite/gnatprove/tests/N515-042__ipstack_aggregate/test.out
  testsuite/gnatprove/tests/N515-042__ipstack_aggregate/test.yaml
  testsuite/gnatprove/tests/Q522-022__codepeer/test.out
  testsuite/gnatprove/tests/Q522-022__codepeer/test.yaml
  testsuite/gnatprove/tests/RB12-066__fixed_point_int_mult/test.out
  testsuite/gnatprove/tests/RB12-066__fixed_point_int_mult/test.yaml
Due: none

Move all non-specific windows XFAIL to mass-xfail
  testsuite/gnatprove/mass_xfail.yaml
  testsuite/gnatprove/tests/NA13-020__constant_with_assert/test.opt
  testsuite/gnatprove/tests/NC05-005__float_division/test.opt
  testsuite/gnatprove/tests/P920-047__cvc4_step_consumption/test.opt
  testsuite/gnatprove/tests/Q525-025__controlling_result/test.opt
  testsuite/gnatprove/tests/S427-002__inline_dim/test.opt
  testsuite/gnatprove/tests/S603-051__dimensions/test.opt
  testsuite/gnatprove/tests/T630-007__records/test.opt
  testsuite/gnatprove/tests/T727-043__mergesort/test.opt
  testsuite/gnatprove/tests/TB16-017__subp_variant_inlining/test.opt
  testsuite/gnatprove/tests/U730-017__IPV4_parsing/test.opt
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.opt
  testsuite/gnatprove/tests/pointer_based_maps/test.opt
Due: check-opt-syntax

Baseline update for this test
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
Due: none

Test was slow in CB, moved to large
  testsuite/gnatprove/tests/1320__resize/test.yaml
Due: none

Map generic formal inputs in generated globals
  docs/develguide/flow_analysis.rst
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/62__generated_generic_in_global/bug.adb
  testsuite/gnatprove/tests/62__generated_generic_in_global/nearby.adb
  testsuite/gnatprove/tests/62__generated_generic_in_global/test.yaml
Due: check-gnatformat-gnat2why

Fix generated globals for generic input formals
  docs/develguide/flow_analysis.rst
  docs/develguide/gg.rst
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_generated_globals-phase_2.adb
  src/flow/flow_generated_globals-phase_2.ads
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
  testsuite/gnatprove/tests/62__generated_generic_in_global/bug.adb
  testsuite/gnatprove/tests/62__generated_generic_in_global/nearby.adb
  testsuite/gnatprove/tests/62__generated_generic_in_global/test.yaml
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_basic/test.out
  testsuite/gnatprove/tests/84__flow_generic_in_cross_unit_gg/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/test.opt
  testsuite/gnatprove/tests/84__flow_generic_in_repro_gg/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Add conformance testsuite to spark2014 CI
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Proof of kruskal algorithm
  testsuite/gnatprove/tests/1390__kruskal/connectivity.adb
  testsuite/gnatprove/tests/1390__kruskal/connectivity.ads
  testsuite/gnatprove/tests/1390__kruskal/graphs.adb
  testsuite/gnatprove/tests/1390__kruskal/graphs.ads
  testsuite/gnatprove/tests/1390__kruskal/integer_lists.adb
  testsuite/gnatprove/tests/1390__kruskal/integer_lists.ads
  testsuite/gnatprove/tests/1390__kruskal/kruskal.adb
  testsuite/gnatprove/tests/1390__kruskal/kruskal.ads
  testsuite/gnatprove/tests/1390__kruskal/test.out
Due: none

Update the Execute API after a jobserver fix in gpr2
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
Due: check-gnatformat-gnatprove

Subprogram order and comment style
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Fix various memcache wrapper issues
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/gnatprove/filecache_client.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/1432__memcache_answer_allowlist/fake/cvc5.adb
  testsuite/gnatprove/tests/1432__memcache_answer_allowlist/fake/fake.gpr
  testsuite/gnatprove/tests/1432__memcache_answer_allowlist/test.out
  testsuite/gnatprove/tests/1432__memcache_answer_allowlist/test.py
Due: check-gnatformat-gnatprove

Add proof cache purge utility
  scripts/purge_proof_cache.py
Due: none

Manifests: handle entities nested in overloads
  docs/develguide/tool_structure.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_nested_overload/pkg.adb
  testsuite/gnatprove/tests/985__manifest_nested_overload/pkg.ads
  testsuite/gnatprove/tests/985__manifest_nested_overload/test.out
  testsuite/gnatprove/tests/985__manifest_nested_overload/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why
