Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Suppress warnings about ineffective statements on statically disabled conditions
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/206__flow_ineffective_stmt_warnings_off/repro_elsif.adb
  testsuite/gnatprove/tests/206__flow_ineffective_stmt_warnings_off/test.out
  testsuite/gnatprove/tests/284__disabled_warnings/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test for range/predicate checks on container aggregates
  testsuite/gnatprove/tests/394__container_aggregates/test.gpr
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.yaml
  testsuite/gnatprove/tests/394__container_aggregates/test_formal.adb
  testsuite/gnatprove/tests/394__container_aggregates/test_formal_instances.ads
  testsuite/gnatprove/tests/394__container_aggregates/test_formal_predicate.adb
  testsuite/gnatprove/tests/394__container_aggregates/test_formal_predicate_instances.ads
  testsuite/gnatprove/tests/394__container_aggregates/test_functional.adb
  testsuite/gnatprove/tests/394__container_aggregates/test_functional_instances.ads
  testsuite/gnatprove/tests/394__container_aggregates/test_functional_predicate.adb
  testsuite/gnatprove/tests/394__container_aggregates/test_functional_predicate_instances.ads
Due: check-empty-testoutopt, check-testsuite-markers

Testsuite changes after limit of split
  testsuite/gnatprove/tests/247__container_aggregate_capacity/test.out
  testsuite/gnatprove/tests/447__large_aggr/main.adb
  testsuite/gnatprove/tests/447__large_aggr/test.out
  testsuite/gnatprove/tests/447__large_aggr/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Update tests
  testsuite/gnatprove/tests/sparkskein/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add comment to clarify use of array form
  src/why/why-gen-expr.adb
Due: none

Update test with nested discriminant and dependency clause
  testsuite/gnatprove/tests/PA04-039__flow_default_init/test.adb
  testsuite/gnatprove/tests/PA04-039__flow_default_init/test.ads
  testsuite/gnatprove/tests/PA04-039__flow_default_init/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove unnecessary re-initialization of current file output state
  src/utils/outputs.adb
Due: none

Simplify printing of single spaces
  src/utils/outputs.adb
Due: none

Simplify output printing package
  src/utils/outputs.adb
  src/utils/outputs.ads
Due: none

Fix style by using short-circuit operators
  src/why/xgen/xtree_builders.adb
Due: none

Improve typing of auto-generated New_Connection routine
  src/why/why-gen-expr.adb
  src/why/xgen/xtree_builders.adb
Due: none

Improve typing of auto-generated New_Conditional routine
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/xgen/xtree_builders.adb
Due: none

Document aspect Aggregate in the UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/gnatprove_by_example.gpr
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/aggregate_aspect.gpr
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/main.adb
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/test.out
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/through_model.adb
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/through_model.ads
  testsuite/gnatprove/tests/ug__aggregate_aspect_predefined/aggregate_aspect.gpr
  testsuite/gnatprove/tests/ug__aggregate_aspect_predefined/predefined.adb
  testsuite/gnatprove/tests/ug__aggregate_aspect_predefined/predefined.ads
  testsuite/gnatprove/tests/ug__aggregate_aspect_predefined/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Avoid the single use of frontend utility routine
  src/flow/flow_error_messages.adb
Due: none

Describe restriction on globals of the handler subprograms
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

Reject handlers with unsynchronized globals
  src/flow/flow.adb
  src/flow/flow_generated_globals-ali_serialization.ads
  src/flow/flow_generated_globals-phase_1.adb
  src/flow/flow_generated_globals-phase_2.adb
  src/flow/flow_generated_globals-phase_2.ads
  src/flow/flow_types.adb
  src/flow/flow_types.ads
  src/spark/spark_definition.adb
  src/spark/spark_definition.ads
  testsuite/gnatprove/tests/289__handlers/test.out
  testsuite/gnatprove/tests/443__flow_handlers/handlers.adb
  testsuite/gnatprove/tests/443__flow_handlers/handlers.ads
  testsuite/gnatprove/tests/443__flow_handlers/main.adb
  testsuite/gnatprove/tests/443__flow_handlers/pkg.ads
  testsuite/gnatprove/tests/443__flow_handlers/remote.adb
  testsuite/gnatprove/tests/443__flow_handlers/remote.ads
  testsuite/gnatprove/tests/443__flow_handlers/skip.ads
  testsuite/gnatprove/tests/443__flow_handlers/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add section about Containers and Executablity in the UG
  docs/ug/en/source/spark_libraries.rst
Due: none

Change in line number after edit of comments in the sparklib
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.out
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Skip test which leads to pipeline failure
  testsuite/gnatprove/tests/P518-021__loop_frame_condition/test.opt
Due: check-empty-testoutopt

Move defining axiom of expression functions in their own module
  src/why/gnat2why-subprograms.adb
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  testsuite/gnatprove/tests/276__concat/test.out
  testsuite/gnatprove/tests/281__sorts/main.adb
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__append/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__filter/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__insert/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__insertsort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__default_count/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__iterable_multiset/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__int_multisets__multiset/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__is_sorted/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__length/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__merge/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__mergesort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__occurrences/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__quicksort/why3session.xml
  testsuite/gnatprove/tests/281__sorts/proof/sessions/main__split/why3session.xml
  testsuite/gnatprove/tests/281__sorts/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Always put the post axiom of functions in its own module
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-subprograms.adb
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
Due: none

Add forgotten session file in large test
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__test/why3session.xml
Due: none

Transform_Array_Aggregate: split generation of proposition out of logic function generation
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: remove collection of contextual elements
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: none

Rename Transform_Aggregate in Transform_Array_Aggregate
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: bind element identifiers out of generation of logic function.
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: use more specific subtype for dimensions
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: rename cursors to avoid name clash
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: update comments
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: change translation for iterated component association
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: rename occurrences of Expr to avoid shadowing
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: discard unneeded parameters
  src/why/gnat2why-expr.adb
Due: none

Transform_Array_Aggregate: factor some constants over local subprograms
  src/why/gnat2why-expr.adb
Due: none

Update testsuite
  testsuite/gnatprove/tests/T511-007__iterated_component_assoc/test.out
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/286049ccedcb1fe600d0-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/6029da71925c724583c5-ters_to_obj__memory_model__writes/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__append/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__create_list/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__disjoint/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__pointers_to_obj__reference/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_append_reach/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_append_valid/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_list_unique_length/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_reach_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_reach_transitive/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__prove_valid_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable_locations/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__reachable_locations__2/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__test/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__valid_list/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_recursive__valid_memory/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__p1__Oeq/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__p2__Oeq/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__pointers_to_obj__reference/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__swap/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__swap_val/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_tagged_obj__update_in_place/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__pointers_to_obj__reference/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__swap/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__swap_val/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/proof/sessions/example_untagged_obj__update_in_place/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers/test.yaml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__move/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__occupied_tracks_on_red/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__one_train_at_most_per_track/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__previous_tracks_on_orange_or_red/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__update_track_signal/why3session.xml
Due: check-empty-testoutopt, check-testsuite-markers

Fix unsound handling of Unchecked_Conversion
  src/why/gnat2why-subprograms.adb
  src/why/spark_atree-entities.ads
  testsuite/gnatprove/tests/455__unchecked_conversion/test.out
  testsuite/gnatprove/tests/455__unchecked_conversion/unsigned.adb
Due: check-empty-testoutopt, check-testsuite-markers
