Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Update outputs after minor change in inlining
  testsuite/gnatprove/tests/283__relaxed_access_borrow/test.out
  testsuite/gnatprove/tests/N915-008__flow_acats_oo/test.out
  testsuite/gnatprove/tests/S503-019__detect_borrow_aliasing/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test steps and output
  testsuite/gnatprove/tests/QB10-026__counterexample/test.out
  testsuite/gnatprove/tests/QB10-026__counterexample/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Update outputs after minor change in inlining
  testsuite/gnatprove/tests/N915-008__flow_acats_oo/test.out
  testsuite/gnatprove/tests/S503-019__detect_borrow_aliasing/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix typo in UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

reorder subprograms in unit
  src/flow/flow_error_messages.adb
Due: none

Move msg computation to error_msg_proof
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/why/gnat2why-error_messages.adb
  src/why/gnat2why-error_messages.ads
Due: none

disable test with random behavior in 24.1 testing
  testsuite/gnatprove/tests/P201-069__simulink/test.opt
Due: check-empty-testoutopt

update sessions and baseline for sparkskein
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__show_msg_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_final/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_hash/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_init/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block__threefish_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_update/why3session.xml
  testsuite/gnatprove/tests/sparkskein/test.out
Due: check-empty-testoutopt, check-testsuite-markers

move test to XFAIL
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.opt
Due: check-empty-testoutopt

Merge branch 'topic/206-huguet-warnings-off-ineffective' into 'master'
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/206__flow_ineffective_stmt_warnings_off/repro.adb
  testsuite/gnatprove/tests/206__flow_ineffective_stmt_warnings_off/repro_elsif.adb
  testsuite/gnatprove/tests/206__flow_ineffective_stmt_warnings_off/test.out
  testsuite/gnatprove/tests/284__disabled_warnings/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Reject allocators in container aggregates
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/465__container_aggr_acc/acc_vectors.ads
  testsuite/gnatprove/tests/465__container_aggr_acc/test.out
  testsuite/gnatprove/tests/465__container_aggr_deep/deep_vectors.ads
  testsuite/gnatprove/tests/465__container_aggr_deep/main.adb
  testsuite/gnatprove/tests/465__container_aggr_deep/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Skip test on windows on 24.1
  testsuite/gnatprove/tests/V718-026__dic_and_predicate/test.opt
Due: check-empty-testoutopt

use VC location instead of message location in some cases
  src/flow/flow_error_messages.adb
  src/why/gnat2why-error_messages.adb
Due: none

Robustify obe_xfail script
  testsuite/gnatprove/obe_xfail.py
Due: none

Check sources of ownership moves recursively
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/466__alias_through_inner_move/main.adb
  testsuite/gnatprove/tests/466__alias_through_inner_move/test.out
  testsuite/gnatprove/tests/466__nested_move_sources/main.adb
  testsuite/gnatprove/tests/466__nested_move_sources/test.out
  testsuite/gnatprove/tests/S729-003__pointer_abstract_state/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Improve selection of sources for SPARK CI
  .gitlab-ci.yml
Due: none

Deal with special choices of 'Update in borrow-checker
  src/why/gnat2why-borrow_checker.adb
Due: none

Enable test
  testsuite/gnatprove/tests/V505-038__access_loop/test.opt
  testsuite/gnatprove/tests/V505-038__access_loop/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Reject type constraints in uninitialized allocators
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/113__type_constr_in_alloc/main.adb
  testsuite/gnatprove/tests/113__type_constr_in_alloc/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix path matching in borrow-checker
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/462__moved_toplevel_alias/foo.adb
  testsuite/gnatprove/tests/462__moved_toplevel_alias/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor syntactic changes in path matching for borrow-checker
  src/why/gnat2why-borrow_checker.adb
Due: none

Simple sanity check test for SPARK
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/441__fsf/database.adb
  testsuite/gnatprove/tests/441__fsf/database.ads
  testsuite/gnatprove/tests/441__fsf/identity.ads
  testsuite/gnatprove/tests/441__fsf/money.adb
  testsuite/gnatprove/tests/441__fsf/money.ads
  testsuite/gnatprove/tests/441__fsf/test.gpr
  testsuite/gnatprove/tests/441__fsf/test.out
  testsuite/gnatprove/tests/441__fsf/test.py
  testsuite/gnatprove/tests/R103-025__version/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/69-update-tests' into 'master'
  testsuite/gnatprove/tests/V503-001__c_strings_contracts/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/sparkskein/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Kill slocs for GNATprove errors in standard runtime
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/O303-041__flow_pure_implies_null_global/test.out
  testsuite/gnatprove/tests/Q919-067__flow_generics/test.out
  testsuite/gnatprove/tests/SB29-015__raise_expression/test.out
  testsuite/gnatprove/tests/TC15-052__colibri_arrays/test.out
  testsuite/gnatprove/tests/U715-033__colibri/test.out
  testsuite/gnatprove/tests/V503-002__address_to_access_conversion/test.out
  testsuite/gnatprove/tests/V606-041__limited_with/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Deconstruct support for abstract states with Relaxed_Initialization
  src/flow/flow-analysis.adb
Due: none

Update baselines
  testsuite/gnatprove/tests/P302-004__string_eq/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/SC31-001__vector/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'spark_remove_sideeffect' into 'master'
  testsuite/gnatprove/tests/T402-036__free_pointer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/200-trojanek-loop' into 'master'
  testsuite/gnatprove/tests/200__loop_object/bar.adb
  testsuite/gnatprove/tests/200__loop_object/test.out
Due: check-empty-testoutopt, check-testsuite-markers

SKIP tests on Windows
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.opt
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.opt
Due: check-empty-testoutopt

SKIP tests on Windows
  testsuite/gnatprove/tests/L323-005__recursive/test.opt
  testsuite/gnatprove/tests/SA23-039__goto/test.opt
  testsuite/gnatprove/tests/adacore_u/test.opt
Due: check-empty-testoutopt

Cleanup of handling of suppressed warnings
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
Due: none

Avoid the "Continuation" argument of various output routines
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  testsuite/gnatprove/tests/MB27-015__constraints_var_free/test.out
  testsuite/gnatprove/tests/NA18-003__subp_var_input/test.out
  testsuite/gnatprove/tests/O429-052__flow_tasking_exclusivity_checks/test.out
  testsuite/gnatprove/tests/P517-019__flow_types/test.out
  testsuite/gnatprove/tests/P707-026__continuation/pkg2.adb
  testsuite/gnatprove/tests/P707-026__continuation/pkg2.ads
  testsuite/gnatprove/tests/P707-026__continuation/test.out
  testsuite/gnatprove/tests/QA24-010__flow_race/test.out
  testsuite/gnatprove/tests/R618-018__flow_extra_global/test.out
  testsuite/gnatprove/tests/R618-018__flow_global_check_message/test.out
  testsuite/gnatprove/tests/R618-024__flow_crash_constrained_record/test.out
  testsuite/gnatprove/tests/R919-048__flow_unknown_component/test.out
  testsuite/gnatprove/tests/RA02-031__flow_generic_default/test.out
  testsuite/gnatprove/tests/TA07-024__renaming_access/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix too long line of previous commit
  src/flow/flow-analysis-sanity.adb
Due: none

Add test with multiple unconstrained global outputs
  testsuite/gnatprove/tests/flow_depends/multi.adb
  testsuite/gnatprove/tests/flow_depends/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix handling of multiple implicit global inputs
  src/flow/flow-interprocedural.adb
  testsuite/gnatprove/tests/flow_depends/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup recursive flow query for getting types
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_utility.adb
Due: none

Make functions with side effects also volatile functions
  docs/lrm/source/packages.rst
  docs/lrm/source/subprograms.rst
  src/flow/flow-analysis.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/446__side_effects/p.adb
  testsuite/gnatprove/tests/446__side_effects/p.ads
  testsuite/gnatprove/tests/446__side_effects/test.out
Due: check-empty-testoutopt, check-testsuite-markers
