Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: git@ssh.gitlab.adacore-it.com:eng/shared/mirrors/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: git@ssh.gitlab.adacore-it.com:it/flake8.git
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: git@ssh.gitlab.adacore-it.com:it/black.git
    rev: 24.2.0
    hooks:
    - id: black

Fix handling of Constrained on any generic formal type
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/531__constrained_on_generic_formal/test.opt
  testsuite/gnatprove/tests/531__constrained_on_generic_formal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Test passes now. Add test showing unsoundness.
  testsuite/gnatprove/tests/531__fixed_lower_bound/test.gpr
  testsuite/gnatprove/tests/531__fixed_lower_bound/test.opt
  testsuite/gnatprove/tests/531__fixed_lower_bound/test.out
  testsuite/gnatprove/tests/617__flb_sliding/q.adb
  testsuite/gnatprove/tests/617__flb_sliding/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add explanations about has_bounds in the devel guide
  docs/develguide/translation_why3.rst
Due: none

Deal with GNAT extension for declarations in statements
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/531__local_declarations_without_block/test.opt
  testsuite/gnatprove/tests/531__local_declarations_without_block/test.out
  testsuite/gnatprove/tests/622__deep_obj_decl_outside_block/p.adb
  testsuite/gnatprove/tests/622__deep_obj_decl_outside_block/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test
  testsuite/gnatprove/tests/512__ghost_task_array/ghostarr.ads
  testsuite/gnatprove/tests/512__ghost_task_array/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Pragma Extensions_Allowed now accepts All_Extensions instead of All
  testsuite/gnatprove/tests/397__bad_deep_delta/deep.adb
  testsuite/gnatprove/tests/617__flb_sliding/q.adb
  testsuite/gnatprove/tests/622__deep_obj_decl_outside_block/p.adb
Due: none

Update Ada pygments for new attribute Initialized
  docs/sphinx_support/ada_pygments.py
Due: none

Use SPARK.Containers.Hash.String_Hash in some tests
  testsuite/gnatprove/tests/R831-037__formal_map/p.ads
  testsuite/gnatprove/tests/R831-037__formal_map/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor, reorder bodies in SPARK_Util.Types
  src/spark/spark_util-types.adb
Due: none

Add information in log file on most difficult proved checks
  gnatprove.gpr
  src/gnatprove/report_database.adb
  src/gnatprove/report_database.ads
  src/gnatprove/spark_report.adb
Due: none

Add test and support for portability across machines and runs
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/325__difficult_proofs/p.ads
  testsuite/gnatprove/tests/325__difficult_proofs/test.out
  testsuite/gnatprove/tests/325__difficult_proofs/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Update outputs
  testsuite/gnatprove/tests/134__skip_flow_proof/test.out
  testsuite/gnatprove/tests/285__skip/test.out
  testsuite/gnatprove/tests/K907-009__expr_func/test.out
  testsuite/gnatprove/tests/M808-025__warnings/test.out
  testsuite/gnatprove/tests/M822-034__empty/test.out
  testsuite/gnatprove/tests/MA03-015__warnings/test.out
  testsuite/gnatprove/tests/MA22-006__spark_mode/test.out
  testsuite/gnatprove/tests/MA29-020__proof_nested_subprograms/test.out
  testsuite/gnatprove/tests/N320-038__initialassume/test.out
  testsuite/gnatprove/tests/O320-019__assumptions/test.out
  testsuite/gnatprove/tests/P707-026__continuation/test.out
  testsuite/gnatprove/tests/Q217-039__assume/test.out
  testsuite/gnatprove/tests/QA24-010__flow_race/test.out
  testsuite/gnatprove/tests/R429-004__msg/test.out
  testsuite/gnatprove/tests/S222-009__flow_summary/test.out
  testsuite/gnatprove/tests/TA21-030__listing_suppressed_checks/test.out
  testsuite/gnatprove/tests/V531-049__borrow/test.out
  testsuite/gnatprove/tests/W214-002__generic/test.out
  testsuite/gnatprove/tests/W214-002__modesubp/test.out
Due: check-empty-testoutopt, check-testsuite-markers

New test
  testsuite/gnatprove/tests/603__length_of_vector_in_capacity_range/test.out
  testsuite/gnatprove/tests/603__length_of_vector_in_capacity_range/test.yaml
  testsuite/gnatprove/tests/603__length_of_vector_in_capacity_range/vector_length.adb
  testsuite/gnatprove/tests/603__length_of_vector_in_capacity_range/vector_unbounded_length.adb
Due: check-empty-testoutopt, check-testsuite-markers

Update testsuite
  testsuite/gnatprove/tests/K624-029__amortize_queue/test.out
  testsuite/gnatprove/tests/O512-022__vscomp2014_partition_rte/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove superfluous newline
  testsuite/gnatprove/tests/603__length_of_vector_in_capacity_range/test.yaml
Due: none

Relax assertion that fails on deferred constants
  src/flow/flow-analysis-sanity.adb
  testsuite/gnatprove/tests/648__flow_deferred_constant/foo.adb
  testsuite/gnatprove/tests/648__flow_deferred_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Pass transformation parameters along for record subtype checks
  src/why/gnat2why-expr.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-pointers.adb
  src/why/why-gen-pointers.ads
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/650__discriminant/test.adb
  testsuite/gnatprove/tests/650__discriminant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adjust gnatprove to changes in gpr2 API
  src/gnatprove/configuration.adb
Due: none

Fix test warnings
  testsuite/gnatprove/tests/278__runtime/test.gpr
  testsuite/gnatprove/tests/string_search/test.gpr
Due: none

Fix handling of invariants on Iterable and Aggregate aspects
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  testsuite/gnatprove/tests/651__containers/p1.adb
  testsuite/gnatprove/tests/651__containers/p1.ads
  testsuite/gnatprove/tests/651__containers/p2.ads
  testsuite/gnatprove/tests/651__containers/p3-child.adb
  testsuite/gnatprove/tests/651__containers/p3-child.ads
  testsuite/gnatprove/tests/651__containers/p3.ads
  testsuite/gnatprove/tests/651__containers/test.out
  testsuite/gnatprove/tests/651__containers/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Handle 'Old attribute in delta aggregates
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/47__flow_delta_old/bar.adb
  testsuite/gnatprove/tests/47__flow_delta_old/bar.ads
  testsuite/gnatprove/tests/47__flow_delta_old/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File new test
  testsuite/gnatprove/tests/47__flow_delta_old/foo.adb
  testsuite/gnatprove/tests/47__flow_delta_old/foo.ads
Due: none

Strengthen assertion in flow visibility
  src/flow/flow_visibility.adb
Due: none

Fix visibility of private subprogram instances
  src/flow/flow_visibility.adb
Due: none

Add gnatsas job to SPARK CI
  .gitlab-ci.yml
  Makefile.gnatprove
  gnat2why/Makefile
  gnat2why/gnat2why.gpr
Due: none

Test passes now
  testsuite/gnatprove/tests/P820-002__protected_out/polyorb-hi-ada/polyorb_hi-output_low_level_leon.adb
  testsuite/gnatprove/tests/P820-002__protected_out/test.opt
Due: check-empty-testoutopt

File reproducer
  testsuite/gnatprove/tests/613__dispatching_result_repeatedly_inherited/main.adb
  testsuite/gnatprove/tests/613__dispatching_result_repeatedly_inherited/test.out
  testsuite/gnatprove/tests/613__dispatching_result_repeatedly_inherited/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Fix incrementality in gnatsas CI job
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

Change CI rules to trigger a pipeline after merging
  .gitlab-ci.yml
  testsuite/gnatprove/tests/613__dispatching_result_repeatedly_inherited/test.yaml
Due: none

Add test for protected function with Side_Effects and Depends
  testsuite/gnatprove/tests/655__side_effects_depends/foo.adb
  testsuite/gnatprove/tests/655__side_effects_depends/foo.ads
  testsuite/gnatprove/tests/655__side_effects_depends/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Change the way the rules are expressed for spark2014 tests
  .gitlab-ci.yml
Due: none

improve message for GAIA update without sessions
  testsuite/gnatprove/update-expected-outputs
Due: none

Treat dispatching operations as boundary for all types
  docs/lrm/source/packages.rst
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_input.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_input.ads
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_input_main.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_output.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_output.ads
  testsuite/gnatprove/tests/649__inv_on_dispatch/bad_output_main.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/test.adb
  testsuite/gnatprove/tests/649__inv_on_dispatch/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update record extension along with the tag
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/661__tagged_extension/test.adb
  testsuite/gnatprove/tests/661__tagged_extension/test.out
  testsuite/gnatprove/tests/I827-015__oo/test.out
  testsuite/gnatprove/tests/N709-001__contracts/test.out
  testsuite/gnatprove/tests/N915-008__flow_acats_oo/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove unnecessary guards for components not in variant parts
  src/why/why-gen-records.adb
  testsuite/gnatprove/tests/27__global_inv_on_internal/test.out
  testsuite/gnatprove/tests/27__local_type_invs/test.out
  testsuite/gnatprove/tests/28__membership_tests/test.out
  testsuite/gnatprove/tests/M503-001__typinv/test.out
  testsuite/gnatprove/tests/P801-002__type_invariant_comp/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init_predicate_check/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases/test.out
  testsuite/gnatprove/tests/V809-008__relaxed_globals/test.out
  testsuite/gnatprove/tests/V809-008__relaxed_predicates/test.out
  testsuite/gnatprove/tests/VB18-029__type_invs_access_legal/test.out
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/test.out
  testsuite/gnatprove/tests/W306-020__relaxed_init_in_loop_entry/test.out
Due: check-empty-testoutopt, check-testsuite-markers
