Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

New check for alignment of Unchecked_Conversion
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/spark_report.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-unchecked_conversion.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Disable test with overlay of protected components
  testsuite/gnatprove/tests/U316-010__protected/test.opt
Due: check-opt-syntax

Check for assertion-level-dependency part of SPARK RM 6.9(27)
  src/flow/flow-analysis.adb
  src/flow/flow-analysis.ads
  testsuite/gnatprove/tests/751__flow_ghost_global/test.out
Due: check-gnatformat-gnat2why

Combine checks for both part of SPARK RM 6.9(27)
  src/flow/flow-analysis.adb
Due: check-gnatformat-gnat2why

Add recent reformatting to list of commits ignored for blaming
  .git-blame-ignore-revs
Due: none

Modify test to increase coverage
  testsuite/gnatprove/tests/U518-026__volatile/bad_uc.ads
  testsuite/gnatprove/tests/U518-026__volatile/test.out
Due: none

Comment and test to cover alignment 0
  src/spark/spark_util.adb
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1110__uc0/test.out
  testsuite/gnatprove/tests/1110__uc0/uc_align.ads
Due: check-gnatformat-gnat2why

Enable minimal recompilation for gnatprove and xgen
  gnatprove.gpr
  src/why/xgen/helpers.gpr
Due: none

Handle specifically unchecked conversions that are the identity
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1059__identity_uc/p.adb
  testsuite/gnatprove/tests/1059__identity_uc/test.out
  testsuite/gnatprove/tests/U503-010__frame_condition_overlays/test.out
  testsuite/gnatprove/tests/U503-010__frame_condition_overlays/test_loops.adb
  testsuite/gnatprove/tests/U618-036__flow_aliased_conversions/test.out
  testsuite/gnatprove/tests/U630-017__flow_dynamic_overlay/test.out
Due: check-gnatformat-gnat2why

Reject 'Size on complex prefixes
  share/spark/theories/ada__model.mlw
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/why/gnat2why-data_decomposition.adb
  src/why/gnat2why-expr.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  src/why/why-gen-records.adb
  testsuite/gnatprove/tests/1133__size/test.adb
  testsuite/gnatprove/tests/1133__size/test.out
  testsuite/gnatprove/tests/OA14-027__result__size/test.out
  testsuite/gnatprove/tests/S521-011__Unchecked_Conversion/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Fix line numbers of sparklib test
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
Due: none

Reject 'Size on formals with dynamic 'Constrained
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.adb
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.out
  testsuite/gnatprove/tests/1133__mutable_discrs/test.adb
  testsuite/gnatprove/tests/1133__mutable_discrs/test.out
Due: check-gnatformat-gnat2why

Don't print unproved failures on justified messages
  src/flow/flow_error_messages.adb
Due: check-gnatformat-gnat2why

Disable automatic formatting on 26.1
  .pre-commit-config.yaml
Due: none

Remove all formatting exceptions
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow_generated_globals-partial.adb
  src/flow/graphs.adb
  src/gnatprove/report_database.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add conversion in alignment checks for overlays
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.ads
  testsuite/gnatprove/tests/1145__uc_align/test.out
Due: check-gnatformat-gnat2why

Line number updates for sparklib
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
Due: none

Merge branch 'topic/1145-dross-uc-align-check' into 'master'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.ads
  testsuite/gnatprove/tests/1145__uc_align/test.out
Due: check-gnatformat-gnat2why

Support 'Size on 'Result
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/OA14-027__result__size/test.out
Due: check-gnatformat-gnat2why

Expect mutable discriminants for overlays
  src/why/why-gen-records.adb
  testsuite/gnatprove/tests/1144__mutable_discr_overlays/main.adb
  testsuite/gnatprove/tests/1144__mutable_discr_overlays/test.out
Due: check-gnatformat-gnat2why

Automatic formatting
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_utils.adb
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow-slice.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_generated_globals-phase_1.adb
  src/flow/flow_generated_globals-phase_2.adb
  src/flow/flow_refinement.adb
  src/flow/flow_types.adb
  src/flow/flow_utility-initialization.adb
  src/flow/flow_utility.adb
  src/flow/flow_visibility.adb
  src/gnatprove/print_table.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_frame_conditions.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-tables.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-util.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-binders.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-hardcoded.adb
  src/why/why-gen-names.adb
  src/why/why-inter.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Reject 'Size on formals with dynamic 'Constrained
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.adb
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.out
Due: check-gnatformat-gnat2why

Remove unused clauses
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_utils.adb
  src/flow/flow.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_types.adb
  src/flow/flow_utility.adb
  src/gnatprove/spark_report.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Revert reformatting
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/why/gnat2why-expr.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-names.adb
  src/why/why-gen-records.adb
Due: check-gnatformat-gnat2why

Share utilities for size computation
  share/spark/theories/ada__model.mlw
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/why/gnat2why-expr.adb
  src/why/spark_atree-entities.ads
  src/why/why-atree-modules.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  src/why/why-gen-records.adb
  testsuite/gnatprove/tests/1080__overlaid_dynamic_arrays/test.out
  testsuite/gnatprove/tests/1083__overlaid_components/test.out
  testsuite/gnatprove/tests/1133__component_size/test.adb
  testsuite/gnatprove/tests/1133__component_size/test.out
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.adb
  testsuite/gnatprove/tests/1133__dynamic_mutable_discrs/test.out
  testsuite/gnatprove/tests/1133__mutable_discrs/test.out
  testsuite/gnatprove/tests/1133__size/test.out
  testsuite/gnatprove/tests/1133__tagged_overlays/main.adb
  testsuite/gnatprove/tests/1133__tagged_overlays/test.out
  testsuite/gnatprove/tests/1133__unconstrained_overlay/test.adb
  testsuite/gnatprove/tests/1133__unconstrained_overlay/test.out
  testsuite/gnatprove/tests/1144__mutable_discr_overlays/test.out
  testsuite/gnatprove/tests/306__flow_size/test.out
  testsuite/gnatprove/tests/419__predicate/test.out
  testsuite/gnatprove/tests/895__suitable_for_uc/test.out
  testsuite/gnatprove/tests/MA01-040__flow_attributes_pedantic_warning/test.out
  testsuite/gnatprove/tests/OA14-027__result__size/test.out
  testsuite/gnatprove/tests/P502-025__bit_converter/test.out
  testsuite/gnatprove/tests/P511-009__test_attributes/test.out
  testsuite/gnatprove/tests/S706-002__component_size/test.out
Due: check-gnatformat-gnat2why

Update tests and SKIP tests on Windows
  testsuite/gnatprove/mass_xfail.yaml
  testsuite/gnatprove/tests/1041__hashed_sets/test.opt
  testsuite/gnatprove/tests/1041__hashed_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/tokeneer/test.opt
Due: check-opt-syntax

Fix e3-testsuite version for testsuite_reports script
  .gitlab-ci.yml
Due: none
