Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

Remove unused warning suppression reason
  src/flow/flow_error_messages.ads
Due: none

Add contract to flow message printing routine
  src/flow/flow_error_messages.adb
Due: none

Emit checks for RTE in expressions of raise statements/expressions
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/185__raise_statements/main.adb
  testsuite/gnatprove/tests/185__raise_statements/test.out
  testsuite/gnatprove/tests/TU__exceptions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove unused warning suppression reason (cont.)
  src/flow/flow_error_messages.adb
Due: none

Update testsuite after changes in sparklib
  testsuite/gnatprove/tests/184__containers_of_access/main.adb
  testsuite/gnatprove/tests/184__containers_of_access/test.out
  testsuite/gnatprove/tests/184__containers_of_access/test.yaml
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.out
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update CI to only trigger for MRs
  .gitlab-ci.yml
Due: none

Restore unused warning suppression reason
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
Due: none

update testsuite
  testsuite/gnatprove/tests/187__cycle_global/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test outputs
  testsuite/gnatprove/tests/OA05-076__dynamic_inv_assert_and_cut/test.out
  testsuite/gnatprove/tests/P201-069__simulink/test.out
  testsuite/gnatprove/tests/ironsides/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Provers are no longer specified in output of session tests
  testsuite/gnatprove/tests/allocators/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with inconsistent flow for raise statement and expression
  testsuite/gnatprove/tests/185__flow_raise/func.adb
  testsuite/gnatprove/tests/185__flow_raise/proc.adb
  testsuite/gnatprove/tests/185__flow_raise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix test for coq lemma library after move of sparklib
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.out
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Improve misleading suggestion for address clauses
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/171__external_name/test.out
  testsuite/gnatprove/tests/60__imported_variable/test.out
  testsuite/gnatprove/tests/M318-007__flow_representation_clauses/test.out
  testsuite/gnatprove/tests/N514-043__flow_uninitialized_volatiles/test.out
  testsuite/gnatprove/tests/P707-026__continuation/test.out
  testsuite/gnatprove/tests/P728-024__flow_annotate/test.out
  testsuite/gnatprove/tests/PA24-008__flow_address_clause/test.out
  testsuite/gnatprove/tests/Q504-024__predicate/test.out
  testsuite/gnatprove/tests/Q714-010__address/test.out
  testsuite/gnatprove/tests/Q810-019__flow_proof_in/test.out
  testsuite/gnatprove/tests/S121-026__flow_constant/test.out
  testsuite/gnatprove/tests/T618-016__address_size/test.out
  testsuite/gnatprove/tests/U316-010__protected/test.out
  testsuite/gnatprove/tests/U319-015__overlay_init/test.out
  testsuite/gnatprove/tests/V412-051__addr_const/test.out
  testsuite/gnatprove/tests/V422-046__flow_addr/test.out
  testsuite/gnatprove/tests/ipstack/test.out
Due: check-empty-testoutopt, check-testsuite-markers

update XFAIL info
  testsuite/gnatprove/tests/P921-009__auto_delayed_aspects/test.opt
Due: check-empty-testoutopt

move test to XFAIL
  testsuite/gnatprove/tests/184__containers_of_access/test.opt
Due: check-empty-testoutopt

update session test
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit_ok/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit_ok/why3session.xml
Due: none

Add test for crash on inlining in iterated component association
  testsuite/gnatprove/tests/197__inlining/iter.adb
  testsuite/gnatprove/tests/197__inlining/test.out
  testsuite/gnatprove/tests/S127-005__inlining/test.out
  testsuite/gnatprove/tests/S127-005__swap/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update info about inlining of potentially unevaluated call
  testsuite/gnatprove/tests/T511-007__iterated_component_assoc/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Prove termination of loops over iterable constants
  src/flow/flow-control_flow_graph.adb
Due: none

Improve proof of termination of loops over iterable constants
  src/flow/flow-control_flow_graph.adb
Due: none

Update session files and tests outputs
  testsuite/gnatprove/tests/M808-025__warnings/test.out
  testsuite/gnatprove/tests/S222-009__flow_summary/test.out
  testsuite/gnatprove/tests/openETCS/test.out
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_explicit_ok/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/proof/sessions/array_applications__fibonacci_implicit_ok/why3session.xml
  testsuite/gnatprove/tests/riposte__array_applications/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/O706-003__coq_steps/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update tests outputs
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Change warning when using -u without file name
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/V325-046__warn_u/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update ug test
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix typo in description of using GNATprove with shared folders
  docs/ug/en/source/how_to_run_gnatprove.rst
Due: none

Use the correct domain to compute the discriminants
  src/why/gnat2why-expr.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-pointers.adb
  src/why/why-gen-pointers.ads
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
Due: none

assumptions for Logical_Equal
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Update CodePeer command-line to changes in the interface
  Makefile.gnatprove
  gnat2why/Makefile
Due: none

Workaround build failure related to change in GNAT on finalization
  src/counterexamples/ce_rac.adb
Due: none

Remove dead code
  src/spark/spark_definition.adb
Due: none

Support Always_Terminates in proof
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_utility.adb
  src/flow/flow_utility.ads
  src/gnatprove/spark_report.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  src/why/gnat2why-error_messages.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.ads
  src/why/why-atree-modules.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  testsuite/gnatprove/tests/26__conditional_termination/main.adb
  testsuite/gnatprove/tests/26__conditional_termination/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
