Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Switch from SHA1 to Blake3 to squeeze long Why3 filenames
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/SB18-020__route_shift/proof/sessions/a5fd872d712f888e5926-_elements_checks__eq_reflexive__2/why3session.xml
  testsuite/gnatprove/tests/SB18-020__route_shift/proof/sessions/a91001043beafdd67bc4-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/SB18-020__route_shift/proof/sessions/ecfd1ecc8ac9b6ef2fb2-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/SB18-020__route_shift/proof/sessions/ffa7135fed7b73346b23-_elements_checks__eq_reflexive__2/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/680d5dd9782e1e887f5b-_eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/6b365773bbbca25c94cf-_eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/9251b32932002f1757e0-_eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/b0f1ea75d94102e09e71-eq_elements_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/b4493e77962ce0436a40-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/cc2f2df2a1babd077464-eq_elements_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/d36061913b1dee04e927-_eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/proof/sessions/dc3619b790be0931184c-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2598714a0e9fefdf80bb-mbers__p__initialize_coprime_list/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2a85f63e85d6a20aa57b-p__eratosthenes__smallest_divisor/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/43b23d99b52ac4743aee-__initialize_coprime_list__euclid/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/689c346491a300074310-p__eratosthenes__smallest_divisor/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/9aa31909d30bcccbbcbe-__initialize_coprime_list__euclid/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/a2c32a48d2ccdd3dfb70-_numbers__p__nearest_prime_number/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/c465a8ce36c1c3ee68bb-mbers__p__initialize_coprime_list/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/fbc5e43795867ceafd25-_numbers__p__nearest_prime_number/why3session.xml
Due: check-gnatformat-gnat2why

Support for error message kinds
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Extra msg argument for Error_Msg_N
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
Due: check-gnatformat-gnat2why

Do not introduce overflow checks for 'Length on universal integers
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1179__modular_length/test.adb
  testsuite/gnatprove/tests/1179__modular_length/test.out
Due: check-gnatformat-gnat2why

File test
  testsuite/gnatprove/tests/1179__modular_length/test.adb
  testsuite/gnatprove/tests/1179__modular_length/test.out
Due: none

Removal of spark2014-core
  .gitlab-ci.yml
Due: none

Adapt test for broken GCC to work on Windows
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/cert-166-bad_gcc/bad-gcc.bat
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: none

minor test output update
  testsuite/gnatprove/tests/U316-010__protected/test.out
Due: none

Avoid querying the current directory for every run of gnatwhy3
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Replace repeated call with a use of a local constant
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Remove repeated switching of directories for every run of gnatwhy3
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Strip trailing slash before passing object directory to gnat2why
  src/gnatprove/gnatprove.adb
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Remove use of internal GNAT package Tempdir
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Chop trailing NUL from file name with gnatwhy3 results
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Replace local copy of a string with renaming
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Replace warning suppression with assertion
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Avoid repeated search in map of output files
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Centralize setting of qualifiers for build plans
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Revert "Disable coverage to avoid build crash"
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Update tests
  testsuite/gnatprove/tests/891__proof_potentially_invalid_functions/test.out
  testsuite/gnatprove/tests/891__proof_potentially_invalid_functions/test_function_result.adb
  testsuite/gnatprove/tests/K719-019__flight_mgr/test.out
Due: none

Handle properly RTE checks for conditionally evaluated 'Old attributes
  src/flow/flow_error_messages.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/1096__conditionally_evaluated_old_attribute/main.adb
  testsuite/gnatprove/tests/1096__conditionally_evaluated_old_attribute/potentially_invalid.adb
  testsuite/gnatprove/tests/1096__conditionally_evaluated_old_attribute/test.out
  testsuite/gnatprove/tests/1096__conditionally_evaluated_old_attribute/whoops.adb
Due: check-gnatformat-gnat2why

Update test after change of message
  testsuite/gnatprove/tests/799__finally_proof/test.out
Due: none

Refactor output code in test_support
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/675__flow_gg_side_effects/test.out
  testsuite/gnatprove/tests/675__flow_gg_side_effects/test.py
  testsuite/gnatprove/tests/675__flow_gg_side_effects/test.yaml
  testsuite/gnatprove/tests/MB13-068__no_analysis/test.py
  testsuite/gnatprove/tests/O429-045__tasking_restrictions/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_children/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_const/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_const/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_constants/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_constants/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_mutual/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_mutual/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_nested/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_nested/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_private/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_private/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_protected/test.py
  testsuite/gnatprove/tests/P118-034__flow_gg_volatile/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_volatile/test.py
  testsuite/gnatprove/tests/R601-048__list_categories/test.py
  testsuite/gnatprove/tests/R731-010__flow_loop_entry/test.out
  testsuite/gnatprove/tests/R731-010__flow_loop_entry/test.py
  testsuite/gnatprove/tests/R731-010__flow_loop_entry/test.yaml
  testsuite/gnatprove/tests/RA23-005__flow_optional_refined/test.py
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.out
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.py
  testsuite/gnatprove/tests/SA08-078__flow_nested_initializes/test.out
  testsuite/gnatprove/tests/SA08-078__flow_nested_initializes/test.py
  testsuite/gnatprove/tests/SA08-078__flow_nested_initializes/test.yaml
  testsuite/gnatprove/tests/T623-013__output_checks/test.py
  testsuite/gnatprove/tests/TC07-027__flow_init_contract_private_child/test.out
  testsuite/gnatprove/tests/TC07-027__flow_init_contract_private_child/test.py
  testsuite/gnatprove/tests/U118-026__flow-show-gg__tokeneer/test.py
Due: none

Fix path to MANIFEST.bench
  Makefile
Due: none

Remove last references to SPARK Discovery
  docs/ug/en/tutorial.rst
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Disallow dispatching calls on types with untagged partial view
  docs/lrm/source/declarations-and-types.rst
Due: none

Remove rule about Program_Exit on ghost subprograms
  docs/lrm/source/subprograms.rst
Due: none

Add rules to disallow UC on types with access subcomponents
  docs/lrm/source/representation-issues.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Say that immutable discriminants cannot have relaxed initialization
  docs/lrm/source/subprograms.rst
Due: none

Describe move to constants in the LRM
  docs/lrm/source/declarations-and-types.rst
Due: none

Fix LRM to say that P'Access is supported
  docs/lrm/source/language-defined-aspects-and-attributes.rst
Due: none

Add additional rules for overlays in the RM
  docs/lrm/source/representation-issues.rst
Due: none

Refactor repeated search in map of CE fuzzer values
  src/counterexamples/ce_fuzzer.adb
Due: check-gnatformat-gnat2why

Refactor copying container with fuzzed CE integer values
  src/counterexamples/ce_fuzzer.adb
Due: check-gnatformat-gnat2why

Handle attributes Old and Loop_Entry by their attribute id
  src/counterexamples/ce_rac.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Handle attributes by their id and not by their name
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_rac.adb
Due: check-gnatformat-gnat2why
