Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Avoid calls to Ada.Text_IO.Put for every character of a string
  src/utils/outputs.adb
Due: none

Use Character when pretty-printing to Json
  src/utils/outputs.adb
  src/utils/outputs.ads
  src/why/xgen/why-atree-to_json.adb-tmpl
  src/why/xgen/xtree_why_ast.adb
Due: none

Simplify cleaning of identifiers in building of Why3 API
  src/why/xgen/xtree_why_ast.adb
Due: none

Don't scan Why3 node kinds and universal integers for quotes
  src/why/xgen/why-atree-to_json.adb-tmpl
  src/why/xgen/xtree_why_ast.adb
Due: none

Remove default discriminant value from Why_Node
  src/why/xgen/xkind_tables.adb
  src/why/xgen/xkind_tables.ads
  src/why/xgen/xtree_decls.adb
Due: none

Refine type of Why_Node_Counter
  src/why/xgen/xtree_why_ast.adb
Due: none

Cleanup whitespace in the builder of Why3 AST
  src/why/xgen/xtree_tables.adb
  src/why/xgen/xtree_tables.ads
Due: none

Assert that only checked nodes are pretty-printed to Json
  src/why/why-atree-to_json.ads
Due: none

Avoid calls Ada.Text_IO.Put for every space in debug indentation
  src/utils/debug-timing.adb
Due: none

Annotate Output routines with contracts about indentation levels
  src/utils/outputs.adb
  src/utils/outputs.ads
Due: none

Refactor common call in generating builder's local declarations
  src/why/xgen/xtree_builders.adb
Due: none

Optimize building of Why3 AST with empty nodes
  src/why/xgen/xtree_builders.adb
Due: none

Automatically layout fields in Why_Node
  src/why/xgen/helpers.gpr
  src/why/xgen/xtree_decls.adb
Due: none

Use hashed containers where performance matters and ordering doesn't
  src/spark/spark_definition.adb
Due: none

Test passes again after front-end fix
  testsuite/gnatprove/tests/V718-026__dic_and_predicate/test.opt
Due: check-empty-testoutopt

Update test outputs with line changes related to formal containers
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/247__tagged_types/test.out
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/O504-014__state_machine/test.out
  testsuite/gnatprove/tests/O525-026__classwide/test.out
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/R717-025__flow_container/test.out
  testsuite/gnatprove/tests/R831-037__formal_map/test.out
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/SB07-003__crash/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Disable 3 tests waiting for fix in GNAT
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.opt
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.opt
Due: check-empty-testoutopt

Adapt tests for proof and execution of contracts on formal containers
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.adb
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.adb
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test_list.ads
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_maps/test_map.adb
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test_set.adb
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_maps/test_map.adb
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_sets/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_sets/test_set.adb
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test_vectors.ads
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test_list.ads
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test_map.ads
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test_set.ads
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test_map.ads
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test_set.ads
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test_vectors.ads
Due: check-empty-testoutopt, check-testsuite-markers

Update precommit tool versions and precommit cleanup
  .pre-commit-config.yaml
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/tests/MA29-020__proof_nested_subprograms/test.out
  testsuite/gnatprove/tests/QB30-008__session/test.out
  testsuite/gnatprove/tests/R103-025__version/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Document the Mutable_In_Parameters annotation in the UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

Update documentation on C.Strings
  docs/ug/en/source/spark_libraries.rst
Due: none

Remove deleted file from list of excluded files
  gnat2why/gnat2why.gpr
Due: none

Update outputs after sloc changes in formal containers
  testsuite/gnatprove/tests/PC14-014__functional/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update session test
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__to_chars_ptr__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__4/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value_def/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__free/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_nul_terminated_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__lemma_is_find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_char_array/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__4/why3session.xml
Due: none

SPARK.C.Strings.Free shall not be called if deallocation is prohibited
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Change handling of warning/error when no results
  src/common/gnat2why_opts.ads
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnatprove.adb
  src/gnatprove/report_database.ads
  src/gnatprove/spark_report.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/288__limit_name/test.out
  testsuite/gnatprove/tests/288__limit_name/test.py
  testsuite/gnatprove/tests/MB13-068__no_analysis/test.out
  testsuite/gnatprove/tests/N326-019__rebuild/test.out
  testsuite/gnatprove/tests/O429-045__tasking_restrictions/test.out
  testsuite/gnatprove/tests/P907-015__elab/test.out
  testsuite/gnatprove/tests/PA20-065__gnatprove_output/test.out
  testsuite/gnatprove/tests/T725-004__aggregate_file/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Test update
  testsuite/gnatprove/tests/63__spark_c_strings/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Document target switch in help output
  docs/ug/en/source/how_to_run_gnatprove.rst
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Commit review file for gnatprove
  gnatprove.gpr
  gnatprove.sar
Due: none

New annotation for the predefined equality of private types
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/569__c_strings/ext.ads
  testsuite/gnatprove/tests/569__c_strings/main.adb
  testsuite/gnatprove/tests/569__c_strings/test.out
  testsuite/gnatprove/tests/569__c_strings/test.yaml
  testsuite/gnatprove/tests/569__predefined_eq_illegal/illegal_annot.adb
  testsuite/gnatprove/tests/569__predefined_eq_illegal/test.out
  testsuite/gnatprove/tests/569__predefined_eq_illegal/test_usage.adb
  testsuite/gnatprove/tests/569__predefined_eq_legal/test.out
  testsuite/gnatprove/tests/569__predefined_eq_legal/test_eq_handling.adb
  testsuite/gnatprove/tests/63__spark_c_strings/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Correct minor change in error message
  src/spark/spark_util-types.adb
Due: none

Move pragma No_Strict_Aliasing to fully ignored pragmas
  docs/lrm/source/language-defined-pragmas.rst
  src/spark/spark_definition.adb
Due: none

Remove install of cvc5 in various SPARK plans
  plans/ci.plan
  plans/spark2014+gnat.plan
  plans/spark2014.plan
  plans/spark2014_only.plan
Due: none

Document the Predefined_Equality annotation
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

Add assumptions on the use of Predefined_Equality
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Take into account ghost predicates to reject duplicated predicates
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/573__ghost_predicate/p.ads
  testsuite/gnatprove/tests/573__ghost_predicate/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add defensive code to Check_Compatible_Access_Types
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/574__access_conversion/m.adb
  testsuite/gnatprove/tests/574__access_conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers
