Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Support pragma Extended_Access
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/935__bad_extended_access/test.out
  testsuite/gnatprove/tests/935__bad_extended_access/test_bad_extended_access.adb
  testsuite/gnatprove/tests/935__extended_access/test.out
  testsuite/gnatprove/tests/935__extended_access/test_extended_access.adb
Due: check-gnatformat-gnat2why

File test for pragma Short_Circuit_And_Or
  testsuite/gnatprove/tests/1165__short_circuit/test.adb
  testsuite/gnatprove/tests/1165__short_circuit/test.out
Due: none

Remove unused parameter
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
Due: check-gnatformat-gnat2why

Baselines in coq testsuite
  testsuite/gnatprove/tests/N919-012__coq_split/test.out
  testsuite/gnatprove/tests/O424-016__coq_gcd/test.out
  testsuite/gnatprove/tests/O424-016__coq_valid/test.out
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.out
Due: none

Re-enable CE after fix on cvc5
  testsuite/gnatprove/tests/128__type_invariants/test.yaml
Due: none

Restore the default timeout 780 in tests
  testsuite/gnatprove/run-tests
Due: none

Update baseline: remove extraneous backslash conversion
  testsuite/gnatprove/tests/P201-069__simulink/test.out
Due: none

Update baseline: update proof failure reason
  testsuite/gnatprove/tests/P201-069__simulink/test.out
Due: none

Format code with gnatformat-20260118
  src/counterexamples/ce_parsing.adb
  src/flow/flow_types.adb
  src/why/why-atree-modules.adb
Due: check-gnatformat-gnat2why

Disable cache on replay test
  testsuite/gnatprove/tests/S513-002__replay/test.py
Due: none

Regain proof lost after prover update
  testsuite/gnatprove/tests/PB28-028__float_bounds/test.out
  testsuite/gnatprove/tests/PB28-028__float_bounds/test.yaml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/18d5b2a3983264727763-ap__eq_keys_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/455e75fb9c6a6c83073e-occ_map__eq_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/a265f0801f318ad7c73a-map__eq_keys_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/e36a07494769b9589cf1-ap__eq_keys_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/e83c1aee3250757b4a1b-_occ_map__eq_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__is_sorted/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__merge/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__is_add/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__is_merge/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__occ_map__iterable_map/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__occ_map__map/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__prove_add_eq/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__prove_add_merge_l/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__multi_sets__prove_add_merge_r/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__occurrences/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__prove_cut/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__prove_eq/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/proof/sessions/recursive_mergesort__recursive_mergesort/why3session.xml
  testsuite/gnatprove/tests/T727-043__mergesort/recursive_mergesort.adb
  testsuite/gnatprove/tests/T727-043__mergesort/test.out
  testsuite/gnatprove/tests/T727-043__mergesort/test.yaml
Due: none

Accept No_Raise
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1168__bad_no_raise/test.out
  testsuite/gnatprove/tests/1168__bad_no_raise/test_bad_no_raise.adb
  testsuite/gnatprove/tests/1168__no_raise/test.out
  testsuite/gnatprove/tests/1168__no_raise/test_no_raise.adb
Due: check-gnatformat-gnat2why

Ignore reformatting with gnatformat-20260118 while blaming
  .git-blame-ignore-revs
Due: none

Imprecise support for External_Initialization
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree.ads
  testsuite/gnatprove/tests/708__dynamic_external_initializer/foo.adb
  testsuite/gnatprove/tests/708__dynamic_external_initializer/foo.txt
  testsuite/gnatprove/tests/708__dynamic_external_initializer/test.out
  testsuite/gnatprove/tests/708__external_initializer/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Pick main subprogram priority from aspect specification
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/988__priority_pragma_aspect/test.opt
  testsuite/gnatprove/tests/988__priority_pragma_aspect/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Move tests to XFAIL
  testsuite/gnatprove/tests/O309-037__LSP_dynamic_type/test.opt
Due: check-opt-syntax

Fix spark_book example
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/spark_book/test.opt
  testsuite/gnatprove/tests/spark_book/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

New test
  testsuite/gnatprove/tests/1044__unexpected_exception_finally/main.adb
  testsuite/gnatprove/tests/1044__unexpected_exception_finally/test.out
Due: none

Add reason for check for unexpected exceptions in finally sections
  src/flow/flow_error_messages.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
Due: check-gnatformat-gnat2why

Revert "Update baseline: update proof failure reason"
  testsuite/gnatprove/tests/P201-069__simulink/test.out
Due: none

Document that exceptions shall not escape finally section in SPARK
  docs/lrm/source/exceptions.rst
Due: none

Do not reject Program_Exit on ghost subprograms
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1094__exit_case_program_exit_annotate/foo.adb
  testsuite/gnatprove/tests/1094__exit_case_program_exit_annotate/test.out
  testsuite/gnatprove/tests/1171__ghost_program_exit/test.adb
  testsuite/gnatprove/tests/1171__ghost_program_exit/test.out
  testsuite/gnatprove/tests/448__illegal_program_exit/test.adb
  testsuite/gnatprove/tests/448__illegal_program_exit/test.out
Due: check-gnatformat-gnat2why

xfail test with non-deterministic counterexample
  testsuite/gnatprove/tests/868__mut_discr_param_int/test.opt
Due: check-opt-syntax

Xfail test
  testsuite/gnatprove/tests/TC02-027__rac/test.opt
Due: check-opt-syntax

Detect inlined procedures with No_Raise
  src/flow/flow_error_messages.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1168__inlined_no_raise/test.adb
  testsuite/gnatprove/tests/1168__inlined_no_raise/test.out
Due: check-gnatformat-gnat2why

Add a check on conversion from UU derived type
  src/why/gnat2why-expr.adb
  src/why/why-gen-expr.adb
  testsuite/gnatprove/tests/1026__derived_uu_conv/main.adb
  testsuite/gnatprove/tests/1026__derived_uu_conv/test.out
Due: check-gnatformat-gnat2why

Allow ghost entity in aspects that apply to dependent ghost entities
  docs/lrm/source/subprograms.rst
Due: none

Disable coverage to avoid build crash
  .gitlab-ci.yml
  plans/ci.plan
Due: none

File test with nested contrained uu type without inferable discriminant
  testsuite/gnatprove/tests/1026__nested_contrained_uu/test.adb
  testsuite/gnatprove/tests/1026__nested_contrained_uu/test.out
  testsuite/gnatprove/tests/1026__nested_contrained_uu/test.yaml
Due: none

Reject program exit in inlined ghost calls
  src/flow/flow_error_messages.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1171__ghost_program_exit/test.adb
  testsuite/gnatprove/tests/1171__ghost_program_exit/test.out
  testsuite/gnatprove/tests/448__program_exit_proof/test.out
  testsuite/gnatprove/tests/806__flow_program_exit/test.out
Due: check-gnatformat-gnat2why

Fix routine to detect if the completion of an expr fun is deferred
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  testsuite/gnatprove/tests/1178__expr_fun_completion/ext.adb
  testsuite/gnatprove/tests/1178__expr_fun_completion/ext.ads
  testsuite/gnatprove/tests/1178__expr_fun_completion/test.out
Due: check-gnatformat-gnat2why

Do not introduce overflow checks for 'Length on universal integers
  src/why/gnat2why-expr.adb
Due: check-gnatformat-gnat2why

File test for frontend issue
  testsuite/gnatprove/tests/1742__overflow_check/test.adb
  testsuite/gnatprove/tests/1742__overflow_check/test.opt
Due: check-opt-syntax

Switch from SHA1 to Blake3 when writing gnat2why options file
  src/gnatprove/gnat2why_opts-writing.adb
Due: check-gnatformat-gnatprove

Switch from SHA1 to Blake3 for mamcache
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Adapt test for broken GCC to work on Windows
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/cert-166-bad_gcc/bad-gcc.bat
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: none

Include bounds vertices in record grouping
  src/flow/flow-control_flow_graph.adb
Due: check-gnatformat-gnat2why

Add test for coverage with empty global whose extensions are visible
  testsuite/gnatprove/tests/1067__flow_extension_visible_global/ext.adb
  testsuite/gnatprove/tests/1067__flow_extension_visible_global/test.out
Due: none

Create record tree together with initial and final vertices
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_types.ads
Due: check-gnatformat-gnat2why

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
