Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

Document new ownership annotations for reclaimed values
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  testsuite/gnatprove/tests/ug__ownership_annotations/c_strings.ads
Due: none

Add manifest file for bench tests which should have all VCs provable
  testsuite/gnatprove/MANIFEST.bench_no_fail
Due: none

Slightly different output for 2 tests after backport
  testsuite/gnatprove/tests/K518-029__call_actuals/test.out
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add a note to document the equality used to compare reclaimed values
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

Minor output fix after cvc5 update
  testsuite/gnatprove/tests/O227-007__float_double_inconsistency/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Recognize statically null constants and disable checks on them
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/488__hidden_reclaimed_const/p_bad.ads
  testsuite/gnatprove/tests/488__hidden_reclaimed_const/test.out
  testsuite/gnatprove/tests/488__reclaimed_const/test.adb
  testsuite/gnatprove/tests/488__reclaimed_const/test.out
  testsuite/gnatprove/tests/S529-012__general_pointer/test.out
  testsuite/gnatprove/tests/U702-009__flow_access_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove 2 tests from benchmarks list and make them pass
  testsuite/gnatprove/MANIFEST.bench
  testsuite/gnatprove/tests/P725-029__indef_hashed_set/test.opt
  testsuite/gnatprove/tests/crazyflie/modules/spec/sensfusion6_pack.ads
  testsuite/gnatprove/tests/crazyflie/modules/spec/stabilizer_pack.ads
  testsuite/gnatprove/tests/crazyflie/modules/spec/worker_pack.ads
  testsuite/gnatprove/tests/crazyflie/test.opt
  testsuite/gnatprove/tests/crazyflie/test.out
  testsuite/gnatprove/tests/crazyflie/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Fix crash in assertions
  src/spark/spark_util.adb
Due: none

Export GPR package/attributes feature
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  testsuite/gnatprove/tests/gnatprove_print-gpr-registry/test.out
  testsuite/gnatprove/tests/gnatprove_print-gpr-registry/test.py
Due: check-empty-testoutopt, check-testsuite-markers

pass compilation mode to gnat2why compilation for coverage
  Makefile
Due: none

Replace low-level membership test with a high-level wrapper
  src/spark/spark_util.adb
  src/why/gnat2why-expr.adb
Due: none

Fix category of init checks by proof in summary table
  src/gnatprove/spark_report.adb
Due: none

Fix rewriting of derived types that comes from source
  src/spark/spark_rewrite.adb
  testsuite/gnatprove/tests/501__derived_alias/sorted_vectors.ads
  testsuite/gnatprove/tests/501__derived_alias/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Support new Mutable_In_Parameters annotation
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/487__illegal_mutable_in_params/illegal_mutable_in_parameters.adb
  testsuite/gnatprove/tests/487__illegal_mutable_in_params/test.out
  testsuite/gnatprove/tests/487__test_mutable_in_params/test.out
  testsuite/gnatprove/tests/487__test_mutable_in_params/test_mutable_in_parameters.adb
Due: check-empty-testoutopt, check-testsuite-markers

Enable more cases in RAC
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_rac.ads
  src/flow/flow_error_messages.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  testsuite/gnatprove/tests/M830-004__checks/test.out
  testsuite/gnatprove/tests/M919-030__dyn_aggr/test.out
  testsuite/gnatprove/tests/N530-020__range_check_aggregates/test.out
  testsuite/gnatprove/tests/N731-010__aggregate/test.out
  testsuite/gnatprove/tests/O305-024__dynamic_empty_range/test.out
  testsuite/gnatprove/tests/R601-036__aggregate_bounds/test.out
  testsuite/gnatprove/tests/S305-038__allocators/test.out
  testsuite/gnatprove/tests/S702-024__record_attributes_in_allocators/test.out
  testsuite/gnatprove/tests/T427-008__allocators/test.out
  testsuite/gnatprove/tests/T630-017__access_to_record/test.out
  testsuite/gnatprove/tests/V803-008__counterex_fuzz_record/test.out
  testsuite/gnatprove/tests/riposte__arrays_in_records/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test outputs for messages outside of a subprogram
  testsuite/gnatprove/tests/425__constant_in_packages/test.out
  testsuite/gnatprove/tests/425__variables_in_packages/test.out
  testsuite/gnatprove/tests/M503-001__typinv/test.out
  testsuite/gnatprove/tests/M618-009__first/test.out
  testsuite/gnatprove/tests/M618-009__second/test.out
  testsuite/gnatprove/tests/P413-011__elaboration_issue_init2/test.out
  testsuite/gnatprove/tests/P805-023__initial_condition/test.out
  testsuite/gnatprove/tests/Q426-004__limit_region/test.out
  testsuite/gnatprove/tests/QA04-034__reduced_volatile/test.out
  testsuite/gnatprove/tests/TC16-016__invariant_child_unit/test.out
  testsuite/gnatprove/tests/TU__initializes_illegal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test and update one test output
  testsuite/gnatprove/tests/500__range_check_rac/s.adb
  testsuite/gnatprove/tests/500__range_check_rac/test.out
  testsuite/gnatprove/tests/V428-026__volatile_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup expressions in tests
  src/counterexamples/ce_rac.adb
Due: none

Fix gpr files with new switch with parameter "on"
  testsuite/gnatprove/tests/tokeneer/test.gpr
  testsuite/gnatprove/tests/ug__exceptions_rte/exceptions_rte.gpr
Due: none

Tune description of Exceptional_Cases
  docs/lrm/source/subprograms.rst
Due: none

Fix for access-to-variable params in functions with side-effects
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/476__side_effects/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Changed version in test output
  testsuite/gnatprove/tests/441__fsf/test.out
  testsuite/gnatprove/tests/R103-025__version/test.out
Due: check-empty-testoutopt, check-testsuite-markers

New counterexamples
  testsuite/gnatprove/tests/187__cycle_global/test.out
  testsuite/gnatprove/tests/247__container_aggregate_capacity/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test.out
  testsuite/gnatprove/tests/408__aliasing/test.out
  testsuite/gnatprove/tests/K606-027__slice/test.out
  testsuite/gnatprove/tests/L126-018__image_value/test.out
  testsuite/gnatprove/tests/N120-055__perm/test.out
  testsuite/gnatprove/tests/S325-002__dyn_inv_pointer/test.out
  testsuite/gnatprove/tests/S628-032__pointer/test.out
  testsuite/gnatprove/tests/T409-007__streams/test.out
  testsuite/gnatprove/tests/T514-020__callback/test.out
  testsuite/gnatprove/tests/U205-005__not_null_borrow/test.out
  testsuite/gnatprove/tests/U827-015__structural_loop_variant/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

XFAILing prover not found
  testsuite/gnatprove/tests/N804-036__bad_prover/test.opt
Due: check-empty-testoutopt

Changed why3 output format
  testsuite/gnatprove/tests/QB30-008__session/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Lost counterexample
  testsuite/gnatprove/tests/K223-023__search_inline/test.out
  testsuite/gnatprove/tests/S219-014__nested_update/test.out
  testsuite/gnatprove/tests/V803-008__counterex_fuzz_record/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix borrow-checker permission fetching
  src/why/gnat2why-borrow_checker.adb
Due: none

Forbid borrowing through an observer
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
Due: none

Factor implementation of path-checking functions
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
Due: none

New test
  testsuite/gnatprove/tests/495__borrowing_through_observer/foo.adb
  testsuite/gnatprove/tests/495__borrowing_through_observer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix typos in SPARK UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/concurrency.rst
Due: none

Disable long-running CE on this test
  testsuite/gnatprove/tests/128__type_invariants/test.yaml
Due: none

Temporarily remove error output
  testsuite/gnatprove/tests/P513-003__coq_change/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
