Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Improved checking of -gnateT
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/278__runtime/test.out
Due: check-gnatformat-gnatprove

Improve handling of Proof_Warnings in switches parsing
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
Due: check-gnatformat-gnatprove

Improvement of installed prover detection
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Check if why3 needs a rebuild
  .gitlab-ci.yml
  docs/develguide/miscellaneous.rst
  scripts/check_why3_nightly.py
Due: none

Improve clean-sessions script to remove unused provers
  testsuite/gnatprove/lib/python/clean_sessions.py
Due: none

Fix GCC link in readme
  README.md
Due: none

More up to date and concise build instructions in README
  Makefile
  README.md
Due: none

Fix typo in axiom trigger
  share/spark/theories/_gnatprove_standard.mlw
  testsuite/gnatprove/tests/ghc_sort/proof/manifest/ghc_sort.toml
Due: none

Fix justifying pragma Annotate for generics
  docs/develguide/legality_checking.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1334__annotate_generic/foo.ads
  testsuite/gnatprove/tests/1334__annotate_generic/lib_pkg.adb
  testsuite/gnatprove/tests/1334__annotate_generic/lib_pkg.ads
  testsuite/gnatprove/tests/1334__annotate_generic/lib_subp.adb
  testsuite/gnatprove/tests/1334__annotate_generic/lib_subp.ads
  testsuite/gnatprove/tests/1334__annotate_generic/main.adb
  testsuite/gnatprove/tests/1334__annotate_generic/test.out
Due: check-gnatformat-gnat2why

Pass targetname to gnat2why
  docs/develguide/tool_structure.rst
  gnat2why/gnat2why_gnat.gpr
  gnat2why/sdefault.adb.in
  gnat2why/spark_src/spark_target.ads
  src/common/call.adb
  src/common/call.ads
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/why/back_end.adb
  testsuite/gnatprove/tests/1457__cross_target/fake-gcc
  testsuite/gnatprove/tests/1457__cross_target/target_name.ads
  testsuite/gnatprove/tests/1457__cross_target/test.gpr
  testsuite/gnatprove/tests/1457__cross_target/test.out
  testsuite/gnatprove/tests/1457__cross_target/test.py
  testsuite/gnatprove/tests/1457__target_name/test.out
  testsuite/gnatprove/tests/1457__target_name/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Update baselines for functional trees changes
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.out
Due: none

Update baselines for trigger typo fix
  testsuite/gnatprove/tests/Q930-002__itp/test.out
  testsuite/gnatprove/tests/R416-004__frame_condition/test.out
  testsuite/gnatprove/tests/R419-026__swap_ranges/test.out
  testsuite/gnatprove/tests/TB04-004__string_counterex/test.out
  testsuite/gnatprove/tests/U629-025__old_in_itypes/test.out
  testsuite/gnatprove/tests/string_search/test.out
  testsuite/gnatprove/tests/tagged_stacks/test.out
Due: none

Small refactor to clarify first line extraction
  src/common/call.adb
Due: check-gnatformat-gnatprove

Update baselines for -gnateT check refactoring
  testsuite/gnatprove/tests/1457__cross_target/test.out
Due: none

Update manifest for 67__unbounded_strings
  testsuite/gnatprove/tests/67__unbounded_strings/proof/manifest/strunb.toml
Due: none

Do not consider functions for null subp
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/1473__generic_formal/test.adb
  testsuite/gnatprove/tests/1473__generic_formal/test.out
Due: check-gnatformat-gnat2why

Assume value and bounds of constants used in protected types
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/442__priority_constant/ext.ads
  testsuite/gnatprove/tests/442__priority_constant/test.out
  testsuite/gnatprove/tests/PB15-015__prot_prio/test.out
Due: check-gnatformat-gnat2why

Extend the documentation of the higher order library in the UG
  docs/ug/en/source/spark_libraries.rst
  testsuite/gnatprove/tests/ug__higher_order_fold/array_max.ads
  testsuite/gnatprove/tests/ug__higher_order_fold/higher_order_fold.gpr
  testsuite/gnatprove/tests/ug__higher_order_fold/test.adc
  testsuite/gnatprove/tests/ug__higher_order_fold/test.out
  testsuite/gnatprove/tests/ug__higher_order_reachability/higher_order_reachability.gpr
  testsuite/gnatprove/tests/ug__higher_order_reachability/linked_lists.adb
  testsuite/gnatprove/tests/ug__higher_order_reachability/linked_lists.ads
  testsuite/gnatprove/tests/ug__higher_order_reachability/memory_lists.ads
  testsuite/gnatprove/tests/ug__higher_order_reachability/test.adc
  testsuite/gnatprove/tests/ug__higher_order_reachability/test.out
  testsuite/gnatprove/tests/ug__higher_order_sum_count/count_zeros.adb
  testsuite/gnatprove/tests/ug__higher_order_sum_count/count_zeros.ads
  testsuite/gnatprove/tests/ug__higher_order_sum_count/higher_order_sum_count.gpr
  testsuite/gnatprove/tests/ug__higher_order_sum_count/sum_ints.ads
  testsuite/gnatprove/tests/ug__higher_order_sum_count/test.adc
  testsuite/gnatprove/tests/ug__higher_order_sum_count/test.out
Due: none

Add pre-commit check for attributions
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

Add manual Windows CI for builds
  .gitlab-ci.yml
Due: none

Fix agent directive for large discriminant
  AGENTS.md
Due: none

Document the pointers library in the UG
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/usage_scenarios.rst
  testsuite/gnatprove/tests/ug__pointers_auto_reclaimed/aliasing.adb
  testsuite/gnatprove/tests/ug__pointers_auto_reclaimed/aliasing.gpr
  testsuite/gnatprove/tests/ug__pointers_auto_reclaimed/int_pointers.ads
  testsuite/gnatprove/tests/ug__pointers_auto_reclaimed/test.adc
  testsuite/gnatprove/tests/ug__pointers_auto_reclaimed/test.out
  testsuite/gnatprove/tests/ug__pointers_explicit_reclamation/aliasing.adb
  testsuite/gnatprove/tests/ug__pointers_explicit_reclamation/aliasing.gpr
  testsuite/gnatprove/tests/ug__pointers_explicit_reclamation/int_pointers.ads
  testsuite/gnatprove/tests/ug__pointers_explicit_reclamation/test.adc
  testsuite/gnatprove/tests/ug__pointers_explicit_reclamation/test.out
  testsuite/gnatprove/tests/ug__pointers_handles/int_lists.ads
  testsuite/gnatprove/tests/ug__pointers_handles/int_lists.gpr
  testsuite/gnatprove/tests/ug__pointers_handles/list_pointers.ads
  testsuite/gnatprove/tests/ug__pointers_handles/test.adc
  testsuite/gnatprove/tests/ug__pointers_handles/test.out
  testsuite/gnatprove/tests/ug__pointers_poisoned/acc_views.ads
  testsuite/gnatprove/tests/ug__pointers_poisoned/replacing.adb
  testsuite/gnatprove/tests/ug__pointers_poisoned/replacing.ads
  testsuite/gnatprove/tests/ug__pointers_poisoned/replacing.gpr
  testsuite/gnatprove/tests/ug__pointers_poisoned/test.adc
  testsuite/gnatprove/tests/ug__pointers_poisoned/test.out
Due: none

Add notes about auto reclaimed pointers in the UG
  docs/ug/en/source/spark_libraries.rst
Due: none

More precise about content of section
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
Due: none

Update SPARK RM delay rules
  docs/lrm/source/tasks-and-synchronization.rst
Due: none

Improve section about delay statements
  docs/ug/en/source/concurrency.rst
Due: none

Fix copyright year in UG
  docs/ug/conf.py
  docs/ug/en/gfdl.tex
  docs/ug/index.rst
Due: none

Fix two structural problems in the UG
  docs/ug/en/source/concurrency.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Remove the duplicated "Flow Analysis Limitations" section from the UG
  docs/ug/en/appendix/gnatprove_limitations.rst
Due: none

Fix sparklib coverage issue with sparklib changes
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Fix format in LRM
  docs/lrm/source/subprograms.rst
Due: none

Remove no longer used utility routines for hardcoded operations
  src/spark/spark_util-hardcoded.adb
  src/spark/spark_util-hardcoded.ads
Due: check-gnatformat-gnat2why

Move moderately fast tests to non-large
  testsuite/gnatprove/tests/M808-025__warnings/test.yaml
  testsuite/gnatprove/tests/P405-006__arithmetic_from_dafny/test.yaml
  testsuite/gnatprove/tests/ug__at_end_borrow/test.yaml
Due: none

Preserve formatting in trigger-session-update --help output
  testsuite/gnatprove/trigger-session-update
Due: none

Robustify checks on paths
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1478__access_attr_in_traversal/repro.adb
  testsuite/gnatprove/tests/1478__access_attr_in_traversal/test.out
Due: check-gnatformat-gnat2why

Document access conversions in the UG
  docs/ug/en/source/spark_libraries.rst
Due: none

Document missing SPARKlib unit in the user guide
  docs/ug/en/source/spark_libraries.rst
Due: none

Reject mutably tagged types
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/1483__mutably_tagged/test.adb
  testsuite/gnatprove/tests/1483__mutably_tagged/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
