Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

minor testsuite update
  testsuite/gnatprove/tests/Q313-019__elementary_ce_float/test.out
Due: none

Update test ouput after frontend fix
  testsuite/gnatprove/tests/359__ghost_equality/test.out
Due: none

Rename function extracting predicate expression
  src/flow/flow-analysis-sanity.adb
  src/flow/flow_utility.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  src/spark/spark_util-types.adb
Due: check-gnatformat-gnat2why

New test
  testsuite/gnatprove/tests/1265__static_predicate_marking/foo.adb
  testsuite/gnatprove/tests/1265__static_predicate_marking/p.ads
  testsuite/gnatprove/tests/1265__static_predicate_marking/test.out
Due: none

Update test
  testsuite/gnatprove/tests/P114-015__marking_infinite_recursion/test.out
Due: none

No longer mark bodies of predicate function
  src/spark/spark_definition.adb
Due: check-gnatformat-gnat2why

Restore RTE checking on predicate expressions
  src/why/gnat2why-subprograms.adb
Due: check-gnatformat-gnat2why

Fix gnatformat violation
  src/gnatprove/spark_data_rep_wrapper.adb
Due: check-gnatformat-gnatprove

testsuite updates
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/757__warnings/test.py
  testsuite/gnatprove/tests/931__autoconf_config/test.py
  testsuite/gnatprove/tests/L503-003__clean/test.py
  testsuite/gnatprove/tests/N917-051__longest_common_prefix/test.yaml
  testsuite/gnatprove/tests/O219-021__runtime/test.yaml
  testsuite/gnatprove/tests/O219-021__target/test.yaml
  testsuite/gnatprove/tests/O917-095__flow_tasking_main_program/test.py
  testsuite/gnatprove/tests/OB28-002__slow_flow_on_deep_records/test.yaml
  testsuite/gnatprove/tests/PB02-030__flow_functions_with_volatile_input/test.py
  testsuite/gnatprove/tests/TU__tasks_illegal/test.py
  testsuite/gnatprove/tests/ipstack/test.yaml
Due: none

Simplify parsing of project cmd line options
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Fix behavior of spark_report warning with -q
  src/gnatprove/spark_report.adb
  testsuite/gnatprove/tests/1215__limitsubp/test.out
  testsuite/gnatprove/tests/1215__limitsubp/test.py
Due: check-gnatformat-gnatprove

Parse cache info and store it into .spark files
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
  src/why/gnat2why-error_messages.adb
  src/why/gnat2why-error_messages.ads
Due: check-gnatformat-gnat2why

Debug switch to disable caching output
  src/common/gnat2why_opts.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/tests/P727-038__gnatprove_flags/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Documentation of --report=provers switch
  docs/ug/en/source/how_to_view_gnatprove_output.rst
Due: none

file test
  testsuite/gnatprove/tests/691__cache_phrase/test.adb
  testsuite/gnatprove/tests/691__cache_phrase/test.out
  testsuite/gnatprove/tests/691__cache_phrase/test.py
Due: none

spark_memcached_wrapper adds cache output to provers
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Refactor cache source parsing in memcached wrapper
  src/gnatprove/spark_memcached_wrapper.adb
Due: check-gnatformat-gnatprove

Cache info for gnatwhy3 cache hits
  src/gnatprove/spark_memcached_wrapper.adb
  src/why/gnat2why-error_messages.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

File new test for --report=statistics coverage
  testsuite/gnatprove/tests/691__report_statistics/test.adb
  testsuite/gnatprove/tests/691__report_statistics/test.out
  testsuite/gnatprove/tests/691__report_statistics/test.py
Due: none

Show cache information in --report=provers output
  src/flow/flow_error_messages.adb
Due: check-gnatformat-gnat2why

Fix way of passing gpr file in test py
  testsuite/gnatprove/tests/O706-003__coq_steps/test.py
  testsuite/gnatprove/tests/adacore_u/test.py
  testsuite/gnatprove/tests/thumper/test.py
Due: none

Simplify cargs parsing
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Fix cleaning script for Coq proofs
  testsuite/gnatprove/lib/python/clean_sessions.py
Due: none

share bodymode SPARKlib for coverage runs
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/sparklib-coverage.py
Due: none

Fix explain code mechanism
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/1298__explain/test.out
  testsuite/gnatprove/tests/1298__explain/test.py
Due: check-gnatformat-gnatprove

Update line numbers in the UG example for ownership
  docs/ug/en/source/language_restrictions.rst
Due: none

Update .out file line numbers in the UG
  docs/ug/en/source/assertion_pragmas.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/object_oriented_programming.rst
Due: none

Fix typos in tests and adjust slocs in outputs
  testsuite/gnatprove/tests/JC17-017__exit/p.adb
  testsuite/gnatprove/tests/JC17-017__exit/test.out
  testsuite/gnatprove/tests/JC17-017__return/p.adb
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry_nested/loopentry.adb
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry_nested/loopentry.ads
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry_nested/test.out
  testsuite/gnatprove/tests/V318-027__nested__rac/main.adb
Due: none

Fix typos in documentation
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/subprogram_contracts.rst
Due: none

Fix typos in UG with ispell
  docs/ug/en/source/access.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/en/source/how_to_write_loop_invariants.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/loop.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/source/object_oriented_programming.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/subprogram_contracts.rst
Due: none

Fix typos in tests and adjust slocs in outputs (fix)
  testsuite/gnatprove/tests/JC17-017__return/test.out
Due: none

Generate inversion axioms for potentially invalid UCs
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  src/spark/spark_util.adb
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1301____potentially_invalid_UC_inversion/test.adb
  testsuite/gnatprove/tests/1301____potentially_invalid_UC_inversion/test.out
  testsuite/gnatprove/tests/891__proof_potentially_invalid_UC/test.out
Due: check-gnatformat-gnat2why

Support potentially invalid objects in declare expressions
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1309__potentially_invalid_declare_expr/test.adb
  testsuite/gnatprove/tests/1309__potentially_invalid_declare_expr/test.out
Due: check-gnatformat-gnat2why

Support returning null in borrowing traversal functions
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/1303__borrow_null/test.adb
  testsuite/gnatprove/tests/1303__borrow_null/test.out
Due: check-gnatformat-gnat2why

Fix repetition in doc
  docs/ug/en/source/language_restrictions.rst
Due: none

New colibri proofs and version output
  testsuite/gnatprove/tests/441__fsf/test.out
  testsuite/gnatprove/tests/O429-053__task_term/test.out
  testsuite/gnatprove/tests/PC07-014__float_conversion/test.out
  testsuite/gnatprove/tests/R103-025__version/test.out
  testsuite/gnatprove/tests/proofinuse__lat_long/test.out
Due: none

Build colibri automatically if needed
  plans/ci.plan
Due: none

Add documentation for testgen and test2prove in the user guide
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
Due: none
