Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Remove mention of Project Properties in SPARK UG
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/ja/source/how_to_run_gnatprove_ja.rst
Due: none

Document that we depend on compiler assumptions
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

reproducer for crash
  testsuite/gnatprove/tests/1090__discr_crash/main.adb
  testsuite/gnatprove/tests/1090__discr_crash/test.opt
Due: check-opt-syntax

Adapt the documentation on precisely supported address clauses
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  share/spark/explain_codes/E0012.md
Due: none

Cleanup after removing SPARK discovery
  docs/ug/en/appendix/alternative_provers.rst
  docs/ug/en/getting_started.rst
  docs/ug/ja/getting_started_ja.rst
  docs/ug/ja/source/how_to_run_gnatprove_ja.rst
  testsuite/gnatprove/discovery.MANIFEST
  testsuite/gnatprove/tests/L905-027__discovery_prover/segway-execute.adb
  testsuite/gnatprove/tests/L905-027__discovery_prover/segway-execute.ads
  testsuite/gnatprove/tests/L905-027__discovery_prover/segway.adb
  testsuite/gnatprove/tests/L905-027__discovery_prover/segway.ads
  testsuite/gnatprove/tests/L905-027__discovery_prover/test.opt
  testsuite/gnatprove/tests/L905-027__discovery_prover/test.out
  testsuite/gnatprove/tests/L905-027__discovery_prover/test.yaml
  testsuite/gnatprove/tests/P413-026__discovery_install/test.opt
  testsuite/gnatprove/tests/P413-026__discovery_install/test.out
  testsuite/gnatprove/tests/P413-026__discovery_install/test.py
  testsuite/gnatprove/tests/P413-026__discovery_install/test.win.out
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng.adb
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng.ads
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng_v1.adb
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng_v1.ads
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng_v2.adb
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/ng_v2.ads
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/test.opt
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/test.out
  testsuite/gnatprove/tests/P413-026__discovery_nosegear/test.py
Due: check-opt-syntax

Merge branch 'topic/1039-dross-fix-expression-kind' into 'master'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1039__entry_slice/test.opt
  testsuite/gnatprove/tests/1039__entry_slice/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Use Effects_Append_Binder to havoc volatiles in Transform_Identifier
  src/why/gnat2why-expr.adb
Due: check-gnatformat-gnat2why

Avoid introducing sliding on record component update
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1090__discr_crash/main.adb
  testsuite/gnatprove/tests/1090__discr_crash/test.opt
  testsuite/gnatprove/tests/1090__discr_crash/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Revert "Remove unneeded edge qualifier from plans and scripts"
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Fix sarif_ada project name after changes in repo
  gnatprove.gpr
Due: none

Reject overlays on parts of protected objects
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1088__protected_overlays/ext.adb
  testsuite/gnatprove/tests/1088__protected_overlays/ext.ads
  testsuite/gnatprove/tests/1088__protected_overlays/ext_2.ads
  testsuite/gnatprove/tests/1088__protected_overlays/test.out
  testsuite/gnatprove/tests/U316-010__protected/test.out
Due: check-gnatformat-gnat2why

Clean-up: use Transform_Identifier instead of Reconstruct_Item
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
Due: check-gnatformat-gnat2why

Merge branch 'topic/1088-dross-protected-objects-and-overlays' into 'master'
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1088__protected_overlays/ext.adb
  testsuite/gnatprove/tests/1088__protected_overlays/ext.ads
  testsuite/gnatprove/tests/1088__protected_overlays/ext_2.ads
  testsuite/gnatprove/tests/1088__protected_overlays/test.out
  testsuite/gnatprove/tests/U316-010__protected/test.out
Due: check-gnatformat-gnat2why

Attempt to fix continuous integration after changes to sarif-ada
  .gitlab-ci.yml
Due: none

Avoid sliding in discriminant dependent component
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1090__discr_crash/main.adb
  testsuite/gnatprove/tests/1090__discr_crash/test.out
Due: check-gnatformat-gnat2why

Reject ghost subprograms with Exit_Cases mentioning Program_Exit
  docs/lrm/source/subprograms.rst
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1094__exit_case_program_exit_annotate/foo.adb
  testsuite/gnatprove/tests/1094__exit_case_program_exit_annotate/test.out
Due: check-gnatformat-gnat2why

Make CI jobs interruptible
  .gitlab-ci.yml
Due: none

Fix size computation for dereference
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/1092__pointer_overlay/overlay.adb
  testsuite/gnatprove/tests/1092__pointer_overlay/test.out
Due: check-gnatformat-gnat2why

Merge branch 'topic/kanig-1092-pointer_overlay' into 'master'
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/1092__pointer_overlay/overlay.adb
  testsuite/gnatprove/tests/1092__pointer_overlay/test.out
Due: check-gnatformat-gnat2why

use coverage qualifier on sparklib testing to avoid forcing another build
  plans/ci.plan
Due: none

Remove sources for Japanese UG
  docs/ug/Makefile
  docs/ug/conf.py
  docs/ug/index.rst
  docs/ug/index_ja.rst
  docs/ug/ja/getting_started_ja.rst
  docs/ug/ja/gfdl_ja.tex
  docs/ug/ja/gnatprove_ja.rst
  docs/ug/ja/install_ja.rst
  docs/ug/ja/introduction_ja.rst
  docs/ug/ja/source/how_to_investigate_unproved_checks_ja.rst
  docs/ug/ja/source/how_to_run_gnatprove_ja.rst
  docs/ug/ja/source/how_to_use_gnatprove_in_a_team_ja.rst
  docs/ug/ja/source/how_to_view_gnatprove_output_ja.rst
  docs/ug/ja/source/language_restrictions_ja.rst
  docs/ug/ja/source/subprogram_contracts_ja.rst
  docs/ug/ja/spark_2014_ja.rst
  docs/ug/ja/spark_mode_ja.rst
Due: none

Add test for Static slice rewritten as indexed component in overlays
  testsuite/gnatprove/tests/1076__static_slice/main.adb
  testsuite/gnatprove/tests/1076__static_slice/test.out
Due: none

Use branch version of sarif-ada in pre-commit check
  .gitlab-ci.yml
Due: none

Apply 12 suggestion(s) to 1 file(s)
  docs/ug/en/source/access.rst
Due: none

Document restriction on predefined equality on accesses in the UG
  docs/ug/en/source/access.rst
Due: none

Add reproducer for eng/spark/spark2014#1078
  testsuite/gnatprove/tests/1078__ce_bracket/p.adb
  testsuite/gnatprove/tests/1078__ce_bracket/test.adc
  testsuite/gnatprove/tests/1078__ce_bracket/test.gpr
  testsuite/gnatprove/tests/1078__ce_bracket/test.out
  testsuite/gnatprove/tests/1078__ce_hex/p.adb
  testsuite/gnatprove/tests/1078__ce_hex/test.adc
  testsuite/gnatprove/tests/1078__ce_hex/test.gpr
  testsuite/gnatprove/tests/1078__ce_hex/test.out
  testsuite/gnatprove/tests/1078__ce_utf8/p.adb
  testsuite/gnatprove/tests/1078__ce_utf8/test.adc
  testsuite/gnatprove/tests/1078__ce_utf8/test.gpr
  testsuite/gnatprove/tests/1078__ce_utf8/test.out
Due: none

Improve the handling of charater literals in the RAC
  src/counterexamples/ce_pretty_printing.adb
  testsuite/gnatprove/tests/1032__ce_non_printable_char/p.adb
  testsuite/gnatprove/tests/1032__ce_non_printable_char/test.opt
  testsuite/gnatprove/tests/1032__ce_non_printable_char/test.out
  testsuite/gnatprove/tests/1078__ce_utf8/test.out
  testsuite/gnatprove/tests/949__ce_array_printing/array_comparison_str.adb
  testsuite/gnatprove/tests/949__ce_array_printing/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Minor optimization of run-time string concatenation
  src/counterexamples/ce_pretty_printing.adb
Due: check-gnatformat-gnat2why

Fix style violation
  src/counterexamples/ce_display.adb
Due: check-gnatformat-gnat2why

Add UTF-8 encoding when serializing CE values to JSON
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_utils.adb
  testsuite/gnatprove/tests/908__CE_from_gnattest_JSON_String/JSONs/Not_Michel.json
  testsuite/gnatprove/tests/908__CE_from_gnattest_JSON_String/simple.gpr
  testsuite/gnatprove/tests/908__CE_from_gnattest_JSON_String/src/simple.adb
  testsuite/gnatprove/tests/908__CE_from_gnattest_JSON_String/test.out
Due: check-gnatformat-gnat2why

Correct the return type of SPARK_Atree.Char_Literal_Value
  src/why/spark_atree.adb
  src/why/spark_atree.ads
Due: check-gnatformat-gnat2why

Refine the Scalar_Value_Type in CE_Values
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_rac.ads
  src/counterexamples/ce_utils.adb
  src/counterexamples/ce_values.adb
  src/counterexamples/ce_values.ads
  testsuite/gnatprove/tests/1032__ce_char_discriminant/p.adb
  testsuite/gnatprove/tests/1032__ce_char_discriminant/p.ads
  testsuite/gnatprove/tests/1032__ce_char_discriminant/test.out
Due: check-gnatformat-gnat2why

Catch out of range characters when parsing CEs
  src/counterexamples/ce_parsing.adb
  src/counterexamples/ce_rac.adb
Due: check-gnatformat-gnat2why

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
