Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Register iterators over containers to pretty-print them
  src/spark/spark_register.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/test.out
Due: check-gnatformat-gnat2why

Attribute 'Loop_Index is not a variable input
  src/flow/flow-analysis-sanity.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/test.out
Due: check-gnatformat-gnat2why

Flow support for 'Loop_Index on loops over arrays
  src/flow/flow-analysis-sanity.adb
  src/flow/flow_types.adb
Due: check-gnatformat-gnat2why

Ignore internal objects in flow before examining their declaration
  src/flow/flow-analysis.adb
Due: check-gnatformat-gnat2why

Decouple detection of variable inputs from Comes_From_Source
  src/flow/flow-analysis-sanity.adb
Due: check-gnatformat-gnat2why

Simplify conversion from flow to proof views
  src/flow/flow_generated_globals-phase_2.adb
Due: check-gnatformat-gnat2why

Add tests for attribute 'Loop_Index in flow
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_1.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_2.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_22.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_3.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_33.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/bad_4.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/dead.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/good_1.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/good_container.adb
  testsuite/gnatprove/tests/1441__flow_loop_index/iterable.ads
  testsuite/gnatprove/tests/1441__flow_loop_index/test.out
Due: none

Flow support for 'Loop_Index on loops over containers
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_types.adb
  src/flow/flow_utility.adb
Due: check-gnatformat-gnat2why

Add test for dicriminants of UU
  testsuite/gnatprove/tests/1228__uu_discriminants/main.adb
  testsuite/gnatprove/tests/1228__uu_discriminants/test.out
Due: none

Add proof test for 'Loop_Index in a subtype range
  testsuite/gnatprove/tests/1411__loop_index_subtype/main.adb
  testsuite/gnatprove/tests/1411__loop_index_subtype/test.out
  testsuite/gnatprove/tests/1411__loop_index_subtype/test.yaml
Due: none

Fix grammar typo in documentation for functions with side effects
  docs/lrm/source/subprograms.rst
Due: none

Flow support for calls with side effects in more contexts
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.adb
  src/flow/flow_types.ads
  testsuite/gnatprove/tests/1058__flow_side_effects/p.adb
  testsuite/gnatprove/tests/1058__flow_side_effects/p1.adb
  testsuite/gnatprove/tests/1058__flow_side_effects/test.out
  testsuite/gnatprove/tests/1058__function_side_effects/test.out
Due: check-gnatformat-gnat2why

Remove redundant guard against empty ELSIF part
  src/flow/flow-control_flow_graph.adb
Due: check-gnatformat-gnat2why

Reduce scope of a local variable in flow code for if-statements
  src/flow/flow-control_flow_graph.adb
Due: check-gnatformat-gnat2why

Fix python invocation on windows
  Makefile
Due: none

Extract a test with supported qualified 'At prefix
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.adb
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.opt
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.out
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_object/test.adb
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_object/test.out
Due: check-opt-syntax

Refine and enable qualified record reference tests
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.adb
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.opt
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_aggregate/test.out
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_object/test.adb
  testsuite/gnatprove/tests/1268__flow_at_label_expr_rec_qualified_object/test.out
Due: check-opt-syntax

Basic support for attribute At in flow
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_utility.adb
Due: check-gnatformat-gnat2why

Extract record aggregate from 830__at_label_marking
  testsuite/gnatprove/tests/830__at_label_marking/test.out
  testsuite/gnatprove/tests/830__at_label_marking/test_at_placement.adb
  testsuite/gnatprove/tests/830__at_label_marking_ext/test.out
  testsuite/gnatprove/tests/830__at_label_marking_ext/test_at_placement.adb
Due: none

Remove duplicated WITH clause to fix build failure
  src/flow/flow-control_flow_graph.adb
Due: check-gnatformat-gnat2why

Remove obsolete test.out
  testsuite/gnatprove/tests/1268__flow_at_label_dead/test.out
Due: none

Update XFAIL reference
  testsuite/gnatprove/tests/1268__flow_at_label_arr_slice_bounds_precision/test.opt
Due: check-opt-syntax

Update and enable test for unreachable 'At reference
  testsuite/gnatprove/tests/1268__flow_at_label_unreachable_ref/mixed_refs.adb
  testsuite/gnatprove/tests/1268__flow_at_label_unreachable_ref/test.opt
  testsuite/gnatprove/tests/1268__flow_at_label_unreachable_ref/test.out
  testsuite/gnatprove/tests/1268__flow_at_label_unreachable_ref/unreachable_ref.adb
Due: check-opt-syntax

Regenerate sessions
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum__downsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum__intermediate_form/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum__upsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__downsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__intermediate_form/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__upsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_general__is_even/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_general__summation/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_general__upsweep/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/df26b08d1dd3e29c5c3a-_eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__eq_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__previous__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__large_run/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__run/why3session.xml
Due: none

Add new compile job
  .gitlab-ci.yml
Due: none

Improve searching for data representation file
  docs/develguide/tool_structure.rst
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/why/gnat2why-data_decomposition.adb
  testsuite/gnatprove/tests/1252__data_rep_subproject/proj1.gpr
  testsuite/gnatprove/tests/1252__data_rep_subproject/proj2.gpr
  testsuite/gnatprove/tests/1252__data_rep_subproject/src1/p1.ads
  testsuite/gnatprove/tests/1252__data_rep_subproject/src2/p2.ads
  testsuite/gnatprove/tests/1252__data_rep_subproject/test.out
  testsuite/gnatprove/tests/1252__data_rep_subproject/test.yaml
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Remove CLAUDE.md shim
  CLAUDE.md
Due: none

Correct violation for functions with side effects in Iterable
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/illegal_early_fail.adb
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
Due: check-gnatformat-gnat2why

Do not look at the definition of "=" on private derived types
  src/why/gnat2why-types.adb
  testsuite/gnatprove/tests/1469__user_defined_eq/main.adb
Due: check-gnatformat-gnat2why

Use full names for goto exceptions
  src/why/why-inter.adb
  testsuite/gnatprove/tests/1456__goto_labels/test.adb
  testsuite/gnatprove/tests/1456__goto_labels/test.out
Due: check-gnatformat-gnat2why

Add test for parameter checks on logical equality on functional trees
  testsuite/gnatprove/tests/1070__functional_red_black_trees/test.out
  testsuite/gnatprove/tests/1468__functional_tree_eq_checks/main.adb
  testsuite/gnatprove/tests/1468__functional_tree_eq_checks/test.out
  testsuite/gnatprove/tests/1468__functional_tree_eq_checks/test.yaml
Due: none

Skip types that are not in spark when pulling proof dependencies
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/test.opt
  testsuite/gnatprove/tests/1438__generic_instance_private_extension/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Add test with contract on generic formal function
  testsuite/gnatprove/tests/1461__generic_function_contract/main.adb
  testsuite/gnatprove/tests/1461__generic_function_contract/test.out
  testsuite/gnatprove/tests/U721-031__generic_formal_contract/test.out
Due: none

Add test with generic formal function with default expression
  testsuite/gnatprove/tests/1455__generic_function_default/main.adb
  testsuite/gnatprove/tests/1455__generic_function_default/test.out
  testsuite/gnatprove/tests/531__default_generic_expression_function/test.out
Due: none

Add test with nested generic and formal default subprogram
  testsuite/gnatprove/tests/1449__nested_generic/client.ads
  testsuite/gnatprove/tests/1449__nested_generic/r.adb
  testsuite/gnatprove/tests/1449__nested_generic/r.ads
  testsuite/gnatprove/tests/1449__nested_generic/test.out
Due: none

Configure the default pre-commit stage
  .pre-commit-config.yaml
Due: none

Make gnat2why build mode explicit in the compile job
  .gitlab-ci.yml
Due: none
