Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Fix doc typo
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Add /include to .gitgnore after sparklib move
  .gitignore
Due: none

Improve filtering of SPARKlib messages
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/O504-014__state_machine/test.out
  testsuite/gnatprove/tests/O525-026__classwide/test.out
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/R509-011__higher_order/test.out
  testsuite/gnatprove/tests/R831-037__formal_map/test.out
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/T210-005__conts/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
  testsuite/gnatprove/tests/ironsides/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Emit warning messages on objects with external or link names
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
Due: none

Refactor handling of address clauses
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/TB19-012__address_clauses/test.out
Due: check-empty-testoutopt, check-testsuite-markers

remove prover output from replay tests
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/K406-013__formal_lists/test.out
  testsuite/gnatprove/tests/M809-005__float_basics/test.out
  testsuite/gnatprove/tests/O512-022__prefix_sum/test.out
  testsuite/gnatprove/tests/P720-007__replay/test.out
  testsuite/gnatprove/tests/PB18-021__tools_replay_with_custom_prover/test.out
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/QA11-003__itp_sumrange/test.out
  testsuite/gnatprove/tests/R509-011__hop/test.out
  testsuite/gnatprove/tests/S513-002__replay/test.out
  testsuite/gnatprove/tests/SB18-020__route_shift/test.out
  testsuite/gnatprove/tests/SC03-021__binary_search_trees/test.out
  testsuite/gnatprove/tests/T727-043__mergesort/test.out
  testsuite/gnatprove/tests/U730-017__IPV4_parsing/test.out
  testsuite/gnatprove/tests/V520-005__borrow_examples/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.out
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sequences_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_vectors_proof/test.out
  testsuite/gnatprove/tests/bitwalker/test.out
  testsuite/gnatprove/tests/float_error_bounds/test.out
  testsuite/gnatprove/tests/ghc_sort/test.out
  testsuite/gnatprove/tests/pointer_based_maps/test.out
  testsuite/gnatprove/tests/prime_numbers/test.out
  testsuite/gnatprove/tests/railway_signaling/test.out
  testsuite/gnatprove/tests/riposte__array_applications/test.out
  testsuite/gnatprove/tests/sparkskein/test.out
  testsuite/gnatprove/tests/tokeneer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update red_black_trees example
  testsuite/gnatprove/tests/red_black_trees/binary_trees.adb
  testsuite/gnatprove/tests/red_black_trees/binary_trees.ads
  testsuite/gnatprove/tests/red_black_trees/red_black_trees.adb
  testsuite/gnatprove/tests/red_black_trees/search_trees.adb
  testsuite/gnatprove/tests/red_black_trees/test.out
  testsuite/gnatprove/tests/red_black_trees/tree_model.ads
Due: check-empty-testoutopt, check-testsuite-markers

add sparklib to CI checkout
  .gitlab-ci.yml
Due: none

Change assumptions to take external names into account
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Update tests outputs
  testsuite/gnatprove/tests/R509-011__higher_order/test.out
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update .gitignore to match on absolute paths when relevant
  .gitignore
Due: none

W329-006 make fragile test more stable on 23.2
  testsuite/gnatprove/tests/N624-020__perm_rem/test.out
  testsuite/gnatprove/tests/N624-020__perm_rem/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

update baseline on 23.2 branch
  testsuite/gnatprove/tests/NA29-017__prove_all/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update XFAIL annotation
  testsuite/gnatprove/obe_xfail.py
  testsuite/gnatprove/tests/N804-036__bad_prover/test.opt
Due: check-empty-testoutopt

Reject updates to parts of qualified expressions
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/171__qualified_expressions/main.adb
  testsuite/gnatprove/tests/171__qualified_expressions/test.out
  testsuite/gnatprove/tests/S415-012__borrow_qualified/test.out
  testsuite/gnatprove/tests/S730-037__pointer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use vertex context that is carried while constructing CFG
  src/flow/flow-control_flow_graph.adb
Due: none

Ensure that vertex context is always given explicitly
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
Due: none

Fix wrong nested package context for type declaration
  src/flow/flow-control_flow_graph.adb
Due: none

Update SPARK RM/UG and tests to make Initialized a ghost attribute
  docs/lrm/source/subprograms.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/source/type_contracts.rst
  testsuite/gnatprove/tests/RC17-014__init_by_proof/nested_init_by_proof.adb
  testsuite/gnatprove/tests/S510-037__init_by_proof/a.ads
  testsuite/gnatprove/tests/S530-019__init_by_proof/a.ads
  testsuite/gnatprove/tests/T212-013__relaxed_init_global_output/test_global_out.adb
  testsuite/gnatprove/tests/T212-013__relaxed_init_predicate_check/test_pred.adb
  testsuite/gnatprove/tests/T212-013__relaxed_init_stacks/test_stack.ads
  testsuite/gnatprove/tests/T720-024__flow_relaxed_dic/stacks.ads
  testsuite/gnatprove/tests/U204-021__relaxed_access/access_to_relaxed.adb
  testsuite/gnatprove/tests/V809-008__relaxed_globals/test_relaxed_globals.adb
  testsuite/gnatprove/tests/W203-023__relaxed_part_of_state/main.adb
Due: none

skip test on windows for 23.2
  testsuite/gnatprove/tests/W331-023__mkdir/test.opt
Due: check-empty-testoutopt

Reject conversions between access types with different designated types
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/179__access_conv/main.adb
  testsuite/gnatprove/tests/179__access_conv/test.out
  testsuite/gnatprove/tests/S729-003__pointer_abstract_state/test.out
  testsuite/gnatprove/tests/T915-023__access_conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add missing test updates for Initialized as ghost
  testsuite/gnatprove/tests/T212-013__relaxed_init_preds_by_flow/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init_preds_by_flow/test_pred_on_array.adb
  testsuite/gnatprove/tests/T212-013__relaxed_init_preds_by_flow_2/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init_preds_by_flow_2/test_pred_on_array.adb
  testsuite/gnatprove/tests/TU__ghost_illegal/test.out
  testsuite/gnatprove/tests/VC14-034__relaxed_discr_subtype/use_types_pred.adb
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/equals.adb
  testsuite/gnatprove/tests/W111-023__relaxed_init_preds/test.adb
  testsuite/gnatprove/tests/W111-023__relaxed_init_preds/test_2.adb
Due: check-empty-testoutopt, check-testsuite-markers

W403-009 Add RM wording for Ghost_Predicate
  docs/lrm/source/declarations-and-types.rst
  docs/lrm/source/subprograms.rst
Due: none

Last test update
  testsuite/gnatprove/tests/T212-013__relaxed_init_predicate_check/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W330-001 update prime_numbers test
  testsuite/gnatprove/tests/prime_numbers/prime_and_coprime_numbers.adb
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/43b23d99b52ac4743aee-__initialize_coprime_list__euclid/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/a2c32a48d2ccdd3dfb70-_numbers__p__nearest_prime_number/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__eratosthenes/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__is_prime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__nearest_number/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/test.out
  testsuite/gnatprove/tests/prime_numbers/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Update documentation of No_Return procedure in LRM
  docs/lrm/source/subprograms.rst
Due: none

file test
  testsuite/gnatprove/tests/187__cycle_global/pack.ads
  testsuite/gnatprove/tests/187__cycle_global/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix obsolete comment
  src/spark/spark_definition.adb
Due: none

Update tests outputs
  testsuite/gnatprove/tests/K627-010__stable_marriage/test.out
  testsuite/gnatprove/tests/N611-014__static_discr/test.out
  testsuite/gnatprove/tests/N624-020__perm_rem/test.out
  testsuite/gnatprove/tests/O512-022__prefix_sum/test.out
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/V520-005__red_black_trees/test.out
  testsuite/gnatprove/tests/openETCS/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix missing change on large test
  testsuite/gnatprove/tests/V809-008__relaxed_predicates/test_two_preds.adb
Due: none

enable downloading baselines from gitlab
  testsuite/gnatprove/update-expected-outputs
Due: none

Add Skip_Flow_And_Proof pragma/aspect
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  src/gnatprove/report_database.adb
  src/gnatprove/report_database.ads
  src/gnatprove/spark_report.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/134__skip_flow_bad/bad.adb
  testsuite/gnatprove/tests/134__skip_flow_bad/bad.ads
  testsuite/gnatprove/tests/134__skip_flow_bad/test.out
  testsuite/gnatprove/tests/134__skip_flow_proof/pack.adb
  testsuite/gnatprove/tests/134__skip_flow_proof/pack.ads
  testsuite/gnatprove/tests/134__skip_flow_proof/test.out
  testsuite/gnatprove/tests/134__skip_flow_proof/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Refactor repeated logic in flow error message processing
  src/flow/flow_error_messages.adb
Due: none

Handle Skip_Flow_And_Proof annotation in proof and flow
  src/flow/flow.adb
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/134__skip_flow_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers
