Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Share description of levels between UG and Guidance
  docs/guidance/main.rst
  docs/ug/en/source/bronze_level.rst
  docs/ug/en/source/gold_level.rst
  docs/ug/en/source/silver_level.rst
  docs/ug/en/source/stone_level.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Various testsuite updates after removal of cvc4
  share/spark/config/generated_menus.json
  testsuite/gnatprove/tests/N917-037__prover_sanity_cvc4_ce/test.yaml
  testsuite/gnatprove/tests/PB18-021__tools_replay_with_custom_prover/proof/sessions/foo/why3session.xml
  testsuite/gnatprove/tests/PB18-021__tools_replay_with_custom_prover/why3.conf
  testsuite/gnatprove/tests/R703-035__fs_switches/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Don't use gnat sources for testing in CI
  .gitlab-ci.yml
Due: none

Test passes now even if flow support not yet available
  testsuite/gnatprove/tests/359__procedural_functions/test.opt
Due: check-empty-testoutopt

Remove gnat_server from output showing installed binaries
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add support for functions with side-effects in proof
  share/spark/explain_codes/E0018.md
  share/spark/explain_codes/README.md
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/flow/flow_utility.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-subprograms.ads
  src/why/gnat2why-util.adb
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  testsuite/gnatprove/tests/177__ghost_exceptions/test.out
  testsuite/gnatprove/tests/359__illegal_procedural_functions/aspects.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/bad_call.adb
  testsuite/gnatprove/tests/359__illegal_procedural_functions/p.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
  testsuite/gnatprove/tests/359__procedural_functions/dispatch.adb
  testsuite/gnatprove/tests/359__procedural_functions/dispatch.ads
  testsuite/gnatprove/tests/359__procedural_functions/ok_call.adb
  testsuite/gnatprove/tests/359__procedural_functions/ok_call_with_post.adb
  testsuite/gnatprove/tests/359__procedural_functions/p_with_post.adb
  testsuite/gnatprove/tests/359__procedural_functions/p_with_post.ads
  testsuite/gnatprove/tests/359__procedural_functions/test.out
  testsuite/gnatprove/tests/359__procedural_functions/use_dispatch.adb
  testsuite/gnatprove/tests/riposte__arrays_in_records/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/353-constant-access-to-variable' into 'master'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/353__constant_access_to_var/test.adb
  testsuite/gnatprove/tests/353__constant_access_to_var/test.out
  testsuite/gnatprove/tests/T527-057__flow_aliased_access_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add switch --limit-name to gnatprove
  docs/ug/en/source/how_to_run_gnatprove.rst
  share/spark/help.txt
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/288__limit_name/overload.adb
  testsuite/gnatprove/tests/288__limit_name/overload.ads
  testsuite/gnatprove/tests/288__limit_name/p.adb
  testsuite/gnatprove/tests/288__limit_name/p.ads
  testsuite/gnatprove/tests/288__limit_name/q.adb
  testsuite/gnatprove/tests/288__limit_name/q.ads
  testsuite/gnatprove/tests/288__limit_name/test.out
  testsuite/gnatprove/tests/288__limit_name/test.py
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup of unused enum
  src/spark/spark_util-subprograms.adb
Due: none

Remove support for manual proof through Why3 in SPARK
  Makefile
  docs/develguide/gnatwhy3.rst
  docs/develguide/index.rst
  docs/develguide/manual_proof.rst
  docs/develguide/tool_interaction.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/manual_proof.rst
  docs/ug/en/usage_scenarios.rst
  scripts/why3menus.py
  share/spark/config/generated_menus.json
Due: none

Merge branch 'topic/360-dross-constraint-check-on-access-on-LHS' into 'master'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/349__access_to_mutable_discr/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test.out
  testsuite/gnatprove/tests/360__constraints_check_on_conv_in_LHS/main.adb
  testsuite/gnatprove/tests/360__constraints_check_on_conv_in_LHS/test.out
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
  testsuite/gnatprove/tests/S702-024__record_attributes_in_allocators/test.out
  testsuite/gnatprove/tests/TB19-013__access_attr/test.out
  testsuite/gnatprove/tests/V927-038__access_discriminant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/366-dross-boundary-subp' into 'master'
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/TU__type_invariant__legal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/365-dross-deferred-constants' into 'master'
  src/why/gnat2why-driver.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/O512-022__robot_navigation_snd/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/343-dross-relaxed-mutable-discrs' into 'master'
  src/spark/spark_definition.adb
  src/spark/spark_util-types.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/why-atree-modules.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-binders.adb
  src/why/why-gen-init.adb
  src/why/why-gen-init.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/343__init_attr_on_discr/test.out
  testsuite/gnatprove/tests/343__init_attr_on_discr/test_bad_init.adb
  testsuite/gnatprove/tests/343__relaxed_mutable_discrs/test.adb
  testsuite/gnatprove/tests/343__relaxed_mutable_discrs/test.out
  testsuite/gnatprove/tests/RC17-014__init_by_proof/test.out
  testsuite/gnatprove/tests/S529-004__update_attr/relaxed_initialization.adb
  testsuite/gnatprove/tests/S529-004__update_attr/test.out
  testsuite/gnatprove/tests/U913-003__box_in_aggregates/test.out
  testsuite/gnatprove/tests/UA21-035__relaxed_ce/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/343-file-test' into 'master'
  testsuite/gnatprove/tests/343__out_params/p.adb
  testsuite/gnatprove/tests/343__out_params/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix Compute_Initialized for equality
  src/why/why-gen-init.adb
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/equals.adb
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/371-dross-eq-relaxed-array' into 'master'
  src/why/why-gen-init.adb
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/equals.adb
  testsuite/gnatprove/tests/W110-016__relaxed_init_user_equality/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Parameter of a named access-to-constant type is not borrowed
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/376__access_to_constant/main.adb
  testsuite/gnatprove/tests/376__access_to_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/376-dross-access-to-constant' into 'master'
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/376__access_to_constant/main.adb
  testsuite/gnatprove/tests/376__access_to_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test outputs and sessions
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitspec__nth8_stream/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__cond_unit/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_less_than_max/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_less_than_max2/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_nth_eq/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_nth_eq__prove_next_iter/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peek/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit64/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit8/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit8array/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekthenpoke/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__poke/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit64/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit8/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit8array/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokethenpeek/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__eq_sub/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__eq_sub_bv/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__extract_seq/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__nth_bv/why3session.xml
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup initialization checks
  src/why/gnat2why-expr.adb
  src/why/why-gen-init.ads
  testsuite/gnatprove/tests/28__membership_tests/test.adb
  testsuite/gnatprove/tests/28__membership_tests/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove gnat_server from output showing installed binaries
  testsuite/gnatprove/tests/P413-026__discovery_install/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add missing with to aspects
  src/flow/flow_generated_globals-phase_1.adb
Due: none

Assume that spark2014 with qualifiers is a package
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Frontend functions renamed to better reflect query
  src/spark/spark_util-types.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-types.adb
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  src/why/why-gen-arrays.adb
  src/why/why-gen-records.adb
Due: none

Do not check initialization of components whose type has relaxed init
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-types.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-init.adb
  src/why/why-gen-init.ads
  testsuite/gnatprove/tests/283__relaxed_access_borrow/test.out
  testsuite/gnatprove/tests/283__relaxed_access_borrow/test_relaxed_reborrow.adb
  testsuite/gnatprove/tests/343__out_params/test.out
  testsuite/gnatprove/tests/RC17-014__init_by_proof/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init/test_init_by_proof.adb
  testsuite/gnatprove/tests/T626-050__logical_op_relaxed/test.out
  testsuite/gnatprove/tests/T630-007__relaxed_init/test.out
  testsuite/gnatprove/tests/V112-002__counterexamples/main.adb
  testsuite/gnatprove/tests/V112-002__counterexamples/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Change the definition of 'Initialized in the lrm and the user-guide
  docs/lrm/source/subprograms.rst
  docs/ug/en/source/specification_features.rst
Due: none

Only check primitive equality on base types
  src/spark/spark_definition.adb
  src/why/gnat2why-types.adb
  testsuite/gnatprove/tests/368__primitive_eq/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update pretty-printed output with new handling of aspects
  testsuite/gnatprove/tests/ug__long__invariants/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Forbid functions with side-effects in primitive equality
  docs/lrm/source/packages.rst
  docs/lrm/source/subprograms.rst
  src/flow/flow-analysis-sanity.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/illegal.ads
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update testsuite
  testsuite/gnatprove/tests/JC17-017__aggr/test.out
  testsuite/gnatprove/tests/K303-009__aggregate/test.out
  testsuite/gnatprove/tests/K928-017__multi_dim/test.out
  testsuite/gnatprove/tests/OA13-020__aggregate_name/test.out
  testsuite/gnatprove/tests/PA31-008__counterexample/test.out
  testsuite/gnatprove/tests/R125-020__comparison/test.out
  testsuite/gnatprove/tests/RB05-005__flow_unsound/test.out
  testsuite/gnatprove/tests/U317-008__flb_array_types/test.out
  testsuite/gnatprove/tests/VB09-001__others/test.out
  testsuite/gnatprove/tests/W316-007__string_multidim/test.out
  testsuite/gnatprove/tests/openETCS/test.out
  testsuite/gnatprove/tests/random/test.out
  testsuite/gnatprove/tests/thumper/test.out
Due: check-empty-testoutopt, check-testsuite-markers

New test
  testsuite/gnatprove/tests/340__positional_array_aggregate_implicit_index_checks/main.adb
  testsuite/gnatprove/tests/340__positional_array_aggregate_implicit_index_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add missing check for positional array aggregate
  src/why/gnat2why-expr.adb
Due: none

remove typo
  README.md
Due: none

Merge branch 'topic/382-dross-primitive-eq' into 'master'
  src/spark/spark_definition.adb
  src/why/gnat2why-types.adb
  testsuite/gnatprove/tests/368__primitive_eq/test.out
Due: check-empty-testoutopt, check-testsuite-markers
