Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Minor whitespace fix
  docs/ug/en/source/access.rst
Due: none

Better alignment checks for overlays of slices
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1074__align/p.adb
  testsuite/gnatprove/tests/1074__align/test.out
  testsuite/gnatprove/tests/1076__static_slice/test.out
  testsuite/gnatprove/tests/1077__overlaid_slices/test.out
  testsuite/gnatprove/tests/1080__overlaid_dynamic_arrays/test.out
  testsuite/gnatprove/tests/1081__size_source_overlay/test.out
  testsuite/gnatprove/tests/1083__overlaid_components/test.out
  testsuite/gnatprove/tests/909__uc_hole/test.out
  testsuite/gnatprove/tests/968__overlay_reccomp/test.out
  testsuite/gnatprove/tests/QA11-012__addr/test.out
  testsuite/gnatprove/tests/RA26-007__overlay/test.out
Due: check-gnatformat-gnat2why

Add VS Code code-workspace files and README
  .vscode/README.md
  .vscode/gnat2why.code-workspace
  .vscode/gnatprove.code-workspace
  .vscode/settings.json
  .vscode/tests.code-workspace
  README.md
Due: none

Remove VC_UC_Volatile check
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1074__align/test.out
  testsuite/gnatprove/tests/1081__size_source_overlay/test.out
  testsuite/gnatprove/tests/909__uc_hole/test.out
  testsuite/gnatprove/tests/968__overlay_reccomp/test.out
  testsuite/gnatprove/tests/QA11-012__addr/addr.adb
  testsuite/gnatprove/tests/QA11-012__addr/test.out
Due: check-gnatformat-gnat2why

Remove sarif-ada/src from the GNAT2Why VS Code workspace
  .vscode/gnat2why.code-workspace
Due: none

Remove unneeded BODY_MODE usages
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/247__formal_containers/test.py
  testsuite/gnatprove/tests/247__functional_containers/test.out
  testsuite/gnatprove/tests/247__functional_containers/test.py
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.out
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.py
Due: none

Move slow test to the large testsuite
  testsuite/gnatprove/tests/949__ce_array_printing/test.yaml
Due: none

Update large classification
  testsuite/gnatprove/tests/1069__sequences_equality/test.yaml
  testsuite/gnatprove/tests/247__container_aggregate_model/test.yaml
  testsuite/gnatprove/tests/720__real_time/test.yaml
  testsuite/gnatprove/tests/799__finally_proof/test.yaml
  testsuite/gnatprove/tests/891__invalid_components/test.yaml
  testsuite/gnatprove/tests/936__continue_proof/test.yaml
  testsuite/gnatprove/tests/949__ce_record_printing/test.yaml
  testsuite/gnatprove/tests/L719-025__lists_equal/test.yaml
  testsuite/gnatprove/tests/M808-025__warnings/test.yaml
  testsuite/gnatprove/tests/N306-009__operators/test.yaml
  testsuite/gnatprove/tests/N624-030__funcs_on_containers/test.yaml
  testsuite/gnatprove/tests/O501-016__array_of_bv/test.yaml
  testsuite/gnatprove/tests/P615-019__silver/test.yaml
  testsuite/gnatprove/tests/P630-025__task_init/test.yaml
  testsuite/gnatprove/tests/S619-026__equality/test.yaml
  testsuite/gnatprove/tests/SC31-001__vector/test.yaml
  testsuite/gnatprove/tests/T423-036__pointers/test.yaml
  testsuite/gnatprove/tests/V523-044__tag/test.yaml
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.yaml
  testsuite/gnatprove/tests/riposte__records/test.yaml
Due: none

Simplify python in large test classification
  testsuite/gnatprove/update-expected-outputs
Due: none

Speed up test by splitting into subps
  testsuite/gnatprove/tests/949__ce_array_printing/array_comparison_str.adb
  testsuite/gnatprove/tests/949__ce_array_printing/test.out
  testsuite/gnatprove/tests/949__ce_array_printing/test.yaml
Due: none

Remove SPARKlib body mode
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.py
  testsuite/gnatprove/tests/63__spark_c_strings/my_sparklib.gpr
  testsuite/gnatprove/tests/63__spark_c_strings/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.py
  testsuite/gnatprove/tests/V711-014__functional_sets_maps_iteration/test.py
  testsuite/gnatprove/tests/V818-010__functional_multiset_test/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.py
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.py
Due: none

Suppress xrefs when generating data representation info
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

remove useless 'contains_manual_proof'
  testsuite/gnatprove/tests/NA14-004__replay/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.py
  testsuite/gnatprove/tests/V708-031__functional_container_choose/test.py
  testsuite/gnatprove/tests/V711-014__functional_sets_maps_iteration/test.py
  testsuite/gnatprove/tests/V804-026__bug_contracts_formal_ordered_set/test.py
Due: none

Use new sparklib_bodymode for test
  testsuite/gnatprove/tests/V804-026__bug_contracts_formal_ordered_set/test.py
Due: none

Update large test scripts for sparklib body mode
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_sets/test.py
  testsuite/gnatprove/tests/V708-031__functional_container_choose/test.py
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.py
Due: none

Change location of manifest for sparklib coverage
  testsuite/gnatprove/sparklib-coverage.py
  testsuite/gnatprove/sparklib.txt
Due: none

Update test output after line number change
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
Due: none

File test with Potentially_Invalid on a scalar overlay with Size
  testsuite/gnatprove/tests/1059__invalid_overlays_different_sizes/test.adb
  testsuite/gnatprove/tests/1059__invalid_overlays_different_sizes/test.out
Due: none

Group command line switches for GCC in data representation mode
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Remove mention of body mode from UG
  docs/ug/en/source/spark_libraries.rst
Due: none

Simplify SPARK wrapper for frontend data representation queries
  src/why/spark_atree-entities.ads
Due: check-gnatformat-gnat2why

Change DFS for dominator tree from recursive to iterative
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Keep local array objects on the heap in graph algorithms
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Add test to cover detection of invalid data representation files
  src/why/gnat2why-data_decomposition.adb
  testsuite/gnatprove/tests/cert-166-bad_gcc/bad-gcc
  testsuite/gnatprove/tests/cert-166-bad_gcc/p.ads
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.gpr
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: check-gnatformat-gnat2why

Replace explicit deallocation in graph routines with a storage pool
  src/flow/graphs.adb
Due: check-gnatformat-gnat2why

Use Get_Attribute_Value instead of directly querying the tree
  src/why/gnat2why-unchecked_conversion.adb
Due: check-gnatformat-gnat2why

Merge branch 'topic/kanig-1104-attrval' into 'master'
  src/why/gnat2why-unchecked_conversion.adb
Due: check-gnatformat-gnat2why

Line number changes after sparklib formatting
  testsuite/gnatprove/tests/247__functional_containers/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/398__flow_container_aggregate/test.out
  testsuite/gnatprove/tests/447__large_aggr/test.out
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.out
  testsuite/gnatprove/tests/651__containers/test.out
  testsuite/gnatprove/tests/668__container_aggr_scalar/test.out
  testsuite/gnatprove/tests/668__containger_aggregate/test.out
  testsuite/gnatprove/tests/O504-014__state_machine/test.out
  testsuite/gnatprove/tests/O525-026__classwide/test.out
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/R717-025__flow_container/test.out
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/SB07-003__crash/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.out
  testsuite/gnatprove/tests/V804-026__bug_contracts_formal_ordered_set/test.out
  testsuite/gnatprove/tests/VB02-007__sums/test.out
  testsuite/gnatprove/tests/W127-011__HO_sequences_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_vectors_test/test.out
  testsuite/gnatprove/tests/ug__aggregate_aspect_model/test.out
  testsuite/gnatprove/tests/ug__container_wrapper/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Call gprbuild with --target switch
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

File test
  testsuite/gnatprove/tests/1104_uc_comp_size/p.ads
  testsuite/gnatprove/tests/1104_uc_comp_size/test.out
Due: none

Use existing routine to compute size of record component
  src/why/gnat2why-unchecked_conversion.adb
Due: check-gnatformat-gnat2why

Suppress and update GNAT SAS false positives for flow_utility.adb
  gnat2why/analyzer/gnat2why.sar
Due: none

Enable memcache for UG and RAC tests
  testsuite/gnatprove/run-tests
Due: none

Improve the handling of attributes in the small-step RAC
  gnat2why/analyzer/gnat2why.sar
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_values.adb
  src/counterexamples/ce_values.ads
  testsuite/gnatprove/tests/891__proof_potentially_invalid_basic/test.out
  testsuite/gnatprove/tests/891__proof_potentially_invalid_functions/test.out
  testsuite/gnatprove/tests/891__volatile_address_locally_invalid/test.out
  testsuite/gnatprove/tests/921__relaxed_mutable_discrs/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init/test.out
  testsuite/gnatprove/tests/T616-013__initialized/test.out
  testsuite/gnatprove/tests/U512-015__inlined_functions/test.out
  testsuite/gnatprove/tests/U520-015__relaxed_init/test.out
  testsuite/gnatprove/tests/U521-009__access_relaxed_init/test.out
  testsuite/gnatprove/tests/U521-019__default_relaxed_init/test.out
  testsuite/gnatprove/tests/UA21-035__relaxed_ce/test.out
  testsuite/gnatprove/tests/V809-008__relaxed_predicates/test.out
Due: check-gnatformat-gnat2why

Line number changes after sparklib reformatting
  testsuite/gnatprove/tests/1069__sequences_equality/test.out
  testsuite/gnatprove/tests/247__container_aggregate_model/test.out
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/247__tagged_types/test.out
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/R509-011__higher_order/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
Due: none

Fix testsuite code on Windows
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
