Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Refine the documentation for GNATtest/GNATfuzz integration for CEs
  docs/ug/en/source/how_to_run_gnatprove.rst
  docs/ug/en/source/how_to_view_gnatprove_output.rst
Due: none

Refine the help text for --gnattest-values
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: none

Update test output
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: none

Add a helper for --gnattest-values
  share/spark/help.txt
Due: none

Rename CLAUDE.md to AGENTS.md and reduce (a lot)
  AGENTS.md
  CLAUDE.md
Due: none

Do not do leak checks at end of scope fo objects in declare expressions
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1302__leak_in_declare_expression/foo.adb
  testsuite/gnatprove/tests/1302__leak_in_declare_expression/test.out
  testsuite/gnatprove/tests/S702-024__record_attributes_in_allocators/test.out
  testsuite/gnatprove/tests/S711-051__constrained_attr/test.out
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__constant_access/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__contains/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__deep_copy/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__deep_free/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__element/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__has_element/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__map/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__model_contains/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__model_value/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__next/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__next_no_rec_wrapper/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__reference/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element_ext/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element_ext__update_r/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/use_my_map__my_replace_element/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/test.out
Due: check-gnatformat-gnat2why

Five more explain codes.
  share/spark/explain_codes/E0022.md
  share/spark/explain_codes/E0023.md
  share/spark/explain_codes/E0024.md
  share/spark/explain_codes/E0025.md
  share/spark/explain_codes/E0026.md
  share/spark/explain_codes/E0027.md
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
Due: check-gnatformat-gnatprove

Fix gnatformat formatting of new case alternatives in vc_kinds.adb
  src/common/vc_kinds.adb
Due: check-gnatformat-gnatprove

Fixups and new explain codes
  share/spark/explain_codes/E0021.md
  share/spark/explain_codes/E0022.md
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
Due: check-gnatformat-gnatprove

Test updates for new explain codes
  testsuite/gnatprove/tests/531__storage_model/test.out
  testsuite/gnatprove/tests/P302-004__string_eq/test.out
  testsuite/gnatprove/tests/Q327-024__classwide_pre/test.out
  testsuite/gnatprove/tests/Q801-028__flow_types/test.out
  testsuite/gnatprove/tests/S729-003__pointer_abstract_state/test.out
  testsuite/gnatprove/tests/SA23-039__illegal_goto/test.out
  testsuite/gnatprove/tests/T619-025__private_unchecked/test.out
  testsuite/gnatprove/tests/TB19-012__address_clauses/test.out
  testsuite/gnatprove/tests/U209-014__access_address/test.out
  testsuite/gnatprove/tests/U316-010__loop/test.out
  testsuite/gnatprove/tests/V503-011__unchecked_conversion_access/test.out
  testsuite/gnatprove/tests/ug__uc_to_access/test.out
Due: none

Make develguide visible to agents and encourage updates
  AGENTS.md
  docs/develguide/counterexamples.rst
  docs/develguide/flow_analysis.rst
  docs/develguide/gg.rst
  docs/develguide/gnatwhy3.rst
  docs/develguide/gps_integration.rst
  docs/develguide/index.rst
  docs/develguide/legality_checking.rst
  docs/develguide/miscellaneous.rst
  docs/develguide/tool_interaction.rst
  docs/develguide/tool_structure.rst
  docs/develguide/translation_why3.rst
Due: none

Point agents to the devel guide
  AGENTS.md
Due: none

test cleanup
  testsuite/gnatprove/tests/1215__limitsubp/test.py
  testsuite/gnatprove/tests/691__cache_phrase/test.out
  testsuite/gnatprove/tests/691__cache_phrase/test.py
Due: none

stabilize brittle test
  testsuite/gnatprove/tests/O612-034__transform/new.xml
  testsuite/gnatprove/tests/O612-034__transform/test.out
  testsuite/gnatprove/tests/O612-034__transform/test.py
Due: none

Fix Coq proofs by forcing reanalysis
  testsuite/gnatprove/tests/P429-031__coq_change/test.py
  testsuite/gnatprove/tests/P429-031__coq_change_generic/test.py
  testsuite/gnatprove/tests/P429-031__coq_change_multi/test.py
  testsuite/gnatprove/tests/P513-003__coq_change/test.py
  testsuite/gnatprove/tests/Q912-036__coq_nonlinear/test.py
Due: none

Add conversion in alignment checks for overlays
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.adb
  testsuite/gnatprove/tests/1145__uc_align/foo.ads
  testsuite/gnatprove/tests/1145__uc_align/test.out
Due: check-gnatformat-gnat2why

Fix make check-format with gnat sources
  gnat2why/gnat2why.gpr
  gnat2why/gnat2why_gnat.gpr
  gnat2why/gnat2why_ignore_format.txt
  gnat2why/gnat_ignore_format.txt
Due: none

Updated devel guide for libgpr2
  docs/develguide/tool_structure.rst
Due: none

Codex format hook, and test creator skill
  .agents/skills/test-creator/SKILL.md
  .agents/skills/test-creator/agents/openai.yaml
  .codex/config.toml
  .codex/hooks/format_ada.py
Due: none

Add gitlab project name to AGENTS.md
  AGENTS.md
Due: none

Report check stats even in unproved case
  src/gnatprove/spark_report.adb
  testsuite/gnatprove/tests/1240__report_check_stats/p.adb
  testsuite/gnatprove/tests/1240__report_check_stats/test.out
  testsuite/gnatprove/tests/1240__report_check_stats/test.py
  testsuite/gnatprove/tests/V504-041__default/test.out
  testsuite/gnatprove/tests/V504-041__no_project/test.out
Due: check-gnatformat-gnatprove

Follow libgpr2 changes
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Update session test
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__deep_free/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element_ext/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/my_map__replace_element_ext__update_r/why3session.xml
  testsuite/gnatprove/tests/pointer_based_maps/proof/sessions/use_my_map__my_replace_element/why3session.xml
Due: none

Add new ownership tests
  testsuite/gnatprove/tests/1320__filter/filter.adb
  testsuite/gnatprove/tests/1320__filter/test.out
  testsuite/gnatprove/tests/1320__hashtable/hashtbl.adb
  testsuite/gnatprove/tests/1320__hashtable/hashtbl.ads
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__cell_arrPredicate/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__has_hash/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__hash/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__insert/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__add_permissive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__iterable_set/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__set/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__model/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__model__2/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__mem/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/test.gpr
  testsuite/gnatprove/tests/1320__hashtable/test.out
  testsuite/gnatprove/tests/1320__hashtable/test.yaml
  testsuite/gnatprove/tests/1320__resize/proof/sessions/resize__logic_eq/why3session.xml
  testsuite/gnatprove/tests/1320__resize/proof/sessions/resize__resize/why3session.xml
  testsuite/gnatprove/tests/1320__resize/resize.adb
  testsuite/gnatprove/tests/1320__resize/test.adc
  testsuite/gnatprove/tests/1320__resize/test.gpr
  testsuite/gnatprove/tests/1320__resize/test.out
  testsuite/gnatprove/tests/1320__resize/test.yaml
  testsuite/gnatprove/tests/1320__swap/swap.adb
  testsuite/gnatprove/tests/1320__swap/test.out
  testsuite/gnatprove/tests/1320__symbols/symbols.adb
  testsuite/gnatprove/tests/1320__symbols/symbols.ads
  testsuite/gnatprove/tests/1320__symbols/test.out
Due: none

SARIF output for error messages in phase 1
  docs/develguide/tool_structure.rst
  src/common/vc_kinds.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
  src/gnatprove/spark_report.ads
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
  src/why/back_end.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/1287__sarif_early_exit/main.adb
  testsuite/gnatprove/tests/1287__sarif_early_exit/test.out
  testsuite/gnatprove/tests/1287__sarif_early_exit/test.py
  testsuite/gnatprove/tests/O831-003__do333_mode_logic_qgen/mode_logic_props.adb
  testsuite/gnatprove/tests/O831-003__do333_mode_logic_qgen/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Do not systematically assume address cannot change for borrowed pointer values
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/why-gen-pointers.adb
  src/why/why-gen-pointers.ads
  testsuite/gnatprove/tests/1255__borrow_on_access/main.adb
  testsuite/gnatprove/tests/1255__borrow_on_access/test.out
Due: check-gnatformat-gnat2why

Support Constant_Reference in Iterable
  src/counterexamples/ce_display.adb
  src/flow/flow_utility-proof_dependencies.adb
  src/flow/flow_utility.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_register.adb
  src/spark/spark_util.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-driver.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree-entities.ads
  src/why/why-gen-binders.adb
  testsuite/gnatprove/tests/759__constant_ref_observe/test.adb
  testsuite/gnatprove/tests/759__constant_ref_observe/test.out
  testsuite/gnatprove/tests/759__constant_reference/test.adb
  testsuite/gnatprove/tests/759__constant_reference/test.out
  testsuite/gnatprove/tests/759__constant_reference/test_pre.adb
  testsuite/gnatprove/tests/759__constant_reference/test_relaxed.adb
Due: check-gnatformat-gnat2why

Normalize path with 'Access attribute in borrow-checker
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/1253__attribute_access_double_borrow/main.adb
  testsuite/gnatprove/tests/1253__attribute_access_double_borrow/test.out
Due: check-gnatformat-gnat2why

Switches definition in a table
  docs/develguide/tool_structure.rst
  docs/ug/en/appendix/project_attributes.rst
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/gprissues-184-registry/test.out
Due: check-gnatformat-gnatprove

Auto-generate list of file-specific switches
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/gprissues-184-registry/test.out
Due: check-gnatformat-gnatprove

Use local storage for command-line parsing
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Parse and merge gnatprove switches in internal storage
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Separate CI job for coverage HTML report
  .gitlab-ci.yml
Due: none

Remove unused and undocumented switch
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
Due: check-gnatformat-gnatprove

Remove sole unnecessary use of CL_Switches.P
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Remove unused variables from CL_Switches
  src/gnatprove/configuration.ads
Due: check-gnatformat-gnatprove

Fix two small bugs in parsing code
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Remove present flag for warning status parsing
  src/common/vc_kinds.ads
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
