Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Fix code coverage plug in flow handling of record variables
  src/flow/flow-control_flow_graph.adb
Due: none

Relax comment about exiting procedure on unhandled exception
  src/flow/flow-control_flow_graph.adb
Due: none

Fix dependencies for particular exception being raised by a call
  src/flow/flow-control_dependence_graph.adb
  src/flow/flow-interprocedural.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with choice of exception being raised
  testsuite/gnatprove/tests/130__flow_exception/choice1.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Move test to large
  testsuite/gnatprove/tests/33__control_flow/test.yaml
Due: none

Migrate gnatprove to libgpr2
  gnatprove.gpr
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  testsuite/gnatprove/tests/O219-021__target/test.out
  testsuite/gnatprove/tests/P511-007__nonexisting_ext_obj_dir/test.out
  testsuite/gnatprove/tests/P513-030__empty_source_dirs/test.opt
  testsuite/gnatprove/tests/P820-002__protected_out/test.opt
  testsuite/gnatprove/tests/P905-014__i2c/test.out
  testsuite/gnatprove/tests/PA20-065__gnatprove_output/test.out
  testsuite/gnatprove/tests/Q309-012__codepeer_warn/test.out
  testsuite/gnatprove/tests/T302-006__level/test.out
  testsuite/gnatprove/tests/T704-004__withed_proj/test.out
  testsuite/gnatprove/tests/T725-004__aggregate_file/test.out
  testsuite/gnatprove/tests/string_search/strings.gpr
  testsuite/gnatprove/tests/string_search/test.gpr
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup dead code related to loop invariants
  src/why/gnat2why-expr.adb
Due: none

test passes again
  testsuite/gnatprove/tests/VB15-029__logical_eq/test.opt
Due: check-empty-testoutopt

test passes now
  testsuite/gnatprove/tests/P513-030__empty_source_dirs/test.opt
Due: check-empty-testoutopt

Change comment on Call_Never_Terminates
  src/why/gnat2why-expr.adb
Due: none

Allow saving prophecy variables (At_End_Borrow) in ghost local observers
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/238__saved_prophecy_bad/borrow_checking.adb
  testsuite/gnatprove/tests/238__saved_prophecy_bad/marking.adb
  testsuite/gnatprove/tests/238__saved_prophecy_bad/test.out
  testsuite/gnatprove/tests/238__saved_prophecy_chain/main.adb
  testsuite/gnatprove/tests/238__saved_prophecy_chain/test.out
  testsuite/gnatprove/tests/238__saved_prophecy_interval_to_singletons/main.adb
  testsuite/gnatprove/tests/238__saved_prophecy_interval_to_singletons/test.out
  testsuite/gnatprove/tests/238__saved_prophecy_interval_to_singletons/test.yaml
  testsuite/gnatprove/tests/238__saved_prophecy_proof/main.adb
  testsuite/gnatprove/tests/238__saved_prophecy_proof/test.out
  testsuite/gnatprove/tests/S415-012__bad_pledge_calls/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add mention of prophecy saves in UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none

Testsuite updates
  testsuite/gnatprove/tests/N122-021__succ_floats/test.out
  testsuite/gnatprove/tests/O331-029__float/test.out
  testsuite/gnatprove/tests/O416-002__dynamic_predicate/test.out
  testsuite/gnatprove/tests/riposte__records/test.out
  testsuite/gnatprove/tests/spark_io/test.out
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__show_msg_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_final/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_hash/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_init/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block__threefish_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_update/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_64/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_msg_64/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_msg_8/why3session.xml
  testsuite/gnatprove/tests/sparksmt__lexer_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adds missing test output
  testsuite/gnatprove/tests/238__saved_prophecy_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with spurious warning on exception not being an effect
  testsuite/gnatprove/tests/130__flow_exception/effect.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix spurious warning on exception not being an effect
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_bc/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_small/test.out
  testsuite/gnatprove/tests/UC02-037__handlers_bc/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Various testsuite updates
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/tests/Q424-012__succ_floats_copy_z3/test.out
  testsuite/gnatprove/tests/QA23-042__error_pointers/test.out
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
  testsuite/gnatprove/tests/VA25-025__string_map/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix detection of havoced global variables
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with havoc of a global variable
  testsuite/gnatprove/tests/130__flow_exception/global_havoc.adb
  testsuite/gnatprove/tests/130__flow_exception/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add explain code for SPARK_Mode On misuse
  share/spark/explain_codes/E0011.md
  share/spark/explain_codes/README.md
  src/flow/flow-analysis-sanity.adb
  src/flow/flow_error_messages.ads
  testsuite/gnatprove/tests/258__spark_mode_on/p.adb
  testsuite/gnatprove/tests/258__spark_mode_on/test.adb
  testsuite/gnatprove/tests/258__spark_mode_on/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Crash on unknown variables but not on wrongly generated globals
  src/flow/flow-analysis-sanity.adb
Due: none

Restore checks for termination of type aspect expressions
  docs/lrm/source/declarations-and-types.rst
  docs/lrm/source/packages.rst
  src/flow/flow-analysis-sanity.adb
  testsuite/gnatprove/tests/231__flow_type_calls/main.adb
  testsuite/gnatprove/tests/231__flow_type_calls/p.ads
  testsuite/gnatprove/tests/231__flow_type_calls/q.ads
  testsuite/gnatprove/tests/231__flow_type_calls/test.out
  testsuite/gnatprove/tests/T514-020__callback/test.out
  testsuite/gnatprove/tests/T630-007__expressions/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with wrong handling of Always_Terminates
  testsuite/gnatprove/tests/274__flow_terminate/info_msg.adb
  testsuite/gnatprove/tests/274__flow_terminate/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix analysis of call with generated termination contract
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/274__flow_terminate/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix access to runtime dir in gnatprove
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/278__runtime/test.gpr
  testsuite/gnatprove/tests/278__runtime/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove incorrect assertion about record binders
  src/why/why-gen-binders.adb
Due: none

Special case concat_singleton_left when a_first = b_first
  share/spark/theories/_gnatprove_standard.mlw
  testsuite/gnatprove/tests/276__concat/avi_arrays.adb
  testsuite/gnatprove/tests/276__concat/avi_infinite_sequences.adb
  testsuite/gnatprove/tests/276__concat/test.out
  testsuite/gnatprove/tests/276__concat/test.yaml
  testsuite/gnatprove/tests/O702-009__coq_realizations/realize/Array__1__Concat.v
Due: check-empty-testoutopt, check-testsuite-markers

Deconstruct wrapper and guards for Number_Formals routine
  src/spark/spark_definition-annotate.adb
  src/spark/spark_util-subprograms.adb
  src/why/spark_atree-entities.adb
Due: none

Simplify detection of unary Text_IO.Put_Line subprogram
  src/counterexamples/ce_rac.adb
  src/spark/spark_util-subprograms.adb
Due: none

Update test after colibri update
  testsuite/gnatprove/tests/riposte__array_applications/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Clean up outdated comments
  src/why/gnat2why-expr-loops.adb
Due: none

Support floats in RAC
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_rac.ads
  src/counterexamples/ce_values.adb
  src/counterexamples/ce_values.ads
  testsuite/gnatprove/tests/167__float__rac/main.adb
Due: none

Gain high messages thanks to floats support in RAC
  testsuite/gnatprove/tests/K210-006__anontype1/test.out
  testsuite/gnatprove/tests/K719-019__flight_mgr/test.out
  testsuite/gnatprove/tests/KC22-015__succ_overflow/test.out
  testsuite/gnatprove/tests/L402-004__exp/test.out
  testsuite/gnatprove/tests/M122-006__assign/test.out
  testsuite/gnatprove/tests/M604-044__overflow/test.out
  testsuite/gnatprove/tests/MB01-007__floating_point/test.out
  testsuite/gnatprove/tests/MC12-026__overlayed_objects/test.out
  testsuite/gnatprove/tests/NC06-004__init/test.out
  testsuite/gnatprove/tests/O325-024__abstract_state/test.out
  testsuite/gnatprove/tests/O430-013__return_unchecked_conversion/test.out
  testsuite/gnatprove/tests/O512-022__painting/test.out
  testsuite/gnatprove/tests/OA26-020__intrinsic/test.out
  testsuite/gnatprove/tests/OA26-022__gnatprove_crash/test.out
  testsuite/gnatprove/tests/OB16-021__float_range/test.out
  testsuite/gnatprove/tests/OC30-005/test.out
  testsuite/gnatprove/tests/P405-006__arithmetic_from_dafny/test.out
  testsuite/gnatprove/tests/P615-019__silver/test.out
  testsuite/gnatprove/tests/P912-012__float_zero_numerics/test.out
  testsuite/gnatprove/tests/PB16-052__float_invariant/test.out
  testsuite/gnatprove/tests/QA11-003__itp_example/test.out
  testsuite/gnatprove/tests/QA11-012__addr/test.out
  testsuite/gnatprove/tests/SA13-005__reason_for_check/test.out
  testsuite/gnatprove/tests/U922-026__colibri/test.out
  testsuite/gnatprove/tests/V404-023__counterex_membership_test/test.out
  testsuite/gnatprove/tests/proofinuse__ce/test.out
  testsuite/gnatprove/tests/proofinuse__lat_long/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix test output
  testsuite/gnatprove/tests/OB16-021__float_range/test.out
  testsuite/gnatprove/tests/Q313-019__elementary_ce_float/test.out
  testsuite/gnatprove/tests/Q424-012__succ_floats_copy_z3/test.out
Due: check-empty-testoutopt, check-testsuite-markers
