Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Fix arrows in flow
  src/flow/flow-analysis-antialiasing.adb
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph-utility.ads
  src/flow/flow-control_flow_graph.adb
  src/flow/flow-slice.adb
  src/flow/flow.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/flow/flow_generated_globals-partial.adb
  src/flow/flow_generated_globals-phase_1.adb
  src/flow/flow_refinement.adb
  src/flow/flow_refinement.ads
  src/flow/flow_types.adb
  src/flow/flow_types.ads
  src/flow/flow_utility.adb
  src/flow/graphs.adb
Due: none

Fix some misaligned arrows
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_values.adb
  src/gnatprove/configuration.adb
  src/gnatprove/gnatprove.adb
  src/gnatprove/spark_report.adb
  src/utils/common_containers.adb
Due: none

Add test
  testsuite/gnatprove/tests/606__representation_attribute/bar.adb
  testsuite/gnatprove/tests/606__representation_attribute/bar.ads
  testsuite/gnatprove/tests/606__representation_attribute/foo.adb
  testsuite/gnatprove/tests/606__representation_attribute/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix overly long lines after arrow alignment
  src/flow/flow-analysis-sanity.adb
  src/flow/flow.adb
  src/flow/flow_types.ads
Due: none

Clarify that inheriting subprograms from an Off private part is unsupported
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/577__inherited_subprogram_from_mode_off/collection.adb
  testsuite/gnatprove/tests/577__inherited_subprogram_from_mode_off/collection.ads
  testsuite/gnatprove/tests/577__inherited_subprogram_from_mode_off/reproducer.adb
  testsuite/gnatprove/tests/577__inherited_subprogram_from_mode_off/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix printing of unknown pragma
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
Due: none

Fix alignment of arrows
  src/spark/spark_definition-violations.adb
Due: none

More precise output with representation info from GNAT
  testsuite/gnatprove/tests/607__no_inlining_address/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Restriction for private inheritance should not apply when no public ancestor
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/591__dispatching_result/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Reject variants on recursive equality function
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/599__redefined_eq/test.adb
  testsuite/gnatprove/tests/599__redefined_eq/test.out
  testsuite/gnatprove/tests/599__variant_on_eq/test.out
  testsuite/gnatprove/tests/599__variant_on_eq/test_illegal.adb
Due: check-empty-testoutopt, check-testsuite-markers

Document deep delta aggregates in SPARK UG
  docs/ug/en/source/specification_features.rst
Due: none

Fix comment style
  src/common/vc_kinds.ads
Due: none

Reject GNAT extension for case pattern matching
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/531__case_pattern_matching/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test from customer and fix test for pattern matching
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/620__string_pattern_matching/reproducer.adb
  testsuite/gnatprove/tests/620__string_pattern_matching/test.gpr
  testsuite/gnatprove/tests/620__string_pattern_matching/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update baselines
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Replace e3 image by pe-base in CI
  .gitlab-ci.yml
Due: none

update baseline
  testsuite/gnatprove/tests/TC07-046__cuda_global/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix crash with hidden dispatching equality
  src/why/gnat2why-types.adb
  testsuite/gnatprove/tests/531__prefix_view_notation_call/test.opt
  testsuite/gnatprove/tests/531__prefix_view_notation_call/test.out
  testsuite/gnatprove/tests/618__hidden_dispatching_eq/main.adb
  testsuite/gnatprove/tests/618__hidden_dispatching_eq/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Explain how to setup the proper env for Alire
  docs/ug/en/install.rst
Due: none

Fix test for discrete type or not on case statement/expression
  src/spark/spark_definition.adb
Due: none

Update baseline
  testsuite/gnatprove/tests/V516-041__private_ownership/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup of pre-commit checks
  testsuite/gnatprove/tests/MA29-020__proof_nested_subprograms/test.out
  testsuite/gnatprove/tests/ug__binary_search_final/test.out
  testsuite/gnatprove/tests/ug__binary_search_naive/test.out
  testsuite/gnatprove/tests/ug__binary_search_precise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Detect duplicate units before running analysis
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/614__duplicate_unit/a.adb
  testsuite/gnatprove/tests/614__duplicate_unit/b.adb
  testsuite/gnatprove/tests/614__duplicate_unit/c.adb
  testsuite/gnatprove/tests/614__duplicate_unit/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add minimal reproducer
  testsuite/gnatprove/tests/627__initialized_private/bounded_string_80.ads
  testsuite/gnatprove/tests/627__initialized_private/foo.adb
  testsuite/gnatprove/tests/627__initialized_private/foo.ads
  testsuite/gnatprove/tests/627__initialized_private/test.opt
Due: check-empty-testoutopt

Replace Global by Local Configuration Pragmas
  testsuite/gnatprove/tests/564__complex_projects_agg/a.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg/b.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg/c.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg/d.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg/test.opt
  testsuite/gnatprove/tests/564__complex_projects_agg/test.out
  testsuite/gnatprove/tests/564__complex_projects_agg2/included.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg2/prj1.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg2/prj3.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg2/shared.gpr
  testsuite/gnatprove/tests/564__complex_projects_agg2/test.opt
  testsuite/gnatprove/tests/564__complex_projects_agg2/test.out
  testsuite/gnatprove/tests/564__complex_projects_aggregates/a.gpr
  testsuite/gnatprove/tests/564__complex_projects_aggregates/b.gpr
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.opt
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Rename test to use issue number
  testsuite/gnatprove/tests/gprissues-184-registry/test.out
  testsuite/gnatprove/tests/gprissues-184-registry/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Fix registry test to sort output
  testsuite/gnatprove/tests/gnatprove_print-gpr-registry/test.out
  testsuite/gnatprove/tests/gnatprove_print-gpr-registry/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Use Local instead of Global for Configuration Pragmas in the doc
  docs/ug/en/appendix/implementation_defined_pragmas.rst
  docs/ug/en/spark_mode.rst
  docs/ug/ja/spark_mode_ja.rst
Due: none

Fix test with ordering issue
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.py
Due: none

Update sorted JSON output with generated globals
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.out
  testsuite/gnatprove/tests/S406-003__flow-show-gg/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Add review templates for new gnatsas messages
  gnat2why/analyzer/gnat2why.sar
Due: none

Remove variable now set at group level
  .gitlab-ci.yml
Due: none

Use IT scripts to set git redirections
  .gitlab-ci.yml
Due: none

Adapt precommit config to CI and enable in CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

Piotr suggestion to simply use 'run' command
  .gitlab-ci.yml
Due: none
