Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Remove spurious message about recursive call being inlined
  testsuite/gnatprove/tests/K915-013__sccs/test.out
  testsuite/gnatprove/tests/M219-019__flow_subprogram_calls/test.out
  testsuite/gnatprove/tests/M219-040__flow_IFA_error_messages/test.out
  testsuite/gnatprove/tests/M301-035__flow__interprocedural_analysis_tests/test.out
  testsuite/gnatprove/tests/N317-015__mutual_recursive/test.out
  testsuite/gnatprove/tests/N317-015__recursive/test.out
  testsuite/gnatprove/tests/P216-021__inlining_recursive/test.out
  testsuite/gnatprove/tests/S314-045__inlining/test.out
  testsuite/gnatprove/tests/T618-021__explanations/test.out
Due: none

Move test to large
  testsuite/gnatprove/tests/1390__kruskal/test.yaml
Due: none

lrm: fix Initializes aspect syntax
  docs/lrm/source/packages.rst
Due: none

Add counterexample labels to loop index for Iterable
  src/counterexamples/ce_parsing.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-util.adb
  src/why/spark_atree.ads
  src/why/why-gen-expr.adb
  src/why/why-sinfo.ads
  src/why/xgen/xtree_sinfo.adb
Due: check-gnatformat-gnat2why

Move test driver code to separate file
  testsuite/gnatprove/lib/python/spark_drivers.py
  testsuite/gnatprove/run-tests
Due: none

Add support for call to function with side effects in elsif conditions
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr-loops-inv.adb
  testsuite/gnatprove/tests/1058__function_side_effects/frame_condition.adb
  testsuite/gnatprove/tests/1058__function_side_effects/structural_variant.adb
  testsuite/gnatprove/tests/1058__function_side_effects/test.out
  testsuite/gnatprove/tests/1058__function_side_effects/test_proof.adb
Due: check-gnatformat-gnat2why

File test
  testsuite/gnatprove/tests/1451__iterated_assoc_loop_param/case_d.ads
  testsuite/gnatprove/tests/1451__iterated_assoc_loop_param/test.opt
Due: check-opt-syntax

Fix infinite recursion on overlays of abstracted record types
  src/spark/spark_definition.adb
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1450__overlay_access_constant/ext_acc.ads
  testsuite/gnatprove/tests/1450__overlay_access_constant/test.out
  testsuite/gnatprove/tests/1450__overlay_access_constant/test_acc.adb
  testsuite/gnatprove/tests/1450__overlay_access_constant/test_acc.ads
  testsuite/gnatprove/tests/1450__overlay_unused_record/ext_ov.ads
  testsuite/gnatprove/tests/1450__overlay_unused_record/test.out
  testsuite/gnatprove/tests/1450__overlay_unused_record/test_overlay.adb
  testsuite/gnatprove/tests/1450__overlay_unused_record/test_overlay.ads
Due: check-gnatformat-gnat2why

Get counterexample values from for .. of loops over arrays
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_parsing.adb
  src/why/gnat2why-decls.adb
  src/why/spark_atree-entities.ads
  src/why/spark_atree.ads
  testsuite/gnatprove/tests/754__loop_index_ce/test.out
  testsuite/gnatprove/tests/754__loop_index_ce/test_loop.adb
  testsuite/gnatprove/tests/754__loop_index_ce/test_loop_array.adb
Due: check-gnatformat-gnat2why

Allow logical equality function in post of inline for proof
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/1452__bad_inline_for_proof/main.adb
  testsuite/gnatprove/tests/1452__bad_inline_for_proof/test.out
  testsuite/gnatprove/tests/1452__inline_for_proof/p.adb
  testsuite/gnatprove/tests/1452__inline_for_proof/p.ads
  testsuite/gnatprove/tests/1452__inline_for_proof/test.out
Due: check-gnatformat-gnat2why

Revert "Merge branch 'mr/kanig/1451-test' into 'master'"
  testsuite/gnatprove/tests/1451__iterated_assoc_loop_param/case_d.ads
  testsuite/gnatprove/tests/1451__iterated_assoc_loop_param/test.opt
Due: check-opt-syntax

Add test for statically disabled IF conditions
  testsuite/gnatprove/tests/V726-038__flow_dead_code_warnings_off/polarity.adb
Due: none

Fix handling of statically disabled IF conditions
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/V726-038__flow_dead_code_warnings_off/test.out
Due: check-gnatformat-gnat2why

Fix whitespace in test
  testsuite/gnatprove/tests/M318-009__flow_quantified_expressions/test.adb
Due: none

Remove redundant check for Original_Node being present
  src/spark/spark_util.ads
Due: check-gnatformat-gnat2why

Move detection of non-executable code to GNAT frontend
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  src/why/spark_atree.ads
Due: check-gnatformat-gnat2why

Fix typo in description of handling of unchecked unions
  docs/lrm/source/the-standard-library.rst
Due: none

Fix tests that were violating new SPARK_Mode rule
  testsuite/gnatprove/tests/867__modifies_contracts/test_modifies.adb
  testsuite/gnatprove/tests/N710-015__spark_off/spark_off.adb
  testsuite/gnatprove/tests/N710-015__spark_off/spark_off.ads
  testsuite/gnatprove/tests/N710-015__spark_off/test.out
Due: none

File test with crash in up-projecting a magic string
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/p.adb
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/p.ads
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/q.adb
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/q.ads
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/test.opt
Due: check-opt-syntax

Remove spurious messages about inlining of recursive subprograms
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
Due: none

Update sessions with meaningful itype names
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/258d8846859d819dd1ed-_memory_model__address_sets__T22b/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/a681ca68e5c2737663a4-_memory_model__address_sets__T30b/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/aa6913126f2178a7693b-_memory_model__address_sets__T24b/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/e0d5487f1c8dabf0aeec-_memory_model__address_sets__T28b/why3session.xml
Due: none

Fix crash in check of Refined_Global with magic strings
  src/flow/flow_refinement.adb
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/test.opt
  testsuite/gnatprove/tests/1453__flow_up_project_magic_string/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

SPARKlib now uses static booleans
  Makefile
  testsuite/gnatprove/lib/python/replay.py
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/sparklib-coverage.py
  testsuite/gnatprove/tests/1293__functional_total_maps/test.out
  testsuite/gnatprove/tests/247__formal_containers/test.gpr
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/247__functional_containers/test.gpr
  testsuite/gnatprove/tests/247__functional_containers/test.out
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.gpr
  testsuite/gnatprove/tests/281__sorts/test.gpr
  testsuite/gnatprove/tests/394__container_aggregates/test.gpr
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/63__spark_c_strings/my_sparklib.gpr
  testsuite/gnatprove/tests/63__spark_c_strings/test.gpr
  testsuite/gnatprove/tests/P914-008__trivial_test/test.gpr
  testsuite/gnatprove/tests/R509-011__higher_order/test.gpr
  testsuite/gnatprove/tests/SB07-003__crash/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/VB02-007__sums/test.gpr
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.gpr
  testsuite/gnatprove/tests/W127-011__HO_sequences_test/test.gpr
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.gpr
  testsuite/gnatprove/tests/W127-011__HO_vectors_test/test.gpr
  testsuite/gnatprove/tests/ug__loop_types/test.out
  testsuite/gnatprove/tests/ug__perm/long_perm.gpr
  testsuite/gnatprove/tests/ug__sort/long_sort.gpr
Due: none

Functions with side effects in subexpressions are not yet supported
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/1058__function_side_effects/frame_condition.adb
  testsuite/gnatprove/tests/1058__function_side_effects/test.out
  testsuite/gnatprove/tests/1058__function_side_effects/test_proof.adb
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
  testsuite/gnatprove/tests/359__procedural_functions/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Check contracts of subprograms that are not analysed by flow
  docs/develguide/flow_analysis.rst
  src/flow/flow-analysis-contract_sanity.adb
  src/flow/flow-analysis-contract_sanity.ads
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow-analysis.ads
  src/flow/flow.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/559__flow_contract_inputs_imported/p.ads
  testsuite/gnatprove/tests/559__flow_contract_inputs_imported/test.out
  testsuite/gnatprove/tests/559__flow_contract_inputs_off/p.adb
  testsuite/gnatprove/tests/559__flow_contract_inputs_off/p.ads
  testsuite/gnatprove/tests/559__flow_contract_inputs_off/test.out
  testsuite/gnatprove/tests/559__flow_eq_spark_mode_off/p.adb
  testsuite/gnatprove/tests/559__flow_eq_spark_mode_off/p.ads
  testsuite/gnatprove/tests/559__flow_eq_spark_mode_off/test.out
Due: check-gnatformat-gnat2why

Document that discriminants of UU types are allowed in Static
  docs/lrm/source/the-standard-library.rst
Due: none

Adapt test to exclusive labels for 'At and goto
  testsuite/gnatprove/tests/830__at_label_proof/test.adb
Due: none

Apply manifest files from archive with updated sessions
  testsuite/gnatprove/trigger-session-update
Due: none

Replace hashed with ordered maps to stabilize proof
  src/why/gnat2why-expr-loops-inv.adb
  testsuite/gnatprove/tests/1320__hashtable/proof/manifest/hashtbl.toml
  testsuite/gnatprove/tests/R419-026__swap_ranges/test.out
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/2909ccd70f12265d0fdb-eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/aef7af29d02eedf0661d-_elements_checks__eq_reflexive__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/bc3d539ea1fd96991ff7-_eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/c3651383f989c49c43e4-odel__m__eq_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/df26b08d1dd3e29c5c3a-_eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__eq_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__eq_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__lift_eq__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__add__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__eq_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__eq_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__formal_model__m__find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test__lists__reverse_find/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__large_run/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__formal_model__m__add__2/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__formal_model__m__eq_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__formal_model__m__eq_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/proof/sessions/test_list__m__formal_model__p__map/why3session.xml
Due: check-gnatformat-gnat2why

Move 1320__hashtbl back to sessions
  testsuite/gnatprove/tests/1320__hashtable/proof/manifest/hashtbl.toml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__cell_arrPredicate/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__has_hash/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__hash/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__insert/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__add_permissive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_logical_eq/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_reflexive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_symmetric/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__eq_elements_checks__eq_transitive/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__iterable_set/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__fs__set/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__model/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__m__model__2/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/proof/sessions/hashtbl__mem/why3session.xml
  testsuite/gnatprove/tests/1320__hashtable/test.yaml
Due: none

Say in the LRM that Loop_Index is ghost
  docs/lrm/source/statements.rst
Due: none

Native proof support for 'Loop_Index
  src/flow/flow_generated_globals-phase_2.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/why-gen-binders.adb
Due: check-gnatformat-gnat2why

Refactor an over-complicated condition to detect variable inputs
  src/flow/flow-analysis-sanity.adb
Due: check-gnatformat-gnat2why
