Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add Element variant for Iterable_for_Proof annotation
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/spark_report.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1352__illegal_iterable_for_proof/auto.ads
  testsuite/gnatprove/tests/1352__illegal_iterable_for_proof/illegal_element_iterable_for_proof.adb
  testsuite/gnatprove/tests/1352__illegal_iterable_for_proof/test.gpr
  testsuite/gnatprove/tests/1352__illegal_iterable_for_proof/test.out
  testsuite/gnatprove/tests/1352__iterable_for_proof/element_iterable_for_proof.adb
  testsuite/gnatprove/tests/1352__iterable_for_proof/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/T630-007__annotate/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Factorize checks for string literal parameters Annotate
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/T630-007__annotate/bad_annotate.adb
  testsuite/gnatprove/tests/T630-007__annotate/test.out
Due: check-gnatformat-gnat2why

Correct regression from previous commit
  src/spark/spark_definition-annotate.adb
Due: check-gnatformat-gnat2why

Adapt Iterable_For_Proof Model to Constant_Reference
  src/spark/spark_definition-annotate.adb
  testsuite/gnatprove/tests/1354__iterable_for_proof/minimal.adb
  testsuite/gnatprove/tests/1354__iterable_for_proof/test.out
Due: check-gnatformat-gnat2why

fix clean sessions script
  testsuite/gnatprove/lib/python/clean_sessions.py
  testsuite/gnatprove/update-session-test
Due: none

sarif: refactor SARIF tests and helpers, add doc
  docs/develguide/tool_structure.rst
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1223__sarif_base_uri/test.out
  testsuite/gnatprove/tests/1223__sarif_base_uri/test.py
  testsuite/gnatprove/tests/1287__sarif_early_exit/test.py
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/test.out
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/test.py
Due: none

doc: expand SARIF handling info in the develguide
  docs/develguide/tool_structure.rst
Due: none

sarif: add reasonForCheck to SARIF report
  docs/develguide/tool_structure.rst
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/utils/errout_wrapper.adb
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/p.ads
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/test.out
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

doc: fix list formatting in tool_structure
  docs/develguide/tool_structure.rst
Due: none

sarif: store reasonForCheck as a nested property instead
  docs/develguide/tool_structure.rst
  src/gnatprove/spark_report-generate_sarif_report.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1323__sarif_reason_for_check/test.py
Due: check-gnatformat-gnatprove

Describe Modifies aspect in LRM
  docs/lrm/source/packages.rst
  docs/lrm/source/subprograms.rst
Due: none

Adapt to GNAT front end API change
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph-utility.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_refinement.adb
  src/flow/flow_utility.adb
  src/spark/spark_util.adb
  src/why/spark_atree-entities.adb
Due: check-gnatformat-gnat2why

Fix Coq test output after why3 numbering
  testsuite/gnatprove/tests/P513-003__coq_change/test.out
Due: none

Update finally test after why3 numbering
  testsuite/gnatprove/tests/799__finally_proof/test.out
Due: none

Explain codes for Iterable violations
  share/spark/explain_codes/E0028.md
  share/spark/explain_codes/E0029.md
  share/spark/explain_codes/E0030.md
  share/spark/explain_codes/E0032.md
  share/spark/explain_codes/README.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  testsuite/gnatprove/tests/W117-015__user_quant_illegal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
Due: check-gnatformat-gnatprove

Disable CE on tests that don't test CE
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args/test.out
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args/test.yaml
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args_body_present/test.out
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args_body_present/test.yaml
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args_no_children/test.out
  testsuite/gnatprove/tests/P531-040__gnatprove_subunit_file_args_no_children/test.yaml
Due: none

Remove warning about useless inclusion
  src/spark/spark_util.adb
Due: check-gnatformat-gnat2why

Revert "Fix Coq test output after why3 numbering"
  testsuite/gnatprove/tests/P513-003__coq_change/test.out
Due: none

Support Modifies contract in proof
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/spark_report.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/867__modifies_contracts/ext.adb
  testsuite/gnatprove/tests/867__modifies_contracts/ext.ads
  testsuite/gnatprove/tests/867__modifies_contracts/test.out
  testsuite/gnatprove/tests/867__modifies_contracts/test_modifies.adb
  testsuite/gnatprove/tests/867__modifies_expansion/complex_data_system.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test.out
  testsuite/gnatprove/tests/867__modifies_expansion/test_array_component.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test_invalid.adb
  testsuite/gnatprove/tests/867__modifies_expansion/test_relaxed.adb
  testsuite/gnatprove/tests/867__modifies_rte/test.adb
  testsuite/gnatprove/tests/867__modifies_rte/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Accept Modifies contract and mark it
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/867__modifies_bad_global/test.out
  testsuite/gnatprove/tests/867__modifies_bad_global/test_bad_globals.adb
  testsuite/gnatprove/tests/867__modifies_bad_illegal/ext.adb
  testsuite/gnatprove/tests/867__modifies_bad_illegal/ext.ads
  testsuite/gnatprove/tests/867__modifies_bad_illegal/test.adb
  testsuite/gnatprove/tests/867__modifies_bad_illegal/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Add a less-minimized reproducer that causes crash in 26.1
  testsuite/gnatprove/tests/1333__derived_access_subprogram/main.adb
Due: none

Correct assertion for derived access to subprogram types
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-types.adb
  testsuite/gnatprove/tests/1333__derived_access_subprogram/test.opt
  testsuite/gnatprove/tests/1333__derived_access_subprogram/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Do not crash on shift operator on arrays
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/1312__intrinsic_shift_on_arrays/sse2.ads
  testsuite/gnatprove/tests/1312__intrinsic_shift_on_arrays/test.out
Due: check-gnatformat-gnat2why

Check that all volatile objects for reading are mentioned in Modifies
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/867__modifies_volatile/ext.ads
  testsuite/gnatprove/tests/867__modifies_volatile/test.adb
  testsuite/gnatprove/tests/867__modifies_volatile/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Rework library test to also test older gprinstall
  testsuite/gnatprove/tests/1200__install_library/counter_lib.gpr
  testsuite/gnatprove/tests/1200__install_library/test.out
  testsuite/gnatprove/tests/1200__install_library/test.py
  testsuite/gnatprove/tests/1200__install_library/variant_artifacts/counter_lib.gpr
  testsuite/gnatprove/tests/1200__install_library/variant_native/counter_lib.gpr
Due: none

Add test for installing SPARK libraries with gprinstall
  docs/ug/en/source/how_to_run_gnatprove.rst
  testsuite/gnatprove/tests/1200__install_library/app/main.gpr
  testsuite/gnatprove/tests/1200__install_library/app/main_src/use_counter.adb
  testsuite/gnatprove/tests/1200__install_library/app/main_src/use_counter.ads
  testsuite/gnatprove/tests/1200__install_library/counter_lib.gpr
  testsuite/gnatprove/tests/1200__install_library/lib_src/counter.adb
  testsuite/gnatprove/tests/1200__install_library/lib_src/counter.ads
  testsuite/gnatprove/tests/1200__install_library/test.out
  testsuite/gnatprove/tests/1200__install_library/test.py
Due: none

Remove redundant pragmas from test
  testsuite/gnatprove/tests/867__modifies_volatile/ext.ads
Due: none

Fix crash on hidden global object missing from Modifies contract
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/867__modifies_volatile/ext.adb
  testsuite/gnatprove/tests/867__modifies_volatile/ext.ads
  testsuite/gnatprove/tests/867__modifies_volatile/test.adb
  testsuite/gnatprove/tests/867__modifies_volatile/test.out
Due: check-gnatformat-gnat2why

Support 'Access with a private type
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-subprograms-pointers.ads
  testsuite/gnatprove/tests/1333__derived_access_subprogram/test.out
Due: check-gnatformat-gnat2why

Document Modifies in the user guide
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/subprogram_contracts.rst
Due: none

Add basic test for Modifies in flow
  testsuite/gnatprove/tests/1351__flow_modifies/flow1.adb
  testsuite/gnatprove/tests/1351__flow_modifies/test.out
Due: none

Add support for Modifies contract in flow
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/867__modifies_contracts/test.out
Due: check-gnatformat-gnat2why

Enable test after frontend fix
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.opt
Due: check-opt-syntax

sarif: store generated globals in gnatprove.sarif
  docs/develguide/gg.rst
  docs/develguide/tool_structure.rst
  src/flow/flow.adb
  src/flow/flow.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1326__sarif_generated_globals_modes/pkg.adb
  testsuite/gnatprove/tests/1326__sarif_generated_globals_modes/pkg.ads
  testsuite/gnatprove/tests/1326__sarif_generated_globals_modes/test.out
  testsuite/gnatprove/tests/1326__sarif_generated_globals_modes/test.py
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/a.adb
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/a.ads
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/a~priv.adb
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/a~priv.ads
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/test.out
  testsuite/gnatprove/tests/1326__sarif_generated_globals_private/test.py
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
