Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: git@ssh.gitlab.adacore-it.com:eng/shared/mirrors/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: git@ssh.gitlab.adacore-it.com:it/flake8.git
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: git@ssh.gitlab.adacore-it.com:it/black.git
    rev: 24.2.0
    hooks:
    - id: black

large and cache runs don't contribute to stage status
  .gitlab-ci.yml
Due: none

Run gnatsas commands with --debug to investigate nightly tests
  Makefile.gnatprove
  gnat2why/Makefile
Due: none

Minor typos in Compute_Store
  src/why/gnat2why-expr.adb
Due: none

Do not preserve tagged extension on calls if it is visible
  src/why/gnat2why-expr.adb
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/661__tagged_extension/test.out
  testsuite/gnatprove/tests/661__tagged_extension/test_call.adb
Due: check-empty-testoutopt, check-testsuite-markers

Add an assumption about Extension_Visible on Ada code
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Fix analysis of calls to functions with exceptions
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree.ads
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test.adb
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test.out
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test_ghost.adb
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test_ok.adb
  testsuite/gnatprove/tests/UC02-037__handlers_bc/test.out
  testsuite/gnatprove/tests/UC02-037__reraise_bc/test.out
  testsuite/gnatprove/tests/V421-038__borrow_checking_gotos/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Connect exceptional exits of function with side-effects in local CFG
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test.out
  testsuite/gnatprove/tests/657__side_effect_and_exceptions/test_loop.adb
Due: check-empty-testoutopt, check-testsuite-markers

Test passes now without crash in counterexample checking
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.yaml
Due: none

Protected object cannot be modified by functions
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/655__protected_function_side_effects/p.adb
  testsuite/gnatprove/tests/655__protected_function_side_effects/p.ads
  testsuite/gnatprove/tests/655__protected_function_side_effects/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Check correct status of protected components in borrow checker
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/656__borrow_and_protected/p.adb
  testsuite/gnatprove/tests/656__borrow_and_protected/p.ads
  testsuite/gnatprove/tests/656__borrow_and_protected/p2.adb
  testsuite/gnatprove/tests/656__borrow_and_protected/p2.ads
  testsuite/gnatprove/tests/656__borrow_and_protected/test.out
  testsuite/gnatprove/tests/QA23-042__error_pointers/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix false positive validity check
  src/why/gnat2why-expr-aggregates.adb
Due: none

Adapt tests to new GNAT error on empty aggregates
  testsuite/gnatprove/tests/V803-045__empty_aggregate_checks/main.adb
  testsuite/gnatprove/tests/V803-045__empty_aggregate_checks/test.out
  testsuite/gnatprove/tests/V803-045__null_array_aggr/empty.adb
  testsuite/gnatprove/tests/V803-045__null_array_aggr/test.out
Due: check-empty-testoutopt, check-testsuite-markers

gnatsas: remove --debug
  Makefile.gnatprove
  gnat2why/Makefile
Due: none

gnatsas: update .gitignore
  .gitignore
Due: none

gnatsas: relocate output dir
  analyzer/gnatprove.sar
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

gnatsas: disable pragma config files in projects
  gnat2why/gnat2why_gnat.gpr
  gnatprove.gpr
Due: none

Minor fix on message about unused constant
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/T210-044__flow_private_const/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix Hide/Unhide_Info annotations on package bodies and private parts
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  testsuite/gnatprove/tests/380__illegal_hide_unhide/test.out
  testsuite/gnatprove/tests/521__bad_hide_pointers/bad_hidden_ownership.ads
  testsuite/gnatprove/tests/521__illegal_hide_pointers/illegal_hidden_ownership.ads
  testsuite/gnatprove/tests/521__illegal_hide_pointers/illegal_hidden_predefined_eq.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private-p_child-grand_child.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private-p_child.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/521__legal_hide_pointers/hidden_ownership.ads
  testsuite/gnatprove/tests/521__legal_hide_pointers/hidden_predefined_eq.ads
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part-child.ads
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part.ads
  testsuite/gnatprove/tests/522__illegal_unhide_package_body/bad_compil.adb
  testsuite/gnatprove/tests/522__illegal_unhide_package_body/test.adb
  testsuite/gnatprove/tests/522__illegal_unhide_package_body/test.out
  testsuite/gnatprove/tests/577__inherited_subprogram_from_mode_off/collection.ads
  testsuite/gnatprove/tests/ug__hide_private_abstraction/geometry.ads
  testsuite/gnatprove/tests/ug__hide_private_annot/geometry.ads
Due: check-empty-testoutopt, check-testsuite-markers

Inherit SPARK_Mode for dispatching result wrappers
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  testsuite/gnatprove/tests/591__dispatching_result/test.out
  testsuite/gnatprove/tests/664__dispatching_result_mode/child.ads
  testsuite/gnatprove/tests/664__dispatching_result_mode/corner_cases.adb
  testsuite/gnatprove/tests/664__dispatching_result_mode/privacy.ads
  testsuite/gnatprove/tests/664__dispatching_result_mode/root.ads
  testsuite/gnatprove/tests/664__dispatching_result_mode/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Get Ada type from why type of item if any
  src/why/why-gen-binders.adb
Due: none

Modify testsuite framework to support new SPARKlib filenames
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
Due: none

Test passes now with counterexample checking
  testsuite/gnatprove/tests/spark_book/test.out
  testsuite/gnatprove/tests/spark_book/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Update read of JSON file to use new CNATCOLL.JSON API
  src/common/call.adb
Due: none

Update tests
  testsuite/gnatprove/tests/583__spark_webinar_part3/sparklib.gpr
  testsuite/gnatprove/tests/63__spark_c_strings/my_sparklib.gpr
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.gpr
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.py
  testsuite/gnatprove/tests/R727-014__lemma_library/sparklib.gpr
Due: none

Remove duplicated routine Is_Container_Aggregate
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/spark_atree.ads
Due: none

Refine spec of New_Function_Call
  src/why/why-gen-expr.adb
  src/why/why-gen-expr.ads
Due: none

Support running pipelines manually from GitLab
  .gitlab-ci.yml
Due: none

Update location in outputs of container tests
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/R717-025__flow_container/test.out
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with container aggregate of an integer type
  testsuite/gnatprove/tests/668__containger_aggregate/main.adb
  testsuite/gnatprove/tests/668__containger_aggregate/p.adb
  testsuite/gnatprove/tests/668__containger_aggregate/p.ads
  testsuite/gnatprove/tests/668__containger_aggregate/test.opt
Due: check-empty-testoutopt

Flow support for container aggregates
  src/flow/flow-control_flow_graph.adb
  src/flow/flow_types.adb
  src/flow/flow_utility.adb
  src/spark/spark_register.adb
  testsuite/gnatprove/tests/398__flow_container_aggregate/p.adb
  testsuite/gnatprove/tests/398__flow_container_aggregate/p.ads
  testsuite/gnatprove/tests/398__flow_container_aggregate/test.out
  testsuite/gnatprove/tests/398__flow_container_aggregate/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Add test
  testsuite/gnatprove/tests/549__range_check/main.adb
  testsuite/gnatprove/tests/549__range_check/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update description of the formal containers in the UG
  docs/ug/en/source/spark_libraries.rst
Due: none

Move tests to XFAIL
  testsuite/gnatprove/tests/247__functional_containers/test.opt
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.opt
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.opt
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.opt
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.opt
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.opt
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.opt
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.opt
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.opt
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.opt
Due: check-empty-testoutopt

Update test file
  testsuite/gnatprove/tests/598__sparklib_light_exec/sparklib_light.gpr
Due: none

Test updates
  testsuite/gnatprove/tests/305__deprecated_termination/test.out
  testsuite/gnatprove/tests/312__cover_annotate_marking/test.out
  testsuite/gnatprove/tests/N603-053__annotate/test.out
  testsuite/gnatprove/tests/NA18-003__subp_var_input/test.out
  testsuite/gnatprove/tests/RA02-031__flow_generic_default/test.out
  testsuite/gnatprove/tests/S415-012__bad_pledge_calls/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/SA17-037__pledge/test.out
  testsuite/gnatprove/tests/T412-002__inline/test.out
  testsuite/gnatprove/tests/TA07-024__renaming_access/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use Errout_Wrapper for flow/proof messages
  src/common/errout_wrapper.adb
  src/common/errout_wrapper.ads
  src/common/vc_kinds.ads
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/flow/flow_types.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/why/gnat2why-error_messages.adb
Due: none
