Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

Remove support for Might_Not_Return in marking
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/26__conditional_termination/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/U301-050__might_not_return/test.out
  testsuite/gnatprove/tests/ug__possibly_nonreturning/test.out
Due: check-empty-testoutopt, check-testsuite-markers

No longer raise warnings on objects annotated with external names
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  src/common/vc_kinds.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/171__external_name/test.out
  testsuite/gnatprove/tests/Q504-024__predicate/test.out
  testsuite/gnatprove/tests/Q810-019__flow_proof_in/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Document Always_Terminates in the SPARK RM
  docs/lrm/source/subprograms.rst
Due: none

Force ordering of messages for cycles
  src/why/why-inter.adb
  testsuite/gnatprove/tests/W210-019__infeasible_abstract/test.out
Due: check-empty-testoutopt, check-testsuite-markers

adapt GAIA update code to new attachment
  testsuite/gnatprove/update-expected-outputs
Due: none

Remove spurious init check on membership tests with predicates
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/214__relaxed_predicate/main.adb
  testsuite/gnatprove/tests/214__relaxed_predicate/reproducer_main.adb
  testsuite/gnatprove/tests/214__relaxed_predicate/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix incomplete legality rule on Loop_Entry
  docs/lrm/source/statements.rst
Due: none

minor testsuite output
  testsuite/gnatprove/tests/P511-007__nonexisting_ext_obj_dir/test.out
Due: check-empty-testoutopt, check-testsuite-markers

fix typo
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

testsuite update
  testsuite/gnatprove/tests/TA27-008__iterator_filter/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update session tests and SKIP tests on Windows
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.opt
  testsuite/gnatprove/tests/ghc_sort/test.opt
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2598714a0e9fefdf80bb-mbers__p__initialize_coprime_list/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/2a85f63e85d6a20aa57b-p__eratosthenes__smallest_divisor/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/43b23d99b52ac4743aee-__initialize_coprime_list__euclid/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/a2c32a48d2ccdd3dfb70-_numbers__p__nearest_prime_number/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__are_coprime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__eratosthenes/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__has_prime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__has_true/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__is_prime/why3session.xml
  testsuite/gnatprove/tests/prime_numbers/proof/sessions/test_prime_and_coprime_numbers__p__nearest_number/why3session.xml
Due: check-empty-testoutopt

Update test output
  testsuite/gnatprove/tests/MC19-006__uppercase/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adopt Dan's reformulation
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

save .sexp files during benchmark creation
  testsuite/gnatprove/bench/create_benchmarks.py
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Update testsuite after changes in runtime
  testsuite/gnatprove/tests/PB21-022__flow_string_text_io/test.out
  testsuite/gnatprove/tests/V503-002__address_to_access_conversion/test.out
  testsuite/gnatprove/tests/evoting/evoting.ads
  testsuite/gnatprove/tests/evoting/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Get rid of an unneeded parameter in frame condition generation
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr-loops-inv.ads
  src/why/gnat2why-expr-loops.adb
Due: none

Add a control-flow-graph structure for statements in spark_util
  src/spark/spark_util.adb
  src/spark/spark_util.ads
Due: none

Adds a new status for writes in frame condition generation
  src/why/gnat2why-expr-loops-inv.adb
Due: none

Filter out irrelevant writes in frame condition generation
  src/why/gnat2why-expr-loops-inv.adb
Due: none

Remove hoist-out optimization of loops
  src/why/gnat2why-expr-loops-exits.adb
  src/why/gnat2why-expr-loops-exits.ads
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
Due: none

Refactor analysis of structural variants
  src/spark/spark_util.adb
Due: none

New tests
  testsuite/gnatprove/tests/33__control_flow/large_control_flow_frame_condition.adb
  testsuite/gnatprove/tests/33__control_flow/nested_loops_frame_condition.adb
  testsuite/gnatprove/tests/33__control_flow/struct_decrease_transfer_of_control.adb
  testsuite/gnatprove/tests/33__control_flow/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update the description of Termination annotations in the UG
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/appendix/gnatprove_limitations.rst
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/language_restrictions.rst
  docs/ug/en/source/spark_libraries.rst
  docs/ug/en/source/subprogram_contracts.rst
  docs/ug/gnatprove_by_example.gpr
  testsuite/gnatprove/tests/ug__possibly_nonreturning/possibly_nonreturning.adb
  testsuite/gnatprove/tests/ug__possibly_nonreturning/possibly_nonreturning.ads
  testsuite/gnatprove/tests/ug__possibly_nonreturning/test.out
  testsuite/gnatprove/tests/ug__possibly_nonterminating/possibly_nonterminating.adb
  testsuite/gnatprove/tests/ug__possibly_nonterminating/possibly_nonterminating.ads
  testsuite/gnatprove/tests/ug__possibly_nonterminating/possibly_nonterminating.gpr
  testsuite/gnatprove/tests/ug__possibly_nonterminating/test.adc
  testsuite/gnatprove/tests/ug__possibly_nonterminating/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fully supports At_End_Borrow in declare expression
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/201__at_end_in_declare/main.adb
  testsuite/gnatprove/tests/201__at_end_in_declare/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/kanig-testsuite' into 'master'
  testsuite/gnatprove/tests/P511-007__nonexisting_ext_obj_dir/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Enable coverage in gitlab CI
  .gitlab-ci.yml
  Makefile
  plans/ci.plan
Due: none

hardcode source root for coverage info
  Makefile
Due: none

Update test output after fronted commit
  testsuite/gnatprove/tests/evoting/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Rewrite representation item corresponding to aspect Address
  src/spark/spark_rewrite.adb
Due: none

Update testsuite
  testsuite/gnatprove/tests/134__skip_flow_bad/test.out
  testsuite/gnatprove/tests/N603-053__annotate/test.out
  testsuite/gnatprove/tests/S415-012__bad_pledges/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/T412-002__inline/test.out
  testsuite/gnatprove/tests/T630-007__annotate/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_annot/test.out
  testsuite/gnatprove/tests/V209-031__bad_logical_equality/test.out
  testsuite/gnatprove/tests/V516-041__ownership_annotations_illegal/test.out
  testsuite/gnatprove/tests/V714-005__auto_inst_illegal/test.out
  testsuite/gnatprove/tests/V906-017__private_ownership/test.out
  testsuite/gnatprove/tests/V907-010__recursive_reclamation_function/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization_illegal/test.out
  testsuite/gnatprove/tests/W105-004__iterated_comp_assoc/test.out
  testsuite/gnatprove/tests/W105-004__recursive_illegal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
  testsuite/gnatprove/tests/W131-011__HO_inlining/test.out
  testsuite/gnatprove/tests/W214-002__error/test.out
  testsuite/gnatprove/tests/W223-005__ill_placed_reclamation_function/test.out
  testsuite/gnatprove/tests/W223-005__pragma_annotate_tasks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Do not emit errors in phase 1 for pragma annotate
  src/spark/spark_definition-annotate.adb
Due: none

File new test
  testsuite/gnatprove/tests/216__flow_term_func_callee/func.adb
  testsuite/gnatprove/tests/216__flow_term_func_callee/func.ads
  testsuite/gnatprove/tests/216__flow_term_func_callee/p.adb
  testsuite/gnatprove/tests/216__flow_term_func_callee/p.ads
  testsuite/gnatprove/tests/216__flow_term_func_callee/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Detect implicit terminating annotations in phase 1
  src/flow/flow_generated_globals-partial.adb
  testsuite/gnatprove/tests/216__flow_term_func_callee/p.ads
  testsuite/gnatprove/tests/216__flow_term_func_callee/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update large tests after changes in runtime units
  testsuite/gnatprove/tests/P302-004__string_eq/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/SC31-001__vector/test.out
  testsuite/gnatprove/tests/spark_book/Chapter-02/average.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/average_with_use.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/bad_types.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/control_structures.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/enum_example.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/example.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/generic_examples.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/good_types.adb
  testsuite/gnatprove/tests/spark_book/Chapter-02/palindrome.adb
  testsuite/gnatprove/tests/spark_book/test.out
  testsuite/gnatprove/tests/tictactoe/game.adb
  testsuite/gnatprove/tests/tictactoe/test.out
  testsuite/gnatprove/tests/tictactoe/tictactoe.ads
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
