Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

File test
  testsuite/gnatprove/tests/628__float_unsound/sqrt_constraint.adb
  testsuite/gnatprove/tests/628__float_unsound/test.opt
  testsuite/gnatprove/tests/628__float_unsound/test.out
  testsuite/gnatprove/tests/628__float_unsound/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Take into account direct deep update for structural variant check
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/626__deep_update_for_variant/bar.adb
  testsuite/gnatprove/tests/626__deep_update_for_variant/foo.adb
  testsuite/gnatprove/tests/626__deep_update_for_variant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Take into account potential side-effects of function call in proof
  src/spark/spark_util.adb
  src/why/gnat2why-expr-loops-inv.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/619__function_with_side_effects/bad_borrow.adb
  testsuite/gnatprove/tests/619__function_with_side_effects/crash_in_loop.adb
  testsuite/gnatprove/tests/619__function_with_side_effects/structural_variant.adb
  testsuite/gnatprove/tests/619__function_with_side_effects/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor doc clarification
  docs/ug/en/tutorial.rst
Due: none

Update test references
  testsuite/gnatprove/tests/359__procedural_functions/test.out
  testsuite/gnatprove/tests/N519-007__clean_subdir/test.out
  testsuite/gnatprove/tests/O422-027__info_messages/test.out
  testsuite/gnatprove/tests/S314-045__inlining/test.out
  testsuite/gnatprove/tests/TB19-042__flow_exceptional_dead/test.out
  testsuite/gnatprove/tests/U519-028__flow_dead_inlining/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use new switch to suppress info messages
  src/gnatprove/gnatprove.adb
Due: none

File test case
  testsuite/gnatprove/tests/631__ica/basics.adb
  testsuite/gnatprove/tests/631__ica/basics.ads
  testsuite/gnatprove/tests/631__ica/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use the RAC to create a one liner for counterexamples
  src/common/vc_kinds.ads
  src/counterexamples/ce_display.adb
  src/counterexamples/ce_display.ads
  src/counterexamples/ce_pretty_printing.adb
  src/counterexamples/ce_rac.adb
  src/counterexamples/ce_rac.ads
  src/flow/flow_error_messages.adb
  src/spark/spark_util.ads
  src/why/gnat2why-error_messages.adb
Due: none

Fix baseline of test
  testsuite/gnatprove/tests/631__ica/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with unknown memcached hostname
  testsuite/gnatprove/tests/604__memcache_hostname/main.adb
  testsuite/gnatprove/tests/604__memcache_hostname/test.opt
  testsuite/gnatprove/tests/604__memcache_hostname/test.yaml
Due: check-empty-testoutopt

Add test with unknown memcached port
  testsuite/gnatprove/tests/604__memcache_port/main.adb
  testsuite/gnatprove/tests/604__memcache_port/test.opt
  testsuite/gnatprove/tests/604__memcache_port/test.yaml
Due: check-empty-testoutopt

Fix crash with unknown memcached hostname
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/604__memcache_hostname/test.opt
  testsuite/gnatprove/tests/604__memcache_hostname/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix crash with unknown memcached port number
  src/gnatprove/spark_memcached_wrapper.adb
  testsuite/gnatprove/tests/604__memcache_port/test.opt
  testsuite/gnatprove/tests/604__memcache_port/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Tune test with unknown memcached hostname
  testsuite/gnatprove/tests/604__memcache_hostname/test.out
  testsuite/gnatprove/tests/604__memcache_hostname/test.py
  testsuite/gnatprove/tests/604__memcache_hostname/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Disable Alt-ergo on this test
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry_nested/test.out
  testsuite/gnatprove/tests/V318-027__counterex_loop_entry_nested/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Add demo as test
  testsuite/gnatprove/tests/633__demo_proof_context/README
  testsuite/gnatprove/tests/633__demo_proof_context/p.adb
  testsuite/gnatprove/tests/633__demo_proof_context/p.ads
  testsuite/gnatprove/tests/633__demo_proof_context/p_initial.ads
  testsuite/gnatprove/tests/633__demo_proof_context/q.adb
  testsuite/gnatprove/tests/633__demo_proof_context/q_initial.adb
  testsuite/gnatprove/tests/633__demo_proof_context/test.out
  testsuite/gnatprove/tests/633__demo_proof_context/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Use the Retysp to check whether a type is an Itype in 'Initialized
  src/why/why-gen-init.adb
  testsuite/gnatprove/tests/627__initialized_private/test.opt
  testsuite/gnatprove/tests/627__initialized_private/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix handling of EXIT within iterator loops
  src/flow/flow-control_flow_graph.adb
  testsuite/gnatprove/tests/602__flow_exit_loop/test.out
  testsuite/gnatprove/tests/P715-019__flow_subprogram_termination/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with EXIT within a loop over contrainer
  testsuite/gnatprove/tests/602__flow_exit_loop/test.out
  testsuite/gnatprove/tests/602__flow_exit_loop/test.yaml
  testsuite/gnatprove/tests/602__flow_exit_loop/translate.adb
  testsuite/gnatprove/tests/602__flow_exit_loop/translate.ads
Due: check-empty-testoutopt, check-testsuite-markers

Use the Retysp to check whether a type is an Itype in 'Initialized
  src/why/why-gen-init.adb
  testsuite/gnatprove/tests/627__initialized_private/bounded_string_80.ads
  testsuite/gnatprove/tests/627__initialized_private/foo.adb
  testsuite/gnatprove/tests/627__initialized_private/foo.ads
  testsuite/gnatprove/tests/627__initialized_private/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Avoid duplication of type for message kind
  src/common/errout_wrapper.adb
  src/common/errout_wrapper.ads
  src/flow/flow-analysis-antialiasing.adb
  src/flow/flow-analysis-sanity.adb
  src/flow/flow-analysis.adb
  src/flow/flow-control_flow_graph.adb
  src/flow/flow.adb
  src/flow/flow_classwide.adb
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/flow/flow_sanity.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/why/gnat2why-driver.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/why-gen-hardcoded.adb
Due: none

Reenable realizations after changes in the theory of arrays
  testsuite/gnatprove/tests/O702-009__coq_realizations/realize/Array__1.v
  testsuite/gnatprove/tests/O702-009__coq_realizations/realize/Array__1__Concat.v
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.opt
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.out
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Generate alignment checks on imprecisely supported address clauses
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_error_messages.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  testsuite/gnatprove/tests/12__alignment_check/main.adb
  testsuite/gnatprove/tests/12__alignment_check/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor test updates
  testsuite/gnatprove/tests/P201-069__simulink/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File test
  testsuite/gnatprove/tests/628__float_unsound/sqrt_constraint.adb
  testsuite/gnatprove/tests/628__float_unsound/test.out
  testsuite/gnatprove/tests/628__float_unsound/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Adapt regular expression in test to make it work on Windows
  testsuite/gnatprove/tests/604__memcache_hostname/test.py
Due: none

Use scripts from shared repo for pre-commit checks
  .pre-commit-config.yaml
  scripts/check-empty-file.py
  scripts/check-submodules.py
  scripts/check-testsuite-markers.py
Due: none

Break type recursion with access to private type extensions
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/639__recursive_private_extension/foo.adb
  testsuite/gnatprove/tests/639__recursive_private_extension/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove hardcoding of logical equality on floating point numbers
  src/why/why-gen-expr.adb
  testsuite/gnatprove/tests/636__float_logical_eq/foo.adb
  testsuite/gnatprove/tests/636__float_logical_eq/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update description of handling of logical equality to not mention array
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/gnatprove_by_example.gpr
  testsuite/gnatprove/tests/ug__bad_logical_eq_1/bad_logical_eq_1.gpr
  testsuite/gnatprove/tests/ug__bad_logical_eq_1/incorrect_logical_equality_1.adb
  testsuite/gnatprove/tests/ug__bad_logical_eq_1/test.out
  testsuite/gnatprove/tests/ug__bad_logical_eq_2/bad_logical_eq_2.gpr
  testsuite/gnatprove/tests/ug__bad_logical_eq_2/incorrect_logical_equality_2.adb
  testsuite/gnatprove/tests/ug__bad_logical_eq_2/test.out
  testsuite/gnatprove/tests/ug__logical_eq_implementation/logical_eq_impl.gpr
  testsuite/gnatprove/tests/ug__logical_eq_implementation/logical_equality_implementation.ads
  testsuite/gnatprove/tests/ug__logical_eq_implementation/test.out
Due: check-empty-testoutopt, check-testsuite-markers

LSP checks should be performed using dispatching contracts
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/642__lsp/evil.adb
  testsuite/gnatprove/tests/642__lsp/test.out
  testsuite/gnatprove/tests/N709-001__contracts/test.out
  testsuite/gnatprove/tests/O217-033__liskov/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
