Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Remove code that examined access-to-subprogram wrappers
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/spark_atree-entities.adb
  src/why/spark_atree-entities.ads
  testsuite/gnatprove/tests/T514-020__access_to_subprogram_bad/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adapt proof to not use access-to-subprogram wrappers
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-subprograms.ads
  src/why/gnat2why-types.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
Due: none

Adapt test with access-to-subprogram types to keep it proved
  testsuite/gnatprove/tests/W210-019__infeasible_access_sub/infeasible_access_subp.adb
  testsuite/gnatprove/tests/W210-019__infeasible_access_sub/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adapt flow to pre/post attached to E_Subprogram_Type entities
  src/flow/flow_refinement.adb
Due: none

Deconstruct remaining calls to Access_Subprogram_Wrapper
  src/flow/flow_error_messages.adb
  src/why/gnat2why-expr.adb
  src/why/spark_atree-entities.ads
Due: none

Fix handling of parameters of E_Subprogram_Type entities in proof
  src/why/gnat2why-subprograms.adb
Due: none

Don't expect wrappers to access-to-subprogram in translation
  src/why/gnat2why-driver.adb
Due: none

Cleanup detection of access-to-protected-subprogram types
  src/spark/spark_definition.adb
Due: none

Don't expect functions when translating an access-to-subprogram
  src/why/gnat2why-subprograms-pointers.adb
Due: none

Accept minor diff in counterexample
  testsuite/gnatprove/tests/T514-020__callback/test.out
Due: check-empty-testoutopt, check-testsuite-markers

UC02-037 document support for exceptions in the RM
  docs/lrm/source/declarations-and-types.rst
  docs/lrm/source/exceptions.rst
  docs/lrm/source/subprograms.rst
Due: none

UC02-037 document exception handling in the develguide
  docs/develguide/translation_why3.rst
Due: none

W331-023 don't create unneeded folders, and improve error-reporting
  src/gnatprove/gnatprove.adb
  testsuite/gnatprove/tests/R322-036__ali/a.gpr
  testsuite/gnatprove/tests/R322-036__ali/test.out
  testsuite/gnatprove/tests/R322-036__ali/test.py
  testsuite/gnatprove/tests/W331-023__mkdir/alib.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/main.adb
  testsuite/gnatprove/tests/W331-023__mkdir/main.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/src_a/pack.ads
  testsuite/gnatprove/tests/W331-023__mkdir/test.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/test.out
  testsuite/gnatprove/tests/W331-023__mkdir/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Improve documentation for volatile and external variables
  docs/ug/en/source/package_contracts.rst
Due: none

Imported variables are initialized
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/60__imported_variable/main.adb
  testsuite/gnatprove/tests/60__imported_variable/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Forbid Assert_And_Cut in some loop contexts
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/41__assert_and_cut_in_loop/main.adb
  testsuite/gnatprove/tests/41__assert_and_cut_in_loop/test.out
  testsuite/gnatprove/tests/41__assert_and_cut_meet_inv/assert_and_cut_in_loop.adb
  testsuite/gnatprove/tests/41__assert_and_cut_meet_inv/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'W404-015-dross-assumption' into 'master'
  docs/ug/en/source/how_to_use_gnatprove_in_a_team.rst
Due: none

Update UG for pragma Assert_And_Cut
  docs/ug/en/source/assertion_pragmas.rst
  testsuite/gnatprove/tests/ug__partial_forget_assert/partial_knowledge.adb
  testsuite/gnatprove/tests/ug__partial_forget_assert/test.adc
  testsuite/gnatprove/tests/ug__partial_forget_assert/test.gpr
  testsuite/gnatprove/tests/ug__partial_forget_assert/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-009 Reject misplaced Assert_And_Cut
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/misplaced.adb
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/misplaced_around.adb
  testsuite/gnatprove/tests/W316-009__misplaced_assert_and_cut/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W316-019 Update documentation for Assert_And_Cut
  docs/lrm/source/statements.rst
Due: none

Remove XFAIL on T804-031__delta_aggregates_subtype
  testsuite/gnatprove/tests/T804-031__delta_aggregates_subtype/test.opt
  testsuite/gnatprove/tests/T804-031__delta_aggregates_subtype/test.out
Due: check-empty-testoutopt, check-testsuite-markers

remove test that often fails in CI
  testsuite/gnatprove/tests/W331-023__mkdir/alib.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/main.adb
  testsuite/gnatprove/tests/W331-023__mkdir/main.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/src_a/pack.ads
  testsuite/gnatprove/tests/W331-023__mkdir/test.gpr
  testsuite/gnatprove/tests/W331-023__mkdir/test.out
  testsuite/gnatprove/tests/W331-023__mkdir/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Update XFAIL annotations for tests with corresponding open GL issue
  testsuite/gnatprove/tests/N317-021__vectors/test.opt
  testsuite/gnatprove/tests/RA18-025__flow_generic_visibility/test.opt
  testsuite/gnatprove/tests/RA23-042__flow_scope_stack/test.opt
  testsuite/gnatprove/tests/TB10-015__inlining_aggregate/test.opt
  testsuite/gnatprove/tests/V112-059__main_c/test.opt
  testsuite/gnatprove/tests/V214-011__flow_delta_old_attribute/test.opt
  testsuite/gnatprove/tests/V214-013__flow_delta_tagged_type_conversions/test.opt
  testsuite/gnatprove/tests/V505-038__access_loop/test.opt
  testsuite/gnatprove/tests/VA28-014__spark_mode_off/test.opt
  testsuite/gnatprove/tests/W110-022__flow_elaboration/test.opt
  testsuite/gnatprove/tests/W322-033__access_to_subp/test.opt
Due: check-empty-testoutopt

W109-011 test passes now
  testsuite/gnatprove/tests/UA27-029__counterex_arr_equal/test.opt
  testsuite/gnatprove/tests/UA27-029__counterex_arr_equal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

V202-006 enable test again
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__move/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__occupied_tracks_on_red/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__one_train_at_most_per_track/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__previous_tracks_on_orange_or_red/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/proof/sessions/trains__update_track_signal/why3session.xml
  testsuite/gnatprove/tests/railway_signaling/test.opt
  testsuite/gnatprove/tests/railway_signaling/test.out
  testsuite/gnatprove/tests/railway_signaling/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Change xfail annotation
  testsuite/gnatprove/tests/allocators/test.opt
Due: check-empty-testoutopt

T417-015 enable test
  testsuite/gnatprove/tests/T417-015__volatile_call/test.opt
  testsuite/gnatprove/tests/T417-015__volatile_call/test.out
Due: check-empty-testoutopt, check-testsuite-markers

W309-011 add test with implicitly overridden dispatching operation
  testsuite/gnatprove/tests/W309-011__dispatching_override/foo.ads
  testsuite/gnatprove/tests/W309-011__dispatching_override/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Cleanup XFAIL tests
  testsuite/gnatprove/tests/Q425-008__dispatching/test.opt
  testsuite/gnatprove/tests/Q425-008__dispatching/test.out
  testsuite/gnatprove/tests/Q724-019__user_eq__rac/main.adb
  testsuite/gnatprove/tests/Q724-019__user_eq__rac/test.opt
  testsuite/gnatprove/tests/V726-014__counterex_membership_predicate__rac/main.adb
  testsuite/gnatprove/tests/V726-014__counterex_membership_predicate__rac/test.opt
Due: check-empty-testoutopt, check-testsuite-markers

update obe xfail script
  testsuite/gnatprove/obe_xfail.py
Due: none

remove tests that were never ran
  testsuite/gnatprove/tests/S220-009__check_dirs/lemmas.adb
  testsuite/gnatprove/tests/S220-009__check_dirs/lemmas.ads
  testsuite/gnatprove/tests/S220-009__check_dirs/test.gpr
  testsuite/gnatprove/tests/S220-009__check_dirs/test.opt
  testsuite/gnatprove/tests/S220-009__check_dirs/test.out
  testsuite/gnatprove/tests/S220-009__check_dirs/test.py
  testsuite/gnatprove/tests/S220-009__obj_dir/lemmas.adb
  testsuite/gnatprove/tests/S220-009__obj_dir/lemmas.ads
  testsuite/gnatprove/tests/S220-009__obj_dir/proof/Coq/lemmas/Lemmas__lemma_div_is_monotonic__pragargs__cmp.v
  testsuite/gnatprove/tests/S220-009__obj_dir/test.gpr
  testsuite/gnatprove/tests/S220-009__obj_dir/test.opt
  testsuite/gnatprove/tests/S220-009__obj_dir/test.out
  testsuite/gnatprove/tests/S220-009__obj_dir/test.py
Due: check-empty-testoutopt, check-testsuite-markers

Remove guard against empty list of exception handlers
  src/spark/spark_definition.adb
Due: none

Simplify code with a quantified expression
  src/why/gnat2why-subprograms.adb
Due: none

Cleanup whitespace and comments related to exception handling
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
Due: none

Update XFAIL annotations
  testsuite/gnatprove/tests/L126-018__image_value/test.opt
  testsuite/gnatprove/tests/MA04-032__flow_textio_issue/test.opt
  testsuite/gnatprove/tests/O429-046__flow_tasking_cfg/test.opt
  testsuite/gnatprove/tests/O429-048__flow_potentially_blocking/test.opt
  testsuite/gnatprove/tests/O512-022__stacks/test.opt
  testsuite/gnatprove/tests/O723-005__generic_in_entry/test.opt
  testsuite/gnatprove/tests/Q328-034__mut_discr/test.opt
  testsuite/gnatprove/tests/Q802-014__flow_text_io/test.opt
  testsuite/gnatprove/tests/QB01-017__flow_file_type/test.opt
  testsuite/gnatprove/tests/RC17-047__flow_generic_warn/test.opt
  testsuite/gnatprove/tests/S108-006__text_io_warnings/test.opt
  testsuite/gnatprove/tests/S320-040__flow_blocking/test.opt
Due: check-empty-testoutopt

update slocs in container tests
  testsuite/gnatprove/tests/R717-025__flow_container/test.out
  testsuite/gnatprove/tests/SB07-003__crash/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_sequences_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_vectors_test/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

update various test outputs
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/R509-011__hop/test.out
  testsuite/gnatprove/tests/R509-011__hop/test.py
  testsuite/gnatprove/tests/W127-011__HO_maps_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sequences_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_vectors_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers
