Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Review comments 4
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.ads
Due: check-gnatformat-gnatprove

Filter status line in libgpr2 output
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Move graph package to common location
  src/common/graphs.adb
  src/common/graphs.ads
  src/common/hashing.adb
  src/common/hashing.ads
Due: check-gnatformat-gnatprove

Use Only_Given instead of -u directly
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Avoid creation of Global_Gen actions for subprojects
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

review comments
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Generate per-unit opt files instead of per-view opt files
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/gnatprove_build.adb
  src/spark/gnat2why_opts-reading.adb
  src/spark/gnat2why_opts-reading.ads
  src/why/back_end.adb
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Parse ALI files upon Global_Gen action completion to discover new dependencies
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Review comments 3
  gnatprove.gpr
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Increase timeout for test
  testsuite/gnatprove/tests/1041__hashed_sets/test.yaml
Due: none

Precompute file name for extra opts to gnat2why
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Cleanup of status integer, simplify to Boolean
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
Due: check-gnatformat-gnatprove

Disable colibri so that the test goes through after frontend fix
  testsuite/gnatprove/tests/1742__overflow_check/test.adb
  testsuite/gnatprove/tests/1742__overflow_check/test.out
  testsuite/gnatprove/tests/1742__overflow_check/test.yaml
Due: none

Adapt test after frontend change
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.adb
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.out
Due: none

Force separate analysis of inlined functions
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  testsuite/gnatprove/tests/1883__always_inlined_functions/test.out
  testsuite/gnatprove/tests/1883__always_inlined_functions/test_force_analysis.adb
  testsuite/gnatprove/tests/1883__always_inlined_functions/test_force_analysis_functions.adb
  testsuite/gnatprove/tests/1883__always_inlined_functions/test_force_analysis_inline.adb
Due: check-gnatformat-gnat2why

Move Transform_Array_Aggregate to GNAT2why-Expr-Aggregates
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr-aggregates.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Need to activate warnings again for tree loading
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Baseline updates
  testsuite/gnatprove/tests/278__runtime/test.out
  testsuite/gnatprove/tests/O219-021__target/test.out
  testsuite/gnatprove/tests/ug__container_wrapper/test.out
Due: none

Remove obsolete ??? comments
  src/gnatprove/configuration.adb
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

build command line only once for reports
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
Due: check-gnatformat-gnatprove

Remove spark_report executable; just a subprogram call
  gnatprove.gpr
  src/gnatprove/gnatprove.adb
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
  src/gnatprove/spark_report.ads
Due: check-gnatformat-gnatprove

Update test baseline
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.out
Due: none

Volatile functions with no volatile effects are not volatile
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow-analysis.adb
  src/gnatprove/spark_report.adb
  src/spark/spark_definition.adb
  src/why/gnat2why-subprograms.adb
  testsuite/gnatprove/tests/247__container_aggr_illegal/test.out
  testsuite/gnatprove/tests/359__illegal_procedural_functions/test.out
  testsuite/gnatprove/tests/486__reclaimed_value/test.out
  testsuite/gnatprove/tests/487__test_mutable_in_params/test.out
  testsuite/gnatprove/tests/O429-041__volatile_function/test.out
  testsuite/gnatprove/tests/O526-035__protected/test.out
  testsuite/gnatprove/tests/O916-050__volatile_function/test.out
  testsuite/gnatprove/tests/OB17-003__volatile_actual_call/test.out
  testsuite/gnatprove/tests/OB19-012__task_identity_attribute/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/RA16-077__volatile_fun/test.out
  testsuite/gnatprove/tests/S109-007__illegal_pointers/test.out
  testsuite/gnatprove/tests/T119-001__flow_unused_assign/test.out
  testsuite/gnatprove/tests/T119-001__inline_unused/test.out
  testsuite/gnatprove/tests/T417-015__volatile_call/test.out
  testsuite/gnatprove/tests/T417-015__volatile_old/test.out
  testsuite/gnatprove/tests/T514-020__access_to_subprogram_bad/test.out
  testsuite/gnatprove/tests/T515-026__pointer_prefix/test.out
  testsuite/gnatprove/tests/T702-040__volatile_access/test.out
  testsuite/gnatprove/tests/U401-003__volatile_traversal_function/test.out
  testsuite/gnatprove/tests/U426-011__hidden_access/main.adb
  testsuite/gnatprove/tests/U426-011__hidden_access/test.out
  testsuite/gnatprove/tests/V714-005__auto_inst_illegal/test.out
  testsuite/gnatprove/tests/W105-004__HO_specialization_illegal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
  testsuite/gnatprove/tests/ug__ownership_annotations/c_strings.ads
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Hardcode extraction type to avoid warning
  testsuite/gnatprove/update-expected-outputs
Due: none

style rules for Claude
  CLAUDE.md
Due: none

File test
  testsuite/gnatprove/tests/1259__c_strings/test.adb
  testsuite/gnatprove/tests/1259__c_strings/test.out
Due: none

Test passes now
  testsuite/gnatprove/tests/V112-059__main_c/test.opt
  testsuite/gnatprove/tests/V112-059__main_c/test.out
Due: check-opt-syntax

--amend
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
Due: check-gnatformat-gnatprove

Parse .spark files once for both reports
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
Due: check-gnatformat-gnatprove

Only analyze .spark files of current run
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
  src/gnatprove/spark_report.ads
Due: check-gnatformat-gnatprove

file test
  testsuite/gnatprove/tests/1215__limitsubp/p.ads
  testsuite/gnatprove/tests/1215__limitsubp/q.ads
  testsuite/gnatprove/tests/1215__limitsubp/test.out
  testsuite/gnatprove/tests/1215__limitsubp/test.py
Due: none

Use short-circuit operator in RAC code for fixed-point operations
  src/counterexamples/ce_rac.adb
Due: check-gnatformat-gnat2why

Add missing header box
  src/counterexamples/ce_fuzzer.adb
Due: check-gnatformat-gnat2why

Suppress warning about unused variable in quantified expressions
  testsuite/gnatprove/tests/54__proof_cycle_iterable_for_proof/test.out
  testsuite/gnatprove/tests/KB27-003__color/test.out
  testsuite/gnatprove/tests/TA30-014__flow_iterator_filters/test.out
  testsuite/gnatprove/tests/V714-006__multisets/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_checks/test.out
Due: none

Update test after fix for range checks on universal integer attributes
  testsuite/gnatprove/tests/1742__overflow_check/test.opt
  testsuite/gnatprove/tests/26__exceptions_and_termination/test.out
  testsuite/gnatprove/tests/419__predicate/test.out
  testsuite/gnatprove/tests/K606-027__slice/test.out
  testsuite/gnatprove/tests/KB27-003__color/test.out
  testsuite/gnatprove/tests/KB28-003__succ/test.out
  testsuite/gnatprove/tests/KB30-019__convert/test.out
  testsuite/gnatprove/tests/MA28-033__flow_null_calls_ineffective/test.out
  testsuite/gnatprove/tests/N202-004__flow_attributes/test.out
  testsuite/gnatprove/tests/N705-004__flow_crash/test.out
  testsuite/gnatprove/tests/N728-018__flow_types/test.out
  testsuite/gnatprove/tests/OC26-001/test.out
  testsuite/gnatprove/tests/P229-022__flow_unused_with_exceptions/test.out
  testsuite/gnatprove/tests/P630-025__loopinv/test.out
  testsuite/gnatprove/tests/Q525-025__controlling_result/test.out
  testsuite/gnatprove/tests/RA29-047__flow_array_init/test.out
  testsuite/gnatprove/tests/S117-042__flow_case/test.out
  testsuite/gnatprove/tests/T409-007__streams/test.out
  testsuite/gnatprove/tests/V727-035__iterate_over_arrays/test.out
  testsuite/gnatprove/tests/riposte__enums/test.out
  testsuite/gnatprove/tests/text_io_get_line/test.out
  testsuite/gnatprove/tests/ug__abrupt_program_exit/test.out
Due: check-opt-syntax

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
