Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

Merge branch 'topic/574-dross-access-conversion' into 'master'
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/574__access_conversion/m.adb
  testsuite/gnatprove/tests/574__access_conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update testsuite
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__to_chars_ptr__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value__4/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_constant_strings__value_def/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__c_length_ghost__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptr/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__chars_ptrPredicate/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__free/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_nul_terminated_ghost/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__is_null/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__lemma_is_find_nul/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_char_array/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__new_string__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__strlen/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__update__2__lemma_c_length_ghost_to_c/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__2/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__3/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/proof/sessions/c_strings__value__4/why3session.xml
  testsuite/gnatprove/tests/63__c_string_proof/test.out
  testsuite/gnatprove/tests/63__c_string_proof/test.yaml
  testsuite/gnatprove/tests/63__spark_c_strings/test.out
  testsuite/gnatprove/tests/P915-004__length_of_big_array/test.out
  testsuite/gnatprove/tests/P921-026__length_bv/test.out
  testsuite/gnatprove/tests/R219-019__ce_level/test.out
  testsuite/gnatprove/tests/R305-028__counterexample/test.out
  testsuite/gnatprove/tests/RA29-003/test.out
  testsuite/gnatprove/tests/spark_book/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Change translation of 'Length to avoid bitvector/int back-and-forth
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/568__modular_in_range/main.adb
  testsuite/gnatprove/tests/568__modular_in_range/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Reject access subtypes if the base type is not an access type
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/576__access_subtype/test.adb
  testsuite/gnatprove/tests/576__access_subtype/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use full reference in xfailed test.opt
  testsuite/gnatprove/tests/532__default_checks/test.opt
Due: check-empty-testoutopt

File script to query gitlab issue stats
  scripts/tickets_stats.py
Due: none

Enable test
  testsuite/gnatprove/tests/W322-033__access_to_subp/test.opt
  testsuite/gnatprove/tests/W322-033__access_to_subp/test.out
  testsuite/gnatprove/tests/W322-033__access_to_subp/user.ads
Due: check-empty-testoutopt, check-testsuite-markers

Enable restriction No_Streams to reduce size of the gnat2why binary
  gnat2why/gnat.adc
Due: none

hash file for cvc5 finally in install
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update leftover test
  testsuite/gnatprove/tests/V503-002__address_to_access_conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add tests from the 3-part SPARK webinar
  testsuite/gnatprove/tests/583__spark_webinar_part1/function_contracts.adb
  testsuite/gnatprove/tests/583__spark_webinar_part1/function_contracts.ads
  testsuite/gnatprove/tests/583__spark_webinar_part1/low_level.adb
  testsuite/gnatprove/tests/583__spark_webinar_part1/low_level.ads
  testsuite/gnatprove/tests/583__spark_webinar_part1/low_level_c.c
  testsuite/gnatprove/tests/583__spark_webinar_part1/rich_data.ads
  testsuite/gnatprove/tests/583__spark_webinar_part1/safe_pointers.adb
  testsuite/gnatprove/tests/583__spark_webinar_part1/test.out
  testsuite/gnatprove/tests/583__spark_webinar_part2/better_types_without_rte.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/better_types_without_rte.ads
  testsuite/gnatprove/tests/583__spark_webinar_part2/call_types.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/partial_assign.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/stacks.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/stacks.ads
  testsuite/gnatprove/tests/583__spark_webinar_part2/test.gpr
  testsuite/gnatprove/tests/583__spark_webinar_part2/test.out
  testsuite/gnatprove/tests/583__spark_webinar_part2/types.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/types.ads
  testsuite/gnatprove/tests/583__spark_webinar_part2/types_with_rte.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/types_with_rte.ads
  testsuite/gnatprove/tests/583__spark_webinar_part2/types_without_rte.adb
  testsuite/gnatprove/tests/583__spark_webinar_part2/types_without_rte.ads
  testsuite/gnatprove/tests/583__spark_webinar_part2/use_stacks.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/memory.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/memory.ads
  testsuite/gnatprove/tests/583__spark_webinar_part3/memory_with_model.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/memory_with_model.ads
  testsuite/gnatprove/tests/583__spark_webinar_part3/simple_memory.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/simple_memory.ads
  testsuite/gnatprove/tests/583__spark_webinar_part3/simple_owned_memory.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/simple_owned_memory.ads
  testsuite/gnatprove/tests/583__spark_webinar_part3/sparklib.gpr
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.gpr
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.out
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.yaml
  testsuite/gnatprove/tests/583__spark_webinar_part3/use_memory.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/use_memory_with_model.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/use_simple_memory.adb
  testsuite/gnatprove/tests/583__spark_webinar_part3/use_simple_owned_memory.adb
Due: check-empty-testoutopt, check-testsuite-markers

Don't put the file contents on stack
  src/common/call.adb
Due: none

Adapt scripts for replay mode of testsuite
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/tests/264__deep_delta_base/test.py
  testsuite/gnatprove/tests/264__deep_delta_base/test.yaml
  testsuite/gnatprove/update-session-test
Due: none

Reject instances of generics from scopes containing invariants
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-child.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-p_child.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-p_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst_p_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/test.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/test.out
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-child.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-child.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-p_child.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-p_child.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst-child_i.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst-p_child_i.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/test.out
  testsuite/gnatprove/tests/Q412-030__type_invariant/instance-child.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/instance.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/package_instance-child.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/package_instance.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Factor out code getting the view of a type on which a predicate applies
  src/spark/spark_definition.adb
  src/spark/spark_util-types.adb
  src/spark/spark_util-types.ads
  testsuite/gnatprove/tests/521__predicate_pragma_on_partial/test.adb
  testsuite/gnatprove/tests/521__predicate_pragma_on_partial/test.out
Due: check-empty-testoutopt, check-testsuite-markers

More robust file-based caching
  src/common/cache_client.ads
  src/common/call.adb
  src/common/call.ads
Due: none

Add results dir to artifacts for acats run in gitlab
  .gitlab-ci.yml
Due: none

Guard test for move to constants to avoid crashs in case of violations
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/586__access_conversion/test.adb
  testsuite/gnatprove/tests/586__access_conversion/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Disable counterexamples from test while waiting for fix
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.out
  testsuite/gnatprove/tests/583__spark_webinar_part3/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Prevent loop unrolling and inlining in sparkskein
  testsuite/gnatprove/tests/sparkskein/proof/sessions/203b716750ed9c6cf1c5-s_block__threefish_block__round_7/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/6cf360faf03301cccd4d-s_block__threefish_block__round_2/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/75637a94e5d27214cd49-s_block__threefish_block__round_1/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/7ec43064ef5e1559e8b5-s_block__threefish_block__round_5/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/b3324cb46de670b85680-s_block__threefish_block__round_3/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/bae20b40f18d11594db9-s_block__threefish_block__round_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/cdec1ce3397b0f7c6c58-s_block__threefish_block__round_6/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/fe89ecc847f9e360aa6a-s_block__threefish_block__round_4/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_final/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block__threefish_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_update/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_64/why3session.xml
  testsuite/gnatprove/tests/sparkskein/skein.adb
  testsuite/gnatprove/tests/sparkskein/test.out
Due: check-empty-testoutopt, check-testsuite-markers

update session test
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__show_msg_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_final/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_hash/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_init/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block__threefish_block/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_update/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_64/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_8/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_msg_64/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__trace__show_msg_8/why3session.xml
Due: none

Move issue check to new "check" stage and do not perform test always
  .gitlab-ci.yml
Due: none

Fix handling of limit switches in presence of -U
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
Due: none

Merge branch 'topic/581-dross-gen-type-invs' into 'master'
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-child.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-p_child.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen-p_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/gen.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/inst_p_child.ads
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/test.adb
  testsuite/gnatprove/tests/581__illegal_generic_and_type_invs/test.out
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-child.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-child.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-p_child.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen-p_child.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen.adb
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/gen.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst-child_i.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst-p_child_i.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/inst.ads
  testsuite/gnatprove/tests/581__legal_generic_and_type_invs/test.out
  testsuite/gnatprove/tests/Q412-030__type_invariant/instance-child.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/instance.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/package_instance-child.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/package_instance.ads
  testsuite/gnatprove/tests/Q412-030__type_invariant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adjust detection of derived types with explicit discriminants
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test.out
  testsuite/gnatprove/tests/582__derived_discriminant/test.out
  testsuite/gnatprove/tests/LA01-031__complex/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with type derived from discrminated parent
  testsuite/gnatprove/tests/582__derived_discriminant/p.ads
  testsuite/gnatprove/tests/582__derived_discriminant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

More precise marking of wrappers for dispatching results
  src/spark/spark_definition.adb
  src/spark/spark_util-subprograms.adb
  src/spark/spark_util-subprograms.ads
  testsuite/gnatprove/tests/591__dispatching_result/h.ads
  testsuite/gnatprove/tests/591__dispatching_result/h_2.ads
  testsuite/gnatprove/tests/591__dispatching_result/h_3.ads
  testsuite/gnatprove/tests/591__dispatching_result/h_4.ads
  testsuite/gnatprove/tests/591__dispatching_result/test.adb
  testsuite/gnatprove/tests/591__dispatching_result/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output from webinar
  testsuite/gnatprove/tests/583__spark_webinar_part2/test.out
Due: check-empty-testoutopt, check-testsuite-markers

file plan for replay mailserver
  plans/replay.plan
Due: none

Remove XFAIL from test that passes now
  testsuite/gnatprove/tests/W531-002__pred/test.opt
  testsuite/gnatprove/tests/W531-002__pred/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Use Hide_Info to hide private part in user code
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private-child.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private-p_child-grand_child.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private-p_child.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private.adb
  testsuite/gnatprove/tests/521__illegal_hide_private/illegal_hide_private.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/521__illegal_hide_private/use_generics.adb
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part-child.ads
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part-child_no_priv.ads
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part-p_child.ads
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part.ads
  testsuite/gnatprove/tests/521__legal_hide_private/test.out
  testsuite/gnatprove/tests/521__legal_hide_private/test_hidden_private.adb
Due: check-empty-testoutopt, check-testsuite-markers

Improve diagnostics when gnatwhy3 can't be located
  src/why/gnat2why-driver.adb
Due: none

Switch to thirdparty-opam in CI plans
  plans/ci.plan
Due: none

Update SPARK library slocs in baselines
  testsuite/gnatprove/tests/P715-019__flow_generic_termination/test.out
  testsuite/gnatprove/tests/Q802-001__stringmap/test.out
  testsuite/gnatprove/tests/Q802-001__stringsep/test.out
  testsuite/gnatprove/tests/Q802-005__bounded_strings/test.out
  testsuite/gnatprove/tests/R509-011__hop/test.out
  testsuite/gnatprove/tests/R831-037__formal_map/test.out
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sequences_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_proof/test.out
  testsuite/gnatprove/tests/W127-011__HO_vectors_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update baselines for Coq tests
  testsuite/gnatprove/tests/P405-006__coq_lemma_library/test.out
  testsuite/gnatprove/tests/P429-031__coq_change_generic/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Only reject non-conforming hidden types if they are full views
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/521__illegal_hide_private/auto_hide_private.ads
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/521__legal_hide_private/hidden_private_part.ads
Due: check-empty-testoutopt, check-testsuite-markers

Support ownership and predefined_equality annotations on hidden types
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/flow/flow_error_messages.adb
  src/gnatprove/spark_report.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-types.adb
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/521__bad_hide_pointers/bad_hidden_ownership.ads
  testsuite/gnatprove/tests/521__bad_hide_pointers/test.out
  testsuite/gnatprove/tests/521__illegal_hide_pointers/illegal_hidden_ownership.ads
  testsuite/gnatprove/tests/521__illegal_hide_pointers/illegal_hidden_predefined_eq.ads
  testsuite/gnatprove/tests/521__illegal_hide_pointers/test.out
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/521__legal_hide_pointers/hidden_ownership.ads
  testsuite/gnatprove/tests/521__legal_hide_pointers/hidden_predefined_eq.ads
  testsuite/gnatprove/tests/521__legal_hide_pointers/test.out
  testsuite/gnatprove/tests/569__predefined_eq_illegal/illegal_annot.adb
  testsuite/gnatprove/tests/569__predefined_eq_illegal/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/V516-041__ownership_annotations_illegal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Inline subprograms with multiple return statements
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  testsuite/gnatprove/tests/K302-029__more/test.out
  testsuite/gnatprove/tests/K719-020__flight/test.out
  testsuite/gnatprove/tests/K719-021__local/test.out
  testsuite/gnatprove/tests/L531-021__dyn/test.out
  testsuite/gnatprove/tests/M121-026__flow_simple_raise/test.out
  testsuite/gnatprove/tests/M213-022__flow_loops/test.out
  testsuite/gnatprove/tests/M213-042__flow_error_messages/test.out
  testsuite/gnatprove/tests/M214-032__flow_functions/test.out
  testsuite/gnatprove/tests/M219-019__flow_subprogram_calls/test.out
  testsuite/gnatprove/tests/M219-040__flow_IFA_error_messages/test.out
  testsuite/gnatprove/tests/M301-035__flow__interprocedural_analysis_tests/test.out
  testsuite/gnatprove/tests/M514-009__flow_array_init_in_loop/test.out
  testsuite/gnatprove/tests/N317-015__multiple_returns/test.out
  testsuite/gnatprove/tests/N519-007__clean_subdir/test.out
  testsuite/gnatprove/tests/NA01-024__inline/test.out
  testsuite/gnatprove/tests/SA28-076__flow_extended_return/test.out
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
  testsuite/gnatprove/tests/TB19-042__flow_exceptional_dead/test.out
  testsuite/gnatprove/tests/V726-038__flow_dead_code_warnings_off/test.out
  testsuite/gnatprove/tests/V927-049__rectyp/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add note about hiding access types
  docs/ug/en/appendix/additional_annotate_pragmas.rst
Due: none
