Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Older minor session and output updates for large tests
  testsuite/gnatprove/tests/38__proof_cycle_predicates/test.out
  testsuite/gnatprove/tests/O512-022__power_and_sum/test.out
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/13e7c88e271696ac3a89-rs__error_for_sum_rec__eb_for_add/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/2ab27c9d5529af4b75ac-rror_for_sw_rec__aggregate_bounds/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/48aab0a3b629a63ea85f-rs__error_for_average__eb_for_sum/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/4d8394a27f4a793dd478-se_bounds_for_average__min_for_sw/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/740b510661c734bd8d76-error_for_average__eb_for_weights/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/a3f3ac1ec3ce4c2f335c-ror_for_average__aggregate_bounds/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ad44411d339858c270c1-rrors__precise_bounds_for_average/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__abs_lipschitz/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__bound_sum_abs/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__div_abs_commutative/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__div_monotonic/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_average/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sum/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sum_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sw/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sw_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__weighted_average_abs/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__weighted_sum_abs_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___libst__reals__sum_weight_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___libst__reals__weighted_average/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___libst__reals__weighted_sum_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/b48052bec08b65917745-r_for_sum_rec__bound_weighted_sum/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/c004a56e63e28bd00680-ls__errors__sum_less_than_sum_abs/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/d1d1e14028ccc4d110b8-ror_for_sum_rec__aggregate_bounds/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/e41d173506add9d2b3ef-rs__error_for_average__eb_for_div/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__sum_weight/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__sum_weight_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__weighted_average/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__weighted_sum_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__weighted_sum_rec__lemma_add_is_monotonic/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/test.yaml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_init/why3session.xml
  testsuite/gnatprove/tests/sparkskein/proof/sessions/skein__skein_512_process_block/why3session.xml
Due: none

Update test outputs
  testsuite/gnatprove/tests/L126-018__image_value/test.out
  testsuite/gnatprove/tests/O512-022__stacks/test.out
  testsuite/gnatprove/tests/S108-006__text_io_warnings/test.out
  testsuite/gnatprove/tests/ug__abrupt_program_exit/use_abrupt_program_exit.adb
Due: none

Update test output
  testsuite/gnatprove/tests/Q328-034__mut_discr/test.out
Due: none

Avoid shadowing for old values of magic strings for Modifies
  src/why/gnat2why-subprograms.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  src/why/why-inter.adb
  src/why/why-inter.ads
  testsuite/gnatprove/tests/1371__modifies/main.adb
  testsuite/gnatprove/tests/1371__modifies/test.out
Due: check-gnatformat-gnat2why

Testsuite now expects installed layout for tests
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/run-tests
  testsuite/gnatprove/sparklib-coverage.py
Due: none

Manifest: resolve and apply gnat2why policies
  docs/develguide/tool_structure.rst
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/ambiguous/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/apply_steps/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/inner_prefix/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/missing_entity/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/not_selected/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/override/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg.ads
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg_prefix/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/resolved/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/tie_ambiguity/pkg.toml
Due: check-gnatformat-gnat2why

review comments
  docs/develguide/tool_structure.rst
  src/common/assumption_types.adb
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_nested_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_package_match/pkg.toml
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Rename [[subprogram]] to [[rule]]
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_duplicate/test.py
  testsuite/gnatprove/tests/985__manifest_parser/test.out
  testsuite/gnatprove/tests/985__manifest_parser/test.py
Due: check-gnatformat-gnatprove

improved test
  testsuite/gnatprove/tests/985__manifest_dispatch/wrong_anchor_kind/pkg.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_kind_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_level_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_path_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/bad_provers_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/duplicate_entry_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/duplicate_prover_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/missing_path_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/missing_version_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/no_options_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/package_profile_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/profile_without_kind_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/test.out
  testsuite/gnatprove/tests/985__manifest_parser/test.py
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_nested_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_profile_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unknown_field_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unsupported_version_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/valid_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/wrong_unit_manifest/other.toml
Due: none

Improve testing structure
  testsuite/gnatprove/tests/985__manifest_dispatch/ambiguous/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/apply_steps/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/inner_prefix/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/missing_entity/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/not_selected/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/override/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg_prefix/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/resolved/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/tie_ambiguity/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_nested_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/wrong_anchor_kind/pkg.toml
  testsuite/gnatprove/tests/985__manifest_parser/test.out
  testsuite/gnatprove/tests/985__manifest_parser/test.py
Due: none

move reporting to gnatprove instead of gnat2why; warnings instead of errors
  docs/develguide/tool_structure.rst
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/gnatprove/spark_report.adb
  src/spark/gnat2why_opts-reading.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Fix manifest unit and package distinctions
  docs/develguide/tool_structure.rst
  src/common/assumption_types.adb
  src/common/assumption_types.ads
  src/spark/spark_util.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_nested_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_package_match/pkg.toml
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Improve test to actually check for option behavior
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
Due: none

resolve anchors before matching them, avoiding depth mismatch on kind
  docs/develguide/tool_structure.rst
  src/common/gnat2why_opts.ads
  src/gnatprove/configuration.adb
  src/gnatprove/gnat2why_opts-writing.adb
  src/spark/gnat2why_opts-reading.adb
  src/why/gnat2why-driver.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg.adb
  testsuite/gnatprove/tests/985__manifest_dispatch/pkg.ads
  testsuite/gnatprove/tests/985__manifest_dispatch/test.out
  testsuite/gnatprove/tests/985__manifest_dispatch/test.py
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_nested_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_dispatch/unit_and_package_match/pkg.toml
  testsuite/gnatprove/tests/985__manifest_parser/duplicate_entry_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/no_options_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/test.out
  testsuite/gnatprove/tests/985__manifest_parser/test.py
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_nested_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_and_package_manifest/main.toml
  testsuite/gnatprove/tests/985__manifest_parser/unit_profile_manifest/main.toml
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Use Modifies in allocator test
  testsuite/gnatprove/tests/1320__allocators/allocator-ownership_wrapper.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_16.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_32.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_4.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_64.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools-sized_8.ads
  testsuite/gnatprove/tests/1320__allocators/allocator-pools.adb
  testsuite/gnatprove/tests/1320__allocators/allocator-pools.ads
  testsuite/gnatprove/tests/1320__allocators/test.out
  testsuite/gnatprove/tests/1320__allocators/test.yaml
Due: none

Test for explain codes
  docs/develguide/tool_structure.rst
  share/spark/explain_codes/README.md
  skills/explain-code/SKILL.md
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/1367__explain_codes/test.py
Due: check-gnatformat-gnatprove

Re-enable infer analysis
  gnat2why/gnat2why.gpr
  gnatprove.gpr
Due: none

Fix syntax of Modifies in the RM
  docs/lrm/source/subprograms.rst
Due: none

Remove unused .cvsignore file
  docs/lrm/source/_static/.cvsignore
Due: none

Remove executable mode from test source files
  testsuite/gnatprove/tests/1041__hashed_sets/data_structure.adb
  testsuite/gnatprove/tests/1041__hashed_sets/data_structure.ads
  testsuite/gnatprove/tests/1312__intrinsic_shift_on_arrays/sse2.ads
  testsuite/gnatprove/tests/555__sliding/repro.adb
  testsuite/gnatprove/tests/760__relaxed_init/maze.adb
  testsuite/gnatprove/tests/760__relaxed_init/maze.ads
  testsuite/gnatprove/tests/760__relaxed_init/unbounded_sequential_stacks.adb
  testsuite/gnatprove/tests/760__relaxed_init/unbounded_sequential_stacks.ads
  testsuite/gnatprove/tests/777__private_default_value/maze.ads
  testsuite/gnatprove/tests/777__private_default_value/traversal.ads
Due: none

Ignore At and Loop_Entry attributes on constants
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/830__at_attr_on_constants/test.adb
  testsuite/gnatprove/tests/830__at_attr_on_constants/test.out
  testsuite/gnatprove/tests/830__loop_entry_checks/test.adb
  testsuite/gnatprove/tests/830__loop_entry_checks/test.out
  testsuite/gnatprove/tests/M426-006__flow_bug_nested_subprogram_pragmas/test.out
  testsuite/gnatprove/tests/M613-053__wp/test.out
  testsuite/gnatprove/tests/riposte__complex_arrays/test.out
Due: check-gnatformat-gnat2why

Don't use env var to select sparklib flavor
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.py
  testsuite/gnatprove/tests/247__formal_containers/test.py
  testsuite/gnatprove/tests/247__functional_containers/test.py
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.py
  testsuite/gnatprove/tests/598__sparklib_light_exec/test.py
  testsuite/gnatprove/tests/63__spark_c_strings/test.py
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_hashed_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_maps/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_ordered_sets/test.py
  testsuite/gnatprove/tests/V422-022__formal_unbounded_vectors/test.py
  testsuite/gnatprove/tests/V708-031__functional_container_choose/test.py
  testsuite/gnatprove/tests/V711-014__functional_sets_maps_iteration/test.py
  testsuite/gnatprove/tests/V804-026__bug_contracts_formal_ordered_set/test.py
  testsuite/gnatprove/tests/V818-010__functional_multiset_test/test.py
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.py
  testsuite/gnatprove/tests/V906-009__formal_hashed_sets/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_maps/test.py
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.py
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.py
Due: none

Allow scheduled execution for spark2014 and coverage
  .gitlab-ci.yml
Due: none

Fallback to --latest for CI jobs
  .gitlab-ci.yml
Due: none

baseline updates after front-end commit
  testsuite/gnatprove/tests/606__representation_attribute/test.out
  testsuite/gnatprove/tests/S925-004__compile_time_error/test.out
Due: none

Add explanations for dynamic accessibility checks
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1218__traversal/test.out
  testsuite/gnatprove/tests/843__legal_traversal/test.out
  testsuite/gnatprove/tests/S904-015__observer/test.out
  testsuite/gnatprove/tests/TB19-013__accessibility_checks/test.out
  testsuite/gnatprove/tests/U329-017__accessibility_checks/test.out
Due: check-gnatformat-gnat2why

Improve explanations on discriminant checks
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/1228__unchecked_union_no_exec/test.out
  testsuite/gnatprove/tests/1373__discr_check_expl/test.adb
  testsuite/gnatprove/tests/1373__discr_check_expl/test.out
  testsuite/gnatprove/tests/294__limited/test.out
  testsuite/gnatprove/tests/344__flow_mutable_discr/test.out
  testsuite/gnatprove/tests/868__disjoint_union/test.out
  testsuite/gnatprove/tests/868__mut_discr_param_bool/test.out
  testsuite/gnatprove/tests/M318-017__flow_variant_records/test.out
  testsuite/gnatprove/tests/M506-005__mutable/test.out
  testsuite/gnatprove/tests/N617-011__mutable_discr/test.out
  testsuite/gnatprove/tests/Q328-034__mut_discr/test.out
  testsuite/gnatprove/tests/Q621-032__flow_union/test.out
  testsuite/gnatprove/tests/S327-015__itp_desired_tasks/test.out
Due: check-gnatformat-gnat2why

Add explanation for unused bits with dynamic arrays
  src/why/gnat2why-unchecked_conversion.adb
  testsuite/gnatprove/tests/1370__component_size/test.out
  testsuite/gnatprove/tests/1374__unchecked_conversion/g.ads
  testsuite/gnatprove/tests/1374__unchecked_conversion/test.adb
  testsuite/gnatprove/tests/1374__unchecked_conversion/test.out
  testsuite/gnatprove/tests/1374__unchecked_conversion/test.yaml
Due: check-gnatformat-gnat2why

Fix mass xfail mechanism
  testsuite/gnatprove/run-tests
Due: none

XFAIL for large integers in data rep
  testsuite/gnatprove/mass_xfail.yaml
Due: none

Remove test for behavior that we won't fix
  testsuite/gnatprove/tests/N804-036__bad_prover/plop.drv
  testsuite/gnatprove/tests/N804-036__bad_prover/test.adb
  testsuite/gnatprove/tests/N804-036__bad_prover/test.conf
  testsuite/gnatprove/tests/N804-036__bad_prover/test.opt
  testsuite/gnatprove/tests/N804-036__bad_prover/test.out
  testsuite/gnatprove/tests/N804-036__bad_prover/test.yaml
Due: check-opt-syntax

Cleanup of vectors test
  testsuite/gnatprove/tests/N317-021__vectors/indefinite_unbounded.adb
  testsuite/gnatprove/tests/N317-021__vectors/indefinite_unbounded_tagged.adb
  testsuite/gnatprove/tests/N317-021__vectors/test.opt
  testsuite/gnatprove/tests/N317-021__vectors/test.out
  testsuite/gnatprove/tests/N317-021__vectors/test_vectors.adb
  testsuite/gnatprove/tests/N317-021__vectors/unbounded.adb
Due: check-opt-syntax

Do not emit invariant check on function result on exception propagation
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1381__invariant_check_exception/main.adb
  testsuite/gnatprove/tests/1381__invariant_check_exception/test.out
Due: check-gnatformat-gnat2why

remove unneeded xfail
  testsuite/gnatprove/tests/1332__modular_system_address/test.opt
Due: check-opt-syntax

Test passes now
  testsuite/gnatprove/tests/V214-011__flow_delta_old_attribute/test.opt
  testsuite/gnatprove/tests/V214-011__flow_delta_old_attribute/test.out
Due: check-opt-syntax

Test passes now
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.opt
  testsuite/gnatprove/tests/V422-016__unbounded_functional_container/test.out
Due: check-opt-syntax

Document undocumented switches in develguide
  docs/develguide/tool_structure.rst
Due: none

Clear helper variables before find use of havoced objects
  src/flow/flow-analysis.adb
  testsuite/gnatprove/tests/1379__flow_init_vars/test.opt
  testsuite/gnatprove/tests/1379__flow_init_vars/test.out
Due: check-opt-syntax, check-gnatformat-gnat2why

Minimize reproducer and rename it with the __flow prefix
  testsuite/gnatprove/tests/1379__flow_init_vars/test.opt
  testsuite/gnatprove/tests/1379__flow_init_vars/vectors.adb
  testsuite/gnatprove/tests/1379__flow_init_vars/vectors.ads
  testsuite/gnatprove/tests/1379__init_vars/driver.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl-vectors.adb
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl-vectors.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-types.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers.ads
  testsuite/gnatprove/tests/1379__init_vars/spark.ads
Due: check-opt-syntax

File test
  testsuite/gnatprove/tests/1379__init_vars/driver.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl-vectors.adb
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl-vectors.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal-impl.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-formal.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers-types.ads
  testsuite/gnatprove/tests/1379__init_vars/spark-containers.ads
  testsuite/gnatprove/tests/1379__init_vars/spark.ads
  testsuite/gnatprove/tests/1379__init_vars/test.opt
Due: check-opt-syntax

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
