Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add test to cover detection of invalid data representation files
  src/why/gnat2why-data_decomposition.adb
  testsuite/gnatprove/tests/cert-166-bad_gcc/bad-gcc
  testsuite/gnatprove/tests/cert-166-bad_gcc/p.ads
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.gpr
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.out
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: check-gnatformat-gnat2why

Fix swallowing of assert failures
  testsuite/gnatprove/lib/python/test_support.py
Due: none

Remove DOS line endings from tests
  testsuite/gnatprove/tests/1090__discr_crash/main.adb
  testsuite/gnatprove/tests/628__float_unsound/sqrt_constraint.adb
  testsuite/gnatprove/tests/631__ica/basics.adb
  testsuite/gnatprove/tests/631__ica/basics.ads
Due: none

Disable CI if special label is present
  .gitlab-ci.yml
Due: none

Add GNAT SAS annotations in gnatprove.adb about env modifications
  analyzer/gnatprove.sar
Due: none

Disable some tests on windows on 26.1
  testsuite/gnatprove/tests/R419-026__swap_ranges/test.opt
  testsuite/gnatprove/tests/V906-009__formal_hashed_maps/test.opt
Due: check-opt-syntax

Insert predicate check on calls to Ada.Unchecked_Deallocation
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.out
Due: check-gnatformat-gnat2why

Recognize types in wrapper packages as generic actual types
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/487__test_mutable_in_params/test.out
  testsuite/gnatprove/tests/O430-013__return_unchecked_conversion/test.out
  testsuite/gnatprove/tests/T701-024__unchecked_conv/test.out
  testsuite/gnatprove/tests/U528-009__UC_signed_modular/test.out
Due: check-gnatformat-gnat2why

Merge branch 'topic/1111-dross-predicate-on-deallocation' into 'master'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.out
Due: check-gnatformat-gnat2why

Merge branch 'cherry-pick-b2d51c08' into '26.1'
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.adb
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.out
Due: check-gnatformat-gnat2why

Minor test update
  testsuite/gnatprove/tests/1111__deallocation_predicate/test.out
  testsuite/gnatprove/tests/487__test_mutable_in_params/test.out
Due: none

Fix untangling with overlays and constants with no variable inputs
  src/flow/flow_utility.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/id.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/id_alias.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/p.adb
  testsuite/gnatprove/tests/1109__flow_constant_overlay/test.out
  testsuite/gnatprove/tests/578__flow_overlay_record/test.out
  testsuite/gnatprove/tests/T409-016__flow_delta_on_records/test.out
Due: check-gnatformat-gnat2why

Sync comments with their extended versions in branch 25.2
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.gpr
  testsuite/gnatprove/tests/cert-166-bad_gcc/test.py
Due: none

Reduce number of deps in spark2014 build CI
  .gitlab-ci.yml
  plans/ci.plan
Due: none

Fix escaping of pre in fix messages
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/1112__line/affine_cipher.ads
  testsuite/gnatprove/tests/1112__line/test.out
Due: check-gnatformat-gnat2why

Change in location in the container library
  testsuite/gnatprove/tests/ug__container_wrapper/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Use the type of node for the source/target type of scalar UCs
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-unchecked_conversion.adb
Due: check-gnatformat-gnat2why

Associate validity wrapper module with the return type
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-types.adb
  src/why/gnat2why-unchecked_conversion.adb
  src/why/gnat2why-unchecked_conversion.ads
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-binders.adb
  src/why/why-gen-expr.adb
  src/why/why-gen-expr.ads
  src/why/why-gen-names.adb
Due: check-gnatformat-gnat2why

Large test update
  testsuite/gnatprove/tests/VA14-046__functional_container_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hmaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
  testsuite/gnatprove/tests/W127-011__HO_maps_test/test.out
  testsuite/gnatprove/tests/W127-011__HO_sets_test/test.out
Due: none

File test for empty vector
  testsuite/gnatprove/tests/1120__bad_empty_vector/bad_vector.adb
  testsuite/gnatprove/tests/1120__bad_empty_vector/test.out
  testsuite/gnatprove/tests/1120__bad_empty_vector/test.yaml
  testsuite/gnatprove/tests/V906-009__formal_vectors/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Add a label no-cache to run the no-cache job
  .gitlab-ci.yml
Due: none

Increase disk space for CI build and test
  .gitlab-ci.yml
Due: none

Merge branch 'topic/kanig-1112-check_msg' into 'master'
  src/flow/flow_error_messages.adb
  testsuite/gnatprove/tests/1112__line/affine_cipher.ads
  testsuite/gnatprove/tests/1112__line/test.out
Due: check-gnatformat-gnat2why

adding new test for slow non-large
  .gitlab-ci.yml
  scripts/check_test_times.py
Due: none

Move tests to large
  testsuite/gnatprove/tests/394__container_aggregates/test.yaml
  testsuite/gnatprove/tests/P510-019__user_lemma/test.yaml
  testsuite/gnatprove/tests/P519-021__x86_basicmath_small/test.yaml
Due: none

Improve comment for when skipping data representation phase
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Minor change in test output
  testsuite/gnatprove/tests/VA14-046__vector_checks/test.out
Due: none

Do not inline calls to ghost functions
  testsuite/gnatprove/tests/S127-005__swap/test.out
  testsuite/gnatprove/tests/U715-033__colibri/test.out
Due: none

More thorough cleanup after session generation
  testsuite/gnatprove/lib/python/replay.py
Due: none

Update GNAT SAS false positives for flow_generated_globals-phase_2
  gnat2why/analyzer/gnat2why.sar
Due: none

Handle extra output for unproved status
  src/flow/flow_error_messages.adb
  src/flow/flow_error_messages.ads
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
  src/why/gnat2why-error_messages.adb
  src/why/gnat2why-error_messages.ads
Due: check-gnatformat-gnat2why
