Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Add test for a proof regression from SPARK 25.1
  testsuite/gnatprove/tests/1332__modular_system_address/buffers.adb
  testsuite/gnatprove/tests/1332__modular_system_address/buffers.ads
  testsuite/gnatprove/tests/1332__modular_system_address/test.adc
  testsuite/gnatprove/tests/1332__modular_system_address/test.gpr
  testsuite/gnatprove/tests/1332__modular_system_address/test.opt
  testsuite/gnatprove/tests/1332__modular_system_address/test.out
  testsuite/gnatprove/tests/1332__modular_system_address/types.ads
Due: check-opt-syntax

Add minimal reproducer
  testsuite/gnatprove/tests/1333__derived_access_subprogram/p.adb
  testsuite/gnatprove/tests/1333__derived_access_subprogram/p.ads
  testsuite/gnatprove/tests/1333__derived_access_subprogram/test.opt
Due: check-opt-syntax

Support 'At in proof
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-expr-loops.adb
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/spark_atree-entities.ads
  testsuite/gnatprove/tests/830__at_label_proof/test.adb
  testsuite/gnatprove/tests/830__at_label_proof/test.out
  testsuite/gnatprove/tests/830__at_label_proof/test.yaml
  testsuite/gnatprove/tests/830__at_label_proof/test_at_end_borrow.adb
  testsuite/gnatprove/tests/830__at_label_proof/test_loop.adb
Due: check-gnatformat-gnat2why

Support 'At attribute in marking
  docs/lrm/source/declarations-and-types.rst
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/830__at_label_marking/test.out
  testsuite/gnatprove/tests/830__at_label_marking/test_at_deep.adb
  testsuite/gnatprove/tests/830__at_label_marking/test_at_placement.adb
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/S415-012__bad_pledge_calls/test.out
  testsuite/gnatprove/tests/SA17-037__pledge/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Borrow checking for prefixes of At should be done in label context
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/830__at_label_bc/test.out
  testsuite/gnatprove/tests/830__at_label_bc/test_at_bc.adb
Due: check-gnatformat-gnat2why

Assume preservation of tag and extension for deep delta aggregates
  src/why/gnat2why-expr-aggregates.adb
  testsuite/gnatprove/tests/1328__deep_delta_preserves_tag/test.adb
  testsuite/gnatprove/tests/1328__deep_delta_preserves_tag/test.out
Due: check-gnatformat-gnat2why

Fix generation of axiom for delta aggregates of tagged record
  src/why/gnat2why-expr-aggregates.adb
  testsuite/gnatprove/tests/1329__tag_update_in_array_delta/test.adb
  testsuite/gnatprove/tests/1329__tag_update_in_array_delta/test.out
Due: check-gnatformat-gnat2why

Update documentation of Iterable to include Constant_Reference
  docs/lrm/source/statements.rst
  docs/ug/en/appendix/implementation_defined_pragmas.rst
Due: none

Remove duplicated generic instance
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms-pointers.adb
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-types.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Update test outputs after changes in the sparklib
  testsuite/gnatprove/tests/V906-009__formal_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/VA14-046__hsets_checks/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
Due: none

Normalize path with 'Access attribute in borrow-checker
  src/why/gnat2why-borrow_checker.adb
  testsuite/gnatprove/tests/1253__attribute_access_double_borrow/main.adb
  testsuite/gnatprove/tests/1253__attribute_access_double_borrow/test.out
Due: check-gnatformat-gnat2why

Testsuite updates
  testsuite/gnatprove/tests/278__runtime/test.out
  testsuite/gnatprove/tests/O219-021__target/test.out
  testsuite/gnatprove/tests/V325-046__warn_u/test.out
Due: none

Stop using CL_Switches during parsing
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Bump steps on test
  testsuite/gnatprove/tests/276__concat/test.out
  testsuite/gnatprove/tests/276__concat/test.yaml
Due: none

fix windows output for test
  testsuite/gnatprove/tests/MC19-006__uppercase/test.out
Due: none

disable invalid test on ARM
  testsuite/gnatprove/tests/R323-066__violation/test.opt
Due: check-opt-syntax

Extend association tree to work on Modifies
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Factor association trees out of aggregate handling to be reused
  src/why/gnat2why-expr-aggregates.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
Due: check-gnatformat-gnat2why

Minor update baseline on 24.6
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.out
Due: none

Update list-categories test output
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: none

Remove useless CL_Switches entries
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Minor baseline updates and session regen
  testsuite/gnatprove/tests/1132__formal_unbounded_trees_binary_search_tree/test.opt
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum__downsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum__upsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__downsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__intermediate_form/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_expanded__upsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/proof/sessions/prefixsum_general__upsweep/why3session.xml
  testsuite/gnatprove/tests/O512-022__prefix_sum/test.out
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/Q313-019__elementary_ce_float/test.out
  testsuite/gnatprove/tests/V516-041__private_ownership/test.out
  testsuite/gnatprove/tests/V906-009__formal_ordered_sets/test.out
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/13e7c88e271696ac3a89-rs__error_for_sum_rec__eb_for_add/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/48aab0a3b629a63ea85f-rs__error_for_average__eb_for_sum/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/740b510661c734bd8d76-error_for_average__eb_for_weights/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/a3f3ac1ec3ce4c2f335c-ror_for_average__aggregate_bounds/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__div_monotonic/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_average/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sum_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/ada___ada___libst__reals__errors__error_for_sw_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/e41d173506add9d2b3ef-rs__error_for_average__eb_for_div/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__sum_weight_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__weighted_sum_rec/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/proof/sessions/libst__weighted_sum_rec__lemma_add_is_monotonic/why3session.xml
  testsuite/gnatprove/tests/float_error_bounds/test.out
Due: check-opt-syntax

-v and -q switches override each other
  docs/develguide/tool_structure.rst
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gpr2-build-actions-compile-ada-data_rep.adb
  src/gnatprove/spark_report.adb
  testsuite/gnatprove/tests/1264__verbosity_override/test.adb
  testsuite/gnatprove/tests/1264__verbosity_override/test.out
  testsuite/gnatprove/tests/1264__verbosity_override/test.py
Due: check-gnatformat-gnatprove

Makefile targets for agent skills
  .gitignore
  Makefile
  skills/test-creator/SKILL.md
  skills/test-creator/agents/openai.yaml
Due: none

Skills for working with explain codes
  .claude/skills/explain-code/SKILL.md
  .claude/skills/validate-explain-codes/SKILL.md
Due: none

Update Explain-Code Skill
  skills/explain-code/SKILL.md
Due: none

Move Claude skills to generic skills folder
  skills/explain-code/SKILL.md
  skills/validate-explain-codes/SKILL.md
Due: none

Add directory separator refinement for test outputs with relative paths
  testsuite/gnatprove/lib/python/test_support.py
  testsuite/gnatprove/tests/287__session/test.py
Due: none

Show way to run multiple tests in parallel
  AGENTS.md
Due: none

SKIP very large test for now
  testsuite/gnatprove/tests/1041__hashed_sets/test.opt
Due: check-opt-syntax

Update code following the new libgpr2 action design changes
  src/gnatprove/configuration.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-data_rep.ads
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-process-compile-ada-global_gen.ads
Due: check-gnatformat-gnatprove

Remove hardcoded libgpr2 install
  plans/ci.plan
Due: none

small baseline change
  testsuite/gnatprove/tests/O219-021__target/test.out
Due: none

Fix documentation for project attributes
  docs/ug/en/appendix/project_attributes.rst
Due: none

Ignore invocation level switches in non-root projects
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/P820-002__protected_out/test.out
Due: check-gnatformat-gnatprove

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
