Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-json
        exclude: ^\.vscode/
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: git-adacore:eng/spark/support
    rev: "0.1"
    hooks:
    -   id: check-submodules
    -   id: check-empty-testoutopt
    -   id: check-testsuite-markers
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
    - id: black
  - repo: local
    hooks:
      - id: check-opt-syntax
        name: Check opt file syntax
        files: '\.opt$'
        language: system
        entry: e3-opt-check
  - repo: local
    hooks:
      - id: check-gnatformat-gnatprove
        name: Check for Ada formatting in gnatprove project
        files: ^src/(gnatprove|common)/.*\.ad(b|s)$
        language: system
        entry: gnatformat -P gnatprove --no-subprojects
      - id: check-gnatformat-gnat2why
        name: Check for Ada formatting in gnat2why project
        files: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$
        exclude: ^src/why/xgen/.*
        language: system
        entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Use an enumeration for annotations
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_definition-violations.adb
  src/spark/spark_definition-violations.ads
  src/spark/spark_definition.adb
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
  testsuite/gnatprove/tests/305__deprecated_termination/test.out
  testsuite/gnatprove/tests/521__illegal_hide_pointers/test.out
  testsuite/gnatprove/tests/521__illegal_hide_private/test.out
  testsuite/gnatprove/tests/S818-002__might_not_return/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Speed test up by reducing gnatprove level option
  testsuite/gnatprove/tests/R219-019__ce_level/test.py
  testsuite/gnatprove/tests/R219-019__ce_level/test.yaml
Due: none

Improve instructions for individual test
  CLAUDE.md
Due: none

File CLAUDE.md
  CLAUDE.md
Due: none

Remove attribution in commit messages
  .claude/settings.json
Due: none

Remove .EXE suffix from spark_report output on Windows
  src/gnatprove/gnatprove.adb
Due: check-gnatformat-gnatprove

Document how to install ALI files using gnatinstall
  docs/ug/en/source/how_to_run_gnatprove.rst
Due: none

Support hardcoded types with Relaxed_Initialization
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1248__hardcoded_relaxed/relaxed_time.adb
  testsuite/gnatprove/tests/1248__hardcoded_relaxed/test.out
Due: check-gnatformat-gnat2why

Minor test update
  testsuite/gnatprove/tests/1229__lim_constrained_uu/test.out
Due: none

Reflect new error types in documentation and tool output
  docs/ug/.gitignore
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/table_generator/table_generator.adb
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/gnatprove/configuration.adb
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/spark/spark_definition-violations.adb
  src/utils/errout_wrapper.adb
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Simplify handling of 'special' errors
  docs/ug/.gitignore
  docs/ug/en/source/how_to_view_gnatprove_output.rst
  docs/ug/table_generator/table_generator.adb
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/gnatprove/configuration.adb
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/spark/spark_definition-violations.adb
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

various small fixes
  docs/ug/table_generator/table_generator.adb
  src/common/vc_kinds.adb
  src/common/vc_kinds.ads
  src/gnatprove/spark_report-generate_sarif_report.adb
  src/spark/spark_definition.adb
  testsuite/gnatprove/tests/448__illegal_program_exit/test.out
  testsuite/gnatprove/tests/R601-048__list_categories/test.out
  testsuite/gnatprove/tests/T630-007__violations_in_marking/test.out
  testsuite/gnatprove/tests/U316-010__loop/test.out
Due: check-gnatformat-gnatprove, check-gnatformat-gnat2why

Better behavior of update-test-outputs in absence external repos
  testsuite/gnatprove/update-expected-outputs
Due: none

Apply 1 suggestion(s) to 1 file(s)
  testsuite/gnatprove/update-expected-outputs
Due: none

Remove Z3 command line option that repeats the default setting
  share/spark/config/gnatprove.conf
Due: none

Update test after change in the SPARKlib
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/example_recursive.adb
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__add/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__create/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__do_test/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__get/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__get__2/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__merge/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__prove_reach_concat/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__prove_reach_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__prove_valid_concat/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__prove_valid_preserved/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__reachable/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__valid_list/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__valid_list__2/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__valid_list_no_leak/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/proof/sessions/example_recursive__valid_memory/why3session.xml
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/test.out
Due: none

File test for lemmas instantiation in Higher_Order.Reachability
  testsuite/gnatprove/tests/1245__reachability/reachability_test.adb
  testsuite/gnatprove/tests/1245__reachability/test.out
  testsuite/gnatprove/tests/1245__reachability/test.yaml
Due: none

Remove windows-specific test output with .EXE suffixes
  testsuite/gnatprove/tests/PA27-024__project_parsing/test.opt
  testsuite/gnatprove/tests/PA27-024__project_parsing/test.win.out
Due: check-opt-syntax

Remove windows-specific output which is the same as the Linux one
  testsuite/gnatprove/tests/564__complex_projects_errors/test.opt
  testsuite/gnatprove/tests/564__complex_projects_errors/test.win.out
Due: check-opt-syntax

Minor test update
  testsuite/gnatprove/tests/1245__reachability/test.out
Due: none

Improve equality on CE value access
  src/counterexamples/ce_values.adb
Due: check-gnatformat-gnat2why

Remove useless conversion to unbounded string
  src/common/vc_kinds.adb
Due: check-gnatformat-gnatprove

Remove dead check for "new" returning null in CE code
  src/common/vc_kinds.adb
Due: check-gnatformat-gnatprove

Simplify test for empty pretty CE
  src/counterexamples/ce_display.adb
Due: check-gnatformat-gnat2why

Update line number in test output
  testsuite/gnatprove/tests/1245__reachability/test.out
Due: none

Clarify behavior of [files] and [-u] in help text
  share/spark/help.txt
  testsuite/gnatprove/tests/PA20-065__gnatprove_help_output/test.out
Due: none

Remove unused variable
  .gitlab-ci.yml
Due: none

Script for updating baselines now accepts MR in addition to pipeline ID
  testsuite/gnatprove/update-expected-outputs
Due: none

Remove unnecessary call to Get_Observed_Or_Borrowed_Expr
  src/spark/spark_definition.adb
Due: check-gnatformat-gnat2why

Load runtime's gpr2 view
  src/gnatprove/configuration.adb
Due: check-gnatformat-gnatprove

Simplify handling of opt file directly in action
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.ads
Due: check-gnatformat-gnatprove

review comment: remove catch-all block
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

review comments round 2
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Use libgpr2 for analysis instead of gprbuild
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnat2why_opts-writing.adb
  src/gnatprove/gnat2why_opts-writing.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gnatprove_build.ads
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.adb
  src/gnatprove/gpr2-build-actions-compile-ada-analysis.ads
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.ads
  testsuite/gnatprove/tests/288__limit_name/test.out
  testsuite/gnatprove/tests/564__complex_projects_agg/test.opt
  testsuite/gnatprove/tests/564__complex_projects_aggregates/test.opt
  testsuite/gnatprove/tests/K705-028__gprcargs/test.out
  testsuite/gnatprove/tests/K705-028__gprcargs/test.py
  testsuite/gnatprove/tests/KA24-036__static_error/test.out
  testsuite/gnatprove/tests/M808-025__warnings/test.out
  testsuite/gnatprove/tests/MA22-019__spark_mode/test.out
  testsuite/gnatprove/tests/MB13-068__no_analysis/test.out
  testsuite/gnatprove/tests/N326-019__rebuild/test.out
  testsuite/gnatprove/tests/O429-045__tasking_restrictions/test.out
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.adb
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.ads
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.opt
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.out
  testsuite/gnatprove/tests/O720-004__corrupted_ali_file/test.py
  testsuite/gnatprove/tests/OC13-004__predicate/test.out
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/bar.adb
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/bar.ads
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/foo.adb
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/foo.ads
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/test.opt
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/test.out
  testsuite/gnatprove/tests/P307-006__tool_bad_cleanup/test.py
  testsuite/gnatprove/tests/P907-015__elab/test.out
  testsuite/gnatprove/tests/R209-033__c_and_ada/test.out
  testsuite/gnatprove/tests/T725-004__aggregate_file/test.out
  testsuite/gnatprove/tests/V504-041__default/test.out
  testsuite/gnatprove/tests/V504-041__no_project/test.out
Due: check-opt-syntax, check-gnatformat-gnatprove

Benign output changes
  testsuite/gnatprove/tests/54__proof_cycle_iterable_for_proof/test.out
  testsuite/gnatprove/tests/63__spark_c_strings/test.gpr
  testsuite/gnatprove/tests/M808-025__warnings/test.out
  testsuite/gnatprove/tests/P118-034__flow_gg_protected/test.out
  testsuite/gnatprove/tests/P820-002__protected_out/test.out
  testsuite/gnatprove/tests/Q529-028__flow_gg_func_out/test.out
  testsuite/gnatprove/tests/R511-013__flow_no_return/test.out
  testsuite/gnatprove/tests/U426-011__general_access/test.out
  testsuite/gnatprove/tests/V516-041__private_ownership/test.out
  testsuite/gnatprove/tests/adacore_u/test.out
Due: none
