Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-opt-syntax, check-gnatformat-gnatprove, check-gnatformat-gnat2why

check-opt-syntax:
  name: Check opt file syntax
  language: system
  entry: e3-opt-check

check-gnatformat-gnatprove:
  name: Check for Ada formatting in gnatprove project
  language: system
  entry: gnatformat -P gnatprove --no-subprojects

check-gnatformat-gnat2why:
  name: Check for Ada formatting in gnat2why project
  language: system
  entry: gnatformat -P gnat2why/gnat2why --no-subprojects

Update documentation of traversal functions
  docs/ug/en/source/access.rst
Due: none

Fix typo in GPR attribute definition
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/gprissues-184-registry/test.out
Due: check-gnatformat-gnatprove

Use Path_Name where possible
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
  src/gnatprove/gpr2-build-actions-compile-ada-global_gen.adb
Due: check-gnatformat-gnatprove

Use holder for Phase2_Subdir
  src/gnatprove/configuration.adb
  src/gnatprove/configuration.ads
  src/gnatprove/gnatprove.adb
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Update test outputs
  testsuite/gnatprove/tests/S313-042__flow_lessthan_crash/test.out
  testsuite/gnatprove/tests/SB07-003__crash/test.out
  testsuite/gnatprove/tests/SB21-007__crash/test.out
  testsuite/gnatprove/tests/U413-014__deep_element_type/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_sets/test.out
  testsuite/gnatprove/tests/V804-026__bug_contracts_formal_ordered_set/test.out
  testsuite/gnatprove/tests/ug__loop_types/test.out
Due: none

Fix typo in description of observing traversal functions
  docs/ug/en/source/access.rst
Due: none

Replace return type with result type to match RM wording
  docs/develguide/translation_why3.rst
  docs/ug/en/appendix/additional_annotate_pragmas.rst
  docs/ug/en/source/access.rst
  docs/ug/en/source/how_to_write_subprogram_contracts.rst
  docs/ug/en/source/specification_features.rst
  docs/ug/en/usage_scenarios.rst
Due: none

Artifacts for sparklib tests
  .gitlab-ci.yml
Due: none

Add sparklib event to things to download
  testsuite/gnatprove/update-expected-outputs
Due: none

Minor changes in the UG
  docs/ug/en/source/how_to_investigate_unproved_checks.rst
Due: none

Retrieve front-end messages before back-end runs
  src/utils/errout_wrapper.adb
  src/utils/errout_wrapper.ads
  src/why/gnat2why-driver.adb
Due: check-gnatformat-gnat2why

Fix regression after refactoring
  src/gnatprove/configuration.adb
  src/gnatprove/gnatprove_build.adb
Due: check-gnatformat-gnatprove

Introduce common functionality in new library script
  testsuite/gnatprove/lib/python/suite_util.py
  testsuite/gnatprove/update-expected-outputs
  testsuite/gnatprove/update-session-test
Due: none

Move most utility scripts to subfolder
  testsuite/gnatprove/tools/analyse_diff.py
  testsuite/gnatprove/tools/compute_ce_stats.py
  testsuite/gnatprove/tools/find_useless_steps.py
  testsuite/gnatprove/tools/generate_qualification_testing.py
  testsuite/gnatprove/tools/inspect_diff.py
  testsuite/gnatprove/tools/overview.py
Due: none

Mention Reachability in the SPARKlib documentation
  docs/ug/en/source/spark_libraries.rst
Due: none

Large test update
  testsuite/gnatprove/tests/247__formal_containers/test.out
  testsuite/gnatprove/tests/247__tagged_types/test.out
  testsuite/gnatprove/tests/247__unbounded_formal_containers/test.out
  testsuite/gnatprove/tests/394__container_aggregates/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_ordered_maps/test.out
  testsuite/gnatprove/tests/V422-022__formal_unbounded_doubly_linked_lists/test.out
  testsuite/gnatprove/tests/VA14-046__list_checks/test.out
  testsuite/gnatprove/tests/VA14-046__omaps_checks/test.out
  testsuite/gnatprove/tests/VA14-046__osets_checks/test.out
Due: none

Install workaround for eng/gpr/gpr-issues#806
  testsuite/gnatprove/run-tests
Due: none

Force reanalysis for Coq proofs
  testsuite/gnatprove/tests/O424-016__coq_gcd/test.py
  testsuite/gnatprove/tests/P429-031__coq_change_generic/test.py
  testsuite/gnatprove/tests/P429-031__coq_change_multi/test.py
Due: none

Document style directive for Claude
  CLAUDE.md
Due: none

Remove a leftover file from testsuite
  testsuite/gnatprove/tests/U908-033__hidden_pointers_separate_mem/pointers_with_aliasing.ads.orig
Due: none

Add session cleanup script and integrate into update-session-test
  testsuite/gnatprove/lib/python/clean_sessions.py
  testsuite/gnatprove/update-session-test
Due: none

Fix updated files output
  testsuite/gnatprove/trigger-session-update
Due: none

support MR
  testsuite/gnatprove/trigger-session-update
Due: none

Use shared code in update-expected-outputs
  testsuite/gnatprove/update-expected-outputs
Due: none

Script to run gitlab-based ci job to update sessions
  testsuite/gnatprove/lib/python/gitlab_util.py
  testsuite/gnatprove/trigger-session-update
Due: none

Add tests and remove xfail
  testsuite/gnatprove/tests/1172__enum_image_nok/main.adb
  testsuite/gnatprove/tests/1172__enum_image_nok/test.out
  testsuite/gnatprove/tests/1172__enum_image_ok/main.adb
  testsuite/gnatprove/tests/1172__enum_image_ok/test.out
  testsuite/gnatprove/tests/TC02-027__rac/test.opt
Due: check-opt-syntax

Various testsuite updates
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test.out
  testsuite/gnatprove/tests/thumper/test.out
Due: none

Preserve new line at the end of session files while cleaning
  testsuite/gnatprove/lib/python/clean_sessions.py
Due: none

Add package import style rule to Claude.md
  CLAUDE.md
Due: none

Sync tree of individual session directories to update them
  testsuite/gnatprove/trigger-session-update
Due: none

Remove temporary directory after updating sessions
  testsuite/gnatprove/trigger-session-update
Due: none

Fix compatibility warning about upcoming change in python 3.14
  testsuite/gnatprove/trigger-session-update
Due: none

Claude should run gnatformat after Ada edits
  .claude/settings.json
Due: none

Section markers for gitlab in session script
  testsuite/gnatprove/update-session-test
Due: none

Recognize and handle prophecies in Old attribute
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.adb
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.out
  testsuite/gnatprove/tests/1275__old_at_end_borrow/test.yaml
Due: check-gnatformat-gnat2why

Mark expression of pragmas Precondition and Postcondition
  src/spark/spark_definition.adb
  src/spark/spark_util.adb
  testsuite/gnatprove/tests/1274__pre_post/main.adb
  testsuite/gnatprove/tests/1274__pre_post/test.out
Due: check-gnatformat-gnat2why

Path conditions:
  check-opt-syntax: any of: \.opt$
  check-gnatformat-gnatprove: any of: ^src/(gnatprove|common)/.*\.ad(b|s)$
  check-gnatformat-gnat2why: any of: ^src/(counterexamples|flow|spark|utils|why)/.*\.ad(b|s)$, but not: ^src/why/xgen/.*
