Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
  - repo: local
    hooks:
    -   id: check-submodules
        name: Check for submodules in commits
        entry: python scripts/check-submodules.py
        language: python
        pass_filenames: false
    -   id: check-empty-testoutopt
        name: Check for empty test.out and test.opt files
        entry: python scripts/check-empty-file.py
        language: python
        files: \.(opt|out)$
    -   id: check-testsuite-markers
        name: Check for undesired markers in the testsuite output
        entry: python scripts/check-testsuite-markers.py
        language: python
        files: \.out
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black

File test with an access to a type with mutable discriminants
  testsuite/gnatprove/tests/349__access_to_mutable_discr/p.adb
  testsuite/gnatprove/tests/349__access_to_mutable_discr/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Recognize protected object as an implicit output
  src/spark/spark_util-subprograms.adb
  testsuite/gnatprove/tests/P602-007__protected_no_return/test.out
  testsuite/gnatprove/tests/S920-003__flow_implicit_noret/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File tests which are rejected by either gnatprove or the frontend
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test_1.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test_3.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test.opt
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test_2.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test_4.adb
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test_5.adb
Due: check-empty-testoutopt, check-testsuite-markers

Test passes for issue
  testsuite/gnatprove/tests/143__depends_access/a.adb
  testsuite/gnatprove/tests/143__depends_access/a.ads
  testsuite/gnatprove/tests/143__depends_access/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update the handling of outputs with mutable discriminants in the RM
  docs/lrm/source/subprograms.rst
Due: none

Update test output
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr_fail/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix computation of sanitized name to use for gprbuild invocation
  src/gnatprove/configuration.adb
Due: none

cleanup in XFAIL tickets
  testsuite/gnatprove/obe_xfail.py
  testsuite/gnatprove/tests/P112-038__predicate_private_type_not_in_spark/test.opt
  testsuite/gnatprove/tests/Q821-003__flow_visible/test.opt
  testsuite/gnatprove/tests/SA29-050__crash/test.opt
  testsuite/gnatprove/tests/SA29-050__crash/test.out
  testsuite/gnatprove/tests/W106-014__unbounded_strings/test.opt
  testsuite/gnatprove/tests/W106-014__unbounded_strings/test.out
  testsuite/gnatprove/tests/W206-027__elab/test.opt
  testsuite/gnatprove/tests/W531-002__pred/test.opt
Due: check-empty-testoutopt, check-testsuite-markers

Replace custom script by AdaCore-wide script
  .gitlab-ci.yml
  ci/check_issue.py
Due: none

update XFAIL information
  testsuite/gnatprove/tests/P801-002__type_invariant_auto/test.opt
Due: check-empty-testoutopt

Add minimal reproducer with wrong generated Global
  testsuite/gnatprove/tests/292__flow_global_discriminant/main.adb
  testsuite/gnatprove/tests/292__flow_global_discriminant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Improve labeling global objects as Output instead of In_Out
  src/flow/flow-slice.adb
  testsuite/gnatprove/tests/292__flow_global_discriminant/test.out
  testsuite/gnatprove/tests/O210-006__use_generic/test.out
  testsuite/gnatprove/tests/O210-007__use_generic/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Do not assume value of constants of an access-to-variable type
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/353__constant_access_to_var/test.adb
  testsuite/gnatprove/tests/353__constant_access_to_var/test.out
  testsuite/gnatprove/tests/T527-057__flow_aliased_access_constant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

File test with incorrect preconditions with 'Initialized on out params
  testsuite/gnatprove/tests/343__out_params/p.adb
  testsuite/gnatprove/tests/343__out_params/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Check initialization of mutable discriminants of parts of OUT params
  src/spark/spark_definition.adb
  src/spark/spark_util-types.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/gnat2why-util.adb
  src/why/gnat2why-util.ads
  src/why/why-atree-modules.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-binders.adb
  src/why/why-gen-init.adb
  src/why/why-gen-init.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  src/why/why-gen-records.adb
  src/why/why-gen-records.ads
  testsuite/gnatprove/tests/343__init_attr_on_discr/test.out
  testsuite/gnatprove/tests/343__init_attr_on_discr/test_bad_init.adb
  testsuite/gnatprove/tests/343__relaxed_mutable_discrs/test.adb
  testsuite/gnatprove/tests/343__relaxed_mutable_discrs/test.out
  testsuite/gnatprove/tests/RC17-014__init_by_proof/test.out
  testsuite/gnatprove/tests/S529-004__update_attr/relaxed_initialization.adb
  testsuite/gnatprove/tests/S529-004__update_attr/test.out
  testsuite/gnatprove/tests/U913-003__box_in_aggregates/test.out
  testsuite/gnatprove/tests/UA21-035__relaxed_ce/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Rename test files or units
  testsuite/gnatprove/tests/312__cover_annotate_marking/iterable_for_proof_marking.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/test.out
  testsuite/gnatprove/tests/K802-006__task/p.adb
  testsuite/gnatprove/tests/MA25-036__loop_variant/loop_variant.adb
  testsuite/gnatprove/tests/MA25-036__loop_variant/test.out
  testsuite/gnatprove/tests/MB21-036__mainpre/mainpre.adb
  testsuite/gnatprove/tests/MB21-036__mainpre/test.out
  testsuite/gnatprove/tests/MC19-006__effects/b.adb
  testsuite/gnatprove/tests/MC19-006__effects/test.out
  testsuite/gnatprove/tests/O722-011__standard_attributes/integer_caller.adb
  testsuite/gnatprove/tests/O722-011__standard_attributes/test.out
  testsuite/gnatprove/tests/OB19-019__task_storage_size/test.out
  testsuite/gnatprove/tests/OB19-019__task_storage_size/unsupported.adb
  testsuite/gnatprove/tests/P318-019__flow_concurrent_type_traverse/q.ads
  testsuite/gnatprove/tests/P318-019__flow_concurrent_type_traverse/test.out
  testsuite/gnatprove/tests/QA11-057__counterexamples/absolute_values.adb
  testsuite/gnatprove/tests/QA11-057__counterexamples/test.out
  testsuite/gnatprove/tests/QB24-001__sha/mysha.ads
  testsuite/gnatprove/tests/QB24-001__sha/test.out
  testsuite/gnatprove/tests/R122-008__flow_iterate_generic_parameters/instance_pack.ads
  testsuite/gnatprove/tests/R122-008__flow_iterate_generic_parameters/test.out
  testsuite/gnatprove/tests/R321-005__flow_initializes_nested_packages/p.ads
  testsuite/gnatprove/tests/R321-005__flow_initializes_nested_packages/test.out
  testsuite/gnatprove/tests/S503-019__detect_borrow_aliasing/ownership_transfer_at_call.adb
  testsuite/gnatprove/tests/S503-019__detect_borrow_aliasing/test.out
  testsuite/gnatprove/tests/S703-009__flow_non_terminating_equality/test.out
  testsuite/gnatprove/tests/S703-009__flow_non_terminating_equality/test_eq.adb
  testsuite/gnatprove/tests/SA28-076__flow_extended_return/id.adb
  testsuite/gnatprove/tests/SA28-076__flow_extended_return/test.out
  testsuite/gnatprove/tests/T608-016__flow_access_terminating/p.adb
  testsuite/gnatprove/tests/T608-016__flow_access_terminating/test.out
  testsuite/gnatprove/tests/T924-007__colibri/lemma_mul_less_by_one.adb
  testsuite/gnatprove/tests/T924-007__colibri/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/illegal_early_fail.adb
  testsuite/gnatprove/tests/W117-015__user_quant_illegal_early_fail/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test output
  testsuite/gnatprove/tests/343__out_params/test.out
Due: check-empty-testoutopt, check-testsuite-markers

UG/tutorial: Fix wording issue
  docs/ug/en/tutorial.rst
Due: none

New test
  testsuite/gnatprove/tests/340__positional_array_aggregate_implicit_index_checks/main.adb
  testsuite/gnatprove/tests/340__positional_array_aggregate_implicit_index_checks/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update testsuite
  testsuite/gnatprove/tests/JC17-017__aggr/test.out
  testsuite/gnatprove/tests/K303-009__aggregate/test.out
  testsuite/gnatprove/tests/K928-017__multi_dim/test.out
  testsuite/gnatprove/tests/OA13-020__aggregate_name/test.out
  testsuite/gnatprove/tests/PA31-008__counterexample/test.out
  testsuite/gnatprove/tests/R125-020__comparison/test.out
  testsuite/gnatprove/tests/RB05-005__flow_unsound/test.out
  testsuite/gnatprove/tests/U317-008__flb_array_types/test.out
  testsuite/gnatprove/tests/VB09-001__others/test.out
  testsuite/gnatprove/tests/W316-007__string_multidim/test.out
  testsuite/gnatprove/tests/openETCS/test.out
  testsuite/gnatprove/tests/random/test.out
  testsuite/gnatprove/tests/thumper/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add missing check for positional array aggregate
  src/why/gnat2why-expr.adb
Due: none

Add checks for conversions in LHS of assignments
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/349__access_to_mutable_discr/test.out
  testsuite/gnatprove/tests/349__access_to_priv_mutable_discr/test.out
  testsuite/gnatprove/tests/360__constraints_check_on_conv_in_LHS/main.adb
  testsuite/gnatprove/tests/360__constraints_check_on_conv_in_LHS/test.out
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
  testsuite/gnatprove/tests/S702-024__record_attributes_in_allocators/test.out
  testsuite/gnatprove/tests/TB19-013__access_attr/test.out
  testsuite/gnatprove/tests/V927-038__access_discriminant/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Support From_Quotient_String for string literals
  share/spark/theories/_gnatprove_standard.mlw
  src/spark/spark_util-hardcoded.adb
  src/spark/spark_util-hardcoded.ads
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-hardcoded.adb
  testsuite/gnatprove/tests/51__from_quotient_string/main.adb
  testsuite/gnatprove/tests/51__from_quotient_string/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test with No_Return and no body
  testsuite/gnatprove/tests/183__flow_no_return_no_body/main.adb
  testsuite/gnatprove/tests/183__flow_no_return_no_body/noret.ads
  testsuite/gnatprove/tests/183__flow_no_return_no_body/proxy.adb
  testsuite/gnatprove/tests/183__flow_no_return_no_body/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Various tests outputs updates
  testsuite/gnatprove/tests/K802-006__task/test.out
  testsuite/gnatprove/tests/MA25-036__loop_variant/test.out
  testsuite/gnatprove/tests/P201-069__simulink/test.out
  testsuite/gnatprove/tests/Q412-030__type_invariant/test.out
  testsuite/gnatprove/tests/QA11-057__counterexamples/test.out
  testsuite/gnatprove/tests/R122-008__flow_iterate_generic_parameters/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor update of test output
  testsuite/gnatprove/tests/P518-021__frame_for_max/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add explain codes for errors related to functions with side-effects
  share/spark/explain_codes/E0014.md
  share/spark/explain_codes/E0015.md
  share/spark/explain_codes/E0016.md
  share/spark/explain_codes/E0017.md
  share/spark/explain_codes/README.md
  src/flow/flow_error_messages.ads
Due: none

Add support for functions with side-effects in marking
  share/spark/explain_codes/E0005.md
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition.adb
  src/spark/spark_util.ads
  testsuite/gnatprove/tests/359__procedural_functions/bad_call.adb
  testsuite/gnatprove/tests/359__procedural_functions/bad_traversal.ads
  testsuite/gnatprove/tests/359__procedural_functions/p.adb
  testsuite/gnatprove/tests/359__procedural_functions/p.ads
  testsuite/gnatprove/tests/359__procedural_functions/test.opt
  testsuite/gnatprove/tests/359__procedural_functions/test.out
  testsuite/gnatprove/tests/N127-028__aliased_formals/test.out
  testsuite/gnatprove/tests/N407-015__non_spark_subp_in_external_ax/bad_ext_ax.adb
  testsuite/gnatprove/tests/N407-015__non_spark_subp_in_external_ax/bad_ext_ax.ads
  testsuite/gnatprove/tests/N407-015__non_spark_subp_in_external_ax/test.out
  testsuite/gnatprove/tests/O602-020__dic_not_spark/dic_not_spark.adb
  testsuite/gnatprove/tests/O602-020__dic_not_spark/dic_not_spark.ads
  testsuite/gnatprove/tests/O602-020__dic_not_spark/test.out
  testsuite/gnatprove/tests/O916-043__crazyflie/stm32f4-i2c.ads
  testsuite/gnatprove/tests/P615-019__stone_level/test.out
  testsuite/gnatprove/tests/P615-019__stone_level/violations.adb
  testsuite/gnatprove/tests/P615-019__stone_level/violations.ads
  testsuite/gnatprove/tests/TU__functions_illegal/test.out
  testsuite/gnatprove/tests/U228-007__bad_generic_might_not_return/test.out
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/illegal_uses_of_exc_cases.ads
  testsuite/gnatprove/tests/UC02-037__illegal_exceptional_cases/test.out
  testsuite/gnatprove/tests/V531-049__marking/test.out
  testsuite/gnatprove/tests/V531-049__marking/test.py
  testsuite/gnatprove/tests/adacore_u/Overview/stack.ads
  testsuite/gnatprove/tests/adacore_u/test.out
  testsuite/gnatprove/tests/ug__linear_search_ada/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update test outputs and sessions
  testsuite/gnatprove/tests/PC14-014__functional/test.out
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitspec__nth8_stream/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__cond_unit/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_less_than_max/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_less_than_max2/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_nth_eq/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__lemma_nth_eq__prove_next_iter/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peek/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit64/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit8/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekbit8array/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__peekthenpoke/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__poke/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit64/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit8/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokebit8array/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bitwalker__pokethenpeek/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__eq_sub/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__eq_sub_bv/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__extract_seq/why3session.xml
  testsuite/gnatprove/tests/bitwalker/proof/sessions/bvext__nth_bv/why3session.xml
Due: check-empty-testoutopt, check-testsuite-markers

Update outputs
  testsuite/gnatprove/tests/TU__functions_illegal/test.out
  testsuite/gnatprove/tests/TU__global_illegal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

update submodule info for 24.0 branch
  .gitmodules
Due: none

Update of SPARK RM for functions with side-effects
  docs/lrm/source/language-defined-aspects-and-attributes.rst
  docs/lrm/source/names-and-expressions.rst
  docs/lrm/source/packages.rst
  docs/lrm/source/representation-issues.rst
  docs/lrm/source/subprograms.rst
Due: none

Update test output
  testsuite/gnatprove/tests/S415-012__traversal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update devel guide to describe init wrappers on access types
  docs/develguide/translation_why3.rst
Due: none

Only store the full view of deferred constants in the symbol map
  src/why/gnat2why-driver.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/O512-022__robot_navigation_snd/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Fix computation of calls to boundary subprograms
  src/spark/spark_util-types.adb
  testsuite/gnatprove/tests/TU__type_invariant__legal/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Adapt testsuite to absence of cvc4
  .gitlab-ci.yml
  docs/guidance/main.rst
  plans/ci.plan
  plans/spark2014+gnat.plan
  plans/spark2014.plan
  plans/spark2014_only.plan
  scripts/why3menus.py
  share/spark/config/gnatprove.conf
  src/gnatprove/configuration.adb
  testsuite/gnatprove/tests/P804-001__driver/test.out
  testsuite/gnatprove/tests/P804-001__driver/test.yaml
  testsuite/gnatprove/tests/P804-001__driver/why3.conf
  testsuite/gnatprove/tests/Q215-005__sparkinstall/test.out
Due: check-empty-testoutopt, check-testsuite-markers
