Repository AdaCore/spark2014: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-empty-testoutopt, check-testsuite-markers

check-empty-testoutopt:
  name: Check for empty test.out and test.opt files
  entry: python scripts/check-empty-file.py
  language: python

check-testsuite-markers:
  name: Check for undesired markers in the testsuite output
  entry: python scripts/check-testsuite-markers.py
  language: python

Refactor output of check messages
  src/flow/flow_error_messages.adb
Due: none

update baseline
  testsuite/gnatprove/tests/O909-009__task_types/test.out
Due: check-empty-testoutopt, check-testsuite-markers

update baseline of large test
  testsuite/gnatprove/tests/tokeneer/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add guard to defining axiom of concat_singleton_right
  share/spark/theories/_gnatprove_standard.mlw
Due: none

File test
  testsuite/gnatprove/tests/463__renaming_and_inlining/main.adb
  testsuite/gnatprove/tests/463__renaming_and_inlining/test.out
  testsuite/gnatprove/tests/KC20-032__succ_pred/test.out
  testsuite/gnatprove/tests/KC22-015__succ_overflow/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Deconstruct Get_Range_Check_Info
  src/why/gnat2why-expr.adb
  src/why/spark_atree.adb
  src/why/spark_atree.ads
  src/why/why-gen-expr.adb
  testsuite/gnatprove/tests/KC20-032__succ_pred/p.adb
  testsuite/gnatprove/tests/KC20-032__succ_pred/test.out
  testsuite/gnatprove/tests/KC22-015__succ_overflow/p.adb
  testsuite/gnatprove/tests/KC22-015__succ_overflow/test.out
  testsuite/gnatprove/tests/O630-015__modular_conversion/test.out
  testsuite/gnatprove/tests/P615-019__silver/test.out
  testsuite/gnatprove/tests/P620-034__float_out_subtype/test.out
  testsuite/gnatprove/tests/P920-005__inline/test.out
  testsuite/gnatprove/tests/Q106-015__default_init/test.out
  testsuite/gnatprove/tests/Q106-022__default_value/test.out
  testsuite/gnatprove/tests/RB12-066__fixed_point_div_mod/test.out
  testsuite/gnatprove/tests/RB12-066__fixed_point_int_mult/test.out
  testsuite/gnatprove/tests/T212-013__relaxed_init/test.out
  testsuite/gnatprove/tests/U727-018__allocator/test.out
  testsuite/gnatprove/tests/V809-008__relaxed_globals/test.out
  testsuite/gnatprove/tests/W317-017__aggregate/test.out
  testsuite/gnatprove/tests/riposte__alpha_launch_examples/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test for range check on type conversion as (in)out parameter. Update test outputs with previously missing checks.
  testsuite/gnatprove/tests/473__range_check/main.adb
  testsuite/gnatprove/tests/473__range_check/main2.adb
  testsuite/gnatprove/tests/473__range_check/test.out
  testsuite/gnatprove/tests/K518-029__call_actuals/test.out
  testsuite/gnatprove/tests/R427-016__check_on_param_call/test.out
  testsuite/gnatprove/tests/S510-037__init_by_proof/test.out
  testsuite/gnatprove/tests/S530-019__init_by_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers

A few more VCs proved with native abs
  testsuite/gnatprove/tests/O512-022__pgcd_ppcm/test.out
  testsuite/gnatprove/tests/U701-011__mod_rem/test.out
  testsuite/gnatprove/tests/U730-017__integer32_parsing/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Update outputs after change on Get_Range_Check_Info
  testsuite/gnatprove/tests/473__range_check/test.out
  testsuite/gnatprove/tests/K518-029__call_actuals/test.out
  testsuite/gnatprove/tests/S510-037__init_by_proof/test.out
  testsuite/gnatprove/tests/S530-019__init_by_proof/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add an has_bounds predicate to array theories
  share/spark/theories/_gnatprove_standard.mlw
  share/spark/theories/ada__model.mlw
  src/why/gnat2why-expr.adb
  src/why/gnat2why-util.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
Due: none

Add bounds to const
  share/spark/theories/_gnatprove_standard.mlw
  src/why/gnat2why-expr.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
Due: none

Add slice function
  share/spark/theories/_gnatprove_standard.mlw
  src/why/gnat2why-expr.adb
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
Due: none

Adapt handling of inputs for functions with side effects
  src/spark/spark_util.adb
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-util.adb
  testsuite/gnatprove/tests/476__side_effects/eff.adb
  testsuite/gnatprove/tests/476__side_effects/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Split invariant checks on subprograms and add continuations
  src/why/gnat2why-expr.adb
  src/why/gnat2why-expr.ads
  src/why/gnat2why-subprograms.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  testsuite/gnatprove/tests/128__type_invariants/test.out
  testsuite/gnatprove/tests/38__proof_cycle_type_invariants/test.out
  testsuite/gnatprove/tests/KB29-037__typinv/test.out
  testsuite/gnatprove/tests/M503-001__typinv/test.out
  testsuite/gnatprove/tests/O416-002__type_contracts/test.out
  testsuite/gnatprove/tests/P801-002__type_inv_on_child/test.out
  testsuite/gnatprove/tests/P801-002__type_invariant_comp/test.out
  testsuite/gnatprove/tests/P801-003__flow_type_invariants/test.out
  testsuite/gnatprove/tests/P908-010__view_conversion/test.out
  testsuite/gnatprove/tests/Q728-001__type_invariant_private_functions/test.out
  testsuite/gnatprove/tests/Q728-005__type_invariants_private_child/test.out
  testsuite/gnatprove/tests/R514-013__invariant/test.out
  testsuite/gnatprove/tests/S513-002__replay/test.out
  testsuite/gnatprove/tests/TC16-016__invariant_child_unit/test.out
  testsuite/gnatprove/tests/TU__type_invariant__legal/test.out
  testsuite/gnatprove/tests/UC02-037__exceptional_cases_small/test.out
  testsuite/gnatprove/tests/V714-006__multisets/test.out
  testsuite/gnatprove/tests/VB18-029__type_invs_access_legal/test.out
  testsuite/gnatprove/tests/W117-015__user_quant_checks/test.out
  testsuite/gnatprove/tests/red_black_trees/test.out
  testsuite/gnatprove/tests/spark_book/test.out
  testsuite/gnatprove/tests/tokeneer/test.out
  testsuite/gnatprove/tests/ug__long__invariants/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove incorrect special case in handling of 'Mod
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/483__mod_attr/main.adb
  testsuite/gnatprove/tests/483__mod_attr/test.out
  testsuite/gnatprove/tests/S715-026__dic_loop/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Disable realization test during work on array theories
  testsuite/gnatprove/tests/O702-009__coq_realizations/test.opt
Due: check-empty-testoutopt

fix plan for SPARK benchmark
  plans/bench.plan
Due: none

Merge Array__1__Concat in Array__1
  share/spark/theories/_gnatprove_standard.mlw
  src/why/why-atree-modules.adb
  src/why/why-atree-modules.ads
  src/why/why-gen-arrays.adb
  testsuite/gnatprove/tests/276__concat/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Remove empty test.out files
  testsuite/gnatprove/tests/ug__binary_search_final/test.out
  testsuite/gnatprove/tests/ug__binary_search_naive/test.out
  testsuite/gnatprove/tests/ug__binary_search_precise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add extensional equality to array theories
  share/spark/theories/_gnatprove_standard.mlw
  share/spark/theories/ada__model.mlw
  src/why/gnat2why-expr.adb
  src/why/gnat2why-subprograms.adb
  src/why/why-atree-modules.adb
  src/why/why-gen-arrays.adb
  src/why/why-gen-arrays.ads
  src/why/why-gen-names.adb
  src/why/why-gen-names.ads
  testsuite/gnatprove/tests/389__array_logic_eq/main.adb
  testsuite/gnatprove/tests/389__array_logic_eq/test.out
  testsuite/gnatprove/tests/V422-022__formal_indefinite_hashed_sets/test.out
  testsuite/gnatprove/tests/VA25-025__string_map/test.out
  testsuite/gnatprove/tests/VA25-025__string_map/test.yaml
  testsuite/gnatprove/tests/W127-011__HO_vectors_test/test.out
Due: check-empty-testoutopt, check-testsuite-markers

simplify bench script
  testsuite/gnatprove/bench/compute_stats.py
Due: none

Update files by running pre-commit checks locally
  docs/lrm/source/conf.py
  docs/ug/conf.py
  testsuite/gnatprove/tests/466__nested_move_sources/main.adb
  testsuite/gnatprove/tests/random/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Minor fixes on benchmark scripts
  testsuite/gnatprove/bench/gaia.py
  testsuite/gnatprove/bench/prover_stats.py
Due: none

Revert "Merge branch 'empty_test_out' into 'master'"
  testsuite/gnatprove/tests/ug__binary_search_final/test.out
  testsuite/gnatprove/tests/ug__binary_search_naive/test.out
  testsuite/gnatprove/tests/ug__binary_search_precise/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Add test that logical equality on arrays implies congruence
  testsuite/gnatprove/tests/389__array_logic_eq/main.adb
  testsuite/gnatprove/tests/389__array_logic_eq/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Merge branch 'topic/474-dross-concat' into 'master'
  share/spark/theories/_gnatprove_standard.mlw
Due: none

file copyright script
  scripts/copyright.py
Due: none

cleanup script and support different copyright format
  scripts/copyright.py
Due: none

Remove 'no_fail' for test that isn't fully proved anymore
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.out
  testsuite/gnatprove/tests/V818-010__functional_multiset_proof/test.yaml
Due: check-empty-testoutopt, check-testsuite-markers

Update tests outputs
  testsuite/gnatprove/tests/O303-041__flow_pure_implies_null_global/test.out
  testsuite/gnatprove/tests/S320-040__flow_blocking/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Support a new ownership annotation on reclaimed values
  src/flow/flow-control_flow_graph-utility.adb
  src/spark/spark_definition-annotate.adb
  src/spark/spark_definition-annotate.ads
  src/spark/spark_util.adb
  src/spark/spark_util.ads
  src/why/gnat2why-borrow_checker.adb
  src/why/gnat2why-expr.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/iterable_for_proof_marking.adb
  testsuite/gnatprove/tests/312__cover_annotate_marking/test.out
  testsuite/gnatprove/tests/486__reclaimed_value/test.adb
  testsuite/gnatprove/tests/486__reclaimed_value/test.out
  testsuite/gnatprove/tests/V516-041__move_expr/test.out
  testsuite/gnatprove/tests/V516-041__ownership_annotations_illegal/test.out
  testsuite/gnatprove/tests/V516-041__ownership_annotations_illegal/test_reclaimed_value_illegal.adb
  testsuite/gnatprove/tests/V516-041__private_ownership/test.out
  testsuite/gnatprove/tests/V906-017__private_ownership/test.out
  testsuite/gnatprove/tests/V907-010__recursive_reclamation_function/test.out
  testsuite/gnatprove/tests/W111-023__relaxed_init_preds/test.out
  testsuite/gnatprove/tests/W223-005__ill_placed_reclamation_function/test.out
Due: check-empty-testoutopt, check-testsuite-markers

Path conditions:
  check-empty-testoutopt: any of: \.(opt|out)$
  check-testsuite-markers: any of: \.out
